html {
	width: 100%;
	height: 100%;
	font-family:"黑体";
}
body {
	font-family:"黑体";
	width: 100%;
	height: 100%;
}
em,i{
	font-style: normal;
}
input{
    outline: none;
}
#loadMoreDiv{text-align: center;font-size: 12px;color:#999;padding-top: 20px;}
#loadMoreDiv img{
	width: 20px;
	opacity: 0.6;
}
textarea{
	-webkit-appearance: none;
}
.clearfix:before{
	content: '';
	height: 0;
	line-height: 0;
	visibility: hidden;
	display: block;
	clear: both;
}
.item_bj{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;}
#main {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    }
#wrap {
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-flex-flow: column;
    flex-flow: column;
}
#topbar{
	position: relative;
	display: none;
	color:#fff;
    background: #5AC8E1;
    height : 44px;
    line-height : 44px;
    font-size: 17px;
    text-align: center;
}
#leftButton,#topbar .right{
    position: absolute;
    /*top:0;
    left: 0;
    padding: 13px 10px 7px 5px ;
    line-height: 0;*/
    width: 42px;
    height: 44px;
    line-height: 44px;
    z-index: 10;
    -webkit-box-align: center;
	/* 12版 */
	-webkit-align-items: center;
	-moz-align-items: center;
    -ms-align-items: center;
	-o-align-items: center;
    align-items: center;
    display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;
    justify-content: center;
}

#topbar .right{
	width: auto;
	bottom: 0;
	right: 15px;
}
#topbar .right img{
	width: 16px;
	height: 16px;
	vertical-align: 2px;
}
#leftButton img{
    /* margin-top: -2px; */
    width: 30px;
    height: 30px;
    justify-content: center;
    display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;
}

#title{
    /*width: 100%;*/
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin:0 60px;
    text-align: center;
    height: 43px;
}

#rightButton{
    position: absolute;top: 12px;  right: 20px;
    line-height: 14px;
    font-size: 14px;
    color: #5B5B5B;
}
#rightButton1{
    height:20px;padding:5px;position: absolute;top: 6px;  right: 10px;
    line-height: 20px;
    font-size: 14px;
    background-color: #6BBDFA;

    color: #FFF;
    /*box-shadow: 0 0 2px 2px #DADDE0;*/
    border-radius: 5px;
    /*color: #6BBDFA;*/
    max-width: 50px;
    overflow: hidden;
}
#rightButton2{
    height:20px;padding:5px;position: absolute;top: 6px;  right: 65px;
    line-height: 20px;
    font-size: 14px;
    background-color: #6BBDFA;

    color: #FFF;
    /*box-shadow: 0 0 2px 2px #DADDE0;*/
    border-radius: 5px;
    /*color: #6BBDFA;*/
}

#rightImgButton{
    position: absolute;top: 13px;  right: 13px;
    width: 17px;
    height: 17px;
}

#rightImgButton2{
    position: absolute;top: 13px;  right: 50px;
    width: 19px;
    height: 17px;
}



#rightButton3{
    position: absolute;
    /*top:0;
    left: 0;
    padding: 13px 10px 7px 5px ;
    line-height: 0;*/
    margin-top: 8px;
    right: 0;
    top: 0;
    width: 45px;
    height: 33px;
    z-index: 10;
}
#rightButton3 img{
    width: 25px;
    height: 25px;
}


.tap {background: #DADDE0;}


.rightInfo{
    height: 48px!important;
    position: absolute!important;
    top:0!important;
    right: 0!important;
    margin: 0!important;
    font-size: 14px;
    line-height: 48px!important;
    color: #ffe2b1!important;
    padding: 0 12px;
    /*background: #d84e43!important;*/

}
.itemOn{
	background: #f4f4f4;
}
.rightInfo:active{background-color: #cc3333!important;}
