<!DOCTYPE html>
<html lang="en" class="commonBg">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>巨划算</title>
    <link rel="stylesheet" href="../../../../css/api.css" />
    <link rel="stylesheet" href="../../../../css/commonWin.css" />
    <link rel="stylesheet" href="../../../../css/mui.min.css">
    <link rel="stylesheet" href="../../../../css/swiper.min.css">
    <link rel="stylesheet" href="../../../../css/greatCommon.css">
</head>
<body class="commonBg">


    <div class="Box">
        <div id="great" class="isDisplay">
            <div class="great_header">

                <div class="great_header_banner swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide" v-for="(imgSrc, index) in imgs" :key="index">
                            <img :src="imgSrc" />
                        </div>
                        <!--<div class="swiper-slide"><img src="../../../../image/circle/circle01.png" /></div>-->
                        <!--<div class="swiper-slide"><img src="../../../../image/circle/circle01.png" /></div>-->
                        <!--<div class="swiper-slide"><img src="../../../../image/circle/circle01.png" /></div>-->
                    </div>
                    <!-- Add Pagination -->
                    <div class="swiper-pagination"></div>
                </div>




                <div class="tourism_title">{{item.summary}}</div>

                <div class="great_Price_List cssFlex">
                    <span class="great_Price">¥{{item.price_y}}</span>
                    <span class="great_Stock">商品已售: <span>{{total}}</span>张</span>
                </div>

                <div class="tourism_con">
                    <div>出发城市: <span> {{item.comName}}</span></div>
                    <div class="tourism_con_num">
                        <div>组团人数: 15+1人</div>
                        <div>最少人数：12+1，不足人数，无法发团，敬请谅解</div>
                        <div>最多人数16+1，精致VIP小团</div>
                    </div>
                    <div>出发日期: <span> {{item.departureDate}}</span></div>
                </div>
            </div>


            <div class="tourism_main">
                <div class="tourism_main_header">
                    <div><span @click="activeHandle('trip')" :class="active == 'trip' ? 'active' : ''">行程路线</span></div>
                    <div><span @click="activeHandle('cost')" :class="active == 'cost' ? 'active' : ''">费用说明</span></div>
                    <div><span @click="activeHandle('other')" :class="active == 'other' ? 'active' : ''">其他说明</span></div>
                </div>

                <div id="trip" v-if="active == 'trip' && item.int_pic">
                    <img v-for="(pic, index) in picList" :key="index" :src="pic" alt="">
                </div>
                <cost v-if="active == 'cost'"></cost>
                <other v-if="active == 'other'"></other>
            </div>

            <div class="great_immediately">
                <div class="great_immediately_comtent cssFlex">
                    <div class="tourism_collection" @click="collectionHandle()">
                        <img :src="att ? '../../../../image/circle/Collection2.png' : '../../../../image/circle/Collection1.png'" alt="">
                        <span>收藏</span>
                    </div>
                    <!--<div class="tourism_visa">-->
                        <!--办理签证-->
                    <!--</div>-->
                    <div class="tourism_purchase" @click="purchaseHandle()">
                        <span>立即购买</span>
                    </div>
                </div>
            </div>

            <component is="magicCube"></component>
        </div>
    </div>



    <script type="text/javascript" src="../../../../script/api.js"></script>
    <script type="text/javascript" src="../../../../script/util.js"></script>
    <script type="text/javascript" src="../../../../script/rem.js"></script>
    <script type="text/javascript" src="../../../../script/apiCloud.js"></script>
    <script type="text/javascript" src="../../../../script/public.js"></script>
    <script type="text/javascript" src="../../../../script/rem.js"></script>
    <script type="text/javascript" src="../../../../script/mui.min.js"></script>
    <script src="../../../../script/swiper.min.js"></script>
    <script type="text/javascript" src="../../../../script/data.js"></script>

    <script src="../../../../script/vue.min.js"></script>
    <script src="../../../../script/vuex.min.js"></script>
    <script src="../common/magicCube.js"></script>
    <script src="./common/cost.js"></script>
    <script src="./common/other.js"></script>


    <script src="https://cdn.bootcss.com/eruda/1.2.6/eruda.js"></script>
    <script>eruda.init();</script>
    <script>

    </script>

    <script>

        apiready = function () {


            var magicCube = magicCubeInit(Vue);

            var cost = costInit(Vue);
            var other = otherInit(Vue);
            Vue.component('magicCube', magicCube);

            Vue.component('cost', cost);
            Vue.component('other', other);

            new Vue({
                el: '#great',
                data: {
                    active: 'trip',
                    item: {},
                    list: [],
                    len: 1,
                    total: 0,
                    picList: [],
                    imgs: [],
                    att: false,
                    att_id: '',
                    person_id: '',
                    cid: '2',
                    data: ''
                },
                created: function () {
                    this.person_id = localStorage.getItem('person_id');
                    this.showTravel();


                },
                mounted: function () {
                    document.getElementById('great').classList.remove('isDisplay');
                    this.isDisplay = true;
                    //获得slider插件对象
                    var swiper = new Swiper('.swiper-container', {
                        pagination: {
                            el: '.swiper-pagination',
                        },
                        autoplay:true,
                    });
                },
                methods: {
                    // 获取数据
                    showTravel: function () {
                        var that = this;
                        ajaxGetWithProgress(showTravel, {
                            cid: that.cid,
                            pid: that.person_id
                        }, function (data, err) {
                            console.log(data);
                            if (data.commTravel) {
                                that.item = data.commTravel;
                                that.att = data.att;
                                that.att_id = data.att_id;
                                that.total = data.total;
                                that.data = data;
                                if (that.item.int_pic) {
                                    that.picList = that.item.int_pic.split(',')
                                }
                                if (that.item.placard) {
                                    that.imgs = that.item.placard.split(',');
                                }
                            }
                        });
                    },
                    // 切换tab
                    activeHandle: function (active) {
                        this.active = active;
                    },
                    // 办理签证
                    // 收藏
                    collectionHandle: function () {
                        var that = this;
                        ajaxGet(collectComm, {
                            id: that.att_id,
                            ccStatus: 1,
                            pid: that.person_id,
                            commId: that.item.cId
                        }, function(data,err){
                            console.log(data);
                            if (data.commcollect) {

                            }
                        });
                        that.att = !that.att;
                    },
                    // 立即购买
                    purchaseHandle: function () {
                        var that = this;
                        openNewWindow("tripDate", "./tripDate.html", {
                            data: that.data
                        });
                    }
                }
            })
        }

    </script>
</body>
</html>
