<!DOCTYPE html>
<html lang="en" class="commonBg">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>巨划算</title>
    <link rel="stylesheet" href="../../../../css/api.css" />
    <link rel="stylesheet" href="../../../../css/commonWin.css" />
    <link rel="stylesheet" href="../../../../css/mui.min.css">
    <link rel="stylesheet" href="../../../../css/swiper.min.css">
    <link rel="stylesheet" href="../../../../css/greatCommon.css">
    <style>
        .great_header{
            ;
        }
    </style>
</head>
<body class="commonBg">


    <div class="Box">
        <div id="great" class="isDisplay">

            <div class="bgBlack" @click="hideBg()"></div>
            <img src="../../../../image/duke-2.png" class="person" alt="person" @click="togle()">
            <keep-alive>
                <component :is="active"></component>
            </keep-alive>
            <div class="great_header" style="padding-bottom: 0">
                <div class="great_header_banner swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide" v-for="(imgSrc, index) in imgs" :key="index">
                            <img :src="imgSrc" />
                        </div>
                        <!--<div class="swiper-slide"><img src="../../../../image/circle/circle01.png" /></div>-->
                        <!--<div class="swiper-slide"><img src="../../../../image/circle/circle01.png" /></div>-->
                        <!--<div class="swiper-slide"><img src="../../../../image/circle/circle01.png" /></div>-->
                    </div>
                    <!-- Add Pagination -->
                    <div class="swiper-pagination"></div>
                </div>




                <div class="tourism_title textOverflow">{{item.comName}}</div>

                <div class="posire">
                    <div class="great_Price_List cssFlex">
                        <span class="great_Price">¥{{item.price_y}}</span>
                        <span class="great_Stock">商品已售: <span>{{total}}</span>张</span>
                    </div>
                    <div class="juLisellBtn commonFont cssFlex" @click="purchaseHandle()">
                        立即购买
                    </div>
                </div>

                <div class="tourism_con">
                    <div>出发城市: <span> {{item.departureCity}}</span></div>
                    <div class="tourism_con_num">
                        <div>组团人数: 15+1人</div>
                        <div>最少人数：12+1，不足人数，无法发团，敬请谅解</div>
                        <div>最多人数16+1，精致VIP小团</div>
                    </div>
                    <div>出发日期: <span> {{item.departureDate}}</span></div>
                </div>



            </div>


            <div class="tourism_main">
                <div class="tourism_main_header">
                    <div><span @click="activeHandle('trip')" :class="activeType == 'trip' ? 'activeType' : ''">行程路线</span></div>
                    <div><span @click="activeHandle('cost')" :class="activeType == 'cost' ? 'activeType' : ''">费用说明</span></div>
                    <div><span @click="activeHandle('other')" :class="activeType == 'other' ? 'activeType' : ''">其他说明</span></div>
                </div>

                <div id="trip" v-if="activeType == 'trip' && item.intPic">
                    <img v-for="(pic, index) in picList" :key="index" :src="pic" alt="">
                </div>
                <cost v-if="activeType == 'cost'"></cost>
                <other v-if="activeType == 'other'"></other>
            </div>

            <!--<div class="great_immediately">
                <div class="great_immediately_comtent cssFlex">
                    <div class="tourism_collection cssFlex" @click="collectionHandle()">
                        <img :src="att ? '../../../../image/circle/Collection2.png' : '../../../../image/circle/Collection1.png'" alt="">
                        <span>收藏</span>
                    </div>
                    &lt;!&ndash;<div class="tourism_visa">&ndash;&gt;
                        &lt;!&ndash;办理签证&ndash;&gt;
                    &lt;!&ndash;</div>&ndash;&gt;
                    <div class="tourism_purchase" @click="purchaseHandle()">
                        <span>立即购买</span>
                    </div>
                </div>
            </div>-->

            <!--<component is="magicCube"></component>-->
        </div>
    </div>



    <script type="text/javascript" src="../../../../script/api.js"></script>
    <script type="text/javascript" src="../../../../script/util.js"></script>
    <script type="text/javascript" src="../../../../script/rem.js"></script>
    <script type="text/javascript" src="../../../../script/apiCloud.js"></script>
    <script type="text/javascript" src="../../../../script/public.js"></script>
    <script type="text/javascript" src="../../../../script/rem.js"></script>
    <script type="text/javascript" src="../../../../script/mui.min.js"></script>
    <script src="../../../../script/swiper.min.js"></script>
    <script type="text/javascript" src="../../../../script/data.js"></script>

    <script src="../../../../script/vue.min.js"></script>
    <script src="../../../../script/vuex.min.js"></script>
    <!--<script src="../common/magicCube.js"></script>-->
    <script src="./common/cost.js"></script>
    <script src="./common/other.js"></script>
    <script src="../common/magicAll.js"></script>
    <script src="../common/bus.js"></script>

    <script src="https://cdn.bootcss.com/eruda/1.2.6/eruda.js"></script>
    <script>eruda.init();</script>
    <script>

    </script>

    <script>

        apiready = function () {


            // var magicCube = magicCubeInit(Vue);

            var cost = costInit(Vue);
            var other = otherInit(Vue);
            // Vue.component('magicCube', magicCube);

            Vue.component('cost', cost);
            Vue.component('other', other);
            var magicAll = magicAllInit(Vue);
            Vue.component('magicAll', magicAll);
            url = api.pageParam.url

            winWidth = api.winWidth;
            winHeight = api.winHeight;
            // a01_w = (winWidth > winHeight / 2) ? winWidth : winHeight / 2;
            a01_w = (winWidth > winHeight / 2) ? winWidth/2 : winHeight / 2;

            // 斜边长
            bevelLength = Math.sqrt((a01_w * a01_w / 2 )) - 40
            console.log("bevelLength",bevelLength)
            // width_d=(screen_w-20) *2/5 - 5;
            m_d = (a01_w-10)*0.23-25;    // 100

            new Vue({
                el: '#great',
                data: {
                    activeType: 'trip',
                    item: {},
                    list: [],
                    len: 1,
                    total: 0,
                    picList: [],
                    imgs: [],
                    att: false,
                    att_id: '',
                    person_id: '',
                    active:'magicAll',
                    cid: '',
                    data: '',
                    tId: '',

                },
                created: function () {
                    this.person_id = localStorage.getItem('person_id');
                    this.cid = api.pageParam.cid;
                    this.tId = api.pageParam.tId;
                    this.showTravel();


                },
                mounted: function () {
                    document.getElementById('great').classList.remove('isDisplay');
                    this.isDisplay = true;
                    //获得slider插件对象
                    var swiper = new Swiper('.swiper-container', {
                        pagination: {
                            el: '.swiper-pagination',
                        },
                        autoplay:true,
                    });
                    var that = this
                    that.active = store.state.obj.magicCom;
                    api.addEventListener({
                        name: 'comCom1',
                    }, function(ret, err) {
                        console.log("ret",ret);
                        that.active = ret.value.key.magicCom1;

                        /*localStorage.setItem("magic_id",ret.value.key.c_id)
                        localStorage.setItem("magic_img",ret.value.key.logo_icon)
                        localStorage.setItem("magic_name",ret.value.key.c_name)*/
                    });
                    api.addEventListener({
                        name: 'comCom2',
                    }, function(ret, err) {
                        console.log("ret",ret);
                        that.active = ret.value.key.magicCom2;

                        /*localStorage.setItem("magic_id2",ret.value.key.c_id)
                        localStorage.setItem("magic_img2",ret.value.key.logo_icon)
                        localStorage.setItem("magic_name2",ret.value.key.c_name)*/
                    });
                    api.addEventListener({
                        name: 'jobAll'+that.tId,
                    }, function(ret, err) {
                        console.log("ret",ret);
                        that.cid = ret.value.key.cid
                        that.showTravel()

                    });

                    magicBox = document.querySelector(".magicBox")
                    bgBlack = document.querySelector(".bgBlack")

                    magicBtn = document.getElementsByClassName("magicBtn")
                    magicSubBox = document.getElementsByClassName("magicSubBox")
                    iconImg = document.getElementsByClassName("iconImg")
                    magicBox.style.width = bevelLength * 2 + "px"
                    magicBox.style.height = bevelLength + "px"
                    var rightYi = bevelLength
                    magicBox.style.right = '-' + rightYi + "px"
                    bgBlack.style.width =winWidth + "px"
                    bgBlack.style.height =winHeight + "px"

                    magicBGheight = document.querySelector(".magicBGheight")
                    magicBGheight.style.height = m_d + "px"
                    // 里面小盒子宽度
                    for (var i =0;i<magicBtn.length ; i++){
                        magicBtn[i].style.width = m_d + "px"
                        magicBtn[i].style.height = m_d + "px"
                    }
                    // 里面小盒子宽度
                    for (var i =0;i<magicSubBox.length ; i++){
                        magicSubBox[i].style.width = m_d + "px"
                        magicSubBox[i].style.height = m_d + "px"
                    }
                    // 图片宽度
                    for (var i =0;i<iconImg.length ; i++){
                        iconImg[i].style.width = m_d/2 + "px"
                        iconImg[i].style.height = m_d/2 + "px"
                    }

                },
                methods: {
                    // 获取数据
                    showTravel: function () {
                        var that = this;
                        ajaxGetWithProgress(showTravel, {
                            cid: that.cid,
                            pid: that.person_id
                        }, function (data, err) {
                            console.log(data);
                            if (data.commTravel) {
                                that.item = data.commodity;
                                that.att = data.att;
                                that.att_id = data.att_id;
                                that.total = data.total;
                                that.data = data;
                                if (that.item.intPic) {
                                    that.picList = stringFun(that.item.intPic)

                                }
                                if (that.item.placard) {
                                    that.imgs = stringFun(that.item.placard);
                                }
                            }
                        });
                    },
                    // 切换tab
                    activeHandle: function (activeType) {
                        this.activeType = activeType;
                    },
                    // 办理签证
                    // 收藏
                    collectionHandle: function () {
                        var uidUser = localStorage.getItem("user")
                        if (!uidUser){
                            openNewWindow("login", "../../../login/login.html");
                            return;
                        }
                        var that = this;
                        ajaxGet(collectComm, {
                            id: that.att_id,
                            ccStatus: 1,
                            pid: that.person_id,
                            commId: that.item.cId
                        }, function(data,err){
                            console.log(data);
                            if (data.commcollect) {
                                toast("编辑成功")
                                window.location.reload()
                            }
                        });
                        that.att = !that.att;
                    },
                    // 立即购买
                    purchaseHandle: function () {
                        var uidUser = localStorage.getItem("user")
                        if (!uidUser){
                            openNewWindow("login", "../../../login/login.html");
                            return;
                        }
                        var that = this;
                        openNewWindow("tripDate", "./tripDate.html", {
                            data: that.data
                        });
                    }
                }
            })
        }

    </script>
</body>
</html>
