<!DOCTYPE html>
<html lang="en" class="commonBg">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>选择套餐/日期/人数</title>
    <link rel="stylesheet" href="../../../../css/api.css"/>
    <link rel="stylesheet" href="../../../../css/commonWin.css"/>
    <link rel="stylesheet" href="../../../../css/greatCommon.css"/>
    <link rel="stylesheet" href="../../../../css/mui.min.css"/>
    <link rel="stylesheet" href="../../../../css/dataRili.css"/>
    <style>
        input[type=text]{
            border: 0;
            display: inline-block;
            height: 0;
            margin: 0;
        }

    </style>
</head>
<body class="commonBg">


<div class="Box" id="app">
    <div class="boxSub">
        <div class="tr-title">
            出行日期
        </div>

    </div>
    <ul id="tabs" class="cssFlex">
        <li class="activeTab"><a href="javascript:;" title="tab1">
            <p class="getQueryMonth tr-tab-title">{{getQueryMonth}}月份</p>
            <p class="getQueryPrice tr-tab-title">¥{{getPriceDefult}}起</p>
        </a></li>
    </ul>
    <div id="content">
        <div id="tab1">
            <div class="signincalendar">

            </div>
        </div>
    </div>
    <div class="boxSub">
        <div class="tr-title">
            选择数量
        </div>
        <div class="tr-person cssFlex">
            <span class="tr-person-price">
                成人（￥{{getPriceDefult}}）
            </span>
            <!--<div id="buyNum" class="mui-numbox" data-numbox-step='1' data-numbox-min='1' data-numbox-max='10' >-->
                <!--<button class="mui-btn mui-numbox-btn-minus" type="button" @click="numboxAdd()">-</button>-->
                <!--<input class="mui-numbox-input buy_num" type="number" />-->
                <!--<button class="mui-btn mui-numbox-btn-plus" type="button">+</button>-->
            <!--</div>-->
            <div id="buyNum" class="mui-numbox" data-numbox-step='1' data-numbox-min='1' data-numbox-max='100'>
                <button class="mui-numbox-btn-minus" type="button" @click="numboxlit()">-</button>
                <input class="mui-numbox-input" type="number" v-model="buy_num" />
                <button class="mui-numbox-btn-plus" type="button" @click="numboxAdd()">+</button>
            </div>
        </div>
        <div class="tr-title">
            预定人信息
        </div>
        <div class="ReserveBox">
            <div class="res-box cssFlex">
                <span class="res-boxname"><i>*</i>联系人</span>
                <input type="text" class="res-boxinput" v-model="name" placeholder="请填写联系人姓名">
            </div>
            <div class="res-box cssFlex">
                <span class="res-boxname"><i>*</i>手机号</span>
                <input type="text" class="res-boxinput" v-model="phone" placeholder="请填写联系人姓名">
            </div>
            <div class="res-box cssFlex">
                <span class="res-boxname">微信</span>
                <input type="text" class="res-boxinput" v-model="wx" placeholder="请填写联系人姓名">
            </div>
            <div class="res-box cssFlex">
                <span class="res-boxname">备注</span>
                <input type="text" class="res-boxinput" v-model="remark" placeholder="请填写联系人姓名">
            </div>
        </div>
    </div>
    <div class="res-bottombox cssFlex">
        <div class="res-bom-text">¥{{getPrice}}</div>
        <div class="res-bom-text res-order-submit" @click="orderSubmit()">提交订单</div>
    </div>
</div>


<script type="text/javascript" src="../../../../script/api.js"></script>
<script type="text/javascript" src="../../../../script/jquery-1.8.1.min.js"></script>
<script type="text/javascript" src="../../../../script/rem.js"></script>
<script type="text/javascript" src="../../../../script/apiCloud.js"></script>
<script type="text/javascript" src="../../../../script/public.js"></script>
<script type="text/javascript" src="../../../../script/rem.js"></script>
<script type="text/javascript" src="../../../../script/data.js"></script>
<script type="text/javascript" src="../../../../script/mui.min.js"></script>
<script src="../../../../script/vue.min.js"></script>
<script src="../../../../script/mycanledar.js"></script>

<script src="https://cdn.bootcss.com/eruda/1.2.6/eruda.js"></script>
<script>eruda.init();</script>

<script>
    var app = new Vue({
        el: '#app',
        data: {
            isDefult: false,
            person_id:"",
            name:"张三",
            phone:"15901420546",
            wx:"1234566",
            remark:"24225245252",
            getPrice:"12999",
            getPriceDefult:"12999",
            getQueryMonth:"12",
            buy_num:"1"
        },
        created :function () {
            this.person_id = localStorage.getItem('person_id');
        },
        mounted:function () {

        },
        methods:{
            numboxAdd : function(){
                var that = this;
                // var num = mui("#buyNum").numbox().getValue()
                that.buy_num++
                // console.log(num)
                that.getPrice = that.buy_num * that.getPriceDefult
            },
            numboxlit : function(){
                var that = this;
                // var num = mui("#buyNum").numbox().getValue()
                that.buy_num--
                if (that.buy_num == 1){
                    console.log(122112)
                    that.getPrice = that.getPriceDefult
                } else{
                    that.getPrice = that.buy_num * that.getPriceDefult
                }

            },
            orderSubmit : function () {
                var that = this
                var str = {
                    pid:that.person_id,
                    name: that.name,
                    phone: that.phone,
                    wechat: that.wx,
                    summary: that.remark,
                    cid: "2",
                    price: that.getPrice,
                    buy_num: mui("#buyNum").numbox().getValue(),
                    reservetime:"2019-9-9"
                }
                console.log(str)
                /*ajaxGetWithProgress(createReserveAndOrder, str, function (data, err) {
                    console.log(data);
                    if (data.status){
                        openNewWindow("confirmOrder", "../confirmOrder.html", {
                            url: 'tripDate'
                        })
                    }else{
                        api.toast({
                            msg: '请求出错'
                        });
                    }
                });*/
            }
        }
    })
    apiready = function () {

    }

</script>
</body>
</html>
