
<!DOCTYPE html>
<html lang="en" class="commonBg">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>选择套餐/日期/人数</title>
    <link rel="stylesheet" href="../../../../css/api.css"/>
    <link rel="stylesheet" href="../../../../css/commonWin.css"/>
    <link rel="stylesheet" href="../../../../css/greatCommon.css"/>
    <link rel="stylesheet" href="../../../../css/mui.min.css"/>
    <link rel="stylesheet" href="../../../../css/dataRili.css"/>
    <style>
        input[type=text]{
            border: 0;
            display: inline-block;
            height: 0;
            margin: 0;
        }

    </style>
</head>
<body class="commonBg">


<div class="Box isDisplay" id="app">
    <div class="boxSub">
        <div class="tr-title">
            出行日期
        </div>

    </div>
    <ul id="tabs" class="cssFlex">
        <li class="activeTab"><a href="javascript:;" title="tab1">
            <p class="getQueryMonth tr-tab-title">{{getQueryMonth}}月份</p>
            <p class="getQueryPrice tr-tab-title">¥{{getPriceDefult}}起</p>
        </a></li>
    </ul>
    <div id="content">
        <div id="tab1">
            <div class="signincalendar">

            </div>
        </div>
    </div>
    <div class="boxSub">
        <div class="tr-title">
            选择数量
        </div>
        <div class="tr-person cssFlex">
            <span class="tr-person-price">
                成人（￥{{getPriceDefult}}）
            </span>
            <div class="mui-numbox">
                <button class="mui-btn mui-numbox-btn-minus" type="button" @click="numboxlit()">-</button>
                <input class="mui-numbox-input" type="number" v-model="num"/>
                <button class="mui-btn mui-numbox-btn-plus" type="button" @click="numboxAdd()">+</button>
            </div>
        </div>
        <div class="tr-title">
            预定人信息
        </div>
        <div class="ReserveBox">
            <div class="res-box cssFlex">
                <span class="res-boxname"><i>*</i>联系人</span>
                <input type="text" class="res-boxinput" v-model="name" placeholder="请填写联系人姓名">
            </div>
            <div class="res-box cssFlex">
                <span class="res-boxname"><i>*</i>手机号</span>
                <input type="text" class="res-boxinput" v-model="phone" placeholder="请填写联系人姓名">
            </div>
            <div class="res-box cssFlex">
                <span class="res-boxname">微信</span>
                <input type="text" class="res-boxinput" v-model="wx" placeholder="请填写联系人姓名">
            </div>
            <div class="res-box cssFlex">
                <span class="res-boxname">备注</span>
                <input type="text" class="res-boxinput" v-model="remark" placeholder="请填写联系人姓名">
            </div>
        </div>
    </div>
    <div class="res-bottombox cssFlex">
        <div class="res-bom-text">¥{{getPrice * num}}</div>
        <div class="res-bom-text res-order-submit" @click="orderSubmit()">提交订单</div>
    </div>
</div>


<script type="text/javascript" src="../../../../script/api.js"></script>
<script type="text/javascript" src="../../../../script/jquery-1.8.1.min.js"></script>
<script type="text/javascript" src="../../../../script/rem.js"></script>
<script type="text/javascript" src="../../../../script/apiCloud.js"></script>
<script type="text/javascript" src="../../../../script/public.js"></script>
<script type="text/javascript" src="../../../../script/rem.js"></script>
<script type="text/javascript" src="../../../../script/data.js"></script>
<script type="text/javascript" src="../../../../script/mui.min.js"></script>
<script src="../../../../script/vue.min.js"></script>
<!--<script src="../../../../script/mycanledar.js"></script>-->

<script src="https://cdn.bootcss.com/eruda/1.2.6/eruda.js"></script>
    <script>eruda.init();</script>

<script>

    apiready = function () {
        var app = new Vue({
            el: '#app',
            data: {
                isDefult: false,
                person_id:"",
                name:"",
                phone:"",
                wx:"",
                remark:"",
                getPrice:"",
                getPriceDefult:"",
                getQueryMonth:"",
                num: 1,
                data: {},
            },
            created :function () {
                this.person_id = localStorage.getItem('person_id');
                this.data = api.pageParam.data;
                this.getPrice = this.data.commTravel.price_y;
                this.getPriceDefult = this.data.commTravel.price_y;
                console.log(this.data);

            },
            mounted:function () {
                var that = this;
                document.getElementById('app').classList.remove('isDisplay');
                // var dateShow = "2019-9-8"
                var dateShow = this.data.commTravel.departureDate;
                // console.log(this.data.commTravel.departureDate)
                var dateShows=dateShow.split("-"); //字符分割

                function timestampToTime(timestamp) {
                    var date = new Date(timestamp);//时间戳为10位需*1000，时间戳为13位的话不需乘1000
                    var Y =date.getFullYear() + '-';
                    var M = (date.getMonth()+1 < 10 ? '0'+(date.getMonth()+1) : date.getMonth()+1) + '-';
                    var D = date.getDate() + '';
                    console.log(Y+M+D)
                    return Y+M+D;
                }

                // JavaScript Document
                var nstr = new Date(); // 获取当前日期

                // timestampToTime(nstr)
                var timestampStr = nstr.getTime();
                console.log(timestampStr)

                // var timestamp = new Date(date).getTime();
                // console.log(timestamp)
                var changedYear = nstr.getFullYear(); // 年份
                var changedMonth = nstr.getMonth(); // 月份
                var dnow = nstr.getDate(); // 今日日期
                var n1str = new Date(changedYear, changedMonth, 1); // 当月第一天Date
                var initfirstday = n1str.getDay(); // 当月第一天星期几

                // 是否为闰年
                function is_leap(year) {
                    return (year % 100 == 0 ? res = (year % 400 == 0 ? 1 : 0)
                        : res = (year % 4 == 0 ? 1 : 0));
                }

                // 获取当月的天数
                function getMonthAllDay(month, year) {
                    var m_days = new Array(31, 28 + is_leap(year), 31, 30, 31, 30, 31, 31, 30, 31, 30, 31);
                    return m_days[month];
                }

                // 获得某年某月某日是星期几
                function getFirstWeekDay(year, month, day) {
                    var date = new Date();
                    date.setFullYear(year);
                    date.setMonth(month);
                    date.setDate(day);
                    return date.getDay();
                }


                // $(function () {
                //     commChanged(dateShows[0],(dateShows[1]+1)*1)
                //     console.log(123, (dateShows[1]+1)*1)
                // })


                function daysOfMonth(){
                    var MonthYear =$(".txt_Year").text()
                    console.log(MonthYear)
                    var MonthMonth = $(".txt_blue").text()
                    // 获取到当前月份的全部日期
                    let daysOfMonth = '';
                    let fullYear = MonthYear;
                    let month = MonthMonth;
                    let lastDayOfMonth = new Date(fullYear, month, 0).getDate();
                    for (var i = 1; i <= lastDayOfMonth; i++) {
                        daysOfMonth+=fullYear + '-' + month + '-' + i;
                        daysOfMonth+=',';
                    };
                    activeDateStr = daysOfMonth.substring(0, daysOfMonth.lastIndexOf(','));
                    return activeDateStr;
                }

                commChanged(dateShows[0], dateShows[1])

                function commChanged(changedYear,changedMonth) {
                    console.log(changedYear)
                    console.log(4444,changedMonth)
                    var changedMonth =  changedMonth
                    var firstweekday = getFirstWeekDay(changedYear, parseInt(changedMonth) - 1, 1);

                    var allday = getMonthAllDay(parseInt(changedMonth) - 1, changedYear);       //获取当月的天数
                    showCanledar(changedMonth, firstweekday, 1, allday,changedYear);
                }

                // 获得表格行数
                function requiredRows(allday, firstday) {
                    var trstr = Math.ceil((allday + firstday) / 7);
                    // alert("trstr"+trstr);
                    return trstr;
                }


                /* 显示日历 */
                function showCanledar(month, firstday, dnow, allday,changedYear) {

                    var rows = requiredRows(allday, firstday);
                    var tb = "<table data-role='none' cellpadding='0px' cellspacing='3px' id='dates'>";
                    tb += "<tr class='firsttr'><td colspan='7' class='heightTitle'>";
                    tb += "</td></tr>";
                    tb += "</tr>";
                    tb += "<tr class='secondtr'>";
                    tb += "<td>日</td><td>一</td><td>二</td><td>三</td><td>四</td><td>五</td><td>六</td>";
                    tb += "</tr>";
                    for (var i = 0; i < rows; i++) {
                        tb += "<tr>";
                        for (var k = 0; k < 7; k++) { // 表格每行的单元格
                            var idx = i * 7 + k; // 单元格自然序列号
                            var date_str = idx - firstday + 1; // 计算日期
                            (date_str <= 0 || date_str > allday) ?  tb+="<td style='background:#fff'> </td>" : tb += '<td class="tdActive ">\n'+

                                '<div class=" normal">\n'+
                                '                       <i class="normalNum">'+date_str+'</i> ' +
                                '                        <p class="price isDisplay">¥<i class="priceNum">1380</i></p>\n' +
                                '                        <var class="sheng isDisplay">余 <i class="Surplus">8</i></var>\n' +
                                '\n' +
                                '                    </div>\n' +
                                '                </td>';


                        }

                        tb += "</tr>";
                        // 表格的行结束
                    }
                    tb += "</table>"; // 表格结束
                    $(".signincalendar").html(tb);


                    var price = that.getPrice;

                    var normalIndex = $(".normal").eq((dateShows[2]-1)*1)
                    $(".priceNum").text(price)
                    normalIndex.addClass("activeTd")
                    normalIndex.children(".price").removeClass("isDisplay")
                    normalIndex.children(".sheng").removeClass("isDisplay")
                }


                function getNewYear() {
                    // alert("得到年");
                    return $(".txt_Year").html()
                }
                // 获得下拉列表的月
                function getNewMonth() {
                    // alert("得到月");
                    return  $(".txt_blue").html()
                }
            },
            methods:{
                // 增加商品
                numboxAdd: function () {
                    this.num++
                    if (this.num > 10) {
                        this.num = 10
                    }
                },
                // 减少商品
                numboxlit: function () {
                    this.num--
                    if (this.num < 1) {
                        this.num = 1
                    }
                },
                orderSubmit : function () {
                    var that = this
                    var str = {
                        pid:that.person_id,
                        name: that.name,
                        phone: that.phone,
                        wechat: that.wx,
                        summary: that.remark,
                        cid: "2",
                        price: that.getPrice,
                        buy_num: that.num,
                        reservetime: that.data.commTravel.departureDate
                    }
                    // console.log(str)
                    ajaxGetWithProgress(createReserveAndOrder, str, function (data, err) {
                        console.log(data);
                        if (data.status){
                            openNewWindow("confirmOrder", "../confirmOrder.html", {
                                url: 'tourism',
                                item: that.data.commTravel,
                                order: {
                                    OrderKey: data.OrderKey,
                                    num: that.num,
                                    price: that.getPrice,
                                }
                            })
                        }else{
                            api.toast({
                                msg: '请求出错'
                            });
                        }
                    });
                }
            }
        });

    }

</script>
</body>
</html>

