<!DOCTYPE html>
<html lang="en" class="commonBg">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>我的</title>
    <link rel="stylesheet" href="../../../css/api.css"/>
    <link rel="stylesheet" href="../../../css/commonWin.css"/>
    <link rel="stylesheet" href="../../../css/mineCommon.css"/>

    <style>
        body {
            padding-bottom: 0.28rem;
        }

        .label-name {
            width: 1.2rem;
        }

        .label-list, .Interest-list {
            flex-wrap: wrap;
            flex: 1;
        }
    </style>
</head>
<body class="commonBg">
<div style='min-height:100vh;' class="Box" id="circle" v-cloak>
    <div class="boxTop">
        <img src="../../../image/bjt.png" alt="img">
        <div class="boxtb">
            <img src="../../../image/tb1.png" alt="img">
            <p style="width:80px">{{address}}</p>
        </div>
        <div class="boxBod">
            <div class="boxbodt">
                <img style='border-radius:50%' v-if='p_icon' :src="p_icon" alt="img">
                <img v-if='!p_icon' src="../../../image/tx.png" alt="img">
            </div>
            <div class="boxbodd cssFlex">
                {{p_name}}
                <!--<img src="../../../image/jinka.png" alt="img">-->

            </div>
            <div class="boxwz cssFlex">
                {{company_name}}-{{job_name}}
            </div>
            <div class="boxboom cssFlex">
                {{p_birthday}}
                <img src="../../../image/nuii.png" alt="img">
            </div>
        </div>
        <div v-if='isEdit' class="editbtn" @click="editInfo()">编辑</div>

        <div class="box-body">
            <div class="lin"></div>
            <b class="experience">最新经历</b>
            <div class="site cssFlex">
                <img src="../../../image/gongsi.png" alt="img"> {{company_name}}
            </div>
            <div class="position cssFlex">
                <img src="../../../image/zhiwei.png" alt="img"> {{job_name}}
            </div>
        </div>
        <div class="heign"></div>
        <div class="box-body2">
            <div class="link"></div>
            <b class="education">教育经历</b>
            <div class="school cssFlex">
                <img src="../../../image/xueli.png" alt="img"> {{edu_name}} {{edu_level}}
            </div>
            <div class="date cssFlex">
                <img src="../../../image/nianf.png" alt="img"> {{edu_time}}
            </div>
            <div class="major cssFlex">
                <img src="../../../image/zgiye.png" alt="img"> {{edu_type}}
            </div>
        </div>
        <div class="heign"></div>
        <div class="box-body3">
            <div class="line"></div>
            <b class="biaoqian">个人标签</b>
            <div class="bq">
                <ul class="bqUl cssFlex">
                    <li v-for="(item,index) in p_title" :key="index">{{item}}</li>

                </ul>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="../../../script/api.js"></script>
<script type="text/javascript" src="../../../script/rem.js"></script>
<script type="text/javascript" src="../../../script/apiCloud.js"></script>
<script type="text/javascript" src="../../../script/public.js"></script>
<script type="text/javascript" src="../../../script/data.js"></script>
<script src="../../../script/vue.min.js"></script>
<script src="../../../script/vuex.min.js"></script>
<script src="https://cdn.bootcss.com/eruda/1.2.6/eruda.js"></script>
<script>eruda.init();</script>
<script>
    var adr_id, url;



    apiready = function () {
        var uid = localStorage.getItem("person_id");

        api.addEventListener({
            name: 'editInfo',
        }, function (ret, err) {
            window.location.reload()
        });

        // console.log(uid);

        var app = new Vue({
            el: '#circle',
            data: {
              address:"",
            p_icon:'',
                url: '',
                name: '',
                person_id: '',
                sex: '',
                duty: '',
                item : '',
                p_title : '',
                p_name : '',
                company_name : '',
                job_name : '',
                p_birthday : '',
                edu_name : '',
                edu_level : '',
                edu_time : '',
                edu_type : '',
                isEdit:true,

            },
            created() {
                this.url = api.pageParam.url
                this.person_id = api.pageParam.person_id
                this.queryCirclePersonMsgByPid()
                // console.log(api.pageParam,'14111');
            },
            mounted() {

            },
            methods: {

                queryCirclePersonMsgByPid: function () {
                    var that = this
                    var obj
                    if (that.url == "mine"){
                        obj = {
                            uid : localStorage.getItem("user")
                        }
                    }else if (that.url == "signPerson"){
                        // document.querySelector('.editbtn').style.display == 'none';
                        obj = {
                            uid : that.person_id
                        }

                        that.isEdit = false;
                    }
                    // console.log("objobj",obj)
                    api.ajax({
                        // report : false,
                        url: queryCirclePersonMsgByPid,
                        //这里是我们约定好的后台上传图片的位置 ，你可以根据你的需求来改
                        method: 'get',
                        cache: 'false',
                        timeout: 30,
                        dataTpye: 'json',
                        data: {
                            values: obj
                        }
                    }, function(data, err) {
                      console.log(data,'188888888')
                        api.hideProgress();
                        // console.log("queryCirclePersonMsgByPid",data)
                        if (data){
                          that.p_icon = data.p_icon.split(',')[0];
                            that.item = data
                            that.p_name = data.p_name || "未填写"
                            that.address = data.address.split('-')[1];
                            that.company_name = data.company_name || "未填写"
                            that.job_name = data.job_name || "未填写"
                            that.edu_name = data.edu_name || "未填写"
                            that.edu_level = data.edu_level || "未填写"
                            that.edu_time = data.edu_from +  ' - ' + data.edu_to || "未填写"
                            that.edu_type = data.edu_type || "未填写"
                            that.p_title = stringFun(data.p_title)
                            that.p_birthday = ages(data.p_birthday) + "岁"
                        }
                    });

                },
                editInfo :function () {
                    var that = this
                    openNewWindow("editInfo", "./editInfo.html", {
                        item: that.item
                    });
                },

            }
        })


    };


</script>
</body>
</html>
