<!DOCTYPE html>
<html lang="en" class="commonBg">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>附件简历</title>
    <link rel="stylesheet" href="../../../css/api.css"/>
    <link rel="stylesheet" href="../../../css/commonWin.css"/>
    <link rel="stylesheet" href="../../../css/mineCommon.css"/>

    <link rel="stylesheet" href="../../../css/mui.min.css"/>

</head>
<body class="commonBg">
<div class="Box posiBox" id="app1">
    <div class="filsBox isDisplay">
        <div class="moreWork cssFlex">
            <span>最多上传3份附件简历</span>
            <img src="../../../image/mine/workClose.png" alt="close" class="workClose" @click="workCloseClick()">
        </div>
        <div class="jianliList">
            <div class="jianliListLi cssFlex" v-for="(item,index) in fileList" :key="index">
                <div class="liLeft">
                    <div class="cssFlex">
                        <img src="../../../image/mine/pdf.png" alt="pdf" class="pdfImg" v-if="item.status == 'pdf'">
                        <img src="../../../image/mine/docx.png" alt="pdf" class="pdfImg" v-if="item.status == 'doc'">
                        <img src="../../../image/mine/docx.png" alt="pdf" class="pdfImg" v-if="item.status == 'docx'">
                        <img src="../../../image/mine/exl.png" alt="pdf" class="pdfImg" v-if="item.status == 'xls'">
                        <img src="../../../image/mine/exl.png" alt="pdf" class="pdfImg" v-if="item.status == 'xlsx'">
                        <div class="resumeInfo">
                            <p class="resumeInfoName">{{item.res_name}}</p>
                            <p class="resumeInfoSub">
                                <span class="resumeInfoSize">{{item.size}}</span>
                                <span class="resumeInfoDate">{{item.time}}上传</span>
                            </p>
                        </div>
                    </div>
                </div>
                <img src="../../../image/mine/threedian.png" alt="edit" class="editJian"
                     @click="editJianClick(item.id,item.res_name,item.size,item.time,item.docu)">
            </div>
        </div>
        <div class="updateRemoBtn" @click="upFils()">
            手机上传附件简历
        </div>
    </div>

    <div class="notFiles isDisplay">
        <div class="addCards_btn" @click="upFils()">立即上传</div>
    </div>

</div>
<script src="https://cdn.bootcss.com/eruda/1.2.6/eruda.js"></script>
    <script>eruda.init();</script>
<script type="text/javascript" src="../../../script/api.js"></script>
<script type="text/javascript" src="../../../script/rem.js"></script>
<script type="text/javascript" src="../../../script/apiCloud.js"></script>
<script type="text/javascript" src="../../../script/public.js"></script>
<script type="text/javascript" src="../../../script/data.js"></script>
<script type="text/javascript" src="../../../script/vue.min.js"></script>
<script type="text/javascript" src="../../../script/mui.min.js"></script>
<script>
    /*document.getElementById('pdfImg').addEventListener('tap', function() {
        alert(1)
 　　　　if (mui.os.plus) {
     　　　　　　var a = [{
             　　　　　　　　title: "拍照"          //这些都是可以点击的选项的内容
            　　　　　　}, {
             　　　　　　　　title: "从手机相册选择"
             　　　　　　}];
     　　　　　　plus.nativeUI.actionSheet({
             　　　　　　　　title: "修改用户头像",           //这里就是这个弹窗的title
             　　　　　　　　cancel: "取消",                     //取消按钮
             　　　　　　　　buttons: a
             　　　　　　}, function(b) { /!*actionSheet 按钮点击事件*!/
         　　　　　　　　//这里面就是触发的事件，比如想做一个选择性别的弹窗，就可以通过a[b.index].title来获取当前点击了男还是女，注意，此处的b.index是从1开始的。要从0开始的话，要记得减1.
         　　　　　　})
     　　　　}
 　　}, false);*/

    function loadCom() {
        window.location.reload()
    }

    apiready = function () {
        new Vue({
            el: '#app1',
            data: {
                fileList: [],
                file: false,
                fileUp: '',
                fileLen: 0
            },
            created: function () {
                this.QueryResumeUserProfile()
            },
            mounted: function () {

            },
            methods: {
                QueryResumeUserProfile: function () {
                    var that = this
                    var uid = localStorage.getItem("person_id")
                    var obj = {
                        uid: uid
                    }
                    ajaxGetWithProgress(QueryResumeUserProfile, obj, function (data, ret) {
                        console.log(data)
                        that.file = true
                        that.fileList = data.QueryResume
                        console.log(that.fileList)
                        if (that.fileList == undefined) {
                            document.querySelector(".notFiles").classList.remove("isDisplay")

                        }else{
                            document.querySelector(".filsBox").classList.remove("isDisplay")

                        }
                        /*if (data.length == undefined) {
                            document.querySelector(".notFiles").classList.remove("isDisplay")
                        }
                        if (data.length == 0) {
                            that.fileLen = 0
                            document.querySelector(".notFiles").classList.remove("isDisplay")
                        } else {
                            that.fileList = data.QueryResume
                            var fileLen = data.QueryResume.length;
                            that.fileLen = fileLen
                            document.querySelector(".filsBox").classList.remove("isDisplay")
                        }*/

                    })
                },

                upFils: function () {
                    var that = this
                    if (that.fileLen > 3) {
                        toast("最多上传3份附件简历")
                    } else {
                        var fileBrowser = api.require('fileBrowser');
                        fileBrowser.open(function (ret) {
                            console.log(ret)
                            if (ret) {
                                var uid = localStorage.getItem("person_id")
                                var obj = {
                                    uid: uid,
                                    resName: ret.name,
                                    size: conver(ret.size),
                                    status: getCaption(ret.name)
                                }
                                that.fileUp = ret.url
                                api.ajax({
                                    // report : false,
                                    url: uploadUploadResume,
                                    //这里是我们约定好的后台上传图片的位置 ，你可以根据你的需求来改
                                    method: 'post',
                                    cache: 'false',
                                    timeout: 30,
                                    dataTpye: 'json',
                                    data: {

                                        files: {
                                            file: that.fileUp
                                        },
                                        values: obj
                                    }
                                }, function (data, err) {
                                    console.log("updateFile=", data);
                                    if (data.success) {
                                        toast("上传成功")
                                        loadCom()
                                    } else {
                                        toast("上传失败")
                                        api.hideProgress();
                                    }
                                });
                            } else {
                                toast("未选择文件！")
                            }


                        });
                        // 选取文件的皮肤  0 黑色  1 白色  2  灰色
                        fileBrowser.skin({
                            skin: 1,
                        });
                    }

                },

                editJianClick: function (filesId, filesName, filesSize, filesTime, filesDocu) {
                    api.actionSheet({
                        // title: '底部弹出框测试',
                        buttons: ['重命名', '发送至邮箱'],
                        cancelTitle: '取消',
                        destructiveTitle: '删除',

                    }, function (ret, err) {
                        var buttonIndex = ret.buttonIndex;
                        if (buttonIndex == 1) {
                            mui.confirm('确认要删除该附件简历吗?', function (e) {
                                if (e.index == 1) {
                                    var obj = {
                                        id: filesId
                                    }
                                    ajaxGetWithProgress(deleteResumeNameUserProfile, obj, function (data, ret) {
                                        console.log(data)
                                        if (data.return.status) {
                                            toast("删除成功")
                                            loadCom()
                                        } else {
                                            toast("删除失败")
                                        }

                                    })
                                } else {

                                }
                            })
                        }
                        if (buttonIndex == 2) {

                            var name = getFirst(filesName)
                            var nameLast = getCaption(filesName)
                            console.log(name)
                            openNewWindow("WorkReshName", "./WorkReshName.html", {
                                name: name,
                                url: "workUp",
                                nameLast: nameLast,
                                filesId: filesId,
                            })
                        }
                        if (buttonIndex == 3) {
                            var name = getFirst(filesName)
                            openNewWindow("sendEmail", "./sendEmail.html", {
                                filesName: filesName,
                                url: "workUp",
                                filesSize: filesSize,
                                filesTime: filesTime,
                                filesDocu: filesDocu,
                                name: name,
                            })
                        }
                    });
                },
            }
        })

    };


    /*function editJian(){
        api.actionSheet({
            // title: '底部弹出框测试',
            buttons: ['重命名', '发送至邮箱'],
            cancelTitle: '取消',
            destructiveTitle: '删除',

        }, function(ret, err) {
            var index = ret.buttonIndex;
            if (index == 1){
                api.confirm({
                    // title: 'testtitle',
                    msg: '确认要删除该附件简历吗',
                    buttons: ['确定', '取消']
                }, function(ret, err) {
                    var index = ret.buttonIndex;
                });
            }
        });
    }*/
</script>
</body>
</html>