<div id="app1" class="demobiox" :class="isDisplay ? 'isDisplay' : ''">
    <img src="../../../image/duke-2.png" class="person" alt="person" @click="togle()">
    <div class="subBoxMO" id="subBox" v-bind:class="{ active: isHide}">
        <div class="appMask" @click="hideHandle()">

        </div>
        <div class="borderBoxRote positionCom"
             @click="detailClick(index,item.company_c_id)"
             v-bind:class="['position'+index, active ? 'animation' : '']"
             v-for="(item, index) in list" :key="index">
            <div class="xuanbox" :class="index1 == index ? 'active' : ''">
                <div class="daobox">
                    <img v-bind:src="item.imgIcon" class="iconImg" alt="person">
                    <div>{{ item.job_name }}</div>
                </div>
            </div>
        </div>

        <div class="borderBoxRote positionCom"
             @click="detailClick2(index,item.c_id)"
             v-bind:class="['position1'+index, active ? 'animation' : '']"
             v-for="(item, index) in list1" :key="index">
            <div class="xuanbox" :class="index2== index ? 'active' : ''">
                <div class="daobox">
                    <img v-bind:src="item.imgIcon" class="iconImg" alt="person">
                    <div>{{ item.c_name }}</div>
                </div>
            </div>
        </div>


        <!--<div class="cir_mine positionCir">
            <img src="images/icon/person.png" class="iconImg" alt="person">
            <span>我的</span>
        </div>-->

        <div class="cir_return positionCir" @click="hideHandle()">
            <img src="images/icon/person.png" class="iconImg" alt="person">
            <span>隐藏</span>
        </div>
        <div class="cir_hide positionCir" @click="closeWin()">
            <img src="images/icon/person.png" class="iconImg" alt="person">
            <span>返回</span>
        </div>


    </div>
</div>
