<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>首页</title>
    <link rel="stylesheet" href="../../../css/api.css"/>
    <link rel="stylesheet" href="../../../css/commonWin.css"/>
    <link rel="stylesheet" href="../../../css/mofang.css"/>
    <link rel="stylesheet" href="../../../css/mui.min.css">
    <link rel="stylesheet" href="../../../css/componyDetail.css">
    <link rel="stylesheet" href="../../../css/swiper-3.3.1.min.css">
    <style>

        .box {
            margin-bottom: 0.2rem !important;
        }

        .mui-slider .mui-slider-group .mui-slider-item img {
            width: 2rem;
        }

        .mui-slider .mui-slider-group {
            font-size: -1px;
        }

        .mui-slider .mui-slider-group .mui-slider-item {
            font-size: 0px;
        }

        .see-xian-img > img:nth-child(3n) {
            margin-right: 0;
        }

        div.isDisplay {
            display: none;
        }

        /*#topbar{
          position: relative;
        }*/

        .middleMain {
            font-size: 0.36rem;
            /*margin-top: 5px;*/
            /*position: absolute;
            top: 0;
            left: 50%;*/
            /*margin-top: */
            /*top: 50%;*/
            margin-top: 0.05rem;
        }

        #tabs > li > a {
            font-size: 0.28rem !important;
        }

        .activeTab > a {
            color: rgba(99, 139, 255, 1) !important;
        }

        .job-chatBox {
            padding: 0 0.34rem !important;
        }

        .chatJob,
        .workJob {
            width: 43%;
        }

        .chatJob {
            margin-left: 0.34rem;
            margin-right: 0.4rem;
        }

        .workJob {
            margin-right: 0.34rem;
        }

        .contentBox {
            background: #638BFF !important;
        }

        .see-hope > div > span:nth-child(1) {
            color: #666666;
            font-size: 0.28rem;
        }

        .see-hope > div > span:nth-child(2) {
            color: #333;
            font-size: 0.28rem;
        }

        #pay {
            color: #638BFF;
        }
    </style>
</head>

<body>


<div id="app1">
    <div class="bgBlack"@touchstart="hideBg()"></div>
    <img src="../../../image/duke-2.png" class="person" alt="person" @click="togle()">
    <keep-alive>
        <component :is="active"></component>
    </keep-alive>
</div>


<div style='position:fixed; z-index:999999999999999999;width:100%; top:0' id="topbar" class="display">
    <div class="headerBoxbg cssFlex">
        <div class="leftImgClose" style="margin-top: 0.2rem">
            <!--<img src="../../../icon/comHome.png" onclick="mineGo()">-->
            <img src="../../../icon/mine.png" onclick="mineGo()">
        </div>
        <div class="middleMain">
            人才
        </div>

        <!--<div class="middleHeightTop">
        <input type="text" id="search-inputTop" placeholder="搜索地点/公司/职位">
        <span class="search-Click">GO</span>
    </div>-->
        <div class="rightImgEdite">
            <img src="../../../icon/msg.png" class="OneImgRight" onclick="linkChat()" alt="chat">

        </div>
    </div>
</div>

<div style='margin-top:56px' class="contentBox pd commonBg rankTabsBg" id="rankWrap">

    <!-- leilei Start -->
    <div id="rankTabs">
        <div class="tabs cssFlex">
            <div @click='changeStatus("recommand")' :class="[classFlag == 'recommand' ? 'selectClass':'','recommand']">
                推荐
            </div>
            <div @click='changeStatus("actives")'
                 :class="[classFlag == 'actives' ? 'selectClass':'','actives' , !activesUpDownFlag ? 'selectDown' : 'selectUp' ]">
                活跃
            </div>
            <div @click='changeStatus("sallary")'
                 :class="[classFlag == 'sallary' ? 'selectClass' : '' , 'sallary' ,!sallaryUpDownFlag ? 'selectDown' : 'selectUp']">
                薪资
            </div>
            <div @click='changeStatus("education")'
                 :class="[classFlag == 'education' ? 'selectClass' : '' , 'education',!educationUpDownFlag ? 'selectDown' : 'selectUp']">
                学历
            </div>
            <div @click='changeStatus("age")'
                 :class="[classFlag == 'age' ? 'selectClass' : '' , 'age', !ageUpDownFlag ? 'selectDown' : 'selectUp']">
                年龄
            </div>
        </div>
        <div class="rankContent" v-show='activesUpDownFlag'>
            <div v-for='(item,index) in activesList1' class="command" :key='index'>
                <div class="title">{{item.tagName}}</div>
                <div class="contents">
                    <span :class='[signactivesselectedStatusIndex == subIndex ? "selectedStatus" : ""]'
                          v-for='(subItem,subIndex) in item.tagList'
                          @click=activesloadData(item.tagName,subItem,subIndex)>{{subItem}}</span>
                </div>
            </div>
            <div v-for='(item,index) in activesList2' class="command" :key='index'>
                <div class="title">{{item.tagName}}</div>
                <div class="contents">
                    <span :class='[updateactivesselectedStatusIndex == subIndex ? "selectedStatus" : ""]'
                          v-for='(subItem,subIndex) in item.tagList'
                          @click=activesloadData(item.tagName,subItem,subIndex)>{{subItem}}</span>
                </div>
            </div>
        </div>
        <div class="rankContent" v-show='sallaryUpDownFlag'>
            <div v-for='(item,index) in sallaryList' class="command" :key='index'>
                <div class="title">{{item.tagName}}</div>
                <div class="contents">
                    <span :class='[sallaryselectedStatusIndex == subIndex ? "selectedStatus" : ""]'
                          v-for='(subItem,subIndex) in item.tagList' @click=sallaryloadData(subItem,subIndex)>{{subItem}}</span>
                </div>
            </div>
        </div>
        <div class="rankContent" v-show='educationUpDownFlag'>
            <div v-for='(item,index) in educationList' class="command" :key='index'>
                <div class="title">{{item.tagName}}</div>
                <div class="contents">
                    <span :class='[educationselectedStatusIndex == subIndex ? "selectedStatus" : ""]'
                          v-for='(subItem,subIndex) in item.tagList' @click=educationloadData(subItem,subIndex)>{{subItem}}</span>
                </div>
            </div>
        </div>
        <div class="rankContent" v-show='ageUpDownFlag'>
            <div v-for='(item,index) in ageList' class="command" :key='index'>
                <div class="title">{{item.tagName}}</div>
                <div class="contents">
                    <span :class='[ageselectedStatusIndex == subIndex ? "selectedStatus" : ""]'
                          v-for='(subItem,subIndex) in item.tagList'
                          @click=ageloadData(subItem,subIndex)>{{subItem}}</span>
                </div>
            </div>
        </div>
    </div>
    <!-- leilei End -->

    <div id='rankNext' class="box isDisplay">
        <div class="commonTitlePoai">
            <div class="comTitle cssFlex">
                <div class="comInfosee">
                    <h3 class="comInfoTitle comInfoTitleMar" id="p_name">张敏</h3>

                    <p class="comInfoCon">
                        <span id="company">北京A公司信息技术有限公司</span>
                        <span id="company_type">运营经理</span>
                    </p>
                    <p class="see-agod">
                        <span id="working">11</span>年工作经验 / <span id="degree">本科</span> / <span id="age">33</span>岁
                    </p>
                    <p class="see-status" id="jobHuntingStatus">
                        离职-随时到岗
                    </p>

                </div>
                <div class="comLogo comLogoSee">
                    <img src="../../../image/comLogo.png" alt="comLogo" id="p_iconLogo">
                </div>

            </div>
            <div class="job-chatBox cssFlex">
                <div class="chatJob" onclick="chatJob()">聊一聊</div>
                <div class="workJob collection isDisplay" onclick="collectionHandle()">收藏简历</div>
                <div class="workJob collectionHand isDisplay" onclick="collectionHandleActive()">取消收藏</div>
                <div id="personId" class="isDisplay"></div>
            </div>
        </div>


        <div id="content">
            <div id="tab1" style="display: block;">
                <div class="see-xian-box">
                    <div class="seeSubTitle">求职期望</div>

                    <div class=""></div>

                    <div class="see-hope">
                        <!-- <p class="see-price">
                            <span class="see-gang" id="work_name">运营经理</span>
                            <span class="see-adress" id="int_city">北京</span>
                        </p>
                        <span class="see-price" id="pay">10-15k</span> -->
                        <div>
                            <span>应聘岗位:</span>
                            <span class="see-gang" id="work_name"></span>
                        </div>
                        <div>
                            <span>期望薪资:</span>
                            <span class="see-price" id="pay"></span>
                        </div>
                        <div>
                            <span>工作地址:</span>
                            <span class="see-adress" id="int_city"></span>
                        </div>
                        <div>
                            <span>目前状态:</span>
                            <span class="see-choose-hang" id="work"></span>
                        </div>
                    </div>
                    <!-- <p class="see-choose-hang" id="work">行业不限</p> -->
                    <div class="seeSubTitle">自我描述</div>
                    <div class="see-me-miao">
                        <div class="see-me-list cssFlex" id="p_title"></div>
                        <p class="see-me-text" id="p_tags">
                            Cras gravida vel ex at consectetur. Aliquam vel volutpat ante. Integer id tempor eros, at
                            lobortis augue. Etiam ipsum mi, placerat eget urna at, placerat sodales lorem. Donec
                            accumsan tempus justo at hendrerit. Donec varius venenatis molestie. Sed volutpat
                            nunc lorem.
                        </p>
                    </div>
                    <div class="seeSubTitle">工作经历</div>
                    <div class="see-comli" id="workings">
                        <div class="see-comlibox">
                            <div class="jing-title">北京A公司信息技术有限公司</div>
                            <div class="jing-position">运营经理</div>
                            <div class="jing-year">2015.03-至今</div>
                            <div class="jing-depart">所属部门：<span>运营部</span></div>
                            <div class="jing-skill">
                                1.能独立完成web/app界面的视觉设计及banner图制作。 <br/> 2.熟悉web/APP的设计规范能独立完成web/app界面的视觉设计。
                                <br/> 3.及banner图制作，熟悉web/APP的设计规范能独立完成web/app界面。
                                <br/> 4.视觉设计及banner图制作，熟悉web/APP的设计规范能独立完成web/app。
                            </div>

                        </div>
                        <div class="see-comlibox">
                            <div class="jing-title">北京A公司信息技术有限公司</div>
                            <div class="jing-position">运营经理</div>
                            <div class="jing-year">2015.03-至今</div>
                            <div class="jing-depart">所属部门：<span>运营部</span></div>
                            <div class="jing-skill">
                                1.能独立完成web/app界面的视觉设计及banner图制作。 <br/> 2.熟悉web/APP的设计规范能独立完成web/app界面的视觉设计。
                                <br/> 3.及banner图制作，熟悉web/APP的设计规范能独立完成web/app界面。
                                <br/> 4.视觉设计及banner图制作，熟悉web/APP的设计规范能独立完成web/app。
                            </div>

                        </div>
                    </div>
                    <div class="seeSubTitle">项目经历</div>
                    <div class="see-product" id="project">
                        <div class="see-product-box">
                            <div class="produvt-name"></div>
                            <div class="produvt-date"></div>
                            <div class="produvt-content"></div>
                        </div>
                    </div>
                    <div class="seeSubTitle">教育经历</div>
                    <div id="educations">
                        <div class="see-education cssFlex">
                            <div class="education-left">
                                <div class="education-name">北京理工大学</div>
                                <div class="education-edu">本科 | 营销管理</div>
                                <div class="education-date">2011年-2015年</div>
                            </div>
                            <!--<img src="../../../image/mine/defalut.png" alt="defult" class="edcution-img">-->
                        </div>
                    </div>

                </div>
            </div>

        </div>


    </div>
</div>


</body>
<script type="text/javascript" src="../../../script/jquery-1.8.1.min.js"></script>
<script type="text/javascript" src="../../../script/api.js"></script>
<script type="text/javascript" src="../../../script/rem.js"></script>
<script type="text/javascript" src="../../../script/apiCloud.js"></script>
<script type="text/javascript" src="../../../script/public.js"></script>
<script type="text/javascript" src="../../../script/data.js"></script>
<script src="../../../script/vue.min.js"></script>
<script src="../../../script/vuex.min.js"></script>
<script src="../../../script/mui.min.js"></script>
<script src="common/magicComAll.js"></script>
<script src="common/magicPosition.js"></script>
<script src="common/magicComPosiAll.js"></script>
<script src="common/bus.js"></script>
<script src="https://cdn.bootcss.com/eruda/1.2.6/eruda.js"></script>
<script>eruda.init();</script>

<script>

    // 模态框
    $(document).on("click", ".componySize>li", function () {
        $(".modal-space").show()
    })

    function closeMotal() {
        $(".modal-space").hide()
    }

    var person_summary, magicBox, winWidth, winHeight, a01_w, m_d, magicBtn, magicSubBox, iconImg, person_id;

    var isCollection;

    apiready = function () {
        var header = $api.dom('#topbar');
        $api.fixStatusBar(header);
        person_id = localStorage.getItem("user")
        api.addEventListener({
            name: 'keyback'
        }, function (ret, err) {
            closeOnKeyBack();
        });

        var backButtonPress = 0;
        // if (person_id) {
        //     comValue(person_id)
        // }
        var magicComAll = magicComAllInit(Vue);
        Vue.component('magicComAll', magicComAll);
        var magicComPosiAll = magicComPosiAllInit(Vue);
        Vue.component('magicComPosiAll', magicComPosiAll);
        var magicPosition = magicPositionInit(Vue);
        Vue.component('magicPosition', magicPosition);

        winWidth = api.winWidth;
        winHeight = api.winHeight;
        // a01_w = (winWidth > winHeight / 2) ? winWidth / 2 : winHeight / 2;
        a01_w = winWidth;


        // 斜边长
        bevelLength = Math.sqrt((a01_w * a01_w / 2)) - 40

        m_d = (a01_w - 10) * 0.23 - 25; // 100

        app1Vue = new Vue({
            el: '#app1',
            data: {
                active: 'magicComAll',
                person_id: '',
            },
            created: function () {
                this.togle()
            },
            mounted: function () {

                var that = this
                that.active = store.state.obj.magicCom;
                that.person_id = api.pageParam.person_id
                api.addEventListener({
                    name: 'magicComAll',
                }, function (ret, err) {
                    //console.log("ret", ret);
                    that.active = ret.value.key.magicComAll;


                });
                api.addEventListener({
                    name: 'magicComPosiAll',
                }, function (ret, err) {

                    that.active = ret.value.key.magicComPosiAll;

                });
                api.addEventListener({
                    name: 'magicPosition',
                }, function (ret, err) {

                    that.active = ret.value.key.magicComAll;
                });
                api.addEventListener({
                    name: 'jobAllName',
                }, function (ret, err) {
                    comValue(ret.value.key.job_id)
                });
                api.addEventListener({
                    name: 'jobPosiAll',
                }, function (ret, err) {
                    comValue(ret.value.key.job_name)
                });
                api.addEventListener({
                    name: 'personHome',
                }, function (ret, err) {
                    comValue(ret.value.key.person_id)

                });

                magicBox = document.querySelector(".magicBox")
                bgBlack = document.querySelector(".bgBlack")

                magicBtn = document.getElementsByClassName("magicBtn")
                magicSubBox = document.getElementsByClassName("magicSubBox")
                iconImg = document.getElementsByClassName("iconImg")
                magicBox.style.width = bevelLength * 2 + "px"
                magicBox.style.height = bevelLength + "px"
                var rightYi = bevelLength
                magicBox.style.right = '-' + rightYi + "px"
                bgBlack.style.width = winWidth + "px"
                bgBlack.style.height = winHeight + "px"

                magicBGheight = document.querySelector(".magicBGheight")
                magicBGheight.style.height = m_d + "px"
                // 里面小盒子宽度
                for (var i = 0; i < magicBtn.length; i++) {
                    magicBtn[i].style.width = m_d + "px"
                    magicBtn[i].style.height = m_d + "px"
                }
                // 里面小盒子宽度
                for (var i = 0; i < magicSubBox.length; i++) {
                    magicSubBox[i].style.width = m_d + "px"
                    magicSubBox[i].style.height = m_d + "px"
                }
                // 图片宽度
                for (var i = 0; i < iconImg.length; i++) {
                    iconImg[i].style.width = m_d / 2 + "px"
                    iconImg[i].style.height = m_d / 2 + "px"
                }
            },
            methods: {
                togle: function () {
                    // this.active = true;
                    var isBlck = document.querySelector('.bgBlack')
                    if (isBlck.getAttribute("class") == 'isDisplay') {
                        document.querySelector('.bgBlack').classList.remove('isDisplay');
                        //console.log(document.querySelector('.bgBlack'))
                    } else {
                        var that = this;
                        that.active = 'magicComAll';
                        document.querySelector('.bgBlack').classList.remove('isDisplay');
                    }
                },

                // 更改简历数据
                HavechatClick: function () {
                    var uidUser = localStorage.getItem("user")
                    if (!uidUser) {
                        openNewWindow("login", "../../login/login.html");
                        return;
                    } else {
                        openNewWindow("index", "../chat/index_body.html")
                    }
                },

                hideBg: function () {
                    var that = this
                    document.querySelector('.bgBlack').classList.add('isDisplay');
                    that.active = ''
                },

            }
        })


        function closeOnKeyBack() {
            backButtonPress++;
            if (backButtonPress > 1) {
                closeApp();
            } else {
                api.toast({
                    msg: '再按一次退出应用'
                });
            }
            setTimeout(function () {
                backButtonPress = 0;
            }, 1000);
        }




        //是否收藏

        // var collectionId;

        isCollection =  function (id){
          ajaxGetWithProgress(AttentionPersonStatus,{
            person_id:id,
          },function(data,err){
            console.log(data,id,5455555555)
            if (data.attPerson) {
                document.querySelector(".collection").classList.add("isDisplay")
                document.querySelector(".collectionHand").classList.remove("isDisplay")
            }
            if(!data.attPerson) {
                document.querySelector(".collection").classList.remove("isDisplay")
                document.querySelector(".collectionHand").classList.add("isDisplay")
            }
          })
        }


        ajaxGetWithProgress(QueryPersonRandomOne, {}, function (data, err) {
            // alert(JSON.stringify(data));
            console.log("datadata", data);
            if (data) {
                document.querySelector('.box').classList.remove('isDisplay');
                var person_summary = data.person_summary;
                var projects = data.projects;
                var education_his = data.education_his;
                var working_his = data.working_his;
                var Intention = data.Intention;
                // collectionId = person_summary.person_id;
                $("#personId").html(data.person_summary.person_id)
                isCollection(person_summary.person_id);
                if (person_summary.i_status == '1') {
                    //离职-随时到岗
                    document.querySelector('#work').innerHTML = '离职-随时到岗';
                } else if (person_summary.i_status == '2') {
                    document.querySelector('#work').innerHTML = '在职-月内到岗';
                    //在职-月内到岗
                } else if (person_summary.i_status == '3') {
                    document.querySelector('#work').innerHTML = '在职-考虑机会';
                    //在职-考虑机会
                } else if (person_summary.i_status == '4') {
                    document.querySelector('#work').innerHTML = '在职-暂不考虑';
                    //在职-暂不考虑
                }

                // if (data.attPerson) {
                //     document.querySelector(".collection").classList.add("isDisplay")
                //     document.querySelector(".collectionHand").classList.remove("isDisplay")
                // } else {
                //     document.querySelector(".collection").classList.remove("isDisplay")
                //     document.querySelector(".collectionHand").classList.add("isDisplay")
                //
                // }

                // 个人头像
                if (person_summary.p_icon) {
                  console.log(person_summary.p_icon);
                    document.getElementById('p_iconLogo').src = imgSrcFun(person_summary.p_icon);
                } else {
                    document.getElementById('p_iconLogo').src = '../../../image/comLogo.png'
                }
                // 电话 邮箱
                if (person_summary) {
                    person_summary = person_summary;
                }

                // 姓名
                if (person_summary.p_name || person_summary.p_name != 'undefined') {
                    document.getElementById('p_name').innerText = person_summary.p_name || '未登录';
                }
                // 公司名称 // 职位
                if (working_his) {
                    var obj = working_his[0];
                    document.getElementById('company').innerText = obj.com_name || '未填写';
                    document.getElementById('company_type').innerText = obj.position_type || '未填写';
                } else {
                    document.getElementById('company').innerText = '未填写';
                    document.getElementById('company_type').innerText = '未填写';
                }
                // 工作年限
                if (person_summary.job_from_time) {
                    var workingAge = ages(person_summary.job_from_time);
                    document.getElementById('working').innerText = workingAge;
                } else {
                    document.getElementById('working').innerText = 0
                }
                // 学历
                if (education_his) {
                    var obj = education_his[0];
                    document.getElementById('degree').innerText = obj.degree || '未填写';
                } else {
                    document.getElementById('degree').innerText = '未填写'
                }



                // 年龄
                if (person_summary.p_birthday) {

                    var age = ages(person_summary.p_birthday);

                    document.getElementById('age').innerText = age;
                } else {
                    document.getElementById('age').innerText = 0
                }

                // 时间转换
                function ages(str) {
                    var r = str.match(/^(\d{1,4})(-|\/)(\d{1,2})\2(\d{1,2})$/);
                    if (r == null) return false;
                    var d = new Date(r[1], r[3] - 1, r[4]);
                    if (d.getFullYear() == r[1] && (d.getMonth() + 1) == r[3] && d.getDate() == r[4]) {
                        var Y = new Date().getFullYear();
                        // return ("年龄   =   " + (Y - r[1]) + "   周岁");
                        return (Y - r[1]);
                    }
                    return ("输入的日期格式错误！");
                }

                // 自我介绍
                if (person_summary.p_tags) {
                    document.getElementById('p_tags').innerText = person_summary.p_tags;
                } else {
                    document.getElementById('p_tags').innerText = "未填写";
                }
                // 综合能力
                if (person_summary.p_title) {
                    var tags = document.getElementById('p_title');
                    var list = person_summary.p_title.split(',');
                    var arr = [];
                    for (var i = 0; i < list.length; i++) {
                        var str = '<span>' + list[i] + '</span>';
                        arr.push(str);
                    }
                    tags.innerHTML = arr.join('');
                }

                // 求职期望
                if (Intention) {

                    document.getElementById('work_name').innerText = Intention.work_name;
                    document.getElementById('int_city').innerText = Intention.int_city;
                    if (Intention.work == '') {
                        // document.getElementById('work').innerText = Intention.work;
                    } else {
                        // document.getElementById('work').innerText = '未填写';
                    }

                    var pays = Intention.pay.split('.');
                    var pays2 = []
                    pays.forEach(function (value) {
                        pays2.push(value)
                    })

                    document.getElementById('pay').innerText = pays2.join('-');
                }

                // 工作经历
                if (working_his) {
                    var workings = document.getElementById('workings');
                    var arr = [];
                    for (var i = 0; i < working_his.length; i++) {
                        var w_item = working_his[i];
                        var com_name = w_item.com_name || '未填写';
                        var position_type = w_item.position_type || '未填写';
                        var w_from = w_item.w_from || '-- ';
                        var position = w_item.position || '未填写';
                        var c_note = w_item.c_note || '未填写';
                        var w_to = w_item.w_to || ' -- ';

                        var str = '<div class="see-comlibox">\n' +
                            '                                                <div class="jing-title">' + com_name + '</div>\n' +
                            '                                                <div class="jing-position">' + position_type + '</div>\n' +
                            '                                                <div class="jing-year"><span>' + w_from + '</span>至<span>' + w_to + '</span></div>\n' +
                            '                                                <div class="jing-depart">所属部门：<span>' + position + '</span></div>\n' +
                            '                                                <div class="jing-skill">' + c_note + '</div>\n' +
                            '\n' +
                            '                                            </div>';
                        arr.push(str);
                    }

                    var dom = arr.join('');

                    workings.innerHTML = dom;
                } else {
                    var workings = document.getElementById('workings');
                    workings.innerHTML = '<div class="jing-title">' + '未填写' + '</div>'
                }
                // 教育经历
                if (education_his) {
                    var educations = document.getElementById('educations');
                    var arr = [];
                    for (var i = 0; i < education_his.length; i++) {
                        var str = '<div class="see-education cssFlex">\n' +
                            '                                               <div class="education-left">\n' +
                            '                                                   <div class="education-name">' + (education_his[i].univ_name || '') + '</div>\n' +
                            '                                                   <div class="education-edu"><span>' + (education_his[i].degree || '') + '</span> | <span>' + (education_his[i].major || '') + '</span></div>\n' +
                            '                                                   <div class="education-date"><span>' + (education_his[i].e_from || '') + '</span>至<span>' + (education_his[i].e_to || '') + '</span></div>\n' +
                            '                                               </div>\n' +
                            // '                                               <img src="../../../image/mine/defalut.png" alt="defult" class="edcution-img">\n' +
                            '                                           </div>';
                        arr.push(str);
                    }

                    var dom = arr.join('');

                    educations.innerHTML = dom;
                } else {
                    var educations = document.getElementById('educations');
                    educations.innerHTML = '<div class="jing-title">' + '未填写' + '</div>';
                }


                if (projects != null) {

                    var project = document.getElementById('project');
                    var arr = [];

                    for (var i = 0; i < projects.length; i++) {
                        var str = '<div class="see-product-box">\n' +
                            '                                               <div class="produvt-name">' + projects[i].project_name + '</div>\n' +
                            '                                               <div class="produvt-date"><span>' + projects[i].from + '</span>至<span>' + projects[i].to + '</span></div>\n' +
                            '                                               <div class="produvt-content">' + projects[i].p_note + '</div>\n' +
                            '                                           </div>';
                        arr.push(str);
                    }

                    var dom = arr.join('');

                    project.innerHTML = dom;
                } else {
                    var project = document.getElementById('project');
                    project.innerHTML = '<div class="jing-title">' + '未填写' + '</div>'
                }

            }
        });


    };

    function comValue(person_id) {
        // 获取用户简历全部信息

        ajaxGetWithProgress(QueryPerson, {
            person_id: person_id
        }, function (data, err) {
            console.log("data",data)
            if (data) {
               isCollection(person_id);
                document.querySelector('.box').classList.remove('isDisplay');
                var person_summary = data.person_summary;
                var projects = data.projects;
                var education_his = data.education_his;
                var working_his = data.working_his;
                var Intention = data.Intention;
                $("#personId").html(data.person_summary.person_id)

                if (person_summary.i_status == '1') {
                    //离职-随时到岗
                    document.querySelector('#work').innerHTML = '离职-随时到岗';
                } else if (person_summary.i_status == '2') {
                    document.querySelector('#work').innerHTML = '在职-月内到岗';
                    //在职-月内到岗
                } else if (person_summary.i_status == '3') {
                    document.querySelector('#work').innerHTML = '在职-考虑机会';
                    //在职-考虑机会
                } else if (person_summary.i_status == '4') {
                    document.querySelector('#work').innerHTML = '在职-暂不考虑';
                    //在职-暂不考虑
                }
                // 个人头像
                if (person_summary.p_icon) {
                  console.log(person_summary.p_icon,'771')
                    document.getElementById('p_iconLogo').src = imgSrcFun(person_summary.p_icon);
                } else {
                    document.getElementById('p_iconLogo').src = '../../../image/comLogo.png'
                }
                // 电话 邮箱
                if (person_summary) {
                    person_summary = person_summary;
                }

                // 姓名
                if (person_summary.p_name || person_summary.p_name != 'undefined') {
                    document.getElementById('p_name').innerText = person_summary.p_name || '未登录';
                }
                // 公司名称 // 职位
                if (working_his) {
                    var obj = working_his[0];
                    document.getElementById('company').innerText = obj.com_name || '未填写';
                    document.getElementById('company_type').innerText = obj.position_type || '未填写';
                } else {
                    document.getElementById('company').innerText = '未填写';
                    document.getElementById('company_type').innerText = '未填写';
                }
                // 工作年限
                if (person_summary.job_from_time) {
                    var workingAge = ages(person_summary.job_from_time);
                    document.getElementById('working').innerText = workingAge;
                } else {
                    document.getElementById('working').innerText = 0
                }
                // 学历
                if (education_his) {
                    var obj = education_his[0];
                    document.getElementById('degree').innerText = obj.degree || '未填写';
                } else {
                    document.getElementById('degree').innerText = '未填写'
                }
                // 年龄
                if (person_summary.p_birthday) {
                    var age = ages(person_summary.p_birthday);
                    document.getElementById('age').innerText = age;
                } else {
                    document.getElementById('age').innerText = "--"
                }


                // 自我介绍
                if (person_summary.p_tags) {
                    document.getElementById('p_tags').innerText = person_summary.p_tags;
                } else {
                    document.getElementById('p_tags').innerText = "未填写";
                }
                // 综合能力
                if (person_summary.p_title) {
                    var tags = document.getElementById('p_title');
                    var list = person_summary.p_title.split(',');
                    var arr = [];
                    for (var i = 0; i < list.length; i++) {
                        var str = '<span>' + list[i] + '</span>';
                        arr.push(str);
                    }
                    tags.innerHTML = arr.join('');
                }

                // 求职期望
                if (Intention) {

                    document.getElementById('work_name').innerText = Intention.work_name;
                    document.getElementById('int_city').innerText = Intention.int_city;
                    // document.getElementById('work').innerText = Intention.work;
                    var pays = Intention.pay.split('.');
                    var pays2 = []
                    pays.forEach(function (value) {
                        pays2.push(value)
                    })

                    document.getElementById('pay').innerText = pays2.join('-');
                }


                // 工作经历
                if (working_his) {
                    var workings = document.getElementById('workings');
                    var arr = [];
                    for (var i = 0; i < working_his.length; i++) {
                        var w_item = working_his[i];
                        var com_name = w_item.com_name || '未填写';
                        var position_type = w_item.position_type || '未填写';
                        var w_from = w_item.w_from || '-- ';
                        var position = w_item.position || '未填写';
                        var c_note = w_item.c_note || '未填写';
                        var w_to = w_item.w_to || ' -- ';

                        var str = '<div class="see-comlibox">\n' +
                            '                                                <div class="jing-title">' + com_name + '</div>\n' +
                            '                                                <div class="jing-position">' + position_type + '</div>\n' +
                            '                                                <div class="jing-year"><span>' + w_from + '</span>至<span>' + w_to + '</span></div>\n' +
                            '                                                <div class="jing-depart">所属部门：<span>' + position + '</span></div>\n' +
                            '                                                <div class="jing-skill">' + c_note + '</div>\n' +
                            '\n' +
                            '                                            </div>';
                        arr.push(str);
                    }

                    var dom = arr.join('');

                    workings.innerHTML = dom;
                } else {
                    var workings = document.getElementById('workings');
                    workings.innerHTML = '<div class="jing-title">' + '未填写' + '</div>'
                }
                // 教育经历
                if (education_his) {
                    var educations = document.getElementById('educations');
                    var arr = [];
                    for (var i = 0; i < education_his.length; i++) {
                        var str = '<div class="see-education cssFlex">\n' +
                            '                                               <div class="education-left">\n' +
                            '                                                   <div class="education-name">' + (education_his[i].univ_name || '') + '</div>\n' +
                            '                                                   <div class="education-edu"><span>' + (education_his[i].degree || '') + '</span> | <span>' + (education_his[i].major || '') + '</span></div>\n' +
                            '                                                   <div class="education-date"><span>' + (education_his[i].e_from || '') + '</span>至<span>' + (education_his[i].e_to || '') + '</span></div>\n' +
                            '                                               </div>\n' +
                            // '                                               <img src="../../../image/mine/defalut.png" alt="defult" class="edcution-img">\n' +
                            '                                           </div>';
                        arr.push(str);
                    }

                    var dom = arr.join('');

                    educations.innerHTML = dom;
                } else {
                    var educations = document.getElementById('educations');
                    educations.innerHTML = '<div class="jing-title">' + '未填写' + '</div>';
                }


                if (projects != null) {

                    var project = document.getElementById('project');
                    var arr = [];

                    for (var i = 0; i < projects.length; i++) {
                        var str = '<div class="see-product-box">\n' +
                            '                                               <div class="produvt-name">' + projects[i].project_name + '</div>\n' +
                            '                                               <div class="produvt-date"><span>' + projects[i].from + '</span>至<span>' + projects[i].to + '</span></div>\n' +
                            '                                               <div class="produvt-content">' + projects[i].p_note + '</div>\n' +
                            '                                           </div>';
                        arr.push(str);
                    }

                    var dom = arr.join('');

                    project.innerHTML = dom;
                } else {
                    var project = document.getElementById('project');
                    project.innerHTML = '<div class="jing-title">' + '未填写' + '</div>';
                }
            }
        });
    }

    // 跳转到我的
    function mineGo() {

        var obj = {
            uid: localStorage.getItem("person_id")
        }
        var uidUser = localStorage.getItem("user")
        if (!uidUser) {
            openNewWindow("login", "../../login/login.html");
            return;
        }
        ajaxGetWithProgress(queryRecruiterSuccessJobProfile, obj, function (data, err) {
            //console.log("homeData", data)
            localStorage.setItem("com_id", data.c_id)
            if (data.date == 1) {
                openNewWindow("fillInfo", "./fillInfo.html")
            } else if (data.date == 2) {
                openNewWindow("postsPublish", "./postsPublish.html")
            } else if (data.date == 3) {
                openNewWindow("companyEmailAuthen", "./companyEmailAuthen.html")
            } else if (data.date == 4) {
                openNewWindow("uploadLicense", "./uploadLicense.html")
            } else if (data.date == 0) {
                openNewWindow("mine", "../mine/mine.html")

            }


        })

    }

    // 跳转到聊天页面
    function linkChat() {
        var uidUser = localStorage.getItem("user")
        if (!uidUser) {
            openNewWindow("login", "../../login/login.html");
            return;
        } else {
            openNewWindow("index", "../chat/index_body.html")
        }

    }

    //leilei 筛选
    var json = {
        activeList1: [{
            tagName: '登录时间',
            tagList: ['最近一天', '最近三天', '最近一周', '最近30天', '30天以上']
        }],
        activeList2: [{
            tagName: '简历更新时间',
            tagList: ['最近一天', '最近三天', '最近一周', '最近30天', '30天以上'],
        }],
        salaryList: [{
            tagName: '月薪',
            tagList: ['10-15k', '15-20k', '20-30k', '30-50k', '50-100k', '100k以上'],
        }],
        educationList: [{
            tagName: '学历',
            tagList: ['本科以下', '本科', '研究生', '硕士', '博士', '博士后']
        }],
        ageList: [{
            tagName: '年龄',
            tagList: ['25岁以下', '25-30岁', '30-35岁', '35-40岁', '40-45岁', '45-50岁']
        }]
    }

    var app = new Vue({
        el: '#rankTabs',
        data: {
            // itemList:[],
            activesList1: json.activeList1,
            activesList2: json.activeList2,
            sallaryList: json.salaryList,
            educationList: json.educationList,
            ageList: json.ageList,

            classFlag: 'recommand',
            activesUpDownFlag: false,
            sallaryUpDownFlag: false,
            educationUpDownFlag: false,
            ageUpDownFlag: false,

            signactivesselectedStatusIndex: 'a',
            updateactivesselectedStatusIndex: 'a',
            sallaryselectedStatusIndex: 'a',
            educationselectedStatusIndex: 'a',
            ageselectedStatusIndex: 'a',
        },
        mounted() {
        },
        methods: {
            changeStatus(type) {
                this.classFlag = type;
                if (type == 'actives') {
                    // this.itemList = json.activeList;
                    this.activesUpDownFlag = !this.activesUpDownFlag;
                    this.sallaryUpDownFlag = false;
                    this.educationUpDownFlag = false;
                    this.ageUpDownFlag = false;
                } else if (type == 'sallary') {
                    // this.itemList = json.salaryList;
                    this.sallaryUpDownFlag = !this.sallaryUpDownFlag;
                    this.activesUpDownFlag = false;
                    this.educationUpDownFlag = false;
                    this.ageUpDownFlag = false;
                } else if (type == 'education') {
                    // this.itemList = json.educationList;
                    this.educationUpDownFlag = !this.educationUpDownFlag;
                    this.activesUpDownFlag = false;
                    this.sallaryUpDownFlag = false;
                    this.ageUpDownFlag = false;
                } else if (type == 'age') {
                    // this.itemList = json.ageList;
                    this.ageUpDownFlag = !this.ageUpDownFlag;
                    this.activesUpDownFlag = false;
                    this.sallaryUpDownFlag = false;
                    this.educationUpDownFlag = false;
                } else {
                    this.itemList = [];
                    this.closeTabCon();
                    this.signactivesselectedStatusIndex = 'a';
                    this.updateactivesselectedStatusIndex = 'a';
                    this.sallaryselectedStatusIndex = 'a';
                    this.educationselectedStatusIndex = 'a';
                    this.ageselectedStatusIndex = 'a';
                    this.findItems();
                }
            },
            closeTabCon() {
                this.activesUpDownFlag = false;
                this.sallaryUpDownFlag = false;
                this.educationUpDownFlag = false;
                this.ageUpDownFlag = false;
            },
            activesloadData(tag, item, index) {
                if (tag == '登录时间') {
                    this.signactivesselectedStatusIndex = index;
                } else {
                    this.updateactivesselectedStatusIndex = index;
                }
                this.closeTabCon();
                this.findItems();
            },
            sallaryloadData(item, index) {
                this.closeTabCon();
                this.sallaryselectedStatusIndex = index;
                this.findItems();
            },
            educationloadData(item, index) {
                this.closeTabCon();
                this.educationselectedStatusIndex = index;
                this.findItems();
            },
            ageloadData(item, index) {
                this.closeTabCon();
                this.ageselectedStatusIndex = index;
                this.findItems();
            },
            findItems() {
                var signInOption, updateOption, sallaryOption, educationOption, ageOption;
                if (typeof this.signactivesselectedStatusIndex == 'number') {
                    signInOption = this.activesList1[0].tagList[this.signactivesselectedStatusIndex];
                } else {
                    signInOption = '';
                }

                if (typeof this.updateactivesselectedStatusIndex == 'number') {
                    updateOption = this.activesList2[0].tagList[this.updateactivesselectedStatusIndex];
                } else {
                    updateOption = '';
                }

                if (typeof this.sallaryselectedStatusIndex == 'number') {
                    sallaryOption = this.sallaryList[0].tagList[this.sallaryselectedStatusIndex];
                } else {
                    sallaryOption = '';
                }

                if (typeof this.educationselectedStatusIndex == 'number') {
                    educationOption = this.educationList[0].tagList[this.educationselectedStatusIndex];
                } else {
                    educationOption = '';
                }

                if (typeof this.ageselectedStatusIndex == 'number') {
                    ageOption = this.ageList[0].tagList[this.ageselectedStatusIndex];
                } else {
                    ageOption = '';
                }

                var obj = {
                    login_time: signInOption,
                    job_type: '',
                    intention_time: updateOption,
                    degree: educationOption,
                    pay: sallaryOption,
                    age: ageOption,
                }
                api.sendEvent({
                    name: 'filteRank',
                    extra: {
                        key: obj
                    }
                });
                app1Vue.togle();
            }
        },
    })
    //leilei

    function chatJob(){
      console.log(123);
    }

    // zbw star
    // 收藏
    function collectionHandle() {
      console.log(123,$("#personId").html());
        var uidUser = localStorage.getItem("user")
        if (!uidUser) {
            openNewWindow("login", "../../../login/login.html");
            return;
        }
        ajaxGet(attentionPerson, {
            uid: localStorage.getItem("user"),
            person_id: $("#personId").html(),
        }, function (data, err) {
            //console.log(data);
            api.showProgress();
            if (data) {
                api.hideProgress();
                if (data.status) {

                    toast("收藏成功")
                    isCollection($("#personId").html());
                    // window.location.reload()
                }
            }
        });
    }

    // 收藏
    function collectionHandleActive() {
        var uidUser = localStorage.getItem("user")
          console.log(456,$("#personId").html());
        if (!uidUser) {
            openNewWindow("login", "../../../login/login.html");
            return;
        }

        ajaxGet(attentionPerson, {
            uid: localStorage.getItem("user"),
            person_id: $("#personId").html(),
        }, function (data, err) {
            //console.log(data);
            api.showProgress();
            if (data) {
                api.hideProgress();
                if (data.status) {
                    toast("取消收藏")
                  isCollection($("#personId").html());
                }
            }
        });
    }

    // zbw end

</script>
</html>
