.isDisplay {
    display: none;
}

/*活动===========================开始*/
#circle {
    padding: 0.22rem 0.13rem;
    width: 100%;
    background: #ffffff;
    box-sizing: border-box;
}

.circle_item {
    margin-bottom: 0.35rem;
    border-radius: 0.08rem;
}

.header_img {
    width: 100%;
    height: 3.44rem;
}

.header_img img {
    width: 100%;
}

.circle_footer {
    width: 100%;
    height: 2.38rem;
    padding: 0 0.26rem;
}

.circle_title {
    font-size: 0.28rem;
    font-family: PingFangSC-Medium;
    font-weight: 500;
    color: rgba(51, 51, 51, 1);
    line-height: 0.9rem;
}

.circle_tiem, .circle_city {
    padding-left: 0.3rem;
    font-size: 0.26rem;
    color: #666666;
    line-height: 0.4rem;
    /*align-items: center;*/
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.circle_tiem span, .circle_city span {
    color: #333333;
}

.circle_tiem {
    background: url("../image/circle/tiem2x.png") no-repeat left 0.05rem;
    background-size: 0.26rem 0.26rem;
}

.circle_city {
    background: url("../image/circle/city2x.png") no-repeat left 0.05rem;
    background-size: 0.2rem 0.23rem;
}

.circle_bottom {
    width: 100%;
    align-items: center;
}

.circle_sign {
    flex: 1;
    text-align: right;
    margin-right: 0.1rem;
    padding-right: 0.15rem;
    border-right: 1px solid #EBEBEB;
    line-height: 1;
    color: #666666;
}

.circle_sign span {
    color: #FF9B28;
}

.circle_collection {
    width: 0.3rem;
}

/*活动===========================结束*/

/*发布活动========================开始*/
.add_activities {

}

.add_activities_header {
    width: 100%;
    height: 0.92rem;
    line-height: 0.92rem;
    background: #ffffff;
    font-size: 0.28rem;
    color: #333333;
}

.add_activities_header div {
    flex: 50%;
    text-align: center;
}

.add_activities_header div span {
    position: relative;
}

.add_activities_header div span.active {
    color: #638BFF;
}

.add_activities_header div span.active:after {
    content: '';
    display: block;
    width: 100%;
    height: 0.04rem;
    background: #638BFF;
}

#informationInit {
    width: 100%;
    height: 100%;
}

.information_head {
    width: 100%;
    height: 100%;
    height: 4.36rem;
    overflow: hidden;
    position: relative;
}

.information_head_add {
    width: 1.3rem;
    height: 1.3rem;
    border-radius: 0.08rem;
    border: 0.03rem solid rgba(202, 202, 202, 1);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.information_head > img {
    width: 100%;
    border-radius: 0.08rem;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: no-repeat;
}

.information_head_add:before {
    content: '';
    display: block;
    width: 1px;
    height: 0.61rem;
    background: #CACACA;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.information_head_add:after {
    content: '';
    display: block;
    width: 0.61rem;
    height: 1px;
    background: #CACACA;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.information_content {
    padding: 0 0.6rem 1.1rem;
    background: #ffffff;
}

.information_content > .information_item {
    height: 0.99rem;
    line-height: 0.99rem;
    border-bottom: 1px solid #ebebeb;
    align-items: center;
    position: relative;
}

.information_content > .information_item label {
    width: 4rem;
}

.information_content > .information_item input {
    /*width: 4rem;*/
    border: 0;
    position: relative;
    top: 0.16rem;
    padding-left: 0;
}

.information_item .code {
    display: block;
    width: 2rem;
    height: 0.6rem;
    line-height: 0.6rem;
    text-align: center;
    color: #ffffff;
    background: #5D92FE;
    border-radius: 0.08rem;
    position: absolute;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

.information_btn {
    height: 0.78rem;
    line-height: 0.75rem;
    text-align: center;
    border-radius: 0.06rem;
    background: #638BFF;
    font-size: 0.3rem;
    color: #ffffff;
    margin: 0.66rem 0;
}

/*富文本用的css*/
#article-body{
    width: 100%;
    min-height: 300px;
    box-sizing: border-box;
    padding: 10px;
    color: #444;
}

/*发布活动========================结束*/

/*活动详情========================开始*/
.details {
    padding-bottom: 0.2rem;
}

.details_header {
    margin-bottom: 0.2rem;
}

.details_header_top {
    width: 7.5rem;
    height: 6.33rem;
    margin-bottom: 0.2rem;
}

.details_header_img {
    width: 7.5rem;
    height: 4.36rem;
}

.details_header_img img {
    width: 100%;
    height: 100%;
}

.details_header_title {
    width: 100%;
    height: 1.97rem;
    line-height: 0.5rem;
    font-size: 0.36rem;
    background: #ffffff;
    padding: 0.33rem;
}

.details_title_con {
    height: 1rem;
}

.details_sign {
    font-size: 0.28rem;
    color: #666666;
}

.details_sign span {
    color: #FF9A26;
}

.details_header_content {
    padding: 0 0.38rem;
    background: #ffffff;
}

.details_header_content .circle_tiem, .details_header_content .circle_city {
    height: 0.86rem;
    line-height: 0.86rem;
    color: #666666;
    padding-right: 0.6rem;
    border-bottom: 1px solid #EBEBEB;
    background-position: left center;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    position: relative;
}

.details_header_content .circle_city.phone {
    background: url("../image/circle/contacts2x.png") no-repeat left center;
    background-size: 0.23rem 0.26rem;
}

.details_header_content .circle_city > img {
    width: 0.38rem;
    position: absolute;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

.details_comment_enrolled {
    /*min-height: 2.64rem;*/
    background: #ffffff;
    margin: 0.2rem 0 0;
    padding: 0 0.36rem;
}

.details_enrolled_top {
    height: 0.88rem;
    line-height: 0.88rem;
    font-size: 0.28rem;
    border-bottom: 1px solid #EBEBEB;
}

.details_enrolled_top > span:last-child {
    color: #FF9A26;
    font-weight: 500;
    font-size: 0.28rem;
    float: right;
}

.details_enrolled_content {
    padding: 0.3rem 0;
    justify-content: space-between;
}

.details_enrolled_item {
    width: 0.98rem;
    text-align: center;
    color: #666666;
    font-size: 0.24rem;
    line-height: 0.4rem;
}

.details_enrolled_item > img {
    width: 0.98rem;
    border-radius: 50%;
}

.details_comment {
    /*padding: 0 0.36rem;*/
    background: #ffffff;
    margin-top: 0.2rem;
}

.details_comment_title {
    height: 0.88rem;
    line-height: 0.88rem;
    font-size: 0.28rem;
    padding: 0 0.36rem;
    border-bottom: 1px solid #EBEBEB;
}

.details_comment_top {
    padding: 0.3rem 0.36rem;
}

.details_comment_top img {
    width: 0.98rem;
    border-radius: 50%;
    margin-right: 0.15rem;
    vertical-align: middle;
}

.details_comment_top > input[type="text"] {
    width: 5.5rem;
    height: 0.64rem;
    font-size: 0.28rem;
}

.details_item_top {
    padding: 0rem 0.36rem 0;
    color: #666666;
    font-size: 0.28rem;
}

.details_item_top img {
    width: 0.98rem;
    border-radius: 50%;
    margin-right: 0.15rem;
    vertical-align: middle;
}

.details_item_con {
    padding-left: 1.55rem;
    padding-right: 0.5rem;
}

.details_item_con p {
    font-size: 0.28rem;
    color: #666666;
    margin: 0;
}

.details_item_bottom {
    height: 0.88rem;
    line-height: 0.88rem;
    color: #666666;
    font-size: 0.28rem;
}

.details_item_bottom > div {
    float: right;
}

.details_item_bottom > div span {
    padding-left: 0.4rem;
}

.details_item_bottom > div span:first-child {
    background: url("../image/circle/commit2x.png") no-repeat left center;
    background-size: 0.3rem 0.3rem;
}

.details_item_bottom > div span:last-child {
    background: url("../image/circle/fabulous2x.png") no-repeat left center;
    background-size: 0.3rem 0.3rem;
    margin-left: 0.4rem;
}

.details_item_children {
    padding: 0 0.4rem 0 1.55rem;
    background: #F9F9F9;
}

.details_item_children_top {
    padding: 0.23rem 0 0.1rem;
}

.details_item_children_top img {
    width: 0.5rem;
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 0.2rem;
    color: #666666;
}

.details_item_children_con {
    padding-left: .8rem;
    font-size: 0.22rem;
}

.details_item_children_con div {
    line-height: 0.4rem;
    color: #333333;
}

.details_item_children_con div > span {
    color: #666666;
}

.details_item_children_bottom {
    width: 5.5rem;
    height: 0.52rem;
    background: rgba(231,231,231,1);
    /*margin-bottom: 0.2rem;*/
    box-sizing: border-box;
    padding: 0.07rem 0.2rem;
    font-size: 0.22rem;
    color: #999999;
}

.details_item_children_bottom span:last-child {
    color: #638BFF;
    margin-left: 0.45rem;
}

.details_item_children_footer {
    height: 0.8rem;
    line-height: 0.8rem;
    color: #999999;
    padding-left: .75rem;
}

.details_item_children_footer span:last-child {
    float: right;
}

.details_item_children_footer img {
    width: 0.2rem;
}

.details_comment_footer {
    padding: 0.4rem 0.6rem 0.6rem;
}

.details_comment_footer_btn {
    display: block;
    width: 6.3rem;
    height: 0.78rem;
    line-height: 0.78rem;
    text-align: center;
    color: #ffffff;
    font-size: 0.28rem;
    font-weight: 500;
    background: rgba(99,139,255,1);
    border-radius: 0.08rem;
}

.details_comment_box {
    width: 100%;
    height: 3.27rem;
    padding: 0.2rem 0.24rem 0;
    background: #F9F9F9;
    position: fixed;
    left: 0;
    bottom: 0;
}

.details_comment_box textarea {
    height: 2rem;
    margin: 0;
}

.num_total {
    position: absolute;
    right: 0.5rem;
    bottom: 1.2rem;
}

.num_total span {
    color: #638BFF;
}

.details_comment_box div {
    text-align: right;
    color: #999999;
    font-size: 0.28rem;
    margin-top: 0.2rem;
}

/*zbw   活动详情  样式*/
.notData{
    position: fixed;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);

}
.maskImg{
    display: block;
    width: 2rem;
    height: 2rem;
    margin: 0 auto;
}
.addMask{
    margin: 0.3rem auto 0;
    width:2.9rem;
    height:0.68rem;
    line-height: 0.68rem;
    background:rgba(99,139,255,1);
    border-radius:0.06rem;
    text-align: center;
    color: #ffffff;
    font-size: 0.28rem;
    font-weight: 500;
}

/*底部弹框*/
.bottom-medal{
    width: 100%;
    background: #ffffff;
    position: fixed;
    left: 0;
    bottom: -3rem;

}
.medalTitle{
    height: 0.4rem;
    line-height: 0.4rem;
    color: #333333;
    font-size: 0.26rem;
    text-align: center;
}
.modulList{
    align-items: center;
    padding: 0 0.3rem;
}
.modulListBox{
    width: 1rem;
    margin-right: 0.1rem;
}
.cancle{
    margin: 0 0.3rem;
    width: 100%;
    height: 0.4rem;
    line-height: 0.4rem;
    color: #666666;
    border-radius: 0.04rem;
    text-align: center;
    border: 1px solid #ebebeb;
}
/*   活动详情 文本框*/
.activeAddImg{
    display: block;
}
.textBox{
    background: #ffffff;
    padding: 0 0.2rem ;
}
.addText{
    width:7rem;
    margin: 0 auto;
    height: 1.6rem;
    border: 2px solid #5D92FE;
    -webkit-border-radius: 0.06rem;
    -moz-border-radius: 0.06rem;
    border-radius: 0.06rem;
    font-size: 0.28rem;
    color: #333333;
    font-weight: 400;
    position: relative;
}
.imgAdd{
    display: block;
    width: 0.4rem;
    height: 0.4rem;
    margin: 0.2rem auto;
}
.imgDel{
    position: absolute;
    left: 0.1rem;
    bottom: 0.1rem;
    display: block;
    width: 0.2rem;
    height: 0.2rem;
}

.details_edit {
    height: 1.10rem;
    line-height: 1.10rem;
    text-align: center;
    font-size: 0.28rem;
    color: #ffffff;
}

.details_edit > div:first-child {
    flex: 50%;
    height: 100%;
    background: #FFA300;
}

.details_edit > div:last-child {
    flex: 50%;
    height: 100%;
    background: #638BFF;
}


/*活动详情========================结束*/

/*电子票==========================开始*/
.E_ticket {
    padding: 0.39rem 0.34rem 1rem;
}

.E_ticket_head {
    padding-left: 0.04rem;
    border-bottom: 1px solid #EBEBEB;
}

.E_ticket_head p {
    color: #666666;
    font-size: 0.28rem;
}

.E_ticket_head_title {
    color: #666666;
    font-size: 0.36rem;
}

.E_ticket_head_title p {
    line-height: 1rem;
}

.E_ticket_QR_code {
    padding-top: 0.6rem;
    border-bottom: 1px solid #EBEBEB;
}

.E_ticket_QR_code p {
    text-align: center;
}

.E_ticket_status {
    width: 1.02rem;
    height: 0.42rem;
    line-height: 0.42rem;
    text-align: center;
    background: rgba(217,227,255,1);
    border-radius: 0.04rem;
    color: #638BFF;
    font-size: 0.24rem;
    margin: 0.24rem auto 0.3rem;
}

.E_ticket_bottom {
    padding: 0.31rem 0.04rem;
}

.E_ticket_bottom img {
    width: 1.48rem;
    height: 1.48rem;
    margin-right: 0.2rem;
}

.E_ticket_bottom_title {
    height: 50%;
    font-size: 0.28rem;
    color: #333333;
}

.E_ticket_bottom_time, .E_ticket_bottom_city {
    font-size: 0.24rem;
    color: #666666;
}

.E_ticket_bottom_btn {
    width: 6.30rem;
    height: 0.78rem;
    line-height: 0.78rem;
    text-align: center;
    margin: 0.75rem auto;
    background: rgba(99,139,255,1);
    border-radius: 0.08rem;
    color: #ffffff;
    font-size: 0.3rem;
    font-weight: 500;
}
/*电子票==========================结束*/




