
.add_activities_header {
    width: 100%;
    height: 0.92rem;
    line-height: 0.92rem;
    background: #ffffff;
    font-size: 0.28rem;
    color: #333333;
    border-bottom: 1px solid #EAEAEA;
}

.add_activities_header div {
    flex: 25%;
    text-align: center;
}

.add_activities_header div span {
    position: relative;
}

.add_activities_header div span.active {
    color: #638BFF;
}

.add_activities_header div span.active:after {
    content: '';
    display: block;
    width: 100%;
    height: 0.04rem;
    background: #638BFF;
}