<div id="contacts">
    <div class="contacts_main">
        <div class="contacts_main_item cssFlex"
             v-for="(item, index) in list" :key="index"
             @click="linkHandle(item.pid_accept, item.pid_send, item.t_key)">
            <div class="contacts_item_left"><img :src="item.p_icon.split(',')[0]" alt=""></div>
            <div class="contacts_item_con">
                <div>
                    <span>{{item.p_name}} </span>
                    {{item.c_name}}·{{item.z_user_job}}
                </div>
                <span>您好，我想应聘贵公司的运营经理,我有丰富的工作经验</span>
            </div>
            <div class="contacts_item_right">昨天</div>
        </div>
    </div>

    <div class="basics" v-if="list.length <= 0">
        <img src="../../../image/chat/contacts.png" alt="">
        <div>还没有和你联系的伯乐，快去主动联系TA吧！</div>
    </div>
</div>
