<div id="interested">
    <div class="interested_main">
        <div class="contacts_main_item cssFlex">
            <div class="contacts_item_left"><img src="../../../image/pro.png" alt=""></div>
            <div class="interested_item_con">
                <div>
                    <span>赵女士 </span>
                </div>
                <span>北京天久共享控股集团·人力资源hr主管经理</span>
                <div>收藏了你的简历</div>
            </div>
            <div class="interested_item_right" @click="handleClick()">
                <span class="interested_btn">
                    TA的职位
                </span>
            </div>
        </div>
    </div>

    <div class="interested_mask" v-if="interestedMask">
        <div class="contacts_main_item border0 cssFlex">
            <div class="contacts_item_left"><img src="../../../image/pro.png" alt=""></div>
            <div class="interested_item_con">
                <div>
                    <span>赵女士 </span>
                </div>
                <span>北京天久共享控股集团·人力资源hr主管经理</span>
                <div>收藏了你的简历</div>
            </div>
        </div>
        <div class="interested_mask_ta">TA的职位</div>

        <div class="interested_mask_con">
            <div class="interested_mask_item cssFlex">
                <div class="interested_mask_item_left">
                    <div class="interested_mask_item_top">运营经理</div>
                    <div class="interested_mask_item_bottom">
                        <span>北京-朝阳区-望京 </span>
                        <span>3-5年 </span>
                        <span>本科 </span>
                    </div>
                </div>
                <div class="interested_mask_item_right">20k-30k</div>
            </div>

            <div class="interested_mask_item cssFlex">
                <div class="interested_mask_item_left">
                    <div class="interested_mask_item_top">运营经理</div>
                    <div class="interested_mask_item_bottom">
                        <span>北京-朝阳区-望京 </span>
                        <span>3-5年 </span>
                        <span>本科 </span>
                    </div>
                </div>
                <div class="interested_mask_item_right">20k-30k</div>
            </div>
        </div>
    </div>

    <div class="basics" v-if="interestedMask">
        <img src="../../../image/chat/interested.png" alt="">
        <div>还没有对你感兴趣的伯乐，快去主动联系TA吧！</div>
    </div>
</div>
