<!DOCTYPE html>
<html lang="en" class="commonBg">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>我的订单</title>
    <link rel="stylesheet" href="../../css/api.css"/>
    <link rel="stylesheet" href="../../css/commonWin.css"/>
    <link rel="stylesheet" href="../../css/myOrderCommon.css"/>
    <link rel="stylesheet" href="../../css/mui.min.css">
    <style>

        .Box{
            margin: 0.1rem 0.24rem 0.28rem 0.24rem !important;
        }



    </style>
</head>
<body class="commonBg">

<div class="Box" id="app1">

    <!--全部订单-->
    <div class="new">
        <!--<div :class="listall.length == 0 ? 'queDiv' : 'isDisplay'">暂无数据</div>-->
        <div  :class="listall.length == 0 ? '' : 'isDisplay'">
            <div class="notImg">
                <img src="../../image/myfa.png" alt="du" class="notImgMy">
            </div>
            <div class="notMyConText">您没有相关浏览足迹！</div>
        </div>
        <div class="comBox" v-for="(item,index) in listall" :key="index">


            <div class="comtile">
                <span class="commonFont comtileText">{{item.time}}</span>
            </div>
            <!--面膜类型-->
            <div class="comMain cssFlex" @click="goodInfoClick(item.cid,item.tId)" v-show="item.tId == 1">
                <img :src="item.placard.split(',')[0]" alt="orderImg"class="comLeftImg">
                <div class="comContent">
                    <div class="comProTet textOverflow commonFont">
                        {{item.comName}}
                    </div>
                    <div class="comProTet textOverflow commonSub24">
                        {{item.summary}}
                    </div>
                    <div class="comPrice commonTitle">
                        <i class="priceColorWei">¥{{item.price}}/件</i>
                    </div>
                </div>
            </div>
            <!--农产品类型-->
            <div class="comMain cssFlex" @click="goodInfoClick(item.cid,item.tId)" v-show="item.tId == 5">
                <img :src="item.placard.split(',')[0]" alt="orderImg"class="comLeftImg">
                <div class="comContent">
                    <div class="comProTet textOverflow commonFont">
                        {{item.comName}}
                    </div>
                    <div class="comProTet textOverflow commonSub24">
                        {{item.summary}}
                    </div>
                    <div class="comPrice commonTitle">
                        <i class="priceColorWei">¥{{item.price}}/件</i>
                    </div>
                </div>
            </div>
            <!--旅游   类型-->
            <div class="comMain cssFlex" @click="goodInfoClick(item.cid,item.tId)"  v-show="item.tId == 2">
                <img :src="item.placard.split(',')[0]" alt="orderImg"class="comLeftImg">
                <div class="comContent">
                    <div class="comProTet textOverflow commonFont">
                        {{item.comName}}
                    </div>

                    <div class="comPrice commonTitle">
                        <i class="priceColorWei">¥{{item.price}}</i>元
                    </div>
                </div>
            </div>
            <!--旅游   类型-->
            <div class="comMain cssFlex" @click="goodInfoClick(item.cid,item.tId)"  v-show="item.tId == 3">
                <img :src="item.placard.split(',')[0]" alt="orderImg"class="comLeftImg">
                <div class="comContent">
                    <div class="comProTet textOverflow commonFont">
                        {{item.comName}}
                    </div>

                    <div class="comPrice commonTitle">
                        <i class="priceColorWei">¥{{item.price}}</i>元
                    </div>
                </div>
            </div>

        </div>

    </div>

    <!--<div class="new" v-show="active == 'all'">
        &lt;!&ndash;<div :class="listall.length == 0 ? 'queDiv' : 'isDisplay'">暂无数据</div>&ndash;&gt;
        <div  :class="listall.length == 0 ? '' : 'isDisplay'">
            <div class="notImg">
                <img src="../../image/myfa.png" alt="du" class="notImgMy">
            </div>
            <div class="notMyConText">您没有相关订单！</div>
        </div>
        <div class="comBox" v-for="(item,index) in listall" :key="index">

            <div class="comtile">
                <span class="commonFont comtileText">{{item.time}}</span>
            </div>

            &lt;!&ndash;面膜类型&ndash;&gt;
            <div class="comMain cssFlex" @click="goodInfoClick(item.cid)">
                <img :src="item.placard.split(',')[0]" alt="orderImg"class="comLeftImg">
                <div class="comContent">
                    <div class="comProTet textOverflow commonFont">
                        {{item.com_name}}
                    </div>
                    <div class="comProTet textOverflow commonSub24">
                        {{item.summary}}
                    </div>
                    <div class="comPrice commonTitle">
                        <i class="priceColorWei">¥{{item.dprice}}/件</i> <i class="commonFont">x{{item.buyNum}}</i>
                    </div>
                </div>
            </div>
            &lt;!&ndash;旅游   类型&ndash;&gt;
            &lt;!&ndash;<div class="comMain cssFlex" @click="goodInfoClick(item.oId,item.cId,item.bId,item.adrStatus,item.tId)"  v-show="item.tId == 2">
                <img :src="orderImg" alt="orderImg"class="comLeftImg">
                <div class="comContent">
                    <div class="comProTet textOverflow commonFont">
                        {{item.com_name}}
                    </div>

                    <div class="comPrice commonTitle">
                        <i class="priceColorWei">¥{{item.dprice}}</i>元
                    </div>
                </div>
            </div>&ndash;&gt;


        </div>

    </div>-->
</div>




<!--<script src="https://cdn.bootcss.com/eruda/1.2.6/eruda.js"></script>
<script>eruda.init();</script>-->
<script type="text/javascript" src="../../script/api.js"></script>
<script type="text/javascript" src="../../script/rem.js"></script>
<script type="text/javascript" src="../../script/apiCloud.js"></script>
<script type="text/javascript" src="../../script/public.js"></script>
<script type="text/javascript" src="../../script/data.js"></script>
<script type="text/javascript" src="../../script/mui.min.js"></script>
<script type="text/javascript" src="../../script/vue.min.js"></script>

<script>
    var uid,Htmlname;
    apiready = function () {
        Htmlname = api.pageParam.activeName
        uid = localStorage.getItem("person_id");
        //console.log("uid",uid)
        new Vue({
            el: '#app1',
            data: {
                person_id:'',
                listall: [],
                listpay: [],
                listnotpay: [],
                listwait: [],
                liststar: [],
                htmlname :Htmlname,
                active: '',
                status: 1,
                orderImg: "../../image/chat/touxiangm.png",
                payStatus:1,    //支付状态
                goodsStatus:1,  //商品状态
                fareStatus:1,    //  是否 有  运费状态
                gootBtnStatus:1,    //  商品 按钮

            },

            created: function () {
                this.person_id = uid
                this.Queryhistory()
            },
            mounted : function (){

            },
            methods: {
                Queryhistory : function (name,index) {
                    var that = this
                    that.active = name
                    var obj = {
                        pid : that.person_id
                    }
                    ajaxGetWithProgress(Queryhistory,obj,function (data) {
                        //console.log("Queryhistory",data)
                        that.listall = data.history;
                    })
                },

                //  商品详情
                goodInfoClick : function (cid,tId) {
                    if (tId == 1){
                        openNewWindow("index", "../user/great/facial/index.html",{
                            cid : cid,
                            tId : tId,
                        })
                    } else if (tId == 2){
                        openNewWindow("index", "../user/great/ouou/index.html",{
                            ouId : cid,
                            tId : tId,
                        });
                    }else if (tId == 3){
                        openNewWindow("index", "../user/great/hourse/index.html",{
                            hourseId : cid,
                            tId : tId,
                        });
                    }else if (tId == 5){
                        openNewWindow("index", "../user/great/farmProduce/index.html",{
                            cid : cid,
                            tId : tId,
                        });
                    }

                },

            }
        })
    };

</script>
</body>
</html>
