<!DOCTYPE html>
<html lang="en" class="commonBg">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>我的订单</title>
    <link rel="stylesheet" href="../../css/api.css"/>
    <link rel="stylesheet" href="../../css/commonWin.css"/>
    <link rel="stylesheet" href="../../css/myOrderCommon.css"/>
    <link rel="stylesheet" href="../../css/mui.min.css">
    <style>

        .Box{
            margin: 0.1rem 0.24rem 0.28rem 0.24rem !important;
        }



    </style>
</head>
<body class="commonBg">

<div class="Box" id="app1">
    <div class="resume_main">
        <div class="resume_main_hander cssFlex">
            <span @click="orderAll('all', 1)" :class="active == 'all' ? 'active' : ''">全部订单</span>
            <span @click="orderNotPay('notpay',5)" :class="active == 'notpay' ? 'active' : ''">待付款</span>
            <span @click="orderPay('pay',2)" :class="active == 'pay' ? 'active' : ''">待发货</span>
            <span @click="orderWait('wait', 3)" :class="active == 'wait' ? 'active' : ''">待收货</span>
            <span @click="orderStar('star', 4)" :class="active == 'star' ? 'active' : ''">待评价</span>
        </div>
    </div>
    <div class="line20"></div>
    <!--全部订单-->
    <div class="new" v-show="active == 'all'">
        <!--<div :class="listall.length == 0 ? 'queDiv' : 'isDisplay'">暂无数据</div>-->
        <div  :class="listall.length == 0 ? '' : 'isDisplay'">
            <div class="notImg">
                <img src="../../image/myfa.png" alt="du" class="notImgMy">
            </div>
            <div class="notMyConText">您没有相关订单！</div>
        </div>
        <div class="comBox" v-for="(item,index) in listall" :key="index">
            <div class="comtile" v-show="item.orderStatus == 1">
                <span class="commonFont comtileText" v-show="item.adrStatus == 1">买家已付款</span>
                <span class="commonFont comtileText" v-show="item.adrStatus == 2">待收货</span>
                <span class="commonFont comtileText" v-show="item.adrStatus == 3">待评价</span>
                <span class="commonFont comtileText" v-show="item.adrStatus == 4">已评价</span>
                <span class="commonFont comtileText" v-show="item.adrStatus == 5">退款成功</span>
            </div>

            <div class="comtile" v-show="item.orderStatus == 0">
                <span class="commonFont comtileText" v-show="item.orderStatus == 0">待付款</span>
            </div>

            <!--面膜类型-->
            <div class="comMain cssFlex" @click="goodInfoClick(item.oId,item.cId,item.bId,item.adrStatus,item.tId)"  v-show="item.tId == 1">
                <img :src="item.placard.split(',')[0]" alt="orderImg"class="comLeftImg">
                <div class="comContent">
                    <div class="comProTet textOverflow commonFont">
                        {{item.com_name}}
                    </div>
                    <div class="comProTet textOverflow commonSub24">
                        {{item.summary}}
                    </div>
                    <div class="comPrice commonTitle">
                        <i class="priceColorWei">¥{{item.dprice}}/件</i> <i class="commonFont">x{{item.buyNum}}</i>
                    </div>
                </div>
            </div>
            <!--面膜类型-->
            <div class="comMain cssFlex" @click="goodInfoClick(item.oId,item.cId,item.bId,item.adrStatus,item.tId)"  v-show="item.tId == 5">
                <img :src="item.placard.split(',')[0]" alt="orderImg"class="comLeftImg">
                <div class="comContent">
                    <div class="comProTet textOverflow commonFont">
                        {{item.com_name}}
                    </div>
                    <div class="comProTet textOverflow commonSub24">
                        {{item.summary}}
                    </div>
                    <div class="comPrice commonTitle">
                        <i class="priceColorWei">¥{{item.dprice}}/件</i> <i class="commonFont">x{{item.buyNum}}</i>
                    </div>
                </div>
            </div>
            <!--旅游   类型-->
            <div class="comMain cssFlex" @click="goodInfoClick(item.oId,item.cId,item.bId,item.adrStatus,item.tId)"  v-show="item.tId == 2">
                <img :src="orderImg" alt="orderImg"class="comLeftImg">
                <div class="comContent">
                    <div class="comProTet textOverflow commonFont">
                        {{item.com_name}}
                    </div>

                    <div class="comPrice commonTitle">
                        <i class="priceColorWei">¥{{item.dprice}}</i>元
                    </div>
                </div>
            </div>
            <!--面膜类型-->
            <div class="comConPrice commonFont" v-show="item.tId == 1" v-if="item.orderStatus == 1">
                实付：<i class="priceColor">¥{{item.priceAll}}</i>
                <i v-show="item.freight == 1">（免运费）</i>
                <i v-show="item.freight == 2">（有运费）</i>
            </div>
            <div v-else></div>
            <!--旅游   类型-->
            <div class="comConPrice" v-show="item.tId == 2"  v-if="item.orderStatus == 1">
                实付：<i class="priceColor">¥{{item.priceAll}}</i>
            </div>
            <div v-else></div>
            <!--已支付-->
            <div class="comGoodBtn margibottom cssFlex" v-show="item.adrStatus == 1">
                <span class="comBtnClass" @click="RemindClick(item.delStatus,item.bId)" v-show="item.delStatus == 0">提醒发货</span>
                <span class="comBtnClass" v-show="item.delStatus == 1">已提醒发货</span>
                <!--<span class="comBtnClass comBtnClassBF" @click="starOrderClick(item.pId,item.cId,item.bId)">立即评价</span>-->
            </div>

            <!--未支付-->
            <div class="comGoodBtn margibottom cssFlex" v-show="item.orderStatus == 0">
                <span class="comBtnClass comBtnClassBF" @click="payGoClick(item)">去付款</span>
            </div>

            <!--待收货-->
            <div class="comGoodBtnBox margibottom" v-show="item.adrStatus == 2">
                <div class="comGoodBtn margibottom cssFlex">
                    <!--<span class="comBtnClass" @click="seeFareClick()">查看物流</span>-->
                    <span class="comBtnClass comBtnClassFE" @click="confirmClick(item.adrStatus,item.bId)">确认收货</span>
                </div>
                <!--<div class="fareSpeed  commonFont">
                    <i class="fareSpeedName">{{item.express}}：</i>
                    到北京市【北京转运中心】
                </div>-->
            </div>

            <!--待评价-->
            <div class="comGoodBtn margibottom cssFlex" v-show="item.adrStatus == 3">
                <span class="comBtnClass" @click="delOrderClick(item.bId,item.oId)">删除订单</span>
                <!--<span class="comBtnClass" @click="seeFareClick()">查看物流</span>-->
                <span class="comBtnClass" @click="againPayClick()">再次购买</span>
                <span class="comBtnClass comBtnClassBF" @click="starOrderClick(item.pId,item.cId,item.bId)">立即评价</span>
            </div>

            <!--已评价-->
            <div class="comGoodBtn margibottom cssFlex" v-show="item.adrStatus == 4">
                <span class="comBtnClass" @click="delOrderClick(item.bId,item.oId)">删除订单</span>
                <!--<span class="comBtnClass" @click="seeFareClick()">查看物流</span>-->
                <span class="comBtnClass" @click="againPayClick()">再次购买</span>
            </div>

            <!--退款成功-->
            <div class="comGoodBtn margibottom cssFlex" v-show="item.adrStatus == 5">
                <span class="comBtnClass" @click="delOrderClick(item.bId,item.oId)">删除订单</span>
                <span class="comBtnClass">钱款去向</span>
            </div>


            <div class="line20"></div>

        </div>

    </div>
    <!--待支付-->
    <div class="new" v-show="active == 'notpay'">
        <!--<div :class="listnotpay.length == 0 ? 'queDiv' : 'isDisplay'">暂无数据</div>-->
        <div  :class="listnotpay.length == 0 ? '' : 'isDisplay'">
            <div class="notImg">
                <img src="../../image/myfa.png" alt="du" class="notImgMy">
            </div>
            <div class="notMyConText">您没有相关订单！</div>
        </div>
        <div class="comBox" v-for="(item,index) in listnotpay" :key="index">
            <div class="comtile" v-show="item.orderStatus == 1">

                <span class="commonFont comtileText" v-show="item.adrStatus == 1">买家已付款</span>
                <span class="commonFont comtileText" v-show="item.adrStatus == 2">待收货</span>
                <span class="commonFont comtileText" v-show="item.adrStatus == 3">待评价</span>
                <span class="commonFont comtileText" v-show="item.adrStatus == 4">已评价</span>
                <span class="commonFont comtileText" v-show="item.adrStatus == 5">退款成功</span>

            </div>

            <div class="comtile" v-show="item.orderStatus == 0">
                <span class="commonFont comtileText" v-show="item.orderStatus == 0">待付款</span>
            </div>

            <!--面膜类型-->
            <div class="comMain cssFlex" @click="goodInfoClick(item.oId,item.cId,item.bId,item.adrStatus,item.tId)"   v-show="item.tId == 1">
                <img :src="item.placard.split(',')[0]" alt="orderImg"class="comLeftImg">
                <div class="comContent">
                    <div class="comProTet textOverflow commonFont">
                        {{item.com_name}}
                    </div>
                    <div class="comProTet textOverflow commonSub24">
                        {{item.summary}}
                    </div>
                    <div class="comPrice commonTitle">
                        <i class="priceColorWei">¥{{item.dprice}}/件</i> <i class="commonFont">x{{item.buyNum}}</i>
                    </div>
                </div>
            </div>
            <!--旅游   类型-->
            <div class="comMain cssFlex" @click="goodInfoClick(item.oId,item.cId,item.bId,item.adrStatus,item.tId)"  v-show="item.tId == 2">
                <img :src="orderImg" alt="orderImg"class="comLeftImg">
                <div class="comContent">
                    <div class="comProTet textOverflow commonFont">
                        {{item.com_name}}
                    </div>

                    <div class="comPrice commonTitle">
                        <i class="priceColorWei">¥{{item.dprice}}</i>元
                    </div>
                </div>
            </div>

            <!--  农产品  类型-->
            <div class="comMain cssFlex" @click="goodInfoClick(item.oId,item.cId,item.bId,item.adrStatus,item.tId)"  v-show="item.tId == 5">

                <img :src="orderImg" alt="orderImg"class="comLeftImg">
                <div class="comContent">
                    <div class="comProTet textOverflow commonFont">
                        {{item.com_name}}
                    </div>
                    <div class="comProTet textOverflow commonSub24">
                        {{item.summary}}
                    </div>
                    <div class="comPrice commonTitle">
                        <i class="priceColorWei">¥{{item.dprice}}</i>元 <i class="commonFont">x{{item.buyNum}}</i>
                    </div>
                </div>
            </div>



            <!--面膜类型-->
            <div class="comConPrice commonFont" v-show="item.tId == 1" v-if="item.orderStatus == 1">
                实付：<i class="priceColor">¥{{item.priceAll}}</i>
                <i v-show="item.freight == 1">（免运费）</i>
                <i v-show="item.freight == 2">（有运费）</i>
            </div>
            <div v-else></div>
            <!--旅游   类型-->
            <div class="comConPrice" v-show="item.tId == 2"  v-if="item.orderStatus == 1">
                实付：<i class="priceColor">¥{{item.priceAll}}</i>
            </div>
            <div v-else></div>
            <!--已支付-->
            <div class="comGoodBtn margibottom cssFlex" v-show="item.adrStatus == 1">
                <span class="comBtnClass" @click="RemindClick(item.delStatus,item.bId)" v-show="item.delStatus == 0">提醒发货</span>
                <span class="comBtnClass" v-show="item.delStatus == 1">已提醒发货</span>
            </div>

            <!--未支付-->
            <div class="comGoodBtn margibottom cssFlex" v-show="item.orderStatus == 0">
                <span class="comBtnClass comBtnClassBF" @click="payGoClick()">去付款</span>
            </div>

            <!--待收货-->
            <div class="comGoodBtnBox margibottom" v-show="item.adrStatus == 2">
                <div class="comGoodBtn margibottom cssFlex">
                    <!--<span class="comBtnClass" @click="seeFareClick()">查看物流</span>-->
                    <span class="comBtnClass comBtnClassBF" @click="payGoClick()">去付款</span>
                    <span class="comBtnClass comBtnClassFE" @click="confirmClick(item.adrStatus,item.bId)">确认收货</span>
                </div>
                <div class="fareSpeed  commonFont">
                    <i class="fareSpeedName">{{item.express}}：</i>
                    到北京市【北京转运中心】
                </div>
            </div>

            <!--待评价-->
            <div class="comGoodBtn margibottom cssFlex" v-show="item.adrStatus == 3">
                <span class="comBtnClass" @click="delOrderClick(item.bId,item.oId)">删除订单</span>
                <!--<span class="comBtnClass" @click="seeFareClick()">查看物流</span>-->
                <span class="comBtnClass" @click="againPayClick()">再次购买</span>
                <span class="comBtnClass comBtnClassBF" @click="starOrderClick(item.pId,item.cId,item.bId)">立即评价</span>
            </div>

            <!--已评价-->
            <div class="comGoodBtn margibottom cssFlex" v-show="item.adrStatus == 4">
                <span class="comBtnClass" @click="delOrderClick(item.bId,item.oId)">删除订单</span>
                <!--<span class="comBtnClass" @click="seeFareClick()">查看物流</span>-->
                <span class="comBtnClass" @click="againPayClick()">再次购买</span>
            </div>

            <!--退款成功-->
            <div class="comGoodBtn margibottom cssFlex" v-show="item.adrStatus == 5">
                <span class="comBtnClass" @click="delOrderClick(item.bId,item.oId)">删除订单</span>
                <span class="comBtnClass">钱款去向</span>
            </div>


            <div class="line20"></div>

        </div>
    </div>
    <!--已支付-->
    <div class="new" v-show="active == 'pay'">
        <!--<div :class="listpay.length == 0 ? 'queDiv' : 'isDisplay'">暂无数据</div>-->
        <div  :class="listpay.length == 0 ? '' : 'isDisplay'">
            <div class="notImg">
                <img src="../../image/myfa.png" alt="du" class="notImgMy">
            </div>
            <div class="notMyConText">您没有相关订单！</div>
        </div>
        <div class="comBox" v-for="(item,index) in listpay" :key="index">
            <div class="comtile" v-show="item.orderStatus == 1">

                <span class="commonFont comtileText" v-show="item.adrStatus == 1">买家已付款</span>
                <span class="commonFont comtileText" v-show="item.adrStatus == 2">待收货</span>
                <span class="commonFont comtileText" v-show="item.adrStatus == 3">待评价</span>
                <span class="commonFont comtileText" v-show="item.adrStatus == 4">已评价</span>
                <span class="commonFont comtileText" v-show="item.adrStatus == 5">退款成功</span>

            </div>

            <div class="comtile" v-show="item.orderStatus == 0">
                <span class="commonFont comtileText" v-show="item.orderStatus == 0">待付款</span>
            </div>

            <!--面膜类型-->
            <div class="comMain cssFlex" @click="goodInfoClick(item.oId,item.cId,item.bId,item.adrStatus,item.tId)"   v-show="item.tId == 1">
                <img :src="item.placard.split(',')[0]" alt="orderImg"class="comLeftImg">
                <div class="comContent">
                    <div class="comProTet textOverflow commonFont">
                        {{item.com_name}}
                    </div>
                    <div class="comProTet textOverflow commonSub24">
                        {{item.summary}}
                    </div>
                    <div class="comPrice commonTitle">
                        <i class="priceColorWei">¥{{item.dprice}}/件</i> <i class="commonFont">x{{item.buyNum}}</i>
                    </div>
                </div>
            </div>
            <!--旅游   类型-->
            <div class="comMain cssFlex" @click="goodInfoClick(item.oId,item.cId,item.bId,item.adrStatus,item.tId)"  v-show="item.tId == 2">
                <img :src="orderImg" alt="orderImg"class="comLeftImg">
                <div class="comContent">
                    <div class="comProTet textOverflow commonFont">
                        {{item.com_name}}
                    </div>

                    <div class="comPrice commonTitle">
                        <i class="priceColorWei">¥399</i>元
                    </div>
                </div>
            </div>
            <!--面膜类型-->
            <div class="comConPrice commonFont" v-show="item.tId == 1" v-if="item.orderStatus == 1">
                实付：<i class="priceColor">¥{{item.priceAll}}</i>
                <i v-show="item.freight == 1">（免运费）</i>
                <i v-show="item.freight == 2">（有运费）</i>
            </div>
            <div v-else></div>
            <!--旅游   类型-->
            <div class="comConPrice" v-show="item.tId == 2"  v-if="item.orderStatus == 1">
                实付：<i class="priceColor">¥{{item.priceAll}}</i>
            </div>
            <div v-else></div>
            <!--已支付-->
            <div class="comGoodBtn margibottom cssFlex" v-show="item.adrStatus == 1">
                <span class="comBtnClass" @click="RemindClick(item.delStatus,item.bId)" v-show="item.delStatus == 0">提醒发货</span>
                <span class="comBtnClass" v-show="item.delStatus == 1">已提醒发货</span>
            </div>

            <!--未支付-->
            <div class="comGoodBtn margibottom cssFlex" v-show="item.orderStatus == 0">
                <span class="comBtnClass comBtnClassBF" @click="payGoClick()">去付款</span>
            </div>

            <!--待收货-->
            <div class="comGoodBtnBox margibottom" v-show="item.adrStatus == 2">
                <div class="comGoodBtn margibottom cssFlex">
                    <!--<span class="comBtnClass" @click="seeFareClick()">查看物流</span>-->
                    <span class="comBtnClass comBtnClassBF" @click="payGoClick()">去付款</span>
                    <span class="comBtnClass comBtnClassFE" @click="confirmClick(item.adrStatus,item.bId)">确认收货</span>
                </div>
                <div class="fareSpeed  commonFont">
                    <i class="fareSpeedName">申通快递：</i>
                    到北京市【北京转运中心】
                </div>
            </div>

            <!--待评价-->
            <div class="comGoodBtn margibottom cssFlex" v-show="item.adrStatus == 3">
                <span class="comBtnClass" @click="delOrderClick(item.bId,item.oId)">删除订单</span>
                <!--<span class="comBtnClass" @click="seeFareClick()">查看物流</span>-->
                <span class="comBtnClass" @click="againPayClick()">再次购买</span>
                <span class="comBtnClass comBtnClassBF" @click="starOrderClick(item.pId,item.cId,item.bId)">立即评价</span>
            </div>

            <!--已评价-->
            <div class="comGoodBtn margibottom cssFlex" v-show="item.adrStatus == 4">
                <span class="comBtnClass" @click="delOrderClick(item.bId,item.oId)">删除订单</span>
                <!--<span class="comBtnClass" @click="seeFareClick()">查看物流</span>-->
                <span class="comBtnClass" @click="againPayClick()">再次购买</span>
            </div>

            <!--退款成功-->
            <div class="comGoodBtn margibottom cssFlex" v-show="item.adrStatus == 5">
                <span class="comBtnClass" @click="delOrderClick(item.bId,item.oId)">删除订单</span>
                <span class="comBtnClass">钱款去向</span>
            </div>


            <div class="line20"></div>

        </div>
    </div>
    <!--待收货-->
    <div class="new" v-show="active == 'wait'">

        <!--<div :class="listwait.length == 0 ? 'queDiv' : 'isDisplay'">暂无数据</div>-->
        <div  :class="listwait.length == 0 ? '' : 'isDisplay'">
            <div class="notImg">
                <img src="../../image/myfa.png" alt="du" class="notImgMy">
            </div>
            <div class="notMyConText">您没有相关订单！</div>
        </div>
        <div class="comBox" v-for="(item,index) in listwait" :key="index">
            <div class="comtile" v-show="item.orderStatus == 1">

                <span class="commonFont comtileText" v-show="item.adrStatus == 1">买家已付款</span>
                <span class="commonFont comtileText" v-show="item.adrStatus == 2">待收货</span>
                <span class="commonFont comtileText" v-show="item.adrStatus == 3">待评价</span>
                <span class="commonFont comtileText" v-show="item.adrStatus == 4">已评价</span>
                <span class="commonFont comtileText" v-show="item.adrStatus == 5">退款成功</span>

            </div>

            <div class="comtile" v-show="item.orderStatus == 0">
                <span class="commonFont comtileText" v-show="item.orderStatus == 0">待付款</span>
            </div>

            <!--面膜类型-->
            <div class="comMain cssFlex" @click="goodInfoClick(item.oId,item.cId,item.bId,item.adrStatus,item.tId)"   v-show="item.tId == 1">
                <img :src="item.placard.split(',')[0]" alt="orderImg"class="comLeftImg">
                <div class="comContent">
                    <div class="comProTet textOverflow commonFont">
                        {{item.com_name}}
                    </div>
                    <div class="comProTet textOverflow commonSub24">
                        {{item.summary}}
                    </div>
                    <div class="comPrice commonTitle">
                        <i class="priceColorWei">¥{{item.dprice}}/件</i> <i class="commonFont">x{{item.buyNum}}</i>
                    </div>
                </div>
            </div>
            <!--旅游   类型-->
            <div class="comMain cssFlex" @click="goodInfoClick(item.oId,item.cId,item.bId,item.adrStatus,item.tId)"  v-show="item.tId == 2">
                <img :src="item.placard.split(',')[0]" alt="orderImg"class="comLeftImg">
                <div class="comContent">
                    <div class="comProTet textOverflow commonFont">
                        {{item.com_name}}
                    </div>
                    <div class="comProTet textOverflow commonSub24">
                        {{item.summary}}
                    </div>
                    <div class="comPrice commonTitle">
                        <i class="priceColorWei">¥399</i>元
                    </div>
                </div>
            </div>
            <!--面膜类型-->
            <div class="comConPrice commonFont" v-show="item.tId == 1" v-if="item.orderStatus == 1">
                实付：<i class="priceColor">¥{{item.priceAll}}</i>
                <i v-show="item.freight == 1">（免运费）</i>
                <i v-show="item.freight == 2">（有运费）</i>
            </div>
            <div v-else></div>
            <!--旅游   类型-->
            <div class="comConPrice" v-show="item.tId == 2"  v-if="item.orderStatus == 1">
                实付：<i class="priceColor">¥{{item.priceAll}}</i>
            </div>
            <div v-else></div>
            <!--已支付-->
            <div class="comGoodBtn margibottom cssFlex" v-show="item.adrStatus == 1">
                <span class="comBtnClass" @click="RemindClick(item.delStatus,item.bId)" v-show="item.delStatus == 0">提醒发货</span>
                <span class="comBtnClass" v-show="item.delStatus == 1">已提醒发货</span>
            </div>

            <!--未支付-->
            <div class="comGoodBtn margibottom cssFlex" v-show="item.orderStatus == 0">
                <span class="comBtnClass comBtnClassBF" @click="payGoClick()">去付款</span>
            </div>

            <!--待收货-->
            <div class="comGoodBtnBox margibottom" v-show="item.adrStatus == 2">
                <div class="comGoodBtn margibottom cssFlex">
                    <!--<span class="comBtnClass" @click="seeFareClick()">查看物流</span>-->
                    <span class="comBtnClass comBtnClassBF" @click="payGoClick()">去付款</span>
                    <span class="comBtnClass comBtnClassFE" @click="confirmClick(item.adrStatus,item.bId)">确认收货</span>
                </div>
                <div class="fareSpeed  commonFont">
                    <i class="fareSpeedName">{{item.express}}：</i>
                    到北京市【北京转运中心】
                </div>
            </div>

            <!--待评价-->
            <div class="comGoodBtn margibottom cssFlex" v-show="item.adrStatus == 3">
                <span class="comBtnClass" @click="delOrderClick(item.bId,item.oId)">删除订单</span>
                <!--<span class="comBtnClass" @click="seeFareClick()">查看物流</span>-->
                <span class="comBtnClass" @click="againPayClick()">再次购买</span>
                <span class="comBtnClass comBtnClassBF" @click="starOrderClick(item.pId,item.cId,item.bId)">立即评价</span>
            </div>

            <!--已评价-->
            <div class="comGoodBtn margibottom cssFlex" v-show="item.adrStatus == 4">
                <span class="comBtnClass" @click="delOrderClick(item.bId,item.oId)">删除订单</span>
                <!--<span class="comBtnClass" @click="seeFareClick()">查看物流</span>-->
                <span class="comBtnClass" @click="againPayClick()">再次购买</span>
            </div>

            <!--退款成功-->
            <div class="comGoodBtn margibottom cssFlex" v-show="item.adrStatus == 5">
                <span class="comBtnClass" @click="delOrderClick(item.bId,item.oId)">删除订单</span>
                <span class="comBtnClass">钱款去向</span>
            </div>


            <div class="line20"></div>

        </div>
    </div>
    <!--待评价-->
    <div class="new" v-show="active == 'star'">
        <!--<div :class="liststar.length == 0 ? 'queDiv' : 'isDisplay'">暂无数据</div>-->
        <div  :class="liststar.length == 0 ? '' : 'isDisplay'">
            <div class="notImg">
                <img src="../../image/myfa.png" alt="du" class="notImgMy">
            </div>
            <div class="notMyConText">您没有相关订单！</div>
        </div>
        <div class="comBox" v-for="(item,index) in liststar" :key="index">
            <div class="comtile" v-show="item.orderStatus == 1">

                <span class="commonFont comtileText" v-show="item.adrStatus == 1">买家已付款</span>
                <span class="commonFont comtileText" v-show="item.adrStatus == 2">待收货</span>
                <span class="commonFont comtileText" v-show="item.adrStatus == 3">待评价</span>
                <span class="commonFont comtileText" v-show="item.adrStatus == 4">已评价</span>
                <span class="commonFont comtileText" v-show="item.adrStatus == 5">退款成功</span>

            </div>

            <div class="comtile" v-show="item.orderStatus == 0">
                <span class="commonFont comtileText" v-show="item.orderStatus == 0">待付款</span>
            </div>

            <!--面膜类型-->
            <div class="comMain cssFlex" @click="goodInfoClick(item.oId,item.cId,item.bId,item.adrStatus,item.tId)"   v-show="item.tId == 1">
                <img :src="item.placard.split(',')[0]" alt="orderImg"class="comLeftImg">
                <div class="comContent">
                    <div class="comProTet textOverflow commonFont">
                        {{item.com_name}}
                    </div>
                    <div class="comProTet textOverflow commonSub24">
                        {{item.summary}}
                    </div>
                    <div class="comPrice commonTitle">
                        <i class="priceColorWei">¥{{item.dprice}}/件</i> <i class="commonFont">x{{item.buyNum}}</i>
                    </div>
                </div>
            </div>
            <!--旅游   类型-->
            <div class="comMain cssFlex" @click="goodInfoClick(item.oId,item.cId,item.bId,item.adrStatus,item.tId)"   v-show="item.tId = 2">
                <img :src="item.placard.split(',')[0]" alt="orderImg"class="comLeftImg">
                <div class="comContent">
                    <div class="comProTet textOverflow commonFont">
                        {{item.com_name}}
                    </div>

                    <div class="comPrice commonTitle">
                        <i class="priceColorWei">¥399</i>元
                    </div>
                </div>
            </div>
            <!--面膜类型-->
            <div class="comConPrice commonFont" v-show="item.tId == 1" v-if="item.orderStatus == 1">
                实付：<i class="priceColor">¥{{item.priceAll}}</i>
                <i v-show="item.freight == 1">（免运费）</i>
                <i v-show="item.freight == 2">（有运费）</i>
            </div>
            <div v-else></div>
            <!--旅游   类型-->
            <div class="comConPrice" v-show="item.tId == 2"  v-if="item.orderStatus == 1">
                实付：<i class="priceColor">¥{{item.priceAll}}</i>
            </div>
            <div v-else></div>
            <!--已支付-->
            <div class="comGoodBtn margibottom cssFlex" v-show="item.adrStatus == 1">
                <span class="comBtnClass" @click="RemindClick(item.delStatus,item.bId)" v-show="item.delStatus == 0">提醒发货</span>
                <span class="comBtnClass" v-show="item.delStatus == 1">已提醒发货</span>
            </div>

            <!--未支付-->
            <div class="comGoodBtn margibottom cssFlex" v-show="item.orderStatus == 0">
                <span class="comBtnClass comBtnClassBF" @click="payGoClick()">去付款</span>
            </div>

            <!--待收货-->
            <div class="comGoodBtnBox margibottom" v-show="item.adrStatus == 2">
                <div class="comGoodBtn margibottom cssFlex">
                    <!--<span class="comBtnClass" @click="seeFareClick()">查看物流</span>-->
                    <span class="comBtnClass comBtnClassBF" @click="payGoClick()">去付款</span>
                    <span class="comBtnClass comBtnClassFE" @click="confirmClick(item.adrStatus,item.bId)">确认收货</span>
                </div>
                <div class="fareSpeed  commonFont">
                    <i class="fareSpeedName">{{item.express}}：</i>
                    到北京市【北京转运中心】
                </div>
            </div>

            <!--待评价-->
            <div class="comGoodBtn margibottom cssFlex" v-show="item.adrStatus == 3">
                <span class="comBtnClass" @click="delOrderClick(item.bId,item.oId)">删除订单</span>
                <!--<span class="comBtnClass" @click="seeFareClick()">查看物流</span>-->
                <span class="comBtnClass" @click="againPayClick()">再次购买</span>
                <span class="comBtnClass comBtnClassBF" @click="starOrderClick(item.pId,item.cId,item.bId)">立即评价</span>
            </div>

            <!--已评价-->
            <div class="comGoodBtn margibottom cssFlex" v-show="item.adrStatus == 4">
                <span class="comBtnClass" @click="delOrderClick(item.bId,item.oId)">删除订单</span>
                <!--<span class="comBtnClass" @click="seeFareClick()">查看物流</span>-->
                <span class="comBtnClass" @click="againPayClick()">再次购买</span>
            </div>

            <!--退款成功-->
            <div class="comGoodBtn margibottom cssFlex" v-show="item.adrStatus == 5">
                <span class="comBtnClass" @click="delOrderClick(item.bId,item.oId)">删除订单</span>
                <span class="comBtnClass">钱款去向</span>
            </div>


            <div class="line20"></div>


            <div v-show="liststar.length <=0">暂无数据</div>

        </div>
    </div>


</div>



<!--<script src="https://cdn.bootcss.com/eruda/1.2.6/eruda.js"></script>
<script>eruda.init();</script>-->
<script type="text/javascript" src="../../script/api.js"></script>
<script type="text/javascript" src="../../script/rem.js"></script>
<script type="text/javascript" src="../../script/apiCloud.js"></script>
<script type="text/javascript" src="../../script/public.js"></script>
<script type="text/javascript" src="../../script/data.js"></script>
<script type="text/javascript" src="../../script/mui.min.js"></script>
<script type="text/javascript" src="../../script/vue.min.js"></script>

<script>
    var uid,Htmlname;
    apiready = function () {
        Htmlname = api.pageParam.activeName
        uid = localStorage.getItem("person_id");
        new Vue({
            el: '#app1',
            data: {
                person_id:'',
                listall: [],
                listpay: [],
                listnotpay: [],
                listwait: [],
                liststar: [],
                htmlname :Htmlname,
                active: '',
                status: 1,
                orderImg: "../../image/chat/touxiangm.png",
                payStatus:1,    //支付状态
                goodsStatus:1,  //商品状态
                fareStatus:1,    //  是否 有  运费状态
                gootBtnStatus:1,    //  商品 按钮

            },

            created: function () {
                // this.active = Htmlname
                this.htmlname = Htmlname
                this.person_id = localStorage.getItem("person_id")
                this.orderAll('all', 1)
                if (this.htmlname = 'all'){

                    api.addEventListener({
                        name: 'myorder',
                    }, function(ret, err) {
                        //console.log("ret",ret);
                        this.orderAll('all', 1)

                    });


                }else if (this.htmlname = 'notpay'){
                    api.addEventListener({
                        name: 'myordernotpay',
                    }, function(ret, err) {
                        //console.log("ret",ret);
                        this.orderNotPay('notpay', 5)

                    });


                }else if (this.htmlname = 'pay'){
                    this.orderPay('pay',2)
                }else if (this.htmlname = 'wait'){
                    this.orderWait('wait', 3)
                }else if (this.htmlname = 'star'){

                    this.orderStar('star', 4)
                }

            },
            mounted : function (){
                api.addEventListener({
                    name: 'myorder',
                }, function(ret, err) {
                    //console.log(ret);

                    this.active = 'all';

                });
                api.addEventListener({
                    name: 'myordernotpay',
                }, function(ret, err) {
                    //console.log(ret);

                    this.active = 'notpay';
                    this.orderNotPay('notpay', 5)

                });
            },
            methods: {
                orderAll : function (name,index) {
                    var that = this
                    that.active = name
                    var obj = {
                        pid : that.person_id
                    }
                    ajaxGetWithProgress(allCommodityOrder,obj,function (data) {
                        //console.log("alldata",data)
                        that.listall = data.Order;
                    })
                },
                orderPay : function (name,index) {
                    var that = this
                    that.active = name
                    var obj = {
                        pid : that.person_id
                    }
                    ajaxGetWithProgress(queryPayOrderByPidCommodityProFile,obj,function (data) {
                        //console.log("paydata",data)
                        that.listpay = data.PayOrder;
                    })
                },
                orderNotPay : function (name,index) {
                    var that = this
                    that.active = name
                    var obj = {
                        pid : that.person_id
                    }
                    ajaxGetWithProgress(queryNoOrderByPidCommodityProFile,obj,function (data) {
                        //console.log("orderNotPay",data)
                        that.listnotpay = data.NoOrder;
                    })
                },
                orderWait : function (name,index) {
                    var that = this
                    that.active = name
                    var obj = {
                        pid : that.person_id
                    }
                    ajaxGetWithProgress(takeCommodityOrderCommodityProFile,obj,function (data) {
                        //console.log("orderWait",data)
                        that.listwait = data.TakeOrder;
                    })
                },
                orderStar : function (name,index) {
                    var that = this
                    that.active = name
                    var obj = {
                        pid : that.person_id
                    }
                    ajaxGetWithProgress(evaCommodityOrderCommodityProFile,obj,function (data) {
                        //console.log("orderStar",data)
                        that.liststar = data.EvaOrder;
                    })
                },
                //  商品详情
                goodInfoClick : function (oId,cId,bId,adrStatus,tId) {
                    var that = this
                    openNewWindow("goodInfo", "goodInfo.html",{
                        oId : oId,
                        cId : cId,
                        bId : bId,
                        tId : tId,
                        adrStatus : adrStatus,
                    })
                },
                //  去付款
                payGoClick : function (item) {
                    var that = this
                    toast("付款")
                    //console.log("itemitem",item.bId)

                    if (item.payType == '') {

                        mui.alert('weixin', '提示', function (e) {
                            //console.log(e)
                            if (e.index == 0) {

                            }
                        });

                        return;
                    } else if (item.payType == '支付宝') {
                        var obj = {
                            cId:item.cId,
                            pId: item.person_id,
                            bId: item.bId,
                            buyNum: item.num,
                            price: item.priceh,
                            comName: item.comName,
                            summary: item.summary,
                            payType: "支付宝",
                            adrId : item.adr.name + ',' + item.adr.phone + ',' +item.adr.address+','+ item.adr.addrDetails
                        }
                        //console.log(obj)
                        api.ajax({

                            url: 'http://192.168.1.30:8088/pay/GoPayOrder',  //url+模块
                            // url: 'http://192.168.1.30:8088/pay/GoPayOrder',  //url+模块

                            method: 'GET',
                            dataType: 'text',
                            timeout: 30,
                            data: {
                                values: obj
                            }
                        }, function (ret, err) {
                            //开发者通过 payOrder 方法来进行支付，自己处理订单信息以及签名过程
                            //console.log("自己处理订单信息以及签名过程请求:", ret);
                            var aliPayPlus = api.require('aliPayPlus');
                            aliPayPlus.payOrder({
                                orderInfo: ret,
                                // orderInfo: 'alipay_sdk=alipay-sdk-java-3.7.89.ALL&app_id=2019081266240052&biz_content={"body":"2332323",out_trade_no":"281085431578099714","product_code":"QUICK_MSECURITY_PAY","subject":"454545","timeout_express":"30m","total_amount":"1"}&charset=utf-8&format=JSON&method=alipay.trade.app.pay&notify_url=http://112.126.98.172:8081/alipayChannel/pay/notice&return_url=https://m.alipay.com/Gk8NF23&sign=WcysA5e7KPGJf%2F35tNop8rXqxC5UEU8MhyaDNG8BLDZvX4HO07qYoVH5e7Gvao3EzIYmkRfULWcC1a4I%2BgOeAU3uccAar7qHGsnnTVB3fEgvPgO7rhypNEFpOU9P9csfIZdG6rRRJB64cV%2FChZtF7rmCg7NKs5FFLgZK2jdjKH2oEjRNh8apv%2BKUcHaXz9SGKcp3O99kWxGQ2sq3Zf8CMsFWnJeoekzxs%2BBmzB8wkwJZLWrRA%2FnsxfKw0Z5%2BhKCDE23Q3OPayK3hRWwTKLYlpiWNWFvO7tyJkYe52yw73MfJzRaOwjeE8IqR7nRGI7mvCp44ZRpolS8evAjZCS1hjA%3D%3D&sign_type=RSA2&timestamp=2019-08-12 23:33:09&version=1.0',
                                // sandbox: true


                            }, function (ret, err) {
                                //console.log(ret)
                                var msg = ret.code

                                if (msg == 9000) {
                                    mui.alert('支付成功', '提示', function (e) {
                                        if (e.index == 0) {
                                            openNewWindow("myorder", "../../order/myorder.html");
                                        }
                                    });
                                } else if (msg == 8000) {
                                    mui.alert('正在处理中', '提示', function (e) {
                                        if (e.index == 0) {

                                        }
                                    });
                                } else if (msg == 4000) {
                                    mui.alert('订单支付失败', '提示', function (e) {
                                        if (e.index == 0) {

                                        }
                                    });
                                } else if (msg == 5000) {
                                    mui.alert('重复请求', '提示', function (e) {
                                        if (e.index == 0) {

                                        }
                                    });
                                } else if (msg == 6001) {
                                    mui.alert('用户中途取消支付操作', '提示', function (e) {
                                        if (e.index == 0) {

                                        }
                                    });
                                } else if (msg == 6002) {
                                    mui.alert('网络连接出错', '提示', function (e) {
                                        if (e.index == 0) {

                                        }
                                    });
                                } else if (msg == 6004) {
                                    mui.alert('请查询商户订单的支付状态', '提示', function (e) {
                                        if (e.index == 0) {

                                        }
                                    });
                                }
                            });
                        });

                        return;
                    }else if (item.payType == '银联') {
                        var unPay = api.require('unionPay');
                        var obj = {
                            cId:item.cId,
                            pId: item.person_id,
                            bId: item.bId,
                            buyNum: item.num,
                            price: item.priceh,
                            comName: item.comName,
                            summary: item.summary,
                            payType: "银联",
                            adrId : item.adr.name + ',' + item.adr.phone + ',' +item.adr.address+','+ item.adr.addrDetails
                        }

                        //console.log(obj)


                        api.ajax({

                            url: 'http://192.168.1.30:8088/pay/unionpayOrder',//从银联测试服务器上获取tn号

                            method: 'post',
                            dataType: 'text',
                            returnAll:false,
                            timeout: 30,
                            data: {
                                values: obj
                            }
                        },function(ret,err){
                            //console.log("yinlian",ret)
                            if (ret) {
                                unPay.pay({
                                    tn: ret,
                                    devMode: true
                                }, function(ret, err){
                                    //console.log("pay",ret)
                                    if (ret.result == "success"){
                                        mui.alert('支付成功', '提示', function (e) {
                                            if (e.index == 0) {
                                                openNewWindow("myorder", "../../order/myorder.html");
                                            }
                                        });
                                    }else if (ret.result == "fail") {
                                        mui.alert('支付失败', '提示', function (e) {
                                            if (e.index == 0) {

                                            }
                                        });
                                    }else if (ret.result == "cancel") {
                                        mui.alert('用户取消支付', '提示', function (e) {
                                            if (e.index == 0) {

                                            }
                                        });
                                    }
                                    // api.alert({msg:JSON.stringify(ret)});
                                });
                            }
                        });

                        return;
                    }

                    ajaxGetWithProgress(PayOrder, {
                        pId: that.person_id,
                        bank: that.bank
                    }, function (data, err) {
                        //console.log(data);
                        if (!data.date) {
                            mui.confirm('是否添加' + that.bank + '银行卡', '您还未添加' + that.bank + '银行卡', function (e) {
                                if (e.index) {
                                    openNewWindow("addCards", "./addCards.html", {
                                        url: 'confirmOrder',
                                        bank: that.bank
                                    });
                                }
                            }, 'div');
                            return;
                        }


                    });

                    return;

                    /*openNewWindow("orderStar", "comment/orderStar.html",{
                        name : "待收货"
                    })*/
                },
                // 立即评价
                starOrderClick : function (pId,cId,bId) {
                    var that = this
                    openNewWindow("orderStar", "comment/orderStar.html",{
                        pId : pId,
                        cId : cId,
                        bId : bId,
                        url : "myorder"
                    })
                },

                //提醒发货
                RemindClick :function (delStatus,bId) {
                    var that = this
                    var obj = {
                        delStatus : 1,
                        bId : bId,
                    }
                    ajaxGetWithProgress(CommodityProFileRemind,obj,function (data) {
                        //console.log("tixing",data)
                        if (data) {
                            toast("提醒成功")
                            that.orderAll('all', 1)
                        }

                    })
                },
                //确认收货
                confirmClick :function (adrStatus,bId) {
                    var that = this
                    var obj = {
                        adrStatus : 3,
                        bId : bId,
                    }
                    ajaxGetWithProgress(CommodityProFileRemind,obj,function (data) {
                        //console.log("queren",data)
                        if (data) {
                            toast("确认收货成功")
                            that.orderAll('all', 1)
                        }

                    })
                },
                //删除订单
                delOrderClick :function (oId,bId) {
                    var that = this
                    var obj = {
                        oid : oId,
                        bid : bId,
                    }
                    ajaxGetWithProgress(deleteOrderCommodityProFile,obj,function (data) {
                        //console.log("删除",data)
                        if (data) {
                            toast("删除成功")
                            that.orderAll('all', 1)
                        }

                    })
                },
            }
        })
    };

</script>
</body>
</html>
