<!DOCTYPE html>
<html lang="en" class="commonBg">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>公司详情</title>
    <link rel="stylesheet" href="../../../css/api.css"/>
    <link rel="stylesheet" href="../../../css/commonWindow.css"/>
    <link rel="stylesheet" href="../../../css/componyDetail.css">
    <link rel="stylesheet" href="../../../css/mui.min.css">
    <link rel="stylesheet" href="../../../css/swiper-3.3.1.min.css">
    <style>

        .job-img-content {
            padding: 16px 0 10px;
            position: relative;
        }

        p.posiName {
            height: 0.4rem;
            font-size: 0.28rem;
            font-weight: 400;
            color: rgba(51, 51, 51, 1);
            line-height: 0.4rem;;
            margin: 0 !important;
        }
        .link-right {
            display: inline-block;
            position: absolute;
            right: 0;
            top: 0.7rem;
            height: 0.28rem;
            font-size: 0.2rem;
            font-weight: 400;
            color: rgba(153,153,153,1);
            line-height: 0.28rem;
        }
        .job-name{
            height: 0.3rem !important;
            line-height: 0.3rem !important;
            font-size:0.22rem !important;
            font-weight:400;
            color:rgba(153,153,153,1) !important;
        }
        .demobiox{
            position: fixed;
            right: 0;
            bottom: 0;
            background: cadetblue;
            z-index: 99;
        }
    </style>
</head>
<body class="commonBg">


<!--智能魔方菜单-->
<div id="app1" class="demobiox isDisplay">
    <img src="../../../image/duke-2.png" class="person" alt="person" @click="togle()">
    <div class="subBoxMO" id="subBox" v-bind:class="{ active: isHide}">
        <div class="appMask" @click="hideHandle()">

        </div>
        <div class="borderBoxRote positionCom"
             @click="detailClick(index)"
             v-bind:class="['position'+index, active ? 'animation' : '']"
             v-for="(item, index) in list" :key="index">
            <div class="xuanbox" :class="index1 == index ? 'active' : ''">
                <div class="daobox">
                    <img v-bind:src="item.imgIcon" class="iconImg" alt="person">
                    <div>{{ item.job_name }}</div>
                </div>
            </div>
        </div>

        <div class="borderBoxRote positionCom"
             @click="detailClick2(index)"
             v-bind:class="['position1'+index, active ? 'animation' : '']"
             v-for="(item, index) in list1" :key="index">
            <div class="xuanbox" :class="index2== index ? 'active' : ''">
                <div class="daobox">
                    <img v-bind:src="item.imgIcon" class="iconImg" alt="person">
                    <div>{{ item.c_name }}</div>
                </div>
            </div>
        </div>


        <!--<div class="cir_mine positionCir">
            <img src="images/icon/person.png" class="iconImg" alt="person">
            <span>我的</span>
        </div>
        <div class="cir_return positionCir">
            <img src="images/icon/person.png" class="iconImg" alt="person">
            <span>返回</span>
        </div>
        <div class="cir_hide positionCir" @click="togleHide">
            <img src="images/icon/person.png" class="iconImg" alt="person">
            <span>隐藏</span>
        </div>-->

    </div>
</div>


<div class="contentBox">
    <div class="subBox">

        <div class="comTitle">
            <!--<div class="follow cssFlex">
                <div class="follow-btn">关注</div>
                <img src="../../../icon/share.png" alt="share" class="followshare">
            </div>
            <div class="comintobox cssFlex">
                <div class="comInfo">
                    <h3 class="comInfoTitle ">百度科技</h3>
                    <p class="comInfoCon comInfoConMar">
                        <span>已上市</span><i>·</i>
                        <span>10000人以上</span><i>·</i>
                        <span>互联网</span>
                    </p>
                    <p class="timeInfo">
                        <img src="../../../icon/time.png" alt="time" class="ComTime">
                        <span>10:00</span>
                        <i>-</i>
                        <span class="marginR">18:00</span>
                        <img src="../../../icon/date.png" alt="date" class="dateCom">
                        <span class="marginR">双休</span>
                        <span>弹性工作</span>
                    </p>
                </div>
                <div class="comLogo">
                    <img src="../../../image/comLogo.png" alt="comLogo">
                </div>
            </div>-->

        </div>
        <div class="F9Line"></div>
        <!-- mui  滑动tab切换-->
        <ul id="tabs" class="cssFlex">
            <li class="activeTab"><a href="javascript:;" title="tab1">基本信息</a></li>
            <li><a href="javascript:;" title="tab2">在招职位</a></li>
            <li><a href="javascript:;" title="tab3">企业空间</a></li>
        </ul>
        <div class="tabBorder"></div>
        <div id="content">
            <div id="tab1" style="display: block;">
                <div class="infobox">
                    <div class="infoList cssFlex">
                        <!--<span>餐补</span>
                        <span>五险一金</span>
                        <span>五险</span>
                        <span>五险</span>
                        <span>五险一金</span>
                        <span>五险一金</span>
                        <span>五险一金</span>
                        <span>五险一金</span>-->
                    </div>
                    <p class="job-text">
                        百度，全球最大的中文搜索引擎、最大的中文网站。百度愿景是：成为最懂用户，并能帮助人们成长的全球顶级高科技公司。<br/>
                        “百度”二字，来自于八百年前南宋词人辛弃疾的一句词：众里寻他千百度。这句话描述了词人对理想的执着追求。
                    </p>
                    <h4 class="productName productNamePad">产品介绍</h4>
                    <div class="product_hisbox">
                        <div class="infoProduct infoProductPad clearfix">
                            <img src="../../../image/pro.png" alt="pro" class="pro-img">
                            <div class="infoProductContent">
                                <h5>百度本地广告直通车</h5>
                                <p class="textOverflow">百度本地直通车：本地生活服务精准营销（百度移动端、百度糯米等多平台精准营销智能落地页网盟聚居资源…… <i>详情</i></p>
                            </div>
                        </div>
                        <div class="infoProduct infoProductPad clearfix">
                            <img src="../../../image/pro.png" alt="pro" class="pro-img">
                            <div class="infoProductContent">
                                <h5>百度本地广告直通车</h5>
                                <p class="textOverflow">百度本地直通车：本地生活服务精准营销（百度移动端、百度糯米等多平台精准营销智能落地页网盟聚居资源…… <i>详情</i></p>
                            </div>
                        </div>
                    </div>

                    <h4 class="productName productNamePad">高管介绍</h4>
                    <div class="infoProduct infoProductPad clearfix">
                        <img src="../../../image/pro.png" alt="pro" class="seniorimg">
                        <div class="infoProductContent">
                            <h5 class="seniorname">李彦宏</h5>
                            <p class="textOverflow seniorinfo">1968年11月生，山西阳泉人，无党派，研究生学历。现任全国政协委员、全国工商<i>详情</i></p>
                        </div>
                    </div>
                    <h4 class="productName productNamePad">公司照片</h4>
                    <div class="swiper-container infoProductPad">
                        <div class="swiper-wrapper PIClistBox">
                            <div class="swiper-slide">
                                <img src="../../../image/babyShow01.png" alt="img">
                            </div>
                            <div class="swiper-slide">
                                <img src="../../../image/babyShow02.png" alt="img">
                            </div>
                            <div class="swiper-slide">
                                <img src="../../../image/babyShow01.png" alt="img">
                            </div>
                            <div class="swiper-slide">
                                <img src="../../../image/babyShow02.png" alt="img">
                            </div>
                        </div>
                    </div>
                    <h4 class="productName productNamePad">公司地址</h4>

                </div>

                <div class="map-compony" id="container">

                </div>
                <div class="info">
                    <!--点击地图上的点标记，打开所添加的自定义信息窗体-->
                </div>
                <div class="infobox">
                    <h4 class="productName productNamePad">公司官网</h4>
                    <div class="link-compony cssFlex">
                        <span class="homepage">http://www.baidu.com</span>
                        <img src="../../../icon/right.png" alt="right" class="info-img-right">
                    </div>
                    <h4 class="productName productNamePad">工商信息</h4>
                    <div class="gong-info">
                        <p>
                            公司全称：<span class="Name">百度在线网络技术（北京）有限公司</span>
                        </p>
                        <p>
                            企业法人：<span class="OperName">向海龙</span>
                        </p>
                        <p>
                            注册时间：<span class="StartDate">2000-1-18</span>
                        </p>
                        <p>
                            注册资本：<span class="RegistCapi">4520万美元</span>
                        </p>
                    </div>
                    <div class="more-see">
                        查看更多
                    </div>
                    <!--面试 评价-->
                    <div class="starAsse cssFlex">
                        <div class="star_left cssFlex">
                            <span class="star_title">面试评价</span>
                            <span class="star_num">（<i>34</i>条）</span>
                        </div>
                        <div class="star_right cssFlex">
                            <span class="star_all">查看全部</span>
                            <img src="../../../icon/right.png" alt="right" class="info-img-right">
                        </div>
                    </div>

                    <div class="job-img-content cssFlex" onclick="homePage()">
                        <img id="" src="../../../image/hr.png" alt="hr" class="hrImg">
                        <div class="job-img-text">
                            <p class="posiName" id="user_name">赵东东</p>
                            <p class="job-name">
                                面试职位：<i>高级经理</i>
                            </p>

                        </div>
                        <div class="link-right">6月14日</div>
                    </div>

                    <!--星级评价-->
                    <ul class="mui-table-view">
                        <li class="star-li cssFlex">
                            <a>公司工作环境</a>
                            <div class="icons">
                                <i data-index="1" class="mui-icon mui-icon-star"></i>
                                <i data-index="2" class="mui-icon mui-icon-star"></i>
                                <i data-index="3" class="mui-icon mui-icon-star"></i>
                                <i data-index="4" class="mui-icon mui-icon-star"></i>
                                <i data-index="5" class="mui-icon mui-icon-star"></i>
                            </div>
                        </li>
                        <li class="star-li cssFlex">
                            <a>HR服务态度</a>
                            <div class="icons">
                                <i data-index="1" class="mui-icon mui-icon-star"></i>
                                <i data-index="2" class="mui-icon mui-icon-star"></i>
                                <i data-index="3" class="mui-icon mui-icon-star"></i>
                                <i data-index="4" class="mui-icon mui-icon-star"></i>
                                <i data-index="5" class="mui-icon mui-icon-star"></i>
                            </div>
                        </li>
                        <li class="star-li cssFlex">
                            <a>面试官专业</a>
                            <div class="icons">
                                <i data-index="1" class="mui-icon mui-icon-star"></i>
                                <i data-index="2" class="mui-icon mui-icon-star"></i>
                                <i data-index="3" class="mui-icon mui-icon-star"></i>
                                <i data-index="4" class="mui-icon mui-icon-star"></i>
                                <i data-index="5" class="mui-icon mui-icon-star"></i>
                            </div>
                        </li>
                        <li class="star-li cssFlex">
                            <a>面试反馈率</a>
                            <div class="icons">
                                <i data-index="1" class="mui-icon mui-icon-star"></i>
                                <i data-index="2" class="mui-icon mui-icon-star"></i>
                                <i data-index="3" class="mui-icon mui-icon-star"></i>
                                <i data-index="4" class="mui-icon mui-icon-star"></i>
                                <i data-index="5" class="mui-icon mui-icon-star"></i>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div id="tab2" style="display:none;">

            </div>
            <div id="tab3" style="display: none">

                <ul class="componySize"></ul>
            </div>
        </div>


    </div>

</div>
<!--   企业空间 模态框   -->
<div class="modal-space modal-news">
    <!--<div class="subspace subspaceNew">-->
        <!--<img src="../../../icon/delete.png" alt="delete" class="delete-space" onclick="closeMotal()">
        <h5 class="spaceTitle">上海车展观察：车企频繁牵手百度，背后到底是什么逻辑？</h5>
        <p class="spaceSubTitle">童济仕汽车评论 xxxx年xx月xx日 </p>
        <p class="spaceContent">上海车展观察：车企频繁牵手百度，背后到底是什么逻辑上海车展观察：车企频繁牵
            手百度，背后到底是什么逻辑上海车展观察：车企频繁牵手百度，背后到底是什么逻辑上海车展观察：车企频繁牵手
            百度，背后到底是什么逻辑上海车展观察：车企频繁牵手百度，背后到底是什么逻辑上海车展观察：车企频繁牵手百度，背后到底是
            什么逻辑上海车展观察：车企频繁牵手百度，背后到底是什么逻辑上海车展观察：车企频繁牵手百度，背后到底是什么逻辑上海车展观察：
            车企企频繁牵手百度，背后到底是
            什么逻辑上海车展观察：车企频繁牵手百度，背后到底是什么逻辑上海车展观察：车企频繁牵手百度，背后到底是什么逻辑上海车展观察：
            车企频繁牵手百度，背后到底是什么逻辑上海车展观察：车展观察：车企频繁牵手百度，背后到底是什么逻辑上海车展观察：车
            企频繁牵手百度，背后到底是什么逻辑上海车展观察：车企
        </p>
-->
    <!--</div>-->
</div>
<!--公司详细信息-->
<div class="modal-space model-com">
    <div class="subspace subspaceCom">
        <img src="../../../icon/delete.png" alt="delete" class="delete-space" onclick="closeMotalCom()">
        <div class="com-logo">
            <img src="../../../image/mine/icon_baidulogo.png" alt="icon" class="baidulogo">
        </div>
        <div class="com-title Name">
            百度在线网络技术（北京）有限公司
        </div>
        <div class="com-link homepage">
            http://www.baidu.com
        </div>
        <div class="com-main">
            <div class="main-right cssFlex">
                <span class="main-left ">企业法人</span>
                <span class="main-right OperName">向海龙</span>
            </div>
            <div class="main-right cssFlex">
                <span class="main-left">注册资本</span>
                <span class="main-right RegistCapi">向海龙</span>
            </div>
            <div class="main-right cssFlex">
                <span class="main-left">成立时间</span>
                <span class="main-right StartDate">向海龙</span>
            </div>
            <div class="main-right cssFlex">
                <span class="main-left">经营状态</span>
                <span class="main-right Status">向海龙</span>
            </div>
            <div class="main-right cssFlex">
                <span class="main-left">注册地址</span>
                <span class="main-right Address">北京市海淀区上地十街10号百度 大厦三层</span>
            </div>
            <div class="main-right cssFlex">
                <span class="main-left">统一信用代码</span>
                <span class="main-right CreditCode">向海龙</span>
            </div>
            <div class="main-right cssFlex">
                <span class="main-left">经营范围</span>
                <span class="main-right Scope">开发、生产计算机软件，开发、 生产计算机软件，开发、生产计 算机软件，开发、生产计算机软 件。生产计算机软件…</span>
            </div>

        </div>
        <div class="laiyuan">
            数据来源：<i>企查查</i>
        </div>
    </div>
</div>



<script src="https://cdn.bootcss.com/eruda/1.2.6/eruda.js"></script>
<script>eruda.init();</script>

<script type="text/javascript" src="../../../script/jquery-1.8.1.min.js"></script>
<script type="text/javascript" src="../../../script/api.js"></script>
<script type="text/javascript" src="../../../script/util.js"></script>
<script type="text/javascript" src="../../../script/jquery-1.8.1.min.js"></script>
<script type="text/javascript" src="../../../script/rem.js"></script>
<script type="text/javascript" src="../../../script/apiCloud.js"></script>
<script type="text/javascript" src="../../../script/public.js"></script>
<script type="text/javascript" src="../../../script/data.js"></script>
<script type="text/javascript" src="../../../script/mui.min.js"></script>
<script type="text/javascript" src="../../../script/swiper-3.3.1.min.js"></script>
<script src="http://webapi.amap.com/maps?v=1.4.15&key=0615a1a43121ec125e0727d7b366d899"></script>
<script src="../../../script/vue.min.js"></script>

<script>
    // swiper  轮播
    var mySwiper = new Swiper('.swiper-container', {
        slidesPerView: 3,
    })
    $("#tabs li").click(function () {
        $(this).addClass("activeTab").siblings().removeClass("activeTab"); //切换选中的按钮高亮状态
        var index = $(this).index(); //获取被按下按钮的索引值，需要注意index是从0开始的
        $("#content > div").eq(index).fadeIn().siblings().fadeOut(); //在按钮选中时在下面显示相应的内容，同时隐藏不需要的框架内容
    });
    // 公司模态框
    $(document).on("click", ".more-see", function () {
        $(".model-com").show()
    })

    function closeMotalCom() {
        $(".model-com").hide()
    }
    // xinwen模态框
    function com_dy(ID) {
        $(".modal-news").show()
        ajaxGetWithProgress(queryDynamicSummaryById, {com_dynamic_id:ID}, function (data, err) {
            console.log(data)
            document.querySelector(".modal-news").innerHTML = '<div class="subspace subspaceNew">' +
                '<div class="subspace">\n' +
                '        <img src="../../../icon/delete.png" alt="delete" class="delete-space" onclick="closeMotal()">\n' +
                '        <h5 class="spaceTitle">'+data.title+'</h5>\n' +
                '        <p class="spaceSubTitle">'+data.publisher+'评论 '+data.create_time+' </p>\n' +
                '        <p class="spaceContent"> '+data.summary+'</p>\n' +
                '\n' +
                '    </div>'+
                '    </div>'
        })
    }
    function closeMotal() {
        $(".modal-news").hide()
    }
    var map = new AMap.Map("container", {
        resizeEnable: true,
        zoom: 16
    });
    map.clearMap();

    var infoWindow;
    var cid,uid;
    apiready = function () {
        cid = api.pageParam.cid;
        uid = JSON.parse(localStorage.getItem('user')).user_uid;
        var obj = {
            cid: cid,
            person_id: uid
        }


        var infoListHtml, product_hishtml, PIClistHtml,html2,html3;
        ajaxGetWithProgress(QueryOrgnizationSummary, obj, function (data, err) {
            console.log(data);
            var dataSummary = data.Orgnization_summary
            var companySummary = data.companySummary.Result    //企查查  信息
            var PIClist = data.PIClist    //公司图片
            var product_his = data.product_his    //产品介绍
            var welfare = dataSummary.welfare    //公司图片
            var JobList = data.JobList    //  zaizhao 职位
            var DynamicList = data.DynamicList    //  公司动态
            var attentionCompany = data.attentionCompany    //  关注状态
            if (welData){
                var welData = welfare.split(",")

            }else {
                welData = ''
            }
            var adressData = data.address
            if (data) {
                // 公司头部

                    if(attentionCompany.att_status == 0){
                        document.querySelector(".comTitle").innerHTML += '<div class="follow cssFlex">\n'+'<div class="follow-btnbg" onclick="flowGuan('+ attentionCompany.id +',1)">已关注</div>\n'+
                        '<img src="../../../icon/share.png" alt="share" class="followshare">\n'+'</div>'
                    }else if (attentionCompany.att_status == 1){
                        document.querySelector(".comTitle").innerHTML +='<div class="follow cssFlex">\n'+'<div class="follow-btn" onclick="flowGuan('+ attentionCompany.id +',0)">关注</div>\n'+
                            '<img src="../../../icon/share.png" alt="share" class="followshare">\n'+'</div>'
                    }

                document.querySelector(".comTitle").innerHTML +=
                    '<div class="comintobox cssFlex">' +
                    '<div class="comInfo">' +
                    '                    <h3 class="comInfoTitle ">' + dataSummary.c_name + '</h3>\n' +
                    '                    <p class="comInfoCon comInfoConMar">\n' +
                    '                        <span>' + dataSummary.financing + '</span><i>·</i>\n' +
                    '                        <span>' + dataSummary.scale + '</span><i>·</i>\n' +
                    '                        <span>' + dataSummary.org_type + '</span>\n' +
                    '                    </p>\n' +
                    '                    <p class="timeInfo cssFlex">\n' +
                    '                        <img src="../../../icon/time.png" alt="time" class="ComTime">\n' +
                    '                        <span>' + dataSummary.s_time + '</span>\n' +
                    '                        <i>-</i>\n' +
                    '                        <span class="marginR">' + dataSummary.x_time + '</span>\n' +
                    '                        <img src="../../../icon/date.png" alt="date" class="dateCom">\n' +
                    '                        <span class="marginR">' + dataSummary.break_time + '</span>\n' +
                    '                        <span>' + dataSummary.work_overtime + '</span>\n' +
                    '                    </p>\n' +
                    '                </div>\n' +
                    '                <div class="comLogo">\n' +
                    '                    <img src="../../../image/comLogo.png" alt="comLogo">\n' +
                    '                </div>' +
                    '                </div>'
                // 公司标签

                for (var i = 0; i < welData.length; i++) {
                    infoListHtml += '<span>' + welData[i] + '</span>'
                }
                document.querySelector(".infoList").innerHTML = infoListHtml
                document.querySelector(".job-text").innerHTML = dataSummary.summary  //公司介绍
                // 产品介绍
                for (var i = 0; i < product_his.length; i++) {
                    product_hishtml += '<div class="infoProduct cssFlex">\n' +
                        '                                            <img src="../../../image/pro.png" alt="pro" class="pro-img">\n' +
                        '                                            <div class="infoProductContent">\n' +
                        '                                                <h5>' + product_his[i].productname + '</h5>\n' +
                        '                                                <p class="textOverflow">' + product_his[i].prod_desc + '<i>详情</i></p>\n' +
                        '                                            </div>\n' +
                        '                                        </div>'
                }
                document.querySelector(".product_hisbox").innerHTML = product_hishtml

                // 高管介绍
                // document.querySelector(".seniorimg").innerHTML = dataSummary.senior_icon
                document.querySelector(".seniorname").innerHTML = dataSummary.senior
                document.querySelector(".seniorinfo").innerHTML = dataSummary.senior_bak

                // 公司官网
                document.querySelector(".homepage").innerHTML = dataSummary.homepage

                // 公司照片

                for (var i = 0; i < PIClist.length; i++) {
                    PIClistHtml += '<div class="swiper-slide">\n' +
                        // '                                                <img src="'+PIClist[i].pic+'" alt="img">\n' +
                        '                                                <img src="../../../image/babyShow01.png" alt="img">\n' +
                        '                                            </div>'
                }
                document.querySelector(".PIClistBox").innerHTML = PIClistHtml



                // 工商信息
                document.querySelector(".Name").innerHTML = companySummary.Name
                document.querySelector(".OperName").innerHTML = companySummary.OperName
                document.querySelector(".StartDate").innerHTML = companySummary.StartDate
                document.querySelector(".RegistCapi").innerHTML = companySummary.RegistCapi
                document.querySelector(".StartDate").innerHTML = companySummary.StartDate
                document.querySelector(".Status").innerHTML = companySummary.Status
                document.querySelector(".Address").innerHTML = companySummary.Address
                document.querySelector(".CreditCode").innerHTML = companySummary.CreditCode
                document.querySelector(".Scope").innerHTML = companySummary.Scope




                for (var i = 0; i < JobList.length; i++) {
                    html2 += '<div class="jobBox cssFlex">\n' +
                        '                                        <div class="job-left">\n' +
                        '                                            <h4 class="job-nameNm">'+JobList[i].job_name+'</h4>\n' +
                        '                                            <p class="job-name">\n' +
                        '                                                <span>'+JobList[i].c_name+'</span>\n' +
                        '                                            </p>\n' +
                        '                                            <p class="adress-job">\n' +
                        '                                                <span>'+JobList[i].province+'-'+JobList[i].city+'-'+JobList[i].street+'</span>\n' +
                        '                                                <span>'+JobList[i].work_ex+'</span>\n' +
                        '                                                <span>'+JobList[i].edu_ex+'</span>\n' +
                        '                                            </p>\n' +
                        '                                            <p class="job-img-content cssFlex">\n' +
                        '                                                <img src="../../../image/hr.png" alt="hr" class="hrImg">\n' +
                        '                                                <span>'+JobList[i].c_name+'</span>\n' +
                        '                                                <i>·</i>\n' +
                        '                                                <span>人力资源经理</span>\n' +
                        '                                            </p>\n' +
                        '                                        </div>\n' +
                        '                                        <!--薪资 日期-->\n' +
                        '                                        <div class="job-right ">\n' +
                        '                                            <p class="moneyNum">20k-30K</p>\n' +
                        '                                            <p class="date-job" >4月17日</p>\n' +
                        '                                        </div>\n' +
                        '                                    </div>';
                }

                document.getElementById("tab2").innerHTML = html2

                for (var i = 0; i < DynamicList.length; i++) {
                    html3 +=
                        '                                        <li onclick="com_dy('+DynamicList[i].com_dynamic_id+')">\n' +
                        '                                            <h4 class="sizeTitle">\n' +
                        '                                                '+DynamicList[i].title+'\n' +
                        '                                            </h4>\n' +
                        '                                            <p>\n' +
                        '                                                <span class="size-name">'+DynamicList[i].publisher+'</span>评论 <span class="time-size">'+DynamicList[i].create_time+'</span>\n' +
                        '                                            </p>\n' +
                        '                                        </li>';
                }

                document.querySelector(".componySize").innerHTML = html3

            }


            lat = adressData.latitude
            long = adressData.longitude
            province = adressData.province
            city = adressData.city
            street = adressData.street
            allAddress = province + city + street

            var jfong = [lat, long];
            marker = new AMap.Marker({
                position: jfong,
                zIndex: 101,
                map: map
            });
            marker.setMap(map);
            marker.allAddress = allAddress;
            marker.on('click', function (e) {

                infoWindow.setContent("<ul class='main'>" +
                    "<li> 地址： <span style='color:blue'>" + allAddress + "</span></li>" +
                    "</ul>");
                infoWindow.open(map, e.lnglat);
            });


            infoWindow = new AMap.InfoWindow({
                isCustom: true,
                draggable: true,  //是否可拖动
                offset: new AMap.Pixel(0, -31),
                content: ""


            });
        });


        new Vue({
            el: '#app1',
            data: {
                list: [],
                list1: [],
                isHide: true,
                active: false,
                index1: -1,
                index2: -1
            },
            created: function () {
                this.queryListRandom()
            },
            methods: {
                queryListRandom: function () {
                    var that = this;
                    ajaxGetWithProgress(queryListRandom, {}, function (data, err) {
                        console.log(data);

                        that.list = data.job;
                        that.list1 = data.company;
                        // console.log(that.list)
                        document.getElementById('app1').classList.remove('isDisplay');
                    });
                },
                togle: function () {
                    document.getElementById('subBox').classList.remove('isDisplay');
                    console.log(123)
                    this.active = true;
                    var that = this;
                    this.queryListRandom();
                    setTimeout(function () {
                        that.active = false;
                    }, 1500)
                },
                detailClick: function (index) {
                    this.index1 = index;
                    this.index2 = -1;
                    console.log(index)
                },
                detailClick2: function (index) {
                    this.index2 = index;
                    this.index1 = -1;
                },
                hideHandle: function () {
                    document.getElementById('subBox').classList.add('isDisplay');
                }

            }
        })
    };

    var flag = true;//
    function flowGuan(id,stauts) {
        var uid = JSON.parse(localStorage.getItem('user')).user_uid;
        var obj = {
            person_id:uid,
            cid:cid,
            att_status:stauts,
            id:id
        }
        ajaxGetWithProgress(attentionCompanyByCid, obj, function (data, err) {
            console.log(data)
            if (data){

                /*if(attentionCompany.att_status == 0){
                    api.toast({
                        msg: '编辑教育经历成功'
                    });
                }else if(attentionCompany.att_status == 0){
                    api.toast({
                        msg: '编辑教育经历成功'
                    });
                }*/
                api.toast({
                    msg: '编辑成功'
                });
                reload();
            }
        })
    }

    // 星级评价
    mui.init();
    mui('.icons').on('click','i',function(){
        var index = parseInt(this.getAttribute("data-index"));//获取当前元素的索引值
        var parent = this.parentNode;//获取当前元素的父节点
        var children = parent.children;//获取父节点下所有子元素
        if(this.classList.contains("mui-icon-star")){//判断当前节点列表中是否含有.mui-icon-star元素
            for(var i=0;i<index;i++){//亮星
                children[i].classList.remove('mui-icon-star');
                children[i].classList.add('mui-icon-star-filled');
            }
        }else{//重置已经亮星的元素
            for (var i = index; i < 5; i++) {
                children[i].classList.add('mui-icon-star')
                children[i].classList.remove('mui-icon-star-filled')
            }
        }
        document.getElementById("info").innerHTML = parent.previousElementSibling.innerText + "："+index+"星好评";
    })
</script>
</body>
</html>