<!DOCTYPE html>
<html lang="en" class="commonBg">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>职位信息</title>
    <link rel="stylesheet" href="../../../css/api.css"/>
    <link rel="stylesheet" href="../../../css/commonWindow.css"/>
    <link rel="stylesheet" href="../../../css/mui.min.css">
    <link rel="stylesheet" href="../../../css/componyDetail.css">
    <link rel="stylesheet" href="../../../css/swiper-3.3.1.min.css">
    <style>
        span.adressInfo, .job-year {
            margin-right: 10px;
        }

        img.hrImg {
            width: 40px !important;
            height: 40px;
        }

        .job-img-content {
            padding: 16px 0 10px;
            position: relative;
        }

        p.posiName {
            height: 24px;
            font-size: 18px;
            font-weight: 400;
            color: rgba(51, 51, 51, 1);
            line-height: 24px;
            margin: 0 !important;
        }

        .link-right {
            display: inline-block;
            position: absolute;
            right: 0;
            top: 26px;
            height: 20px;
        }

        .pro-img {
            flex: none !important;
        }

        h5.posiName {
            font-weight: 600;
        }

        p.posiSize {
            line-height: 20px !important;
        }
        .demobiox{
            z-index: 99;
        }
    </style>

</head>
<body class="commonBg">


<!--智能魔方菜单-->
<div id="app1" class="demobiox isDisplay">
    <img src="../../../image/duke-2.png" class="person" alt="person" @click="togle()">
    <div class="subBoxMO" id="subBox" v-bind:class="{ active: isHide}">
        <div class="appMask" @click="hideHandle()">

        </div>
        <div class="borderBoxRote positionCom"
             @click="detailClick(index,item.company_c_id)"
             v-bind:class="['position'+index, active ? 'animation' : '']"
             v-for="(item, index) in list" :key="index">
            <div class="xuanbox" :class="index1 == index ? 'active' : ''">
                <div class="daobox">
                    <img v-bind:src="item.imgIcon" class="iconImg" alt="person">
                    <div>{{ item.job_name }}</div>
                </div>
            </div>
        </div>

        <div class="borderBoxRote positionCom"
             @click="detailClick2(index,item.c_id)"
             v-bind:class="['position1'+index, active ? 'animation' : '']"
             v-for="(item, index) in list1" :key="index">
            <div class="xuanbox" :class="index2== index ? 'active' : ''">
                <div class="daobox">
                    <img v-bind:src="item.imgIcon" class="iconImg" alt="person">
                    <div>{{ item.c_name }}</div>
                </div>
            </div>
        </div>


        <!--<div class="cir_mine positionCir">
            <img src="images/icon/person.png" class="iconImg" alt="person">
            <span>我的</span>
        </div>
        <div class="cir_return positionCir">
            <img src="images/icon/person.png" class="iconImg" alt="person">
            <span>返回</span>
        </div>
        <div class="cir_hide positionCir" @click="togleHide">
            <img src="images/icon/person.png" class="iconImg" alt="person">
            <span>隐藏</span>
        </div>-->

    </div>
</div>

<div id="app">

    <!-- Your main view, should have "view-main" class -->
    <div class="view view-main safe-areas isDisplay">
        <!-- Page, data-name contains page name which can be used in callbacks -->

        <!-- Scrollable page content-->
        <div class="page-content">

            <div class="card" id='div_card'>
                <div class="card-content">
                    <div class="Box" >
                        <div class="positionBox">
                            <!--<div class="comTitle cssFlex">
                                <div class="comInfo">
                                    <h3 class="comInfoTitle">百度科技</h3>
                                    <p class="comInfoCon">
                                        <span>已上市</span><i>·</i>
                                        <span>10000人以上</span><i>·</i>
                                        <span>互联网</span>
                                    </p>
                                    <p class="timeInfo">
                                        <img src="../../../icon/time.png" alt="time" class="ComTime">
                                        <span>上午10:00</span>
                                        <i>-</i>
                                        <span class="marginR">下午18:00</span>
                                        <img src="../../../icon/date.png" alt="date" class="dateCom">
                                        <span class="marginR">双休</span>
                                        <span>弹性工作</span>
                                    </p>
                                </div>
                                <div class="comLogo">
                                    <img src="../../../image/comLogo.png" alt="comLogo">
                                </div>
                            </div>-->
                            <div class="jobBox cssFlex">
                                <div class="job-left">
                                    <h4 class="job-nameNm" id="job_name">运营经理</h4>
                                    <p class="adress-job">
                                        <span class="adressInfo" id="city">北京-朝阳-望京</span>
                                        <span class="job-year"><i id="work_ex">10</i></span>
                                        <span id="edu_ex">本科</span>
                                    </p>
                                </div>
                                <!--薪资 日期-->
                                <div class="job-right ">
                                    <p class="moneyNum"><span id="ratio">20k-30K</span>k</p>
                                </div>
                            </div>
                            <div class="F9Line"></div>
                            <div class="positionName padding12">
                                <div class="job-img-content cssFlex" onclick="homePage()">
                                    <img id="" src="../../../image/hr.png" alt="hr" class="hrImg">
                                    <div class="job-img-text">
                                        <p class="posiName" id="user_name">赵东东</p>
                                        <p class="job-name">
                                            <span id="c_name">北京天久共享控股集团</span>
                                            <i>·</i>
                                            <span id="z_user_job">人力资源部经理</span>
                                        </p>

                                    </div>
                                    <img src="../../../icon/right.png" alt="right" class="link-right">
                                </div>

                                <div class="job-chatBox cssFlex">
                                    <div class="chatJob" onclick="chatJob()">聊一聊</div>
                                    <div class="workJob" onclick="sendResume()">投递简历</div>
                                </div>
                            </div>
                            <div class="F9Line"></div>
                            <!--岗位职责-->
                            <div class="positionMain">
                                <h4 class="productName">岗位职责</h4>
                                <p class="posiText" id="description">
                                    1、对接泛娱乐社区的整体规划、内容建设及调性的把控，去中心化营销内容和达人，把适合的内容推荐给感兴趣的用户；<br/>
                                    2、 针对优质、有价值的内容和KOL进行包装，负责内容 架构、组织热点话题等相关策划，激励社区达人持续生产泛娱乐内容，持续为平台培养和提供优秀的内容和达人；
                                    3、深度挖掘用户需求，利用活动和品牌营销提高整体平台的活跃度，提升产品在行业内的影响力； 4、建立有效的数据跟踪机制，及时发现并处理运营问题；
                                    5、协助考核团队成员工作，有效激励团队。 任职要求：
                                    1、5年以上运营经验，运营过千万以上的UGC产品，熟悉运营各岗位工作，能够对各岗位工作进行把控和指导，不断帮助团队提升运营能力；
                                    2、关注行业动态，具较强的全局统筹和把控能力，能够进行独立决策；<br/>
                                    3、对数据敏感，具备很好的数据分析能力，能够根据运营数据及时优化各项工作；<br/>
                                    4、认同公司文化，具备良好的沟通协调能力和团队合作意识，责任心强，可以承受较大的工作压力。<br/>
                                    任职要求：<br/>
                                    1、5年以上运营经验，运营过千万以上的UGC产品，熟悉运营各岗位工作，能够对各岗位工作进行把控和指导，不断帮助团队提升运营能力；<br/>
                                    2、关注行业动态，具较强的全局统筹和把控能力，能够进行独立决策；<br/>
                                    3、对数据敏感，具备很好的数据分析能力，能够根据运营数据及时优化各项工作；<br/>
                                    4、认同公司文化，具备良好的沟通协调能力和团队合作意识，责任心强，可以承受较大的工作压力。<br/>
                                </p>
                            </div>
                            <h4 class="productName">技能要求</h4>
                            <div class="skillList cssFlex" id="skills">
                                <span>餐补</span>
                                <span>五险一金</span>
                                <span>五险</span>
                                <span>五险一金</span>
                                <span>五险一金</span>
                                <span>五险一金</span>
                                <span>五险一金</span>
                                <span>五险一金</span>
                            </div>
                            <div class="infoProduct cssFlex" id="company" onclick="company()">
                                <img src="../../../image/pro.png" alt="pro" class="pro-img">
                                <div class="infoProductContent">
                                    <div id="c_id" style="display: none;"></div>
                                    <h5 class="posiName" id="c_name1">云闪信(北京)信息科技有限公司</h5>
                                    <p class="textOverflow posiSize"><span id="financing">不需要融资</span>
                                        <i>·</i><span id="scale">100-499人</span><i>·</i><span id="org_type">互联网</span></p>
                                </div>
                            </div>

                            <div class="map-compony" id="container">

                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>


    </div>


</div>


<script type="text/javascript" src="../../../script/jquery-1.8.1.min.js"></script>
<script type="text/javascript" src="../../../script/api.js"></script>
<script type="text/javascript" src="../../../script/util.js"></script>
<script type="text/javascript" src="../../../script/mui.min.js"></script>
<script type="text/javascript" src="../../../script/rem.js"></script>
<script type="text/javascript" src="../../../script/apiCloud.js"></script>
<script type="text/javascript" src="../../../script/public.js"></script>
<script type="text/javascript" src="../../../script/data.js"></script>
<script type="text/javascript" src="../../../script/swiper-3.3.1.min.js"></script>
<script src="../../../script/vue.min.js"></script>
<script src="http://webapi.amap.com/maps?v=1.4.15&key=0615a1a43121ec125e0727d7b366d899"></script>
<script src="https://cdn.bootcss.com/eruda/1.2.6/eruda.js"></script>
<script>eruda.init();</script>

<script>
    // var card_el=document.getElementById("card_main");
    // card_el.style.height=csreen_height-80+"px";
    // console.log("card", card_el);
    // console.log("card height: "+card_el.style.height);

    var job_id, cid, uid, ptoken;
    apiready = function () {
        job_id = api.pageParam.job_id;
        urlPosition = api.pageParam.url;
        uidUser = localStorage.getItem("user")
        console.log(uidUser)
        if (job_id){
            positionDe(job_id)
            return;
        }
        if (!uidUser){
            ajaxGetWithProgress(JobId, '', function (data, err) {
                console.log(1,data)
                if (data) {
                    var data = data.JobSummary
                    console.log(556567,data)
                    document.querySelector('.view').classList.remove('isDisplay');

                    cid = data.c_id;
                    uid = data.uid;
                    ptoken = data.uid;
                    document.getElementById('job_name').innerText = data.job_name || '未填写';
                    document.getElementById('work_ex').innerText = data.work_ex || '未填写';
                    document.getElementById('edu_ex').innerText = data.edu_ex || '未填写';
                    document.getElementById('ratio').innerText = data.ratio || '未填写';
                    document.getElementById('user_name').innerText = data.user_name || '未填写';
                    document.getElementById('c_name').innerText = data.c_name || '未填写';
                    document.getElementById('c_name1').innerText = data.c_name || '未填写';
                    document.getElementById('financing').innerText = data.financing || '未填写';
                    document.getElementById('z_user_job').innerText = data.z_user_job || '未填写';
                    document.getElementById('description').innerHTML = data.description || '未填写';
                    document.getElementById('scale').innerText = data.scale || '未填写';
                    document.getElementById('org_type').innerText = data.org_type || '未填写';
                    document.getElementById('city').innerText = data.province +'-'+ data.city +'-'+ data.street;

                    if (data.skills) {
                        var skills = data.skills.split(',');
                        var doms = []
                        for (var i = 0; i < skills.length; i++) {
                            var str = '<span>'+ skills[i] +'</span>';
                            doms.push(str);
                        }
                        document.getElementById('skills').innerHTML = doms.join('');
                    } else {
                        document.getElementById('skills').innerHTML = '';
                    }

                }
            })
        }else{
            var uid = uidUser.user_uid;
            ajaxGetWithProgress(JobId, {person_id:uid}, function (data, err) {
                console.log(1,data)
                if (data) {
                    var data = data.JobSummary
                    console.log(556567,data)
                    document.querySelector('.view').classList.remove('isDisplay');

                    cid = data.c_id;
                    uid = data.uid;
                    ptoken = data.uid;
                    document.getElementById('job_name').innerText = data.job_name || '未填写';
                    document.getElementById('work_ex').innerText = data.work_ex || '未填写';
                    document.getElementById('edu_ex').innerText = data.edu_ex || '未填写';
                    document.getElementById('ratio').innerText = data.ratio || '未填写';
                    document.getElementById('user_name').innerText = data.user_name || '未填写';
                    document.getElementById('c_name').innerText = data.c_name || '未填写';
                    document.getElementById('c_name1').innerText = data.c_name || '未填写';
                    document.getElementById('financing').innerText = data.financing || '未填写';
                    document.getElementById('z_user_job').innerText = data.z_user_job || '未填写';
                    document.getElementById('description').innerHTML = data.description || '未填写';
                    document.getElementById('scale').innerText = data.scale || '未填写';
                    document.getElementById('org_type').innerText = data.org_type || '未填写';
                    document.getElementById('city').innerText = data.province +'-'+ data.city +'-'+ data.street;

                    if (data.skills) {
                        var skills = data.skills.split(',');
                        var doms = []
                        for (var i = 0; i < skills.length; i++) {
                            var str = '<span>'+ skills[i] +'</span>';
                            doms.push(str);
                        }
                        document.getElementById('skills').innerHTML = doms.join('');
                    } else {
                        document.getElementById('skills').innerHTML = '';
                    }

                }
            })
        }
        function positionDe(jobId) {

            var obj = {
                job_id: jobId || job_id
            }
            ajaxGetWithProgress(QueryJobSummary, obj, function (data, err) {
                // alert(JSON.stringify(data));
                console.log(data);
                if (data) {
                    document.querySelector('.view').classList.remove('isDisplay');

                    cid = data.c_id;
                    uid = data.uid;
                    ptoken = data.uid;
                    document.getElementById('job_name').innerText = data.job_name || '未填写';
                    document.getElementById('work_ex').innerText = data.work_ex || '未填写';
                    document.getElementById('edu_ex').innerText = data.edu_ex || '未填写';
                    document.getElementById('ratio').innerText = data.ratio || '未填写';
                    document.getElementById('user_name').innerText = data.user_name || '未填写';
                    document.getElementById('c_name').innerText = data.c_name || '未填写';
                    document.getElementById('c_name1').innerText = data.c_name || '未填写';
                    document.getElementById('financing').innerText = data.financing || '未填写';
                    document.getElementById('z_user_job').innerText = data.z_user_job || '未填写';
                    document.getElementById('description').innerHTML = data.description || '未填写';
                    document.getElementById('scale').innerText = data.scale || '未填写';
                    document.getElementById('org_type').innerText = data.org_type || '未填写';
                    document.getElementById('city').innerText = data.province +'-'+ data.city +'-'+ data.street;

                    if (data.skills) {
                        var skills = data.skills.split(',');
                        var doms = []
                        for (var i = 0; i < skills.length; i++) {
                            var str = '<span>'+ skills[i] +'</span>';
                            doms.push(str);
                        }
                        document.getElementById('skills').innerHTML = doms.join('');
                    } else {
                        document.getElementById('skills').innerHTML = '';
                    }

                }

            });
        }

        new Vue({
            el: '#app1',
            data: {
                list: [],
                list1: [],
                isHide: true,
                active: false,
                index1: -1,
                index2: -1
            },
            created: function () {
                this.queryListRandom()
            },
            methods: {
                queryListRandom: function () {
                    var that = this;
                    ajaxGetWithProgress(queryListRandom, {}, function (data, err) {
                        console.log(data);

                        that.list = data.job;
                        that.list1 = data.company;
                        // console.log(that.list)
                        document.getElementById('app1').classList.remove('isDisplay');
                    });
                },
                togle: function () {
                    document.getElementById('subBox').classList.remove('isDisplay');
                    console.log(123)
                    this.active = true;
                    var that = this;
                    this.queryListRandom();
                    setTimeout(function () {
                        that.active = false;
                    }, 1500)
                },
                detailClick: function (index,job_id) {
                    this.index1 = index;
                    this.index2 = -1;
                    console.log(job_id)
                    positionDe(job_id)
                },
                detailClick2: function (index,c_id) {
                    this.index2 = index;
                    this.index1 = -1;
                    console.log(c_id)
                    openNewWindow("companyInfo", "../home/companyInfo.html", {
                        cid: c_id
                    });
                },
                hideHandle: function () {
                    document.getElementById('subBox').classList.add('isDisplay');
                }

            }
        })
        var map = new AMap.Map("container", {
            resizeEnable: true,
            zoom: 16
        });
        map.clearMap();

    };

    // 点击进入公司详情页面
    function company() {
        openNewWindow("companyInfo", "../home/companyInfo.html", {
            cid: cid
        });
    }

    // 点击进入聊一聊
    function chatJob() {
        var uidUser = localStorage.getItem("user")
        if (!uidUser){
            openNewWindow("login", "../../login/login.html");
            return;
        }

        toast("功能正在开发中")
        return;

        var token = localStorage.getItem('person_id');
        openNewWindow("chat_Room", "../chat/chat_Room.html", {
            token: token,
            ptoken: ptoken,
        });
    }


    // 点击投递简历
    function sendResume() {
        var uidUser = localStorage.getItem("user")
        console.log(123,uidUser)
        if (!uidUser){
            openNewWindow("login", "../../login/login.html");
            return;
        }
        toast("功能正在开发中")
        return;

        var token = localStorage.getItem('user');
        console.log(112211,token)
        openNewWindow("chat_Room", "../chat/chat_Room.html", {
            token: token,
            ptoken: ptoken,
        });
    }
    // 点击进入发布人主页
    function homePage() {
        // openNewWindow("companyInfo", "../home/companyInfo.html", {
        //     uid: uid
        // });
    }

</script>
</body>
</html>
