<widget id="A6015404524948"  version="0.0.1">
    <name>渡客</name>
    <description>
        API Example App.
    </description>
    <author email="developer@apicloud.com" href="https://www.apicloud.com">
        APICloud.SIR
    </author>
    <content src="html/user/home/home.html" />
    <access origin="*" />
    <preference name="windowBackground" value="#FFF" />
    <permission name="call" />

</widget>