<widget id="A6015404524948"  version="0.0.1">
    <name>渡客</name>
    <description>
        API Example App.
    </description>
    <author email="developer@apicloud.com" href="https://www.apicloud.com">
        APICloud.SIR
    </author>
    <!--<content src="html/login/homeChoose.html" />-->
    <content src="html/login/passLogin.html" />
    <!--<content src="html/user/mine/mine.html" />-->
    <access origin="*" />
    <preference name="windowBackground" value="#FFF" />
    <permission name="call" />
    <preference name="statusBarAppearance" value="true" />     <!-- 沉浸式 -->
    <preference name="autoLaunch" value="true" />    <!--启动页时间 -->
    <preference name="iOS7StatusBarAppearance" value="true" />
    <preference name="debug" value="false" /> <!--调试模式 -->
    <preference name="launcher" value="true " />  <!--配置是否在桌面显示应用图标 -->

    <feature name="aMap">
        <param name="android_api_key" value="3eadfe73e2cdcad56b8e2c82b40378e9" />
        <param name="ios_api_key" value="4091f06d6613a7ecefa0ad420d637212" />
    </feature>

    <!--<feature name="wx">-->
        <!--<param name="urlScheme" value="wxd0d84bbf23b4a0e4"/>-->
        <!--<param name="apiKey" value="wxd0d84bbf23b4a0e4"/>-->
        <!--<param name="apiSecret" value="a354f72aa1b4c2b8eaad137ac81434cd"/>-->
    <!--</feature>-->
</widget>
