<!DOCTYPE html>
<html lang="en" class="commonBg">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>地址管理</title>
    <link rel="stylesheet" href="../../../css/api.css" />
    <link rel="stylesheet" href="../../../css/commonWin.css" />
    <link rel="stylesheet" href="../../../css/greatCommon.css" />
    <link rel="stylesheet" href="../../../css/mui.min.css">
    <link rel="stylesheet" href="../../../css/mui.picker.all.css"/>
    <link rel="stylesheet" href="../../../css/mui.dtpicker.css"/>
</head>
<body class="commonBg">


    <div class="Box" id="app">
        <div class="boxSub">
            <div class="information_content">

                <div class="information_item cssFlex">
                    <label>收货人姓名</label>
                    <input type="text" v-model="name" maxlength=80 placeholder="收货人姓名">
                </div>
                <div class="information_item cssFlex">
                    <label>联系电话</label>
                    <input type="number" v-model="phone" maxlength=80 placeholder="联系电话">
                </div>
                <div class="information_item cssFlex" @click="int_city()">
                    <label>收货地址</label>
                    <input type="text" v-model="adress" maxlength=80 placeholder="小区/写字楼/学校" readonly>
                    <img src="../../../icon/right.png" alt="right" class="rightImgAdr">
                </div>
                <div class="information_item cssFlex">
                    <label>门牌号</label>
                    <input type="text" v-model="detailed" maxlength=80 placeholder="例：8号楼808室">
                </div>

                <div class="information_btn" @click="addAdrBtn()">保存</div>
            </div>
        </div>



    </div>



    <script type="text/javascript" src="../../../script/api.js"></script>
    <script type="text/javascript" src="../../../script/apiCloud.js"></script>
    <script type="text/javascript" src="../../../script/public.js"></script>
    <script type="text/javascript" src="../../../script/rem.js"></script>
    <script type="text/javascript" src="../../../script/data.js"></script>
    <script src="../../../script/vue.min.js"></script>

    <script type="text/javascript" src="../../../script/mui.min.js"></script>
    <script type="text/javascript" src="../../../script/mui.picker.js"></script>
    <script type="text/javascript" src="../../../script/mui.dtpicker.js"></script>
    <script type="text/javascript" src="../../../script/city.data-3.js"></script>
    <script src="https://cdn.bootcss.com/eruda/1.2.6/eruda.js"></script>
    <script>eruda.init();</script>

    <script>

        apiready = function () {
            var app = new Vue({
                el: '#app',
                data: {
                    isDefult:false,
                    name:"zhang",
                    phone:"15901420539",
                    adress:"北京市-北京市-通州区",
                    detailed:"十五号楼",
                    person_id:"",
                    adrId:"",
                    adrStatus:'',
                },
                created: function () {
                    this.person_id = localStorage.getItem('person_id');
                    this.name = api.pageParam.name;
                    this.phone = api.pageParam.phone;
                    this.adress = api.pageParam.address;
                    this.detailed = api.pageParam.addrDetails;
                    this.adrStatus = api.pageParam.adrStatus;
                    this.adrId = api.pageParam.adrId;
                },
                mounted: function () {

                },
                methods: {
                    int_city : function () {
                        var that = this
                        var picker = new mui.PopPicker({
                            layer: 3
                        });
                        picker.setData(cityData3)
                        picker.pickers[0].setSelectedIndex(0);
                        picker.show(function(SelectedItem) {
                            that.adress = SelectedItem[0].text +'-'+ SelectedItem[1].text +'-'+ SelectedItem[2].text;
                            var obj = {
                                province : SelectedItem[0].text,
                                city : SelectedItem[1].text,
                                street : SelectedItem[2].text
                            }

                            ajaxGetWithProgress(addAddressByPerson,obj,function (data) {
                                if (data){
                                    that.adrId = data.adr_id
                                } else {
                                    toast("请求出错")
                                }
                            })
                            ////console.log(that.adrId)
                        })
                    },
                    addAdrBtn : function () {
                        var that = this
                        if (isBlack(that.name)) {
                            toast('请输入姓名');
                            return;
                        }
                        if (isBlack(that.phone)) {
                            toast('请输入手机号');
                            return;
                        }else if(!checkMobileNum(that.phone)){
                            toast("手机号码不正确");
                            return;
                        }
                        if (isBlack(that.adress)) {
                            toast('请输入地址');
                            return;
                        }
                        if (isBlack(that.detailed)) {
                            toast('请输入详细地址');
                            return;
                        }



                        var adrStatus = that.adrStatus

                        if (adrStatus == 1){
                            var str = {
                                pId:that.person_id,
                                name: that.name,
                                phone: that.phone,
                                address: that.adress,
                                addrDetails: that.detailed
                            }
                            ////console.log(str)
                            ajaxGetWithProgress(addDeliveryAdr, str, function (data, err) {
                                //console.log("adrStatus1",data);
                                var url = api.pageParam.url
                                if (data.status){
                                    var frameName = url + "_body";
                                    if (url == 'confirmOrder') {
                                        api.execScript({
                                            name:url,
                                            frameName: frameName,
                                            script:'address('+ JSON.stringify(that.name) +','+JSON.stringify(that.phone)+','+JSON.stringify(that.adress + that.detailed)+')'
                                        })

                                        closeWin();
                                        return;
                                    }
                                    api.execScript({
                                        name:url,
                                        frameName: frameName,
                                        script:"reloadAdrLoad()"
                                    })
                                    closeWin();
                                }else{
                                    api.toast({
                                        msg: '请求出错'
                                    });
                                }
                            });

                        } else if(adrStatus == 2){
                            var str2 = {
                                adrId:that.adrId,
                                pId:that.person_id,
                                name: that.name,
                                phone: that.phone,
                                address: that.adress,
                                addrDetails: that.detailed
                            }
                            //console.log(str2)
                            ajaxGetWithProgress(deliveryUpdate, str2, function (data, err) {
                                //console.log("adrStatus2",data);
                                var url = api.pageParam.url
                                if (data.success){
                                    var frameName = url + "_body";
                                    api.execScript({
                                        name:url,
                                        frameName: frameName,
                                        script:"reloadAdrLoad()"
                                    })
                                    closeWin();
                                }else{
                                    api.toast({
                                        msg: '请求出错'
                                    });
                                }
                            });
                        }

                    },

                }
            })
        }
    </script>
</body>
</html>
