<!DOCTYPE html>
<html lang="en" class="commonBg">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>地址管理</title>
    <link rel="stylesheet" href="../../../css/api.css"/>
    <link rel="stylesheet" href="../../../css/commonWin.css"/>
    <link rel="stylesheet" href="../../../css/greatCommon.css"/>
    <link rel="stylesheet" href="../../../css/mui.min.css"/>
</head>
<body class="commonBg">


<div class="Box" id="app">
    <div class="boxSub">
        <div class="defaultImg isDisplay">
            <img src="../../../image/great/adress.png" alt="adress" class="adressNot">
            <div class="subTitle">暂无收货地址</div>
            <div class="addAdressbtn" @click="addAdress()">新增地址</div>
        </div>


        <div class="adressBox isDisplay">
            <div class="adress-info"
                 v-for="(item, index) in adressList" :key="index">
                <img src="../../../icon/delete.png" alt="de" class="adinfo-dele" @click="delAdr(item.adrId)">
                <div class="adinfo-title cssFlex"@click="linkHandle(item.name,item.phone,item.address,item.addrDetails)">
                    <div class="adinfo-con">
                        <span class="adinfo-name">{{item.name}}</span>
                        <span class="adinfo-phone">{{item.phone}}</span>
                    </div>

                </div>
                <div class="adre-adress ellipsis" @click="linkHandle(item.name,item.phone,item.address,item.addrDetails,item.adrId)">
                    <span class="adinfo-defult"  v-if="item.adrStatus == 1">默认</span>
                    <span  v-if="item.adrStatus == 0"></span>
                    {{item.address}}{{item.addrDetails}}
                    <!--{{item.addrDetails}}-->
                </div>
                <div class="adres-edit cssFlex">
                    <div class="ad-defult cssFlex">
                        <input type="radio" class="myOrderHaveCheck" id="mode0"  @click="defultAdr(item.adrId)" name="checkItem">
                        <label for="mode0"></label>
                        <span v-if="item.adrStatus == 0">设为默认</span>
                        <span v-if="item.adrStatus == 1">已设为默认</span>
                    </div>
                    <div class="ad-edit-btn cssFlex">
                        <div class="ad-editBtn" @click="editAdr(item.adrId,index)">编辑</div>
                        <!--<div class="ad-topBtn">置顶</div>-->
                    </div>
                </div>
            </div>
            <div class="addAdressbtn" @click="addAdress()">新增地址</div>
        </div>


    </div>


</div>


<script type="text/javascript" src="../../../script/api.js"></script>
<script type="text/javascript" src="../../../script/util.js"></script>
<script type="text/javascript" src="../../../script/rem.js"></script>
<script type="text/javascript" src="../../../script/apiCloud.js"></script>
<script type="text/javascript" src="../../../script/public.js"></script>
<script type="text/javascript" src="../../../script/rem.js"></script>
<script type="text/javascript" src="../../../script/data.js"></script>
<script type="text/javascript" src="../../../script/mui.min.js"></script>
<script src="../../../script/vue.min.js"></script>

<script src="https://cdn.bootcss.com/eruda/1.2.6/eruda.js"></script>
    <script>eruda.init();</script>

<script>

    function reloadAdrLoad(){
        window.location.reload()
    }
    apiready = function () {

        var app = new Vue({
            el: '#app',
            data: {
                isDefult: false,
                person_id:"",
                name:"",
                adressList: [
                    // {
                    //     name: "田馥甄",
                    //     phone: "13310101101",
                    //     adress: "北京市朝阳区望京社区幸福家园A座2层201室2",
                    //     status: 1
                    // }, {
                    //     name: "田馥甄1",
                    //     phone: "13310101101",
                    //     adress: "北京市朝阳区望京社区幸福家园A座2层201室2",
                    //     status: 1
                    // }, {
                    //     name: "田馥甄2",
                    //     phone: "13310101101",
                    //     adress: "北京市朝a阳区望京社区幸福家园A座2层201室2",
                    //     status: 1
                    // }
                ]
            },
            created :function () {
                this.person_id = localStorage.getItem('person_id');
                this.deliveryShow()
            },
            mounted:function () {

            },
            methods:{
                // 选择收货地址
                linkHandle: function (name, phone, address, addrDetails,adrId) {
                    var url = api.pageParam.url
                    api.sendEvent({
                        name: 'addressDefault',
                        extra: {
                            key: {
                                /*c_id: that.magicComCid2,
                                c_name: that.magicCom2Text,
                                logo_icon: that.magicCom2Img,*/
                                addressDefault: 'true'
                            },

                        }
                    });
                    var frameName = url + "_body";
                    if (url == 'confirmOrder') {
                        api.execScript({
                            name:url,
                            frameName: frameName,
                            script:'address('+ JSON.stringify(name) +','+JSON.stringify(phone)+','+JSON.stringify(address + addrDetails)+','+JSON.stringify(adrId)+')'
                        })
                        closeWin();
                        return;
                    }

                },
                addAdress: function () {
                    openNewWindow("addAdress", "./addAdress.html", {
                        url: 'Adress',
                        adrStatus:1
                    })
                },
                deliveryShow : function () {
                    var that = this
                    var str = {
                        pid:that.person_id,
                    }
                    ajaxGetWithProgress(deliveryShow, str, function (data, err) {
                        console.log(data);
                        if (data.deliveryAdr.length != 0){
                            document.querySelector(".adressBox").classList.remove("isDisplay")
                            that.adressList = data.deliveryAdr

                        }else{
                            document.querySelector(".defaultImg").classList.remove("isDisplay")
                        }
                    });
                },
                delAdr :function (index) {
                    console.log(index)

                    mui.confirm('是否删除此地址吗?', function (e) {
                        if (e.index == 1) {

                            var str = {
                                adrId:index,
                            }
                            ajaxGetWithProgress(deliveryDelete,str,function(res,err) {
                                console.log(res);
                                reload()
                                api.toast({msg:"删除成功"})
                            })
                        }


                    })
                    /*ajaxGetWithProgress(deliveryDelete, str, function (data, err) {
                        console.log(data);
                        if (data.deliveryAdr){
                            document.querySelector(".adressBox").classList.remove("isDisplay")
                            that.adressList = data.deliveryAdr

                        }
                    });*/
                },
                editAdr :function (adrId,i) {
                    var that = this;
                    var dataAdr = that.adressList[i]
                    var adrId = adrId;
                    var name = dataAdr.name;
                    var phone = dataAdr.phone;
                    var address = dataAdr.address;
                    var addrDetails = dataAdr.addrDetails;
                    var adrStatus = 2;
                    openNewWindow("addAdress", "./addAdress.html", {
                        url: 'addAdress',
                        adrId:adrId,
                        name:name,
                        phone:phone,
                        address:address,
                        addrDetails:addrDetails,
                        adrStatus:adrStatus
                    })
                },
                defultAdr: function (index) {
                    var that = this
                    var str = {
                        adrid:index,
                        pid:that.person_id
                    }
                    ajaxGetWithProgress(deliverySetAddr,str,function(res,err) {
                        console.log(res);
                        reload()
                    })
                }
            }
        })
    }

</script>
</body>
</html>
