
<!DOCTYPE html>
<html lang="en" class="commonBg">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>确认订单</title>
    <link rel="stylesheet" href="../../../css/api.css" />
    <link rel="stylesheet" href="../../../css/commonWin.css" />
    <link rel="stylesheet" href="../../../css/greatCommon.css" />
    <link rel="stylesheet" href="../../../css/mui.min.css" />
    <style>
        .con-title-text{
            -webkit-line-clamp: 3;
            -moz-line-clamp: 3;
            -o-line-clamp: 3;
            line-clamp: 3;
        }
    </style>
</head>
<body class="commonBg">


<div class="Box isDisplay" id="app">
    <div class="boxSub" v-if="active == 'facial'">
        <div class="con-adr">
            <div class="con-adr-not cssFlex"
                 @click="adressHandle()"
                 :class="order.adr.addrDetails ? 'isDisplay' : ''">
                <div class="con-adr-not-left cssFlex">
                    <img src="../../../image/great/add.png" alt="add" class="adr-not-img">
                    <span>手动添加收货地址</span>
                </div>
                <img src="../../../icon/right.png" alt="right" class="info-img-right">
            </div>
            <div class="con-adr-yes"
                 @click="adressHandle()"
                 :class="!order.adr.addrDetails ? 'isDisplay' : ''">
                <div class="adr-yes-info cssFlex">
                    <img src="../../../image/great/name.png" alt="" class="adr-yes-user">
                    <span class="adr-yes-name" id="name">{{order.adr.name}}</span>
                    <span class="adr-yes-phone" id="phone">{{order.adr.phone}}</span>
                </div>
                <div class="adr-yes-adr cssFlex">
                    <img src="../../../image/great/adr.png" alt="ADR" class="adr-yes-adr">
                    <span class="ellipsis" id="address">{{order.adr.address}}{{order.adr.addrDetails}}</span>
                </div>
                <img src="../../../icon/right.png" alt="right" class="info-adr-right">
            </div>
            <img src="../../../image/great/lan.png" alt="lan" class="lineBot">
        </div>
    </div>

    <div class="line20" v-if="active == 'facial'">

    </div>
    <div class="boxSub">
        <div class="con-main">

            <div class="con-title cssFlex" v-if="active == 'tourism'">
                <img :src="item.placard.split(',')[0]" alt="img" class="con-title-img">
                <div class="con-title-info">
                    <div class="con-title-text textOverflow">
                        {{item.summary}}
                    </div>
                    <div class="conmain-price">
                        ¥{{item.price_y}}/件
                    </div>
                </div>
            </div>

            <div class="con-title cssFlex" v-if="active == 'facial'">
                <img :src="item.placard" alt="img" class="con-title-img">
                <div class="con-title-info">
                    <div class="con-title-text textOverflow">
                        {{item.summary}}
                    </div>
                    <div class="conmain-price">
                        ¥{{item.price}}/件
                    </div>
                </div>
            </div>

            <div class="conmain-subTitle" v-if="active == 'facial'">
                会员专享价：<i class="conmain-subtitle-price">{{item.priceh}}元</i>（渡客为会员补贴100元）
            </div>
            <div class="conmain-num cssFlex" v-if="active == 'facial'">
                <span class="conmain-h">购买数量</span>
                <div class="mui-numbox">
                    <button class="mui-btn mui-numbox-btn-minus" type="button" @click="numboxlit()">-</button>
                    <input class="mui-numbox-input" type="number" v-model="num"/>
                    <button class="mui-btn mui-numbox-btn-plus" type="button" @click="numboxAdd()">+</button>
                </div>
            </div>

            <div class="con-pay">支付方式:</div>
            <div class="con-pay-box">
                <div class="con-pay-main cssFlex">
                    <div class="con-pay-main-left cssFlex">
                        <img src="../../../image/great/gong.png" alt="gong" class="pay-gong">
                        <div class="con-pay-main-left-content">
                            <div class="gong-name">工商银行储蓄卡（推荐）</div>
                            <div class="gong-hui">满300元减20元</div>
                        </div>
                    </div>
                    <div class="con-pay-main-right">
                        <input type="radio" value="工商" v-model="bank" class="myOrderHaveCheck" id="mode0" name="checkItem">
                        <label for="mode0"></label>
                    </div>
                </div>
                <div class="con-pay-main cssFlex">
                    <div class="con-pay-main-left cssFlex">
                        <img src="../../../image/great/nong.png" alt="gong" class="pay-gong">
                        <div class="con-pay-main-left-content">
                            <div class="con-pay-bank-name">农业银行储蓄卡</div>
                        </div>
                    </div>
                    <div class="con-pay-main-right">
                        <input type="radio" value="农业" v-model="bank" class="myOrderHaveCheck" id="mode1" name="checkItem">
                        <label for="mode1"></label>
                    </div>
                </div>
                <div class="con-pay-main cssFlex">
                    <div class="con-pay-main-left cssFlex">
                        <img src="../../../image/great/wxc.png" alt="gong" class="pay-gong">
                        <div class="con-pay-main-left-content">
                            <div class="con-pay-bank-name">微信支付</div>
                        </div>
                    </div>
                    <div class="con-pay-main-right">
                        <input type="radio" value="微信" v-model="bank" class="myOrderHaveCheck" id="mode2" name="checkItem">
                        <label for="mode2"></label>
                    </div>
                </div>
                <div class="con-pay-main cssFlex">
                    <div class="con-pay-main-left  cssFlex">
                        <img src="../../../image/great/apy.png" alt="gong" class="pay-gong">
                        <div class="con-pay-main-left-content">
                            <div class="con-pay-bank-name">支付宝</div>
                        </div>
                    </div>
                    <div class="con-pay-main-right">
                        <input type="radio" value="支付宝" v-model="bank" class="myOrderHaveCheck" id="mode3" name="checkItem">
                        <label for="mode3"></label>
                    </div>
                </div>
            </div>

        </div>

    </div>

    <div class="con-main-bottom cssFlex">
        <div class="con-flex-left">
            <div class="con-margintop" v-if="active == 'facial'">¥{{item.priceh * num}}</div>
            <div class="con-margintop" v-if="active == 'tourism'">¥{{item.price_y * order.num}}</div>
            <div>实付款</div>
        </div>
        <div class="con-flex-right" @click="payment()">
            立即付款
        </div>
    </div>
</div>



<script type="text/javascript" src="../../../script/api.js"></script>
<!--<script type="text/javascript" src="../../../script/util.js"></script>-->
<script type="text/javascript" src="../../../script/apiCloud.js"></script>
<script type="text/javascript" src="../../../script/public.js"></script>
<script type="text/javascript" src="../../../script/rem.js"></script>
<script type="text/javascript" src="../../../script/data.js"></script>
<script type="text/javascript" src="../../../script/mui.min.js"></script>
<script src="../../../script/vue.min.js"></script>

<script src="https://cdn.bootcss.com/eruda/1.2.6/eruda.js"></script>
<script>eruda.init();</script>

<script>

    apiready = function () {
        var app = new Vue({
            el: '#app',
            data: {
                isDefult:false,
                infoName : "田馥甄",
                infoPhone : "15901478089",
                infoAdr : "北京市朝阳区望京社区幸福家园A座2层201室20…",
                mainPrice : "399",
                subMainPrice : "299",
                num: 1,
                person_id:"",
                item: '',
                order: '',
                bank: '',
                active: true
            },
            created: function () {
                this.person_id = localStorage.getItem('person_id');
                this.item = api.pageParam.item;
                this.order = api.pageParam.order;
                this.active = api.pageParam.url;
                console.log(api.pageParam.item);
                console.log(api.pageParam.order);
            },
            mounted: function () {
                document.getElementById('app').classList.remove('isDisplay');
            },
            methods: {
                // 选择地址
                adressHandle: function () {
                    openNewWindow("Adress", "./Adress.html", {
                        url: 'confirmOrder',
                        adrStatus: 1
                    });
                },
                // 增加商品
                numboxAdd: function () {
                    this.num++
                    if (this.num > 10) {
                        this.num = 10
                    }
                },
                // 减少商品
                numboxlit: function () {
                    this.num--
                    if (this.num < 1) {
                        this.num = 1
                    }
                },
                // 付款
                payment: function () {
                    var that = this;
                    // 商品类型
                    if (that.active == 'facial') {
                        var name = document.getElementById('name').innerText;
                        var phone = document.getElementById('phone').innerText;
                        var address = document.getElementById('address').innerText;
                        console.log(name, phone, address);
                        if (!address) {
                            mui.confirm('是否添加收获地址','您还未添加收货地址', function (e) {
                                if (e.index) {
                                    openNewWindow("addAdress", "./addAdress.html", {
                                        url: 'confirmOrder',
                                        adrStatus: 1
                                    });
                                }
                            }, 'div');
                            return;
                        }

                        console.log(that.bank)
                        if (!that.bank) {
                            mui.toast('请选择支付方式');
                            return;
                        } else if (that.bank == '微信' || that.bank == '支付宝') {

                            return;
                        }

                        ajaxGetWithProgress(PayOrder, {
                            pId: that.person_id,
                            bank: that.bank
                        }, function (data, err) {
                            console.log(data);
                            if (!data.date) {
                                mui.confirm('是否添加'+ that.bank +'银行卡','您还未添加'+ that.bank +'银行卡', function (e) {
                                    if (e.index) {
                                        openNewWindow("addCards", "./addCards.html", {
                                            url: 'confirmOrder',
                                            bank: that.bank
                                        });
                                    }
                                }, 'div');
                                return;
                            }


                        });

                        return;
                    }
                    // 旅游类型
                    if (that.active == 'tourism') {
                        var price_y = that.order.price;
                        var num = that.order.num;
                        var OrderKey = that.order.OrderKey;
                    }


                }
            }
        })
    }

    function address(name, phone, address) {
        document.getElementById('name').innerText = name;
        document.getElementById('phone').innerText = phone;
        document.getElementById('address').innerText = address;
    }
</script>
</body>
</html>
