<!DOCTYPE html>
<html lang="en" class="commonBg">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>聊天</title>
    <link rel="stylesheet" href="../../../css/api.css"/>
    <link rel="stylesheet" href="../../../css/commonWin.css"/>
    <link rel="stylesheet" href="../../../css/mui.min.css">
    <link rel="stylesheet" href="../../../css/swiper.min.css">
    <link rel="stylesheet" href="../../../css/greatCommon.css">
    <link rel="stylesheet" href="../../../css/mofang.css">
    <style>
        .searchClick {
            right: 0.1rem;
        }
        .personJu{
            position: absolute;
            top: 6.4rem;
            right: 0.2rem;
            width: 1.1rem;
            height: 1.1rem;
        }
    </style>
</head>
<body class="commonBg">


<div class="Box" id="home" v-cloak>


    <div class="bgBlack"@touchstart="hideBg()"></div>

    <div class="great_header_banner swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide" v-for="(imgSrc, index) in imgs" :key="index">
                <img :src="imgSrc.banner"/>
            </div>
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>
    </div>
    <div class="listBox">
        <img src="../../../image/duke-2.png" class="personJu" alt="person" @click="togle()">
        <div class="positionComCast positionRate" @click="juClick(item.tId)" v-for="(item,index) in greatList" :key="index">
            <div class="xuanboxCast" :class="`posiCast${index}`">
                <div class="daoboxCast">
                    <img :src="item.pic" class="iconImgCast" alt="person">
                    <div class="CastText commonFont">{{item.cateory}}</div>
                </div>
            </div>
        </div>

        <!--<div class="positionComCast positionRate" @click="juClick(1)">
            <div class="xuanboxCast posiCast1">
                <div class="daoboxCast">
                    <img src="../../../image/bigWeigh/huazhuangA.png" class="iconImgCast" alt="person">
                    <div class="CastText commonFont">化妆品</div>
                </div>
            </div>
        </div>
        <div class="positionComCast positionRate" @click="juClick(3)">
            <div class="xuanboxCast posiCast2">
                <div class="daoboxCast">
                    <img src="../../../image/bigWeigh/fangW.png" class="iconImgCast" alt="person">
                    <div class="CastText commonFont">希腊房产</div>
                </div>
            </div>
        </div>

        <div class="positionComCast positionRate" @click="juClick(6)">
            <div class="xuanboxCast posiCast3">
                <div class="daoboxCast">
                    <img src="../../../image/bigWeigh/baoxianW.png" class="iconImgCast" alt="person">
                    <div class="CastText commonFont">保险</div>
                </div>
            </div>
        </div>
        <div class="positionComCast positionRate" @click="juClick(8)">
            <div class="xuanboxCast posiCast4">
                <div class="daoboxCast">
                    <img src="../../../image/bigWeigh/zucheW.png" class="iconImgCast cariconImgCast" alt="person">
                    <div class="CastText commonFont">租车</div>
                </div>
            </div>
        </div>
        <div class="positionComCast positionRate" @click="juClick(5)">
            <div class="xuanboxCast posiCast5">
                <div class="daoboxCast">
                    <img src="../../../image/bigWeigh/nongW.png" class="iconImgCast" alt="person">
                    <div class="CastText commonFont">农产品</div>
                </div>
            </div>
        </div>
        <div class="positionComCast positionRate" @click="juClick(7)">
            <div class="xuanboxCast posiCast6">
                <div class="daoboxCast">
                    <img src="../../../image/bigWeigh/meirongW.png" class="iconImgCast" alt="person">
                    <div class="CastText commonFont">美容</div>
                </div>
            </div>
        </div>-->
        <div class="positionComCast positionRate" @click="juClick()">
            <div class="xuanboxCast posiCast7 posiCast7FCC">
                <div class="daoboxCast">
                    <img src="../../../image/bigWeigh/xicheW.png" class="iconImgCast" alt="person">
                    <div class="CastText commonFont">洗车券</div>
                </div>
            </div>
        </div>

    </div>


</div>


<script type="text/javascript" src="../../../script/api.js"></script>
<script type="text/javascript" src="../../../script/rem.js"></script>
<script type="text/javascript" src="../../../script/apiCloud.js"></script>
<script type="text/javascript" src="../../../script/public.js"></script>
<script type="text/javascript" src="../../../script/mui.min.js"></script>
<script type="text/javascript" src="../../../script/data.js"></script>
<script src="../../../script/swiper.min.js"></script>
<script src="../../../script/vue.min.js"></script>
<script src="../../../script/vuex.min.js"></script>


<script src="https://cdn.bootcss.com/eruda/1.2.6/eruda.js"></script>
<script>eruda.init();</script>

<script>
    var m_d,right,top,winWidth
    apiready = function () {
        winWidth = api.winWidth;
        winHeight = api.winHeight;

        if (winWidth > winHeight / 2){
            m_d = "1.5"
        }else {
            m_d = "1.8"
        }

        new Vue({
            el: '#home',
            data: {
                isDisplay: false,
                person_id: '',
                active: '',
                activeAni:true,
                styles: {
                    //存放的是 动态修改的样式
                    width: m_d + "rem",// 内容标题总样式
                    height: m_d + "rem",
                },
                stylesMove: {
                    //存放的是 动态修改的样式
                    right: m_d + "rem",// 内容标题总样式
                    top: m_d + "rem",
                    width: m_d + "rem",// 内容标题总样式
                    height: m_d + "rem",
                },
                imgs: [],
                greatList: [],
            },
            created: function () {
                this.CommodityType()
            },
            mounted: function () {
                var swiper = new Swiper('.swiper-container', {
                    pagination: {
                        el: '.swiper-pagination',
                    },
                    autoplay: true,
                    observer:true,//修改swiper自己或子元素时，自动初始化swiper
                    observeParents:true,//修改swiper的父元素时，自动初始化swiper
                });
            },
            methods: {
                togle: function () {
                    var that = this
                    that.activeAni = true;
                    that.CommodityType();
                    setTimeout(function () {
                        that.activeAni = false;
                    }, 1500)
                },
                CommodityType : function (){
                    var that = this;
                    ajaxGetWithProgress(CommodityType,{},function (data) {
                        console.log(data)
                        if (data){
                            that.greatList = data.comType;
                            that.imgs = data.comBanner;
                        } else{
                            toast("请求出错")
                        }
                    })
                },
                juClick : function (tid) {
                    ajaxGetWithProgress(commodityList,{tid : tid },function (data) {
                        //console.log("commodityList",data)
                        if (tid == 1) {
                            openNewWindow("index", "facial/index.html", {
                                cid: data.cid,
                                tId: tid,
                            })
                        } else if (tid == 2) {
                            openNewWindow("index", "ouou/index.html", {
                                ouId: data.cid,
                                tId: tid,
                            })
                        } else if (tid == 3) {
                            openNewWindow("index", "hourse/index.html", {
                                hourseId: data.cid,
                                tId: tid,
                            })
                        } else if (tid == 4) {
                            openNewWindow("index", "ouou/index.html", {
                                cid: data.cid,
                                tId: tid,
                            })
                        }else if (tid == 5) {
                            openNewWindow("index", "farmProduce/index.html", {
                                cid: data.cid,
                                tId: tid,
                            })
                        }
                    })
                }
            }
        })
    }

</script>
</body>
</html>
