<div id="interested">
    <div class="interested_main" style="padding: 0 0 0.2rem;"
         @click="resumeHandle(item.person_id)"
         v-for="(item, index) in list" :key="index">
        <div style="padding: 0 0.34rem;background:#ffffff;">
            <div class="contacts_main_item paddingBottom0 cssFlex">
                <div class="contacts_item_left"><img :src="imgSrcFun(item.p_icon)" alt=""></div>
                <div class="interested_item_con">
                    <div>
                        <span class="name">{{item.p_name ? item.p_name :'未填写'}} </span>
                        <span class="job_name">&nbsp;{{item.work_name ? item.work_name : '未填写'}}</span>
                    </div>
                    <span>{{item.com_name ? item.com_name : '未填写'}}</span>
                    <div class="interested_item_bottom">
                        <span v-if='item.job_from_time' class="span-1">{{item.job_from_time ? ages(item.job_from_time) : 0}}年</span>
                        <span class="span-2">{{item.degree ? item.degree : '未填写'}}</span>
                        <span class="span-3">¥{{item.pay ? item.pay : '未填写'}}</span>
                        <span v-if='item.p_birthday' class="span-4">{{ item.p_birthday ? ages(item.p_birthday) : '0'}}岁</span>
                    </div>
                </div>
            </div>
            <div class="interested_main_footer textOverflow" v-html="item.p_tags">
                <!--1、擅长PS、AI、Lr等设计制作软件；-->
                <!--2、有相对丰富的校园实践，以及工作经验。-->
            </div>
        </div>
    </div>


    <!--<div class="basics">-->
        <!--<img src="../../../image/chat/interested.png" alt="">-->
        <!--<div>还没有对你感兴趣的伯乐，快去主动联系TA吧！</div>-->
    <!--</div>-->
</div>
