<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>我的</title>
    <link rel="stylesheet" href="../../../css/api.css"/>
    <link rel="stylesheet" href="../../../css/commonWin.css"/>
    <link rel="stylesheet" href="../../../css/circleCommon.css"/>
    <style>

    </style>
    <script src="https://cdn.bootcss.com/eruda/1.2.6/eruda.js"></script>
    <script>eruda.init();</script>
</head>
<body>
<div id="circle">
    <img :src="poster" alt="" class="deImg">
    <div class="detailBox boxSub">
        <div class="detTitle commonTitle textOverflow">
            {{title}}
        </div>
        <div class="detailNum commonSub24">
            <span class="detailNumSee">浏览{{LookNum}}次</span>
            <span>收藏{{AttNum}}次</span>
        </div>
    </div>
    <div class="line20"></div>
    <div class="boxSub">
        <div class="detActTime cssFlex">
            <img src="../../../image/circle/tiem2x.png" alt="" class="tiem2x">
            <span class="detActTimeText">活动时间：</span>
            <span class="detActTimeInfo">
                {{c_from}}至{{c_to}}
            </span>
        </div>
        <div class= "detActAddr cssFlex">
            <div class="detActAddrLeft">
                <img src="../../../image/circle/city2x.png" alt="" class="city2x">
                <span class="detActTimeText">活动地点：</span>
                <span class="detActTimeInfo">
                {{address}}
            </span>
            </div>
            <img src="../../../image/circle/locationx.png" alt="locationx" class="locationx" @click="baiduditu()">
        </div>
        <div class="detActUser cssFlex">
            <div class="detActAddrLeft">
                <img src="../../../image/circle/contacts2x.png" alt="" class="contacts2x">
                <span class="detActTimeText">联系人：</span>
                <span class="detActTimeInfo">
                    {{phone}}
                </span>
            </div>
            <img src="../../../image/circle/phone2x.png" alt="locationx" class="locationx" @click="callHandle(phone)">
        </div>
    </div>

    <div class="line20"></div>

    <div class="boxSub dePerBox cssFlex" @click="userClick()">
        <div class="cssFlex dePerImgBopx">
            <img class="dePerImg" :src="p_icon" alt="">
            <div class="dePerText">
                <div class="dePerTextName">
                    <span class="commonFont dePerTextNameName">{{p_name}}</span>
                    <img src="../../../image/circle/boyIcon.png" v-show="p_sex == 1" alt="bot" class="boyIcon">
                    <img src="../../../image/circle/girlIcon.png" v-show="p_sex == 2" alt="bot" class="boyIcon">
                </div>
                <div class="dePerTextPos">
                    <span class="commonSub24 dePerTextPosName">{{company_name}}|{{job_name}}</span>
                </div>
            </div>

        </div>
        <img src="../../../icon/right.png" alt="right" class="info-img-right">
    </div>


    <div class="line20"></div>
    <div class="cssFlex detSign boxSub" @click="signClick()">
        <div class="detSignNum commonFont">已报名 {{BmCount}}人</div>
        <div class="detSignPerson cssFlex">
            <div class="deluserImgAll cssFlex">
                <img class="" v-if="CircleSummer !== null" v-for="(item,index) in CircleSummer" :key="index" :src="item.p_icon.split(',')[0]" alt="">
                <!--<img class="" src="../../../image/circle/allSeeIcon.png" alt="">
                <img class="" src="../../../image/circle/saoYzIcon.png" alt="">
                <img class="" src="../../../image/circle/perManIcon.png" alt="">
                <img class="" src="../../../image/circle/perManIcon.png" alt="">
                <img class="" src="../../../image/circle/perManIcon.png" alt="">-->
            </div>
            <img src="../../../icon/right.png" alt="right" class="info-img-right">
        </div>

    </div>
    <div class="line20"></div>
    <!--评价-->
    <div class="detStarBox boxSub">
        <div class="detStar cssFlex" @click="detStarAllClick()">
            <span class="detStarTitle commonFont">活动评价</span>
            <span class="detStarAll commonFont">全部评价</span>
        </div>
        <!--填写评论-->
        <div class="writeBox cssFlex">
            <img class="writeImg" src="../../../image/circle/actEditIcon.png" alt="">
            <input type="text" class="writeText" @click="focusHandle()" readonly placeholder="快来写下你的评论吧…">
        </div>

        <!--评论输入框-->
        <!--<div class="details_comment_box" :class="comment_box ? '' : 'isDisplay'">-->

        <div class="bgBlack" :class="comment_box ? '' : 'isDisplay'" @click="hideBg()"></div>
        <div class="details_comment_box cssFlex" :class="comment_box ? '' : 'isDisplay'">

            <input type="text" class="writeText" @focus="focusHandle()" v-model="textarea" placeholder="快来写下你的评论吧…">
            <span class="sendBtN" @click="sendHandle()">发送</span>
        </div>

        <!--评论列表-->
        <div class="discussList" :class="CommentSta ? '' : 'isDisplay'">
            <div class="discussTitle cssFlex">
                <div class="cssFlex discussInfo" @click="personClick(disPersonId)">
                    <img :src="disIcon" alt="">
                    <span>{{disName}}</span>
                </div>
                <div class="discussTime commonFont">
                    {{disTime}}
                </div>
            </div>
            <div class="discussText commonFont">
                {{disContent}}
            </div>
        </div>
    </div>
    <div class="ine20"></div>
    <!--活动详情-->
    <div class="detailTextBox boxSub">
        <div class="commonFont detailTextTitle">活动详情</div>

        <div class="detailMainBox">
            <div class="detailMainBoxText commonFont">
                {{details}}
            </div>
            <div class="detailMainBoxImg">
                <img src="../../../image/circle/circle01.png" alt="">
            </div>
        </div>
    </div>

    <div class="detailBomBtn cssFlex isDisplay" :class="detailBom_box ? 'isDisplay' : ''">
        <div class="ticketBtn" v-show="statusSign == 0" @click="signUpBtnClick()">电子票</div>
        <div class="ticketBtn" @click="ticketClick()" v-show="statusSign == 1">电子票</div>
        <div class="ticketBtn" @click="ticketClickNotSign()"v-show="statusSign == 2">电子票</div>
        <!--1 已报名  0  未报名  2 已结束  -->
        <div class="signUpBtn" v-show="statusSign == 0" @click="signUpBtnClick()">立即报名</div>
        <div class="signUpBtn" v-show="statusSign == 1">已报名</div>
        <div class="signUpBtn" v-show="statusSign == 2">已结束</div>


    </div>
    <div class="ModalHideCom isDisplay" @click="ModalHideCom()"></div>
    <div class="signModalBox isDisplay">
        <img src="../../../image/circle/modalImg.png" alt="" class="modalImg">
        <div class="formInfo">
            <input type="text" v-model="userName" placeholder="您的姓名" class="formInfoInput">
            <input type="text" v-model="userPhone" placeholder="您的电话" class="formInfoInput">
        </div>
        <div class="formInfoBtn" @click="signUpSubmit()">提交</div>
    </div>
</div>



<script type="text/javascript" src="../../../script/api.js"></script>
<script type="text/javascript" src="../../../script/rem.js"></script>
<script type="text/javascript" src="../../../script/apiCloud.js"></script>
<script type="text/javascript" src="../../../script/public.js"></script>
<script type="text/javascript" src="../../../script/data.js"></script>
<script type="text/javascript" src="../../../script/vue.min.js"></script>
<script>

    function reload() {
        window.location.reload()
    }

    apiready = function () {
        new Vue({
            el: '#circle',
            data: {

                comment_box : false,
                detailBom_box : false,

                CommentSta : false,

                textarea : '',
                userName : '',
                userPhone : '',
                circle_id : '',

                person_id : '',

                num :'',
                poster : '',
                title : '',
                LookNum : '0',
                AttNum : '0',
                BmCount : '0',
                c_from : '',
                c_to : '',
                details : '',
                address : '',
                p_name : '',
                p_icon : '',
                phone : '',
                job_name : '',
                company_name : '',
                p_sex : '',
                statusSign : '',
                disPersonId : '',
                disIcon : '',
                disName : '',
                disTime : '',
                disContent : '',


                CircleSummer : [],



            },
            created: function () {
                this.circle_id = api.pageParam.circle_id;
                this.person_id = localStorage.getItem("user");
                this.CircleProfileAllinOne();
            },
            mounted: function () {


            },
            methods: {
                CircleProfileAllinOne : function (){
                    var that = this;
                    var obj = {
                        circle_id : that.circle_id
                    }
                    ajaxGetWithProgress(CircleProfileAllinOne,obj,function (data) {
                        console.log("CircleProfileAllinOne",data);
                        var circleSummary =  data.circleSummary;
                        var Comment =  data.Comment;

                        console.log("Comment",Comment)

                        if (data){
                            document.querySelector(".detailBomBtn").classList.remove("isDisplay")
                            that.poster = circleSummary.poster;
                            that.title = circleSummary.title;
                            // that.title = circleSummary.title;
                            that.c_from = circleSummary.c_from;
                            that.c_to = circleSummary.c_to;
                            that.details = circleSummary.details;
                            that.address = circleSummary.address;
                            that.p_name = circleSummary.p_name;
                            that.p_icon = imgSrcFun(circleSummary.p_icon);
                            that.phone = circleSummary.phone;
                            that.job_name = circleSummary.job_name;
                            that.company_name = circleSummary.company_name;
                            that.p_sex = circleSummary.p_sex;
                            that.CircleSummer = data.CircleSummer;



                            if (Comment.p_name == undefined){
                                that.CommentSta = false
                            }else{
                                that.CommentSta = true
                                console.log(Comment.p_name)
                                that.disPersonId = Comment.person_id
                                that.disIcon = imgSrcFun(Comment.p_icon)
                                that.disName = Comment.p_name
                                that.disTime = Comment.time
                                that.disContent = Comment.content
                            }


                            that.LookNum = data.LookNum;
                            that.AttNum = data.AttNum;
                            that.BmCount = data.BmCount;
                            that.statusSign = data.status;

                        } else {
                            toast("请求失败")
                        }
                    })
                },
                signUpBtnClick : function () {
                    var that = this
                    document.querySelector(".ModalHideCom").classList.remove("isDisplay")
                    document.querySelector(".signModalBox").classList.remove("isDisplay")

                },
                ModalHideCom : function () {
                    var that = this
                    document.querySelector(".ModalHideCom").classList.add("isDisplay")
                    document.querySelector(".signModalBox").classList.add("isDisplay")
                },
                signUpSubmit : function (){
                    var that = this
                    if (!that.userName){
                        toast("请填写姓名")
                        return
                    }
                    if (!that.userPhone) {
                        toast('请填写手机号码');
                        return;
                    }else if(!checkMobileNum(that.userPhone)){
                        toast("手机号码不正确");
                        return;
                    }

                    var obj = {
                        circle_id : that.circle_id,
                        person_id : that.person_id,
                        u_name : that.userName,
                        phone : that.userPhone,
                    }
                    ajaxGetWithProgress(joinCircleCircleProfile,obj,function (data) {
                        console.log("joinCircleCircleProfile",data)
                        if (data.return_info.status){
                            toast("报名成功")
                            that.userName = ''
                            that.userPhone = ''

                            document.querySelector(".ModalHideCom").classList.add("isDisplay")
                            document.querySelector(".signModalBox").classList.add("isDisplay")
                            that.CircleProfileAllinOne()
                        } else {
                            toast("报名失败")
                        }
                    })
                },
                signClick : function () {
                    var that = this
                    openNewWindow("signYesPer", "./signYesPer.html",{
                        circle_id : that.circle_id
                    })
                },
                personClick: function (){
                    toast("个人主页")
                    // openNewWindow("signYesPer", "./signYesPer.html")
                },
                detStarAllClick : function () {
                    var that = this
                    openNewWindow("allDiscuss", "./allDiscuss.html",{
                        circle_id : that.circle_id
                    })
                },
                ticketClick : function () {
                    var that = this
                    openNewWindow("ticket", "./ticket.html",{
                        circle_id : that.circle_id
                    })
                },
                ticketClickNotSign : function () {
                    toast("报名结束暂无法报名")
                },
                // 唤起地图导航
                baiduditu: function (lat, lon, address) {
                    var that = this
                    var systemType = api.systemType;
                    var buttons = new Array();
                    var amap_installed = false;
                    var bmap_installed = false;
                    if (systemType == 'ios') {
                        var installed = api.appInstalled({
                            sync: true,
                            appBundle: 'iosamap://'
                        });
                        if (installed) {
                            amap_installed = true;
                            buttons.push('高德地图');
                        }
                        var installed = api.appInstalled({
                            sync: true,
                            appBundle: 'baidumap://'
                        });
                        if (installed) {
                            bmap_installed = true;
                            buttons.push('百度地图');
                        }
                    } else {
                        var installed = api.appInstalled({
                            sync: true,
                            appBundle: 'com.autonavi.minimap'
                        });
                        if (installed) {
                            amap_installed = true;
                            buttons.push('高德地图');
                        }
                        var installed = api.appInstalled({
                            sync: true,
                            appBundle: 'com.baidu.BaiduMap'
                        });
                        if (installed) {
                            bmap_installed = true;
                            buttons.push('百度地图');
                        }
                    }
                    if (bmap_installed == false && amap_installed == false) {
                        api.toast({
                            msg: '您没有安装任何地图软件'
                        });
                        return false;
                    }

                    var address = that.address;
                    var latbaidu = lat;
                    var lngbaidu = lon;
                    var latgaode = lat;
                    var lnggaode = lon;
                    api.actionSheet({
                        cancelTitle: '取消',
                        buttons: buttons
                    }, function (ret, err) {
                        var index = ret.buttonIndex;

                        switch (index) {
                            case 1:
                                if (amap_installed && bmap_installed) {
                                    if (systemType == 'ios') {
                                        api.openApp({
                                            iosUrl: 'iosamap://path?sourceApplication=applicationName&sid=BGVIS1&did=BGVIS2&dlat=' + latgaode + '&dlon=' + lnggaode + '&dname=' + that.address + '&dev=0&t=3'
                                        }, function (ret, err) {

                                        });
                                    } else {
                                        api.openApp({
                                            androidPkg: 'android.intent.action.VIEW',
                                            uri: 'amapuri://route/plan/?dlat=' + latgaode + '&dlon=' + lnggaode + '&dname=' + that.address + '&dev=0&t=3'
                                        }, function (ret, err) {

                                        });
                                    }
                                } else {
                                    if (amap_installed) {
                                        if (systemType == 'ios') {
                                            api.openApp({
                                                iosUrl: 'iosamap://path?sourceApplication=applicationName&sid=BGVIS1&did=BGVIS2&dlat=' + latgaode + '&dlon=' + lnggaode + '&dname=' + that.address + '&dev=0&t=3'
                                            }, function (ret, err) {

                                            });
                                        } else {
                                            api.openApp({
                                                androidPkg: 'android.intent.action.VIEW',
                                                uri: 'amapuri://route/plan/?dlat=' + latgaode + '&dlon=' + lnggaode + '&dname=' + that.address + '&dev=0&t=3'
                                            }, function (ret, err) {

                                            });
                                        }

                                    }
                                    if (bmap_installed) {
                                        if (systemType == 'ios') {
                                            api.openApp({
                                                iosUrl: 'baidumap://map/direction?destination=latlng:' + latbaidu + ',' + lngbaidu + '|name:' + that.address + '&mode=riding'
                                            }, function (ret, err) {
                                                if (err) {

                                                    //alert(JSON.stringify(err));
                                                }
                                            });
                                        } else {
                                            api.openApp({
                                                androidPkg: 'android.intent.action.VIEW',
                                                uri: 'baidumap://map/direction?destination=latlng:' + latbaidu + ',' + lngbaidu + '|name:' + that.address + '&mode=riding'
                                            }, function (ret, err) {

                                            });
                                        }
                                    }
                                    break;
                                }

                            case 2:
                                if (systemType == 'ios') {
                                    api.openApp({
                                        iosUrl: 'baidumap://map/direction?destination=latlng:' + latbaidu + ',' + lngbaidu + '|name:' + that.address + '&mode=riding'
                                    }, function (ret, err) {
                                        if (err) {
                                            //alert(JSON.stringify(err));

                                        }
                                    });
                                } else {
                                    api.openApp({
                                        androidPkg: 'android.intent.action.VIEW',
                                        uri: 'baidumap://map/direction?destination=latlng:' + latbaidu + ',' + lngbaidu + '|name:' + that.address + '&mode=riding'
                                    }, function (ret, err) {
                                        if (err) {
                                            //alert(JSON.stringify(err));
                                        }
                                    });
                                }
                                break;
                        }
                    })
                },
                // 唤起手机拨号功能
                callHandle: function (number) {
                    var that = this
                    api.call({
                        type: 'tel_prompt',
                        number: number
                    });
                },
                // 聚焦事件
                focusHandle: function () {
                    var uidUser = localStorage.getItem("user")
                    if (!uidUser) {
                        openNewWindow("login", "../../login/login.html");
                        return;
                    }
                    this.comment_box = true;
                },
                // 评论文本框input事件
                textInput: function () {
                    this.num = this.textarea.length;
                },
                // 发送
                sendHandle: function () {
                    // alert(123)
                    console.log(this.textarea);
                    if (!this.textarea) {
                        mui.toast('评论不能为空');
                        return;
                    }
                    var that = this;
                },
                // 聚焦事件
                focusHandle: function () {
                    var uidUser = localStorage.getItem("user")
                    if (!uidUser) {
                        openNewWindow("login", "../../login/login.html");
                        return;
                    }
                    this.comment_box = true;
                    this.detailBom_box = true;
                },
                hideBg: function () {
                    this.comment_box = false;
                    this.detailBom_box = false;
                },
                // 评论文本框input事件
                textInput: function () {

                },
                // 发送
                sendHandle: function () {
                    console.log(this.textarea);
                    if (!this.textarea) {
                        mui.toast('评论不能为空');
                        return;
                    }
                    var that = this;

                    ajaxGetWithProgress(addComment, {
                        person_id: that.person_id,
                        circle_id: that.circle_id,
                        content: that.textarea
                    }, function (data, err) {
                        console.log(data);
                        if (data.return_info.status) {
                            toast('评论成功');
                            that.comment_box = false;
                            that.detailBom_box = false;
                            that.textarea = '';
                            that.CircleProfileAllinOne()
                        } else {
                            toast('评论失败');
                        }
                    });


                },
            }
        })

    };

</script>
</body>
</html>
