<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>我的</title>
    <link rel="stylesheet" href="../../../css/api.css"/>
    <link rel="stylesheet" href="../../../css/commonWin.css"/>
    <link rel="stylesheet" href="../../../css/circleCommon.css"/>
    <style>

    </style>
    <script src="https://cdn.bootcss.com/eruda/1.2.6/eruda.js"></script>
    <script>eruda.init();</script>
</head>
<body>
<div id="circle">
    <img src="../../../image/circle/circle01.png" alt="" class="deImg">
    <div class="detailBox boxSub">
        <div class="detTitle commonTitle textOverflow">
            迪卡侬五一免费欢乐泡泡泡迪卡侬五一免费
            欢乐泡泡泡迪卡侬五一免费欢乐泡泡泡…
        </div>
        <div class="detailNum commonSub24">
            <span class="detailNumSee">浏览2176次</span>
            <span>收藏280次</span>
        </div>
    </div>
    <div class="line20"></div>
    <div class="boxSub">
        <div class="detActTime cssFlex">
            <img src="../../../image/circle/tiem2x.png" alt="" class="tiem2x">
            <span class="detActTimeText">活动时间：</span>
            <span class="detActTimeInfo">
                2019-04-16 11:00至2019-05-16 11:00
            </span>
        </div>
        <div class= "detActAddr cssFlex">
            <div class="detActAddrLeft">
                <img src="../../../image/circle/city2x.png" alt="" class="city2x">
                <span class="detActTimeText">活动地点：</span>
                <span class="detActTimeInfo">
                北京市少年宫
            </span>
            </div>
            <img src="../../../image/circle/locationx.png" alt="locationx" class="locationx" @click="baiduditu()">
        </div>
        <div class="detActUser cssFlex">
            <div class="detActAddrLeft">
                <img src="../../../image/circle/contacts2x.png" alt="" class="contacts2x">
                <span class="detActTimeText">联系人：</span>
                <span class="detActTimeInfo">
                    18710103920
                </span>
            </div>
            <img src="../../../image/circle/phone2x.png" alt="locationx" class="locationx" @click="callHandle()">
        </div>
    </div>

    <div class="line20"></div>

    <div class="boxSub dePerBox cssFlex" @click="userClick()">
        <div class="cssFlex">
            <img class="dePerImg" src="../../../image/circle/actEditIcon.png" alt="">
            <div class="dePerText">
                <div class="dePerTextName">
                    <span class="commonFont dePerTextNameName">爱吃鱼多陶先生</span>
                    <img src="../../../image/circle/boyIcon.png" alt="bot" class="boyIcon">
                </div>
                <div class="dePerTextPos">
                    <span class="commonSub24 dePerTextPosName">互联网金融|工程师</span>
                </div>
            </div>

        </div>
        <img src="../../../icon/right.png" alt="right" class="info-img-right">
    </div>


    <div class="line20"></div>
    <div class="cssFlex detSign boxSub" @click="signClick()">
        <div class="detSignNum commonFont">已报名 123人</div>
        <div class="detSignPerson cssFlex">
            <div class="deluserImgAll cssFlex">
                <img class="" src="../../../image/circle/actEditIcon.png" alt="">
                <img class="" src="../../../image/circle/allSeeIcon.png" alt="">
                <img class="" src="../../../image/circle/saoYzIcon.png" alt="">
                <img class="" src="../../../image/circle/perManIcon.png" alt="">
                <img class="" src="../../../image/circle/perManIcon.png" alt="">
                <img class="" src="../../../image/circle/perManIcon.png" alt="">
            </div>
            <img src="../../../icon/right.png" alt="right" class="info-img-right">
        </div>

    </div>
    <div class="line20"></div>
    <!--评价-->
    <div class="detStarBox boxSub">
        <div class="detStar cssFlex" @click="detStarAllClick()">
            <span class="detStarTitle commonFont">活动评价</span>
            <span class="detStarAll commonFont">全部评价</span>
        </div>
        <!--填写评论-->
        <div class="writeBox cssFlex">
            <img class="writeImg" src="../../../image/circle/actEditIcon.png" alt="">
            <input type="text" class="writeText" v-model="writeText" placeholder="快来写下你的评论吧…">
        </div>

        <!--评论列表-->
        <div class="discussList">
            <div class="discussTitle cssFlex">
                <div class="cssFlex discussInfo">
                    <img src="../../../image/circle/actEditIcon.png" alt="">
                    <span>微光</span>
                </div>
                <div class="discussTime commonFont">
                    2019-04-27
                </div>
            </div>
            <div class="discussText commonFont">
                据队友说你们组织的活动很好，早就想参加了，望你们的活动越办越好！
            </div>
        </div>
    </div>
    <div class="ine20"></div>
    <!--活动详情-->
    <div class="detailTextBox boxSub">
        <div class="commonFont detailTextTitle">活动详情</div>
        <div class="detailMainTitle commonFont">迪卡侬1周年欢迎健康泡泡泡</div>
        <div class="detailMainInfo cssFlex commonFont">
            <span class="detailMainInfoLeft">参加内容：</span>
            <span class="detailMainInfoRight">盘龙江边趣味跑</span>
        </div>
        <div class="detailMainInfo cssFlex commonFont">
            <span class="detailMainInfoLeft">参加人员：</span>
            <span class="detailMainInfoRight">盘龙江边趣味跑</span>
        </div>
        <div class="detailMainInfo cssFlex commonFont">
            <span class="detailMainInfoLeft">报名建议：</span>
            <span class="detailMainInfoRight">盘龙江边趣味跑</span>
        </div>
        <div class="detailMainInfo cssFlex commonFont">
            <span class="detailMainInfoLeft">报名费用：</span>
            <span class="detailMainInfoRight">盘龙江边趣味跑</span>
        </div>
        <div class="detailMainBox">
            <div class="detailMainBoxText commonFont">
                此外本次互动会有我们的跑步大神-兜兜亲自带队和大
                家分享跑步的经验和技巧。
            </div>
            <div class="detailMainBoxImg">
                <img src="../../../image/circle/circle01.png" alt="">
            </div>
        </div>
    </div>
    <div class="detailBomBtn cssFlex">
        <div class="ticketBtn" @click="ticketClick()">电子票</div>
        <div class="signUpBtn" @click="signUpBtnClick()">立即报名</div>
    </div>
    <div class="ModalHideCom isDisplay" @click="ModalHideCom()"></div>
    <div class="signModalBox isDisplay">
        <img src="../../../image/circle/modalImg.png" alt="" class="modalImg">
        <div class="formInfo">
            <input type="text" v-model="userName" placeholder="您的姓名" class="formInfoInput">
            <input type="text" v-model="userPhone" placeholder="您的电话" class="formInfoInput">
        </div>
        <div class="formInfoBtn">提交</div>
    </div>
</div>



<script type="text/javascript" src="../../../script/api.js"></script>
<script type="text/javascript" src="../../../script/rem.js"></script>
<script type="text/javascript" src="../../../script/apiCloud.js"></script>
<script type="text/javascript" src="../../../script/public.js"></script>
<script type="text/javascript" src="../../../script/data.js"></script>
<script type="text/javascript" src="../../../script/vue.min.js"></script>
<script>

    function reload() {
        window.location.reload()
    }

    apiready = function () {
        new Vue({
            el: '#circle',
            data: {
                writeText : '',
                userName : '',
                userPhone : '',
            },
            created: function () {

            },
            mounted: function () {


            },
            methods: {
                signUpBtnClick : function () {
                    var that = this
                    document.querySelector(".ModalHideCom").classList.remove("isDisplay")
                    document.querySelector(".signModalBox").classList.remove("isDisplay")
                },
                ModalHideCom : function () {
                    var that = this
                    document.querySelector(".ModalHideCom").classList.add("isDisplay")
                    document.querySelector(".signModalBox").classList.add("isDisplay")
                },
                signClick : function () {
                    var that = this
                    openNewWindow("signYesPer", "./signYesPer.html")
                },
                detStarAllClick : function () {
                    var that = this
                    openNewWindow("allDiscuss", "./allDiscuss.html")
                },
                ticketClick : function () {
                    var that = this
                    openNewWindow("ticket", "./ticket.html")
                },
                // 唤起地图导航
                baiduditu: function (lat, lon, address) {
                    var systemType = api.systemType;
                    var buttons = new Array();
                    var amap_installed = false;
                    var bmap_installed = false;
                    if (systemType == 'ios') {
                        var installed = api.appInstalled({
                            sync: true,
                            appBundle: 'iosamap://'
                        });
                        if (installed) {
                            amap_installed = true;
                            buttons.push('高德地图');
                        }
                        var installed = api.appInstalled({
                            sync: true,
                            appBundle: 'baidumap://'
                        });
                        if (installed) {
                            bmap_installed = true;
                            buttons.push('百度地图');
                        }
                    } else {
                        var installed = api.appInstalled({
                            sync: true,
                            appBundle: 'com.autonavi.minimap'
                        });
                        if (installed) {
                            amap_installed = true;
                            buttons.push('高德地图');
                        }
                        var installed = api.appInstalled({
                            sync: true,
                            appBundle: 'com.baidu.BaiduMap'
                        });
                        if (installed) {
                            bmap_installed = true;
                            buttons.push('百度地图');
                        }
                    }
                    if (bmap_installed == false && amap_installed == false) {
                        api.toast({
                            msg: '您没有安装任何地图软件'
                        });
                        return false;
                    }

                    var address = address;
                    var latbaidu = lat;
                    var lngbaidu = lon;
                    var latgaode = lat;
                    var lnggaode = lon;
                    api.actionSheet({
                        cancelTitle: '取消',
                        buttons: buttons
                    }, function (ret, err) {
                        var index = ret.buttonIndex;

                        switch (index) {
                            case 1:
                                if (amap_installed && bmap_installed) {
                                    if (systemType == 'ios') {
                                        api.openApp({
                                            iosUrl: 'iosamap://path?sourceApplication=applicationName&sid=BGVIS1&did=BGVIS2&dlat=' + latgaode + '&dlon=' + lnggaode + '&dname=' + address + '&dev=0&t=3'
                                        }, function (ret, err) {

                                        });
                                    } else {
                                        api.openApp({
                                            androidPkg: 'android.intent.action.VIEW',
                                            uri: 'amapuri://route/plan/?dlat=' + latgaode + '&dlon=' + lnggaode + '&dname=' + address + '&dev=0&t=3'
                                        }, function (ret, err) {

                                        });
                                    }
                                } else {
                                    if (amap_installed) {
                                        if (systemType == 'ios') {
                                            api.openApp({
                                                iosUrl: 'iosamap://path?sourceApplication=applicationName&sid=BGVIS1&did=BGVIS2&dlat=' + latgaode + '&dlon=' + lnggaode + '&dname=' + address + '&dev=0&t=3'
                                            }, function (ret, err) {

                                            });
                                        } else {
                                            api.openApp({
                                                androidPkg: 'android.intent.action.VIEW',
                                                uri: 'amapuri://route/plan/?dlat=' + latgaode + '&dlon=' + lnggaode + '&dname=' + address + '&dev=0&t=3'
                                            }, function (ret, err) {

                                            });
                                        }

                                    }
                                    if (bmap_installed) {
                                        if (systemType == 'ios') {
                                            api.openApp({
                                                iosUrl: 'baidumap://map/direction?destination=latlng:' + latbaidu + ',' + lngbaidu + '|name:' + address + '&mode=riding'
                                            }, function (ret, err) {
                                                if (err) {

                                                    //alert(JSON.stringify(err));
                                                }
                                            });
                                        } else {
                                            api.openApp({
                                                androidPkg: 'android.intent.action.VIEW',
                                                uri: 'baidumap://map/direction?destination=latlng:' + latbaidu + ',' + lngbaidu + '|name:' + address + '&mode=riding'
                                            }, function (ret, err) {

                                            });
                                        }
                                    }
                                    break;
                                }

                            case 2:
                                if (systemType == 'ios') {
                                    api.openApp({
                                        iosUrl: 'baidumap://map/direction?destination=latlng:' + latbaidu + ',' + lngbaidu + '|name:' + address + '&mode=riding'
                                    }, function (ret, err) {
                                        if (err) {
                                            //alert(JSON.stringify(err));

                                        }
                                    });
                                } else {
                                    api.openApp({
                                        androidPkg: 'android.intent.action.VIEW',
                                        uri: 'baidumap://map/direction?destination=latlng:' + latbaidu + ',' + lngbaidu + '|name:' + address + '&mode=riding'
                                    }, function (ret, err) {
                                        if (err) {
                                            //alert(JSON.stringify(err));
                                        }
                                    });
                                }
                                break;
                        }
                    })
                },
                // 唤起手机拨号功能
                callHandle: function (number) {
                    api.call({
                        type: 'tel_prompt',
                        number: '15901420539'
                    });
                },

            }
        })

    };

</script>
</body>
</html>
