<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>活动详情</title>
    <link rel="stylesheet" href="../../../css/api.css"/>
    <link rel="stylesheet" href="../../../css/commonWindow.css"/>
    <link rel="stylesheet" href="../../../css/mui.min.css">
    <link rel="stylesheet" href="../../../css/circleCommon.css">
    <link rel="stylesheet" href="../layui/css/layui.css">
    <style>
        #popover {
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, .5);
            position: fixed;
            left: 0;
            top: 0;
        }

        .popover_content {
            /*width: 70%;*/
            /*height: 3rem;*/
            /*background: #ffffff;*/
            border-radius: 0.08rem;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }
        .details_content_main img{
            max-width: 6.3rem;

            margin: 0.1rem 0;
        }
        .details_content_main p{
            text-align: center;
            line-height: 0.4rem;
            color: #333333;
            font-size: 0.28rem;
        }

    </style>
</head>
<body>
<div id="details">
    <div class="isDisplay" id="box">
        <!--活动基本信息-->
        <div class="details_header">
            <div class="details_header_top">
                <div class="details_header_img">
                    <img :src="item.poster" alt="">
                    <!--<img src="http://112.126.98.172:8000/SE4M/ShowAvatar?person_id=1" alt="">-->
                </div>
                <div class="details_header_title">
                    <div class="details_title_con textOverflow">
                        {{item.title}}
                    </div>
                    <div class="details_sign">已报名 <span>{{count || 0}}</span></div>
                </div>
            </div>

            <div class="details_header_content">
                <div class="circle_tiem">活动时间: <span> {{item.c_from}}至{{item.c_to}}</span></div>
                <div class="circle_city" @click="cityHandle(item.latitude, item.longitude, item.shortname)">
                    活动地点: <span>
                        <!--{{item.province}}{{item.city}}{{item.street}}-->
                    {{item.shortname}}
                    </span>

                    <img src="../../../image/circle/locationx.png" alt="">
                </div>
                <div class="circle_city phone" @click="callHandle(item.phone)">
                    联系人: <span> {{item.phone}}</span>

                    <img src="../../../image/circle/phone2x.png" alt="">
                </div>
            </div>
        </div>
        <!--活动介绍-->
        <div class="details_content">
            <div class="details_content_hear">活动介绍</div>
            <div class="details_content_main" v-html="item.details"></div>
        </div>
        <!--活动参加人数-->
        <div class="details_comment_enrolled" v-if="!edit && list == ''">
            <div class="details_enrolled_top">
                <span>已报名</span>
                <span>{{count || 0}}</span>
            </div>

            <!--<div class="details_enrolled_content cssFlex">
                <div class="details_enrolled_item" v-for="(user, u) in list" :key="u">
                    <img :src="user.p_icon.split(',')[0]" alt="">
                    <span>{{user.u_name}}</span>
                </div>
            </div>-->
        </div>

        <div class="details_comment_enrolled" v-if="edit && list.length > 1" @click="signManage(item.circle_id)">
            <div class="details_enrolled_top">
                <span>已报名</span>
                <span>{{count || 0}}</span>
            </div>

            <div class="details_enrolled_content cssFlex">
                <div class="details_enrolled_item" v-for="(user, u) in list" :key="u">
                    <img :src="user.p_icon.split(',')[0]" alt="">
                    <span>{{user.u_name}}</span>
                </div>
            </div>
        </div>
        <!--活动评论-->
        <div class="details_comment" v-if="!edit">
            <div class="details_comment_title"><span>评论</span></div>
            <div class="details_comment_content">
                <div class="details_comment_top">
                    <!--<img :src="item.p_icon.split(',')[0]" alt="">-->
                    <img :src="imgsrc" alt="">
                    <input type="text" @focus="focusHandle()" v-model="textarea" placeholder="我来说点什么...">
                </div>

                <div class="details_comment_item" v-for="(details, index) in list1" :key="index">
                    <div class="details_item_top">
                        <!--<img src="../../../image/pro.png" alt="">-->
                        <img :src="details.p_icon.split(',')[0]" alt="">
                        <span>{{details.p_name}}</span>
                    </div>
                    <div class="details_item_con">
                        <p>{{details.content}}</p>

                        <div class="details_item_bottom">

                            <span>{{details.time.split(' ')[0]}}</span>
                            <!--<span>{{details.time}}</span>-->
                            <div>
                                <span @click="comments2(details.comment_id, index)">{{details.commentByid ? details.commentByid.length : 0}}</span>
                                <span @click="giveZan(details.status, details.comment_id, index)" v-if="details.status == 0">{{details.CommentZan || 0}}</span>
                                <span class="active" @click="giveZan(details.status, details.comment_id, index)" v-if="details.status == 1">{{details.CommentZan}}</span>
                            </div>
                        </div>
                    </div>

                    <div class="details_item_children">
                        <div v-for="(child, c) in details.commentByid" :key="c" v-if="details.commentByid && c < details.total">
                            <div class="details_item_children_top">
                                <!--<img src="../../../image/pro.png" alt="">-->
                                <img :src="child.p_icon.split(',')[0]" alt="">
                                <span>{{child.p_name}}</span>
                            </div>

                            <div class="details_item_children_con">
                                <div>回复: <span>{{child.content}}</span></div>
                            </div>
                        </div>

                        <div class="details_item_children_bottom" v-if="details.commentByid && details.commentByid.length > 1">
                            <span>{{details.commentByid[1].p_name}}等人</span>
                            <span @click="repliesHandle(index)">共{{details.commentByid.length}}条回复</span>
                        </div>

                        <div class="details_item_children_footer" v-if="details.commentByid && details.commentByid.length > 1">
                            <!--<span>6-18 23:13</span>-->
                            <span style="font-size: 0.22rem;margin-left: 0.05rem">
                                {{ filterTime2(filterTime0(details.commentByid[details.commentByid.length-1].time)) }}
                            </span>
                            <span @click="comments2(details.comment_id, index)"><img src="../../../image/circle/reply2x.png" alt=""></span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="details_comment_footer">
                <div class="details_comment_footer_btn" @click="linkHandle()">{{signStatus}}</div>
            </div>
        </div>
        <!--取消和编辑活动-->
        <div class="details_edit cssFlex" v-if="edit">
            <div @click="clearActivities()">取消活动</div>
            <div @click="editActivities()">编辑活动</div>
        </div>

        <!--评论输入框-->
        <div class="details_comment_box" :class="comment_box ? '' : 'isDisplay'">
            <textarea v-model="textarea" @input="textInput()" autofocus="autofocus" maxlength=300 name="" id="" cols="30" rows="10"
                      placeholder="写评论"></textarea>
            <div class="num_total"><span>{{num}}</span>/300</div>
            <div><span @click="sendHandle()">发送</span></div>
        </div>
        <!--报名输入框-->
        <div id="popover" v-if="popover" @touchmove.prevent>
            <div class="popover_content">
                <form class="mui-input-group">
                    <div class="mui-input-row">
                        <label>用户名:</label>
                        <input type="text" v-model="u_name" class="mui-input-clear" placeholder="请输入姓名">
                    </div>
                    <div class="mui-input-row">
                        <label>手机号:</label>
                        <input type="number" v-model="phone" class="mui-input-clear" placeholder="请输入手机号">
                    </div>
                    <div class="mui-button-row">
                        <button type="button" class="mui-btn mui-btn-primary" @click="confirmHand()">确认</button>
                        <button type="button" class="mui-btn mui-btn-danger" @click="cancel()">取消</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="../../../script/api.js"></script>
<script type="text/javascript" src="../../../script/util.js"></script>
<script type="text/javascript" src="../../../script/rem.js"></script>
<script type="text/javascript" src="../../../script/apiCloud.js"></script>
<script type="text/javascript" src="../../../script/public.js"></script>
<script type="text/javascript" src="../../../script/rem.js"></script>
<script type="text/javascript" src="../../../script/mui.min.js"></script>
<script type="text/javascript" src="../../../script/data.js"></script>
<script src="../../../script/vue.min.js"></script>
<script src="../../../script/vuex.min.js"></script>

<script src="https://cdn.bootcss.com/eruda/1.2.6/eruda.js"></script>
    <script>eruda.init();</script>
<script>
    apiready = function () {

        new Vue({
            el: '#details',
            data: {
                isDisplay: false,
                comment_box: false,
                item: {},
                user: {},
                imgsrc: '',
                status: 0,
                person_id: '',
                circle_id: '',
                bac_id: null,
                itemIndex: null,
                edit: false,
                list: [],
                list1: [],
                index: 0,
                signStatus: '我要报名',
                num: 0,
                count: 0,
                textarea: '',
                u_name: '',
                phone: '',
                popover: false,
            },
            created: function () {
                this.person_id = localStorage.getItem('person_id');
                this.circle_id = api.pageParam.circle_id;
                this.edit = api.pageParam.edit;
                this.CircleProfileAllinOne();
                this.queryApplyList();
                this.queryCommentSummary();
                // this.QuerySummary();
            },
            mounted: function () {
                this.watchKeybord();
                this.isDisplay = true;
            },
            methods: {
                // 获取数据
                CircleProfileAllinOne: function () {
                    var that = this;
                    // console.log(123)
                    ajaxGetWithProgress(CircleProfileAllinOne, {
                        person_id: that.person_id,
                        circle_id: that.circle_id
                    }, function (data, err) {
                        document.getElementById('box').className = '';
                        console.log(123,data);
                        // alert(data);
                        if (data.circle_summary) {
                            that.item = data.circle_summary;
                            that.status = data.status;
                            that.count = data.Count;
                            console.log(that.item);
                            that.imgsrc = that.item.p_icon.split(',')[0];
                            // that.queryApplyList();
                            // that.queryCommentSummary();
                        }

                        if (that.status) {
                            that.signStatus = '已报名'
                        }
                    });
                },
                // 获取报名的数据列表
                queryApplyList: function () {
                    var that = this;
                    ajaxGetWithProgress(queryApplyList, {
                        circle_id: that.circle_id
                    }, function (data, err) {
                        console.log(2222, data);
                        if (data.ApplyList) {
                            var arr = data.ApplyList;
                            for (var i = 0; i < arr.length; i++) {
                                arr[i]['active'] = false;
                                if (i >= 7) {
                                    return;
                                }
                                if (arr[i].status < 2 && i < 7) {
                                    that.list.push(arr[i])
                                }
                            }
                        }else{

                        }

                    });
                },
                // 获取评论数据
                queryCommentSummary: function () {
                    var that = this;
                    ajaxGetWithProgress(queryCommentSummary, {
                        circle_id: that.circle_id
                    }, function (data, err) {
                        console.log(data);
                        if (data.comment) {
                            var arr = data.comment;
                            for (var i = 0; i < arr.length; i++) {
                                arr[i]['total'] = 1
                            }
                            that.list1 = arr;
                        }
                    });
                },
                // 获取个人信息数据
                QuerySummary: function () {
                    var that = this;
                    ajaxGetWithProgress(QuerySummary, {}, function (data, err) {
                        // console.log(data);
                        that.user = data;
                    });
                },
                // 进入报名管理
                signManage: function (circle_id) {
                    openNewWindow("sign-manage", "./sign-manage.html", {
                        circle_id: circle_id
                    })
                },
                // 点击打开地图
                cityHandle: function (lat, lon, address) {
                    // console.log(lat);
                    // console.log(lon);
                    // console.log(address);
                    this.baiduditu(lat, lon, address);
                },
                // 唤起地图导航
                baiduditu: function (lat, lon, address) {
                    var systemType = api.systemType;
                    var buttons = new Array();
                    var amap_installed = false;
                    var bmap_installed = false;
                    if (systemType == 'ios') {
                        var installed = api.appInstalled({
                            sync: true,
                            appBundle: 'iosamap://'
                        });
                        if (installed) {
                            amap_installed = true;
                            buttons.push('高德地图');
                        }
                        var installed = api.appInstalled({
                            sync: true,
                            appBundle: 'baidumap://'
                        });
                        if (installed) {
                            bmap_installed = true;
                            buttons.push('百度地图');
                        }
                    } else {
                        var installed = api.appInstalled({
                            sync: true,
                            appBundle: 'com.autonavi.minimap'
                        });
                        if (installed) {
                            amap_installed = true;
                            buttons.push('高德地图');
                        }
                        var installed = api.appInstalled({
                            sync: true,
                            appBundle: 'com.baidu.BaiduMap'
                        });
                        if (installed) {
                            bmap_installed = true;
                            buttons.push('百度地图');
                        }
                    }
                    if (bmap_installed == false && amap_installed == false) {
                        api.toast({
                            msg: '您没有安装任何地图软件'
                        });
                        return false;
                    }

                    var address = address;
                    var latbaidu = lat;
                    var lngbaidu = lon;
                    var latgaode = lat;
                    var lnggaode = lon;
                    api.actionSheet({
                        cancelTitle: '取消',
                        buttons: buttons
                    }, function (ret, err) {
                        var index = ret.buttonIndex;

                        switch (index) {
                            case 1:
                                if (amap_installed && bmap_installed) {
                                    if (systemType == 'ios') {
                                        api.openApp({
                                            iosUrl: 'iosamap://path?sourceApplication=applicationName&sid=BGVIS1&did=BGVIS2&dlat=' + latgaode + '&dlon=' + lnggaode + '&dname=' + address + '&dev=0&t=3'
                                        }, function (ret, err) {

                                        });
                                    } else {
                                        api.openApp({
                                            androidPkg: 'android.intent.action.VIEW',
                                            uri: 'amapuri://route/plan/?dlat=' + latgaode + '&dlon=' + lnggaode + '&dname=' + address + '&dev=0&t=3'
                                        }, function (ret, err) {

                                        });
                                    }
                                } else {
                                    if (amap_installed) {
                                        if (systemType == 'ios') {
                                            api.openApp({
                                                iosUrl: 'iosamap://path?sourceApplication=applicationName&sid=BGVIS1&did=BGVIS2&dlat=' + latgaode + '&dlon=' + lnggaode + '&dname=' + address + '&dev=0&t=3'
                                            }, function (ret, err) {

                                            });
                                        } else {
                                            api.openApp({
                                                androidPkg: 'android.intent.action.VIEW',
                                                uri: 'amapuri://route/plan/?dlat=' + latgaode + '&dlon=' + lnggaode + '&dname=' + address + '&dev=0&t=3'
                                            }, function (ret, err) {

                                            });
                                        }

                                    }
                                    if (bmap_installed) {
                                        if (systemType == 'ios') {
                                            api.openApp({
                                                iosUrl: 'baidumap://map/direction?destination=latlng:' + latbaidu + ',' + lngbaidu + '|name:' + address + '&mode=riding'
                                            }, function (ret, err) {
                                                if (err) {

                                                    //alert(JSON.stringify(err));
                                                }
                                            });
                                        } else {
                                            api.openApp({
                                                androidPkg: 'android.intent.action.VIEW',
                                                uri: 'baidumap://map/direction?destination=latlng:' + latbaidu + ',' + lngbaidu + '|name:' + address + '&mode=riding'
                                            }, function (ret, err) {

                                            });
                                        }
                                    }
                                    break;
                                }

                            case 2:
                                if (systemType == 'ios') {
                                    api.openApp({
                                        iosUrl: 'baidumap://map/direction?destination=latlng:' + latbaidu + ',' + lngbaidu + '|name:' + address + '&mode=riding'
                                    }, function (ret, err) {
                                        if (err) {
                                            //alert(JSON.stringify(err));

                                        }
                                    });
                                } else {
                                    api.openApp({
                                        androidPkg: 'android.intent.action.VIEW',
                                        uri: 'baidumap://map/direction?destination=latlng:' + latbaidu + ',' + lngbaidu + '|name:' + address + '&mode=riding'
                                    }, function (ret, err) {
                                        if (err) {
                                            //alert(JSON.stringify(err));
                                        }
                                    });
                                }
                                break;
                        }
                    })
                },
                // 唤起手机拨号功能
                callHandle: function (number) {
                    api.call({
                        type: 'tel_prompt',
                        number: number
                    });
                },
                // 聚焦事件
                focusHandle: function () {
                    // alert(123)
                    var uidUser = localStorage.getItem("user")
                    if (!uidUser){
                        openNewWindow("login", "../../login/login.html");
                        return;
                    }
                    this.comment_box = true;
                },
                // 评论文本框input事件
                textInput: function () {
                    this.num = this.textarea.length;
                },
                // 失焦事件
                // blurHandle: function () {
                //     // alert(123)
                //     this.comment_box = false;
                // },
                // 监听resize隐藏评论输入框
                watchKeybord: function () {
                    var that = this
                    var oriWinHeight = window.innerHeight
                    window.onresize = function() {
                        // that.isKeybordAvail = true
                        let newHeight = window.innerHeight

                        // 阀值大于140判断为键盘收起
                        if (newHeight - oriWinHeight > 140) {
                            that.comment_box = false;
                            // alert(123)
                        }
                        oriWinHeight = newHeight
                    }
                },
                // 发送
                sendHandle: function () {
                    // alert(123)
                    console.log(this.textarea);
                    if (!this.textarea) {
                        mui.toast('评论不能为空');
                        return;
                    }
                    var that = this;

                    ajaxGetWithProgress(addComment, {
                        person_id: that.person_id,
                        circle_id: that.circle_id,
                        content: that.textarea,
                        bac_id: that.bac_id
                    }, function (data, err) {
                        console.log(data);
                        if (data.return_info.status) {
                            mui.toast('评论成功');

                            api.ajax({
                                url: queryCommentSummary,
                                method: 'get',
                                data: {
                                    values: {
                                        circle_id: that.item.circle_id
                                    },
                                }
                            }, function(data, err) {

                                // console.log(456)
                                // console.log(data)
                                if (data.comment) {
                                    var arr = data.comment;
                                    for (var i = 0; i < arr.length; i++) {
                                        arr[i]['total'] = 1
                                    }
                                    that.list1 = arr;
                                }
                                that.bac_id = null;
                                that.comment_box = false;
                                that.textarea = '';
                            });
                        } else {
                            mui.toast('评论失败');
                        }
                    });

                    // var time = (new Date()).format("yyyy-MM-dd hh:mm:ss.S");
                    // var obj = {
                    //     content: that.textarea,
                    //     p_icon: that.user.p_icon,
                    //     p_name: that.user.p_name,
                    //     time: time,
                    //     person_id: that.user.person_id,
                    //     status: 0,
                    //     bac_id: null,
                    //     commentByid: [],
                    //     CommentZan: 0
                    // };
                    //
                    // console.log(123, obj);
                    // console.log(that.itemIndex);
                    // console.log(that.list1[that.itemIndex]);
                    // if (that.itemIndex >= 0 && that.itemIndex != null && that.itemIndex != undefined) {
                    //     var arr = that.list1[that.itemIndex].commentByid;
                    //     if (arr) {
                    //         that.$set(that.list1, that.itemIndex, that.list1[that.itemIndex].commentByid.unshift(obj));
                    //     } else {
                    //         that.list1[that.itemIndex]['commentByid'] = []
                    //         that.$set(that.list1, that.itemIndex, that.list1[that.itemIndex].commentByid.unshift(obj));
                    //     }
                    //
                    //     alert(1)
                    // } else {
                    //     that.list1.push(obj);
                    //     console.log(that.list1);
                    //     alert(2)
                    // }

                    that.bac_id = null;
                    that.comment_box = false;
                    that.textarea = '';
                },


                // 点击查看更多回复
                repliesHandle: function (index) {
                    this.list1[index]['total'] = this.list1[index].commentByid.length;
                },
                // 二级评论
                comments2: function (bac_id, index) {
                    var uidUser = localStorage.getItem("user")
                    if (!uidUser){
                        openNewWindow("login", "../../login/login.html");
                        return;
                    }
                    this.comment_box = true;
                    this.bac_id = bac_id;
                    this.itemIndex = index;
                    console.log(index)
                },
                // 点赞
                giveZan: function (status, comment_id, index) {
                    // console.log(comment_id);
                    var uidUser = localStorage.getItem("user")
                    if (!uidUser){
                        openNewWindow("login", "../../login/login.html");
                        return;
                    }
                    var that = this;
                    if (this.list1[index].status == 0) {
                        api.ajax({
                            url: addLike,
                            method: 'get',
                            data: {
                                values: {
                                    comment_id: comment_id,
                                    uid: that.person_id
                                },
                            }
                        }, function(data, err) {
                            console.log(444,data)
                            if (data.return_info.status) {
                                that.list1[index].status = 1;
                                that.list1[index].CommentZan++
                                mui.toast('点赞成功');
                            }
                        });

                    } else {
                        api.ajax({
                            url: removeLike,
                            method: 'get',
                            data: {
                                values: {
                                    comment_id: comment_id,
                                    uid: that.person_id
                                },
                            }
                        }, function(data, err) {
                            console.log(data)
                            if (data.return.status) {
                                that.list1[index].status = 0;
                                that.list1[index].CommentZan--
                                mui.toast('取消点赞');
                            }
                        });

                    }

                },
                // 点击报名
                linkHandle: function () {
                    var uidUser = localStorage.getItem("user")
                    if (!uidUser){
                        openNewWindow("login", "../../login/login.html");
                        return;
                    }
                    if (this.signStatus == '已报名') {
                        var that = this;
                        openNewWindow("E_ticket", "./E_ticket.html", {
                            circle_id: that.circle_id,
                            person_id: that.item.person_id
                        })
                        return;
                    }
                    this.popover = true;
                },
                // 确认
                confirmHand: function () {
                    var that = this;

                    if (!that.u_name) {
                        mui.toast('请填写姓名');
                        return;
                    }

                    if (!checkMobileNum(that.phone)) {
                        mui.toast('请填写正确的手机号');
                        return;
                    }
                    ajaxGetWithProgress(joinCircle, {
                        circle_id: that.circle_id,
                        person_id: that.item.person_id,
                        u_name: that.u_name,
                        phone: that.phone,
                    }, function (data, err) {

                        console.log(data);
                        if (data.return_info.status) {
                            that.popover = false;
                            that.signStatus = '已报名'
                            openNewWindow("E_ticket", "./E_ticket.html", {
                                circle_id: that.circle_id,
                                person_id: that.item.person_id
                            })
                        }

                    });
                },
                // 取消
                cancel: function () {
                    this.popover = false;
                },
                // 取消活动
                clearActivities: function () {
                    var that = this;
                    mui.confirm('您确定要取消此活动吗?', function (e) {
                        if (e.index) {
                            ajaxGetWithProgress(updateCircle, {
                                cir_status: 0,
                                circle_id: that.circle_id,
                            }, function (data, err) {

                                console.log(data);
                                if (data.return.status) {
                                    mui.toast('活动以取消');
                                    closeWin();
                                }

                            });
                        }
                    })

                },
                // 编辑活动
                editActivities: function () {

                }
            }
        })
    }
</script>
</body>
</html>
