<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>圈子</title>
    <link rel="stylesheet" href="../../../css/api.css" />
    <link rel="stylesheet" href="../../../css/commonWin.css" />
    <link rel="stylesheet" href="../../../css/circleCommon.css">
</head>

<body>
    <div id='detailWrap' v-cloak class="detailWrap">
        <div class="intro">
            <textarea v-model='intro' id="activityIntro" placeholder="请输入活动介绍，建议500字以内" maxlength="500"></textarea>
        </div>
        <div class="pics">
            <p>编辑活动详情图片（可添加长图，日程图等信息）</p>
            <div class="activityPic">
                <div @click='upimg' class="picList" v-if='imgList.length>0' v-for='item in imgList'>
                    <img :src='item.thumbPath' alt="">
                </div>
                <div v-if='imgList.length<6' @click='upimg' class="picList">
                    <img src="../../../image/circle/editActiveImg.png" alt="">
                </div>
            </div>
        </div>
    </div>
</body>
<script src="https://cdn.bootcss.com/eruda/1.2.6/eruda.js"></script>
<script>
    eruda.init();
</script>
<script type="text/javascript" src="../../../script/api.js"></script>
<script type="text/javascript" src="../../../script/util.js"></script>
<script type="text/javascript" src="../../../script/rem.js"></script>
<script type="text/javascript" src="../../../script/apiCloud.js"></script>
<script type="text/javascript" src="../../../script/public.js"></script>
<script type="text/javascript" src="../../../script/data.js"></script>
<script src="../../../script/vue.min.js"></script>
<script src="../../../script/vuex.min.js"></script>
<script>
    var url;
    // var preservation;
    var app;
    apiready = function() {

        url = api.pageParam.url;
        var details = api.pageParam.details;
        var cost = api.pageParam.cost;
        ////console.log(api.pageParam,'54444');
        app = new Vue({
            el: '#detailWrap',
            data: {
                imgList: [],
                intro: '',
                imgs:'',

            },
            mounted(){
              if(details && cost){ //编辑
                this.intro = details;
                this.imgs = cost;
                var costArr = cost.split(',');
                var arr = [];
                for(var i = 0; i< costArr.length; i++){
                  if(costArr[i].length > 0){
                    arr.push({thumbPath:costArr[i]});
                  }
                }
                this.imgList = arr;
              }

            },
            methods: {
                upimg: function() {
                    var that = this
                    var UIAlbumBrowser = api.require('UIAlbumBrowser');
                    UIAlbumBrowser.open({
                        max: 6,
                        styles: {
                            bg: '#fff',
                            mark: {
                                icon: '',
                                position: 'bottom_left',
                                size: 30
                            },
                            nav: {
                                bg: 'rgba(0,0,0,0.6)',
                                titleColor: '#fff',
                                titleSize: 18,
                                cancelColor: '#fff',
                                cancelSize: 16,
                                finishColor: '#fff',
                                finishSize: 16
                            }
                        },
                        rotation: true
                    }, function(ret) {
                        if (ret) {
                            //console.log("ret==", ret)
                            that.imgList = ret.list;

                            var imgListArr = {}
                            var imgList = ret.list;
                            for (var i=0;i<imgList.length;i++){
                                imgListArr["file"+(i+1)] = imgList[i].thumbPath;
                            }

                            //console.log(imgListArr,'955');

                            var obj = {
                                uid: localStorage.getItem("user").user_id
                            }
                            api.showProgress();
                            api.ajax({
                                // report : false,
                                url: 'http://192.168.1.6:8088/upload/UploadFlieTest',
                                method: 'post',
                                cache: 'false',
                                timeout: 30,
                                dataTpye: 'json',
                                data: {
                                    files: imgListArr,
                                    values: obj

                                }
                            }, function(data, err) {

                                //console.log("dataaaa", data);
                                api.hideProgress();
                                if (data.code == 0) {

                                    that.imgs = data.imgUrl
                                }
                            });
                        }
                    });
                }
            },

        })
    };

    function preservation() {
          var data = {
              imgs: app.imgs,
              intro: app.intro
          }
          // //console.log(data,'124')
          var frameName = url + "_body";
          api.execScript({
              name: url,
              frameName: frameName,
              script: 'tripValue(' + JSON.stringify(data) + ')'
          })
          closeWin();
      }
</script>

</html>
