<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>圈子</title>
    <link rel="stylesheet" href="../../../css/api.css"/>
    <link rel="stylesheet" href="../../../css/commonWin.css"/>
    <link rel="stylesheet" href="../../../css/mui.min.css">
    <link rel="stylesheet" href="../../../css/circleCommon.css">
</head>
<body>
<div id="circle" v-cloak>
    <!--quanzi-->
    <div class="cirBox isDisplay">
        <div class="cirSubBox" @click="activeDetail(item.circle_id,item.MyCreate)" v-for="(item,index) in circleList" :key="index">
            <div class="cirSubBoxSub cssFlex">
                <img :src="item.poster" alt="circle" class="circleImg">
                <div class="cirMain">
                    <div class="cirMainTitle commonFont textOverflow">{{item.title}}</div>
                    <div class="cirMainTitleUser commonSub24 cssFlex">
                        发起人:
                        <img :src="item.p_icon.split(',')[0]" alt="userInfoImg" class="userInfoImg">
                        {{item.cir_name}}
                    </div>
                    <div class="cirMainTitleTime commonSub24 cssFlex">
                        活动时间：{{item.c_from.slice(5,7)}}-{{item.c_from.slice(8,10)}}~{{item.endtime.slice(5,7)}}-{{item.endtime.slice(8,10)}}
                    </div>
                    <div class="cirMainTitleAddr commonSub24 cssFlex">
                        活动地点：{{item.address.split('-')[1]}}-{{item.address.split('-')[2]}}
                    </div>
                    <div class="cirMainTitleNote cssFlex" v-if="item.suggest !== ''">
                        <span :class="`spanNote${index1}`" v-for="(item1,index1) in item.suggest.split(',')" :key="index1">{{item1}}</span>
                    </div>
                    <div class="cirMainTitleNote cssFlex" v-else>

                    </div>
                </div>
            </div>
            <div class="cirSignUser cssFlex">
                <div class="cirSignUserLeft">
                    <div class="userImgAll cssFlex" :class="item.count == 0 ? 'isDisplay' : ''">
                        <img class="allImgCom" :class="`allImg${index2}`" v-for="(item2,index2) in item.CircleSummer" :key="index2" :src="item2.p_icon.split(',')[0]" alt="">
                        <!--<img class="allImgCom allImg1" src="../../../image/circle/allSeeIcon.png" alt="">
                        <img class="allImgCom allImg2" src="../../../image/circle/saoYzIcon.png" alt="">
                        <img class="allImgCom allImg3" src="../../../image/circle/perManIcon.png" alt="">-->
                    </div>
                    <div class="cirSignUserNum commonSub24">
                        {{item.count}}人已报名
                    </div>
                </div>

                <div class="signUserBtnCom signUserBtn" v-show="item.MyCreate == false">立即报名</div>
                <div class="signUserBtnCom signUserBtnMy" v-show="item.MyCreate == true">我的活动</div>

            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="../../../script/api.js"></script>
<script type="text/javascript" src="../../../script/apiCloud.js"></script>
<script type="text/javascript" src="../../../script/public.js"></script>
<script type="text/javascript" src="../../../script/rem.js"></script>
<script type="text/javascript" src="../../../script/mui.min.js"></script>
<script type="text/javascript" src="../../../script/data.js"></script>
<script src="../../../script/vue.min.js"></script>
<!--<script src="../../../script/vuex.min.js"></script>-->

<script src="https://cdn.bootcss.com/eruda/1.2.6/eruda.js"></script>
<script>eruda.init();</script>
<script>
    function reload() {
        window.location.reload()
    }
    apiready = function () {

        new Vue({
            el: '#circle',
            data: {
                isDisplay: false,
                CommentSta: false,
                person_id: '',
                cirImg: '../../../image/circle/circle01.png',
                circleList : [],

            },
            created: function () {
                this.person_id = localStorage.getItem('person_id');
                this.queryCircleList()
            },
            mounted: function () {

            },
            methods: {
                activeDetail:function (circle_id,MyCreate) {
                    var that = this
                    if (MyCreate == true){
                        openNewWindow("manActivity", "./manActivity.html",{
                            circle_id : circle_id,
                            url : "index"
                        });
                    } else {
                        openNewWindow("activeDetail", "./activeDetail.html",{
                            circle_id : circle_id,
                            url : "index"
                        });
                    }

                },
                queryCircleList : function () {
                    var that = this
                    var obj = {

                    }
                    ajaxGetWithProgress(queryCircleList,obj,function (data) {
                        console.log("queryCircleList",data)

                        if (data){
                            document.querySelector(".cirBox").classList.remove("isDisplay")
                            that.circleList = data.Circlelist
                        } else {
                            toast("请求出错")
                        }
                    })
                }
            }
        })
    }
</script>
</body>
</html>
