<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>圈子</title>
    <link rel="stylesheet" href="../../../css/api.css" />
    <link rel="stylesheet" href="../../../css/commonWin.css" />
    <link rel="stylesheet" href="../../../css/mui.min.css">
    <link rel="stylesheet" href="../../../css/circleCommon.css">
</head>
<body>
    <div id="add_activities">
        <div id="box">
            <div class="add_activities_header cssFlex" @click="componentHandle()">
                <div><span :class="isActive ? 'active' : ''">我的发布</span></div>
                <div><span :class="isActive ? '' : 'active'">我参加的</span></div>
            </div>

            <!--<component :is="isCom"></component>-->
            <myrelease v-if="isActive"></myrelease>
            <myjoin v-if="!isActive"></myjoin>
        </div>
    </div>

    <script type="text/javascript" src="../../../script/api.js"></script>
    <script type="text/javascript" src="../../../script/util.js"></script>
    <script type="text/javascript" src="../../../script/jquery-1.8.1.min.js"></script>
    <script type="text/javascript" src="../../../script/apiCloud.js"></script>
    <script type="text/javascript" src="../../../script/public.js"></script>
    <script type="text/javascript" src="../../../script/rem.js"></script>
    <script type="text/javascript" src="../../../script/mui.min.js"></script>
    <script type="text/javascript" src="../../../script/data.js"></script>
    <script src="../../../script/vue.min.js"></script>
    <script src="../../../script/vuex.min.js"></script>

    <script src="./comment/myrelease.js"></script>
    <script src="comment/myjoin.js"></script>

    <script src="https://cdn.bootcss.com/eruda/1.2.6/eruda.js"></script>
    <script>eruda.init();</script>
    <script>

        function reload (){
            window.location.reload()
        }
        var content
        apiready = function () {
            var myrelease = myreleaseInit(Vue);
            console.log(myrelease)
            var myjoin = myjoinInit(Vue);
            Vue.component('myrelease', myrelease);
            Vue.component('myjoin', myjoin);

            new Vue({
                el: '#add_activities',
                components: {
                    myrelease: myrelease,
                    myjoin: myjoin
                },
                data: {
                    isActive: true,
                    isCom: 'myrelease',
                    person_id: '',
                },
                created: function () {

                },
                mounted: function () {

                },
                methods: {
                    // 切换组件
                    componentHandle: function () {
                        this.isActive = !this.isActive;
                        if (this.isActive) {
                            this.isCom = 'sign_suc';
                        } else {
                            this.isCom = 'sign_erro';
                        }
                    }
                }
            })
        }
    </script>
</body>
</html>
