<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>圈子</title>
    <link rel="stylesheet" href="../../../css/api.css" />
    <link rel="stylesheet" href="../../../css/commonWindow.css" />
    <link rel="stylesheet" href="../../../css/mui.min.css">
    <link rel="stylesheet" href="../../../css/circleCommon.css">
</head>
<body>
    <div id="add_activities">
        <div class="isDisplay" id="box">
            <div class="add_activities_header cssFlex" @click="componentHandle()">
                <div><span :class="isActive ? 'active' : ''">基本信息</span></div>
                <div><span :class="isActive ? '' : 'active'">活动详情</span></div>
            </div>

            <!--<component :is="isCom"></component>-->
            <information v-if="isActive"></information>
            <activities v-if="!isActive"></activities>
        </div>
    </div>

    <script type="text/javascript" src="../../../script/api.js"></script>
    <script type="text/javascript" src="../../../script/util.js"></script>
    <script type="text/javascript" src="../../../script/jquery-1.8.1.min.js"></script>
    <script type="text/javascript" src="../../../script/apiCloud.js"></script>
    <script type="text/javascript" src="../../../script/public.js"></script>
    <script type="text/javascript" src="../../../script/rem.js"></script>
    <script type="text/javascript" src="../../../script/mui.min.js"></script>
    <script type="text/javascript" src="../../../script/data.js"></script>
    <script src="../../../script/vue.min.js"></script>
    <script src="../../../script/vuex.min.js"></script>
    <script src="./comment/information.js"></script>
    <script src="comment/activities.js"></script>

    <script src="https://cdn.bootcss.com/eruda/1.2.6/eruda.js"></script>
    <script>eruda.init();</script>
    <script>
        apiready = function () {


            // var ckeditor = CKEDITOR.replace('textarea');

            var information = informationInit(Vue);
            var activities = activitiesInit(Vue);


            Vue.component('information', information);
            Vue.component('activities', activities);

            new Vue({
                el: '#add_activities',
                components: {
                    information: information,
                    activities: activities
                },
                data: {
                    isActive: true,
                    isCom: 'information',
                    person_id: '',
                },
                created: function () {

                },
                mounted: function () {
                    document.getElementById('box').className = '';
                    this.isDisplay = true;
                },
                methods: {


                    // 切换组件
                    componentHandle: function () {
                        this.isActive = !this.isActive;
                        if (this.isActive) {
                            this.isCom = 'information';
                        } else {
                            this.isCom = 'details';
                        }
                    }
                }
            })
        }



    </script>
</body>
</html>
