<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>圈子</title>
    <link rel="stylesheet" href="../../../css/api.css" />
    <link rel="stylesheet" href="../../../css/commonWin.css" />
    <link rel="stylesheet" href="../../../css/mui.min.css">
    <link rel="stylesheet" href="../../../css/mui.picker.all.css" />
    <link rel="stylesheet" href="../../../css/mui.dtpicker.css" />
    <link rel="stylesheet" href="../../../css/circleCommon.css">
</head>

<body>
    <div id="informationInit">
        <div class="information_head" style="styleObject" @click="upImg()">
            <div class="information_head_add" v-if="!img"></div>
            <img :src="img" v-if="img" alt="">
        </div>
        <div class="information_content">
            <div class="information_item cssFlex">
                <label>活动名称：</label>
                <input type="text" v-model="title" maxlength=80 placeholder="请输入活动名称">
            </div>
            <div class="information_item cssFlex">
                <label>主办人：</label>
                <input type="text" v-model="name" maxlength=80 placeholder="请填写个人昵称或单位名称">
            </div>
            <div class="information_item cssFlex">
                <label>联系电话：</label>
                <input type="number" v-model="phone" maxlength=80 placeholder="请填写手机号码">
            </div>
            <div class="information_item cssFlex">
                <label>活动标签：</label>
                <input type="text" v-model="tag" maxlength=80 placeholder="如：免费/社交/美食">
            </div>
            <div class="information_item cssFlex">
                <label>人数限制：</label>
                <input type="number" v-model="num" placeholder="请填写数字，默认为无限">
            </div>
            <div class="information_item cssFlex" @click="startTime">
                <label>活动开始时间：</label>
                <input type="text" v-model="time_from" maxlength=80 placeholder="" readonly>
                <span class="choice">请选择 ></span>
            </div>
            <div class="information_item  cssFlex" @click="endTime">
                <label>活动结束时间：</label>
                <input type="text" v-model="time_to" maxlength=80 placeholder="" readonly>
                <span class="choice">请选择 ></span>
            </div>
            <div id='address' class="information_item location_item">
                <div class="pca"><label>活动地址：</label> <span>{{selectAddress}}</span> </div>
                <div><input type="text" class="addressInput" maxlength=80 v-model='detailAddress' placeholder="请填写详细地址"></div>
                <span id='address_select' class="choice" @click="address">请选择 ></span>
            </div>
            <div class="information_item cssFlex" @click="toActiveDetail">
                <label>活动详情页和图片：</label>
                <span class="choice">请选择 ></span>
            </div>
            <div class='btns'>
               <div class="pubBtn">
                 <button>预览活动</button>
               </div>
               <!-- <div class="editBtn cssFlex">
                 <button>预览活动</button>
                 <button>暂停活动</button>
               </div> -->
            </div>
        </div>
    </div>
    <script src="https://cdn.bootcss.com/eruda/1.2.6/eruda.js"></script>
    <script>
        eruda.init();
    </script>
    <script type="text/javascript" src="../../../script/api.js"></script>
    <script type="text/javascript" src="../../../script/apiCloud.js"></script>
    <script type="text/javascript" src="../../../script/public.js"></script>
    <script type="text/javascript" src="../../../script/rem.js"></script>
    <script type="text/javascript" src="../../../script/mui.min.js"></script>
    <script type="text/javascript" src="../../../script/mui.picker.js"></script>
    <script type="text/javascript" src="../../../script/mui.dtpicker.js"></script>
    <script type="text/javascript" src="../../../script/city.data-3.js"></script>
    <script type="text/javascript" src="../../../script/data.js"></script>
    <script src="../../../script/vue.min.js"></script>
    <script src="../../../script/vuex.min.js"></script>

    <script type="text/javascript" src="../../../script/city.data-3.js"></script>
    <script>
        apiready = function() {
            new Vue({
                el: '#informationInit',
                data: {
                    img: '',
                    poster: '',//海报
                    title: '',//活动名称
                    name: '',//主办人
                    phone: '',//联系电话
                    tag: '',//标签
                    num: '',//人数
                    time_from: '',//开始时间
                    time_to: '',//结束时间
                    selectAddress:'',//选择地址
                    detailAddress:'',//详细地址
                },
                created: function() {

                },
                mounted: function() {

                },
                methods: {
                    upImg: function() {
                        var that = this
                        var UIAlbumBrowser = api.require('UIAlbumBrowser');
                        UIAlbumBrowser.open({
                            max: 1,
                            styles: {
                                bg: '#fff',
                                mark: {
                                    icon: '',
                                    position: 'bottom_left',
                                    size: 30
                                },
                                nav: {
                                    bg: 'rgba(0,0,0,0.6)',
                                    titleColor: '#fff',
                                    titleSize: 18,
                                    cancelColor: '#fff',
                                    cancelSize: 16,
                                    finishColor: '#fff',
                                    finishSize: 16
                                }
                            },
                            rotation: true
                        }, function(ret) {
                            if (ret) {
                                console.log("ret==", ret)
                                that.img = ret.list[0].thumbPath
                                var obj = {
                                    uid: localStorage.getItem("user").user_id
                                }
                                api.ajax({
                                    // report : false,
                                    url: 'http://112.126.98.172:8088/upload/UploadFlieTest',
                                    //这里是我们约定好的后台上传图片的位置 ，你可以根据你的需求来改
                                    method: 'post',
                                    cache: 'false',
                                    timeout: 30,
                                    dataTpye: 'json',
                                    data: {

                                        files: {
                                            file: that.img
                                        },
                                        values: obj

                                    }
                                }, function(data, err) {
                                    console.log("data", data);
                                    if (data.code == 0) {
                                        that.poster = data.date.src.split(',')[0];
                                    }
                                });
                            }
                        });
                    },

                    startTime: function() {
                        var that = this
                        var year = new Date().getFullYear();
                        var mount = (new Date().getMonth()) + 2;
                        var day = new Date().getDay();
                        var dtpicker = new mui.DtPicker({
                            type: "datetime", //设置日历初始视图模式
                            beginDate: new Date(1950, 04, 25), //设置开始日期
                            endDate: new Date(year, mount, day) //设置开始日期
                        });
                        dtpicker.show(function(selectItems) {
                            console.log(selectItems.text)
                            that.time_from = selectItems.text
                        })

                    },
                    endTime: function() {
                        var that = this
                        var year = new Date().getFullYear();
                        var mount = (new Date().getMonth()) + 2;
                        var day = new Date().getDay();
                        var dtpicker = new mui.DtPicker({
                            type: "datetime", //设置日历初始视图模式
                            beginDate: new Date(1950, 04, 25), //设置开始日期
                            endDate: new Date(year, mount, day) //设置开始日期
                        });
                        dtpicker.show(function(selectItems) {
                            console.log(selectItems.text)
                            that.time_to = selectItems.text
                        })
                    },
                    address: function() {
                        var that = this;
                        var picker = new mui.PopPicker({
                            layer: 3
                        });
                        picker.setData(cityData3)
                        picker.pickers[0].setSelectedIndex(0);
                        picker.show(function(SelectedItem) {
                            that.selectAddress = SelectedItem[0].text + SelectedItem[1].text +SelectedItem[2].text;
                        })
                    },
                    toActiveDetail: function() {
                        openNewWindow("editActivityDetail", "./editActivityDetail.html")
                    }
                }
            })
        }
    </script>
</body>

</html>
