<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>已报名</title>
    <link rel="stylesheet" href="../../../css/api.css"/>
    <link rel="stylesheet" href="../../../css/commonWin.css"/>
    <link rel="stylesheet" href="../../../css/circleCommon.css"/>
    <style>
        .dePerImg{
            width: 0.58rem;
            height: 0.58rem;
        }
        .dePerTextNameName{
            height: 0.32rem !important;
            line-height: 0.32rem !important;
        }
        .dePerTextPosName{
            height: 0.24rem !important;
            line-height: 0.24rem !important;
            font-weight:400;
            color:rgba(153,153,153,1);
            font-size: 0.18rem;
        }
        .dePerTextName{
            height: 0.32rem !important;
        }
        .dePerTextPos{
            height: 0.24rem !important;
        }
        .dePerText{
            padding-top: 0.08rem;
        }
        .info-img-right{
            width: 0.18rem !important;
        }
    </style>
    <script src="https://cdn.bootcss.com/eruda/1.2.6/eruda.js"></script>
    <script>eruda.init();</script>
</head>
<body>
<div id="circle">

    <div class="notSign" :class="comment_box ? '' : 'isDisplay'">
        <img src="../../../image/SignNot.png" alt="sign" class="SignNotImg">
        <div class="SignNotText commonFont">还没有人报名哦，快去报名吧！</div>
        <div class="SignNotBtn" @click="signUpBtnClick()">立即报名</div>
    </div>
    <div class="signBox boxSub" :class="comment_box ? 'isDisplay' : ''">

        <div class="signList cssFlex" v-for="(item,index) in circlePerList" :key="index">
            <div class="cssFlex">
                <img class="dePerImg" :src="item.p_icon.split(',')[0]" alt="">
                <div class="dePerText">
                    <div class="dePerTextName">
                        <span class="commonSub24 dePerTextNameName">{{item.u_name}}</span>

                        <img src="../../../image/circle/boyIcon.png" v-show="item.p_sex == 0" alt="bot" class="boyIcon">
                        <img src="../../../image/circle/girlIcon.png" v-show="item.p_sex == 1" alt="bot" class="boyIcon">
                    </div>
                    <div class="dePerTextPos">
                        <span class="dePerTextPosName">{{item.company_name}}|{{item.job_name}}</span>
                    </div>
                </div>

            </div>
            <div class="signTime cssFlex">
                <span class="signTimeText commonSub24">{{item.time}}</span><img src="../../../icon/rightL.png" alt="right" class="info-img-right">
            </div>
        </div>

    </div>

    <div class="ModalHideCom isDisplay" @click="ModalHideCom()"></div>
    <div class="signModalBox isDisplay">
        <img src="../../../image/circle/modalImg.png" alt="" class="modalImg">
        <div class="formInfo">
            <input type="text" v-model="userName" placeholder="您的姓名" class="formInfoInput">
            <input type="text" v-model="userPhone" placeholder="您的电话" class="formInfoInput">
        </div>
        <div class="formInfoBtn" @click="submitSign()">提交</div>
    </div>

</div>



<script type="text/javascript" src="../../../script/api.js"></script>
<script type="text/javascript" src="../../../script/rem.js"></script>
<script type="text/javascript" src="../../../script/apiCloud.js"></script>
<script type="text/javascript" src="../../../script/public.js"></script>
<script type="text/javascript" src="../../../script/data.js"></script>
<script type="text/javascript" src="../../../script/vue.min.js"></script>
<script>

    function reload() {
        window.location.reload()
    }

    apiready = function () {
        new Vue({
            el: '#circle',
            data: {
                writeText : '',
                userName : '',
                userPhone : '',
                circle_id : '',
                person_id : '',
                comment_box : false,
                circlePerList : [],
            },
            created: function () {
                this.circle_id = api.pageParam.circle_id;
                this.person_id = localStorage.getItem("user");
                this.queryAllSignPerson();
            },
            mounted: function () {


            },
            methods: {
                queryAllSignPerson:function(){
                    var that = this
                    var obj = {
                        circle_id : that.circle_id
                    }
                    ajaxGetWithProgress(queryAllSignPerson,obj,function (data) {
                        console.log("queryAllSignPerson",data.signPersonList)
                        if (data.signPersonList == undefined){
                            that.comment_box = true
                        } else{
                            that.circlePerList = data.signPersonList
                            that.comment_box = false
                        }
                    })
                },
                signUpBtnClick : function () {
                    var that = this
                    document.querySelector(".ModalHideCom").classList.remove("isDisplay")
                    document.querySelector(".signModalBox").classList.remove("isDisplay")



                },
                ModalHideCom : function () {
                    var that = this
                    document.querySelector(".ModalHideCom").classList.add("isDisplay")
                    document.querySelector(".signModalBox").classList.add("isDisplay")
                },
                submitSign:function () {
                    var that = this
                    var uidUser = localStorage.getItem("user")
                    if (!uidUser) {
                        openNewWindow("login", "../../login/login.html");
                        return;
                    }

                    if (!that.userName){
                        toast("请填写姓名")
                        return
                    }
                    if (!that.userPhone) {
                        toast('请填写手机号码');
                        return;
                    }else if(!checkMobileNum(that.userPhone)){
                        toast("手机号码不正确");
                        return;
                    }

                    var obj = {
                        circle_id : that.circle_id,
                        person_id : that.person_id,
                        u_name : that.userName,
                        phone : that.userPhone,
                    }
                    ajaxGetWithProgress(joinCircleCircleProfile,obj,function (data) {
                        console.log("joinCircleCircleProfile",data)
                        if (data.return_info.status){
                            toast("报名成功")
                            that.userName = ''
                            that.userPhone = ''

                            document.querySelector(".ModalHideCom").classList.add("isDisplay")
                            document.querySelector(".signModalBox").classList.add("isDisplay")
                            that.queryAllSignPerson()
                        } else {
                            toast("报名失败")
                        }
                    })
                },

            }
        })

    };

</script>
</body>
</html>
