<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>圈子</title>
    <link rel="stylesheet" href="../../../css/api.css" />
    <link rel="stylesheet" href="../../../css/commonWin.css" />
    <link rel="stylesheet" href="../../../css/mui.min.css">
    <link rel="stylesheet" href="../../../css/circleCommon.css">
</head>
<body>
    <div id="add_activities">
        <div id="box">
            <div class="add_activities_header cssFlex" @click="componentHandle()">
                <div><span :class="isActive ? 'active' : ''">已报名</span></div>
                <div><span :class="isActive ? '' : 'active'">已取消</span></div>
            </div>

            <!--<component :is="isCom"></component>-->
            <sign_suc :list="list1" v-if="isActive"></sign_suc>
            <sign_erro :list="list2" v-if="!isActive"></sign_erro>
        </div>
    </div>

    <script type="text/javascript" src="../../../script/api.js"></script>
    <script type="text/javascript" src="../../../script/util.js"></script>
    <script type="text/javascript" src="../../../script/jquery-1.8.1.min.js"></script>
    <script type="text/javascript" src="../../../script/apiCloud.js"></script>
    <script type="text/javascript" src="../../../script/public.js"></script>
    <script type="text/javascript" src="../../../script/rem.js"></script>
    <script type="text/javascript" src="../../../script/mui.min.js"></script>
    <script type="text/javascript" src="../../../script/data.js"></script>
    <script src="../../../script/vue.min.js"></script>
    <script src="../../../script/vuex.min.js"></script>

    <script src="./comment/sign_suc.js"></script>
    <script src="comment/sign_erro.js"></script>

    <script src="https://cdn.bootcss.com/eruda/1.2.6/eruda.js"></script>
    <script>eruda.init();</script>
    <script>
        apiready = function () {
            var sign_suc = sign_sucInit(Vue);
            var sign_erro = sign_erroInit(Vue);
            console.log(sign_suc)
            Vue.component('sign_suc', sign_suc);
            Vue.component('sign_erro', sign_erro);

            new Vue({
                el: '#add_activities',
                components: {
                    sign_suc: sign_suc,
                    sign_erro: sign_erro
                },
                data: {
                    isActive: true,
                    isCom: 'sign_suc',
                    person_id: '',
                    list1: [],
                    list2: [],
                },
                created: function () {
                    this.circle_id = api.pageParam.circle_id;
                    this.queryApplyList();
                },
                mounted: function () {

                },
                methods: {
                    // 获取数据
                    queryApplyList: function () {
                        var that = this;
                        // console.log(123)
                        ajaxGetWithProgress(queryApplyList, {
                            circle_id: that.circle_id,
                        }, function (data, err) {
                            console.log(data);
                            if (data.ApplyList) {
                                var arr = data.ApplyList;
                                for (var i = 0; i < arr.length; i++) {
                                    arr[i]['active'] = false;
                                    if (arr[i].status == 2) {
                                        that.list2.push(arr[i])
                                    } else {
                                        that.list1.push(arr[i])
                                    }
                                }

                            }

                        });
                    },

                    // 切换组件
                    componentHandle: function () {
                        this.isActive = !this.isActive;
                        if (this.isActive) {
                            this.isCom = 'sign_suc';
                        } else {
                            this.isCom = 'sign_erro';
                        }
                    }
                }
            })
        }
    </script>
</body>
</html>
