<!DOCTYPE html>
<html lang="en" class="commonBg">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>黄金桃</title>
    <link rel="stylesheet" href="../../../../css/api.css" />
    <link rel="stylesheet" href="../../../../css/commonWin.css" />
    <link rel="stylesheet" href="../../../../css/mui.min.css">

    <link rel="stylesheet" href="../../../../css/greatCommon.css">
    <link rel="stylesheet" href="../../../../css/swiper.min.css">
    <link rel="stylesheet" href="../../../../css/mofang.css">
    <style>

    </style>
</head>
<body class="commonBg">
    <div class="Box">
        <div id="great" class="isDisplay">
            <div class="bgBlack" @touchstart="hideBg()"></div>
            <img src="../../../../image/duke-2.png" class="person" alt="person" @click="togle()">
            <keep-alive>
                <component :is="active"></component>
            </keep-alive>


            <div class="great_header">
                <!--<div class="great_header_banner">
                    &lt;!&ndash;<img :src="item.placard.split(',')[0]" alt="">&ndash;&gt;
                    <img :src="imgurl" alt="">
                </div>-->

                <div class="great_header_banner swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide" v-for="(imgSrc, index) in imgsBanner" :key="index">
                            <img :src="imgSrc" />
                        </div>
                        <!--<div class="swiper-slide"><img src="../../../../image/circle/circle01.png" /></div>-->
                        <!--<div class="swiper-slide"><img src="../../../../image/circle/circle01.png" /></div>-->
                        <!--<div class="swiper-slide"><img src="../../../../image/circle/circle01.png" /></div>-->
                    </div>
                    <!-- Add Pagination -->
                    <div class="swiper-pagination"></div>
                </div>


                <div class="peachTitle commonTitle">{{item.comName}}</div>
                <div class="great_Price_List cssFlex">
                    <span class="great_Price">¥{{item.price}}</span>
                    <span class="great_Member">会员专享价: <span>{{item.priceh}}</span></span>
                    <span class="great_Stock">商品已售: <span>{{total}}</span>件</span>
                </div>
                <!--<div class="peachTitle commonTitle">新鲜多汁黄金水蜜桃</div>-->

                <!--<div class="great_title">
                    {{item.summary}}
                    &lt;!&ndash;脆甜爽口 鲜嫩多汁 包邮 一箱12个装&ndash;&gt;
                </div>-->
                <div v-if="item.comStatus == '售卖'" class="juLisellBtn commonFont cssFlex" @click="purchaseHandle()">
                    立即购买
                </div>

                <div v-else class="juLisellBtn commonFont cssFlex" style='background:#ACACAC'>
                    补货中...
                </div>

                <!--<div class="great_immediately">
                    <div class="great_immediately_comtent cssFlex">
                        <div class="commodity_collection cssFlex" @click="collectionHandle()">
                            <img :src="att ? '../../../../image/great/Collection2x.png' : '../../../../image/great/Collection22x.png'" alt="">
                            <span>收藏</span>
                        </div>
                        <div class="commodity_purchase cssFlex" @click="purchaseHandle()">
                            <div>¥{{item.priceh}}立即购买</div>
                        </div>
                    </div>
                </div>-->
            </div>



            <!-- <div class="great_comments">
                <div class="great_comments_title">
                    <span>商品评价</span>
                    <span>({{evalist1.length + evalist2.length + evalist3.length}}条)</span>
                    <span @click="totalComment()">全部评价</span>
                </div>

                <div class="great_comments_content">
                    <div class="great_comments_top">
                        <span :class="activeComment == 1 ? 'activeComment' : ''" @click="commentsHandle(evalist1, 1)">好评</span>
                        <span :class="activeComment == 2 ? 'activeComment' : ''" @click="commentsHandle(evalist2, 2)">中评</span>
                        <span :class="activeComment == 3 ? 'activeComment' : ''" @click="commentsHandle(evalist3, 3)">差评</span>
                    </div>

                    <div class="great_comments_item" v-for="(item, index) in evalist" :key="index" v-if="index < len">
                        <div class="great_comments_item_top cssFlex">
                            <div><img :src="item.picon" alt=""></div>
                            <div>
                                <span>{{item.pname}}</span>
                                <div>{{item.createTime}}</div>
                            </div>
                        </div>
                        <div class="great_comments_item_con">
                            {{item.content}}
                        </div>
                        <div class="great_comments_item_img">
                            <img v-for="(imgObj, i) in item.commEvaPic" :key="i"
                                 :class="i%3 === 0 ? 'right0' : ''"
                                 :src="imgObj.pic" alt="">
                            <img src="../../../image/pro.png" alt="">-->
                            <!--<img src="../../../image/pro.png" alt="">-->
                            <!--<img class="right0" src="../../../image/pro.png" alt="">-->
                        <!-- </div>
                    </div>

                </div>
            </div> -->

            <div class="great_details">
                <div style='background:#fff;padding:10px'>商品详情</div>
                <img v-for="(imgSrc, i) in imgs" :key="i"
                     :src="imgSrc" alt="">
            </div>


            <!--<magicCube></magicCube>-->
            <!--<component is="magicCube"></component>-->
        </div>
    </div>



    <script type="text/javascript" src="../../../../script/api.js"></script>
    <script type="text/javascript" src="../../../../script/rem.js"></script>
    <script type="text/javascript" src="../../../../script/apiCloud.js"></script>
    <script type="text/javascript" src="../../../../script/public.js"></script>
    <script type="text/javascript" src="../../../../script/mui.min.js"></script>
    <script type="text/javascript" src="../../../../script/data.js"></script>

    <script src="../../../../script/vue.min.js"></script>
    <script src="../../../../script/vuex.min.js"></script>
    <script src="../../../../script/swiper.min.js"></script>

    <script src="../common/magicAll.js"></script>
    <script src="../common/bus.js"></script>

    <!--<script src="https://cdn.bootcss.com/eruda/1.2.6/eruda.js"></script>
<script>eruda.init();</script>-->
    <script>

    </script>

    <script>
        var winWidth,winHeight
        apiready = function () {
            // 添加安卓退出按钮事件
            api.addEventListener({
                name: 'keyback'
            }, function (ret, err) {
                closeOnKeyBack();
            });
            var backButtonPress = 0;

            function closeOnKeyBack() {
                backButtonPress++;
                if (backButtonPress > 1) {
                    openNewWindow("index", "../index.html");
                } else {

                }
                setTimeout(function () {
                    backButtonPress = 0;
                }, 1000);
            }

            var magicAll = magicAllInit(Vue);
            Vue.component('magicAll', magicAll);

            winWidth = api.winWidth;
            winHeight = api.winHeight;
            // a01_w = (winWidth > winHeight / 2) ? winWidth : winHeight / 2;
            // a01_w = (winWidth > winHeight / 2) ? winWidth/2 : winHeight / 2;
            a01_w = winWidth;

            // 斜边长
            bevelLength = Math.sqrt((a01_w * a01_w / 2 )) - 40
            //console.log("bevelLength",bevelLength)
            // width_d=(screen_w-20) *2/5 - 5;
            m_d = (a01_w-10)*0.23-25;    // 100

            new Vue({
                el: '#great',
                data: {
                    activeComment: 1,
                    item: {},
                    list: [],
                    len: 1,
                    total: '0',
                    evalist: [],
                    evalist1: [],
                    evalist2: [],
                    evalist3: [],
                    imgsBanner : [

                    ],
                    active:'magicAll',
                   /* imgsDetail: [
                        {
                            imgSrc : '../../../../image/bigWeigh/1@2x.png'
                        },
                        {
                            imgSrc : '../../../../image/bigWeigh/2@2x.png'
                        },
                        {
                            imgSrc : '../../../../image/bigWeigh/3@2x.png'
                        },
                        {
                            imgSrc : '../../../../image/bigWeigh/4@2x.png'
                        },
                        {
                            imgSrc : '../../../../image/bigWeigh/5@2x.png'
                        },
                        {
                            imgSrc : '../../../../image/bigWeigh/6@2x.png'
                        },
                        {
                            imgSrc : '../../../../image/bigWeigh/7@2x.png'
                        },
                        {

                            imgSrc : '../../../../image/bigWeigh/8@2x.png'
                        },
                    ],*/
                    imgs: [],
                    imgurl: '',
                    att: false,
                    att_id: '',
                    comName: '',
                    person_id: '',
                    cid: '',
                    tId: '',
                },
                created: function () {
                    this.person_id = localStorage.getItem('person_id');
                    this.tId = api.pageParam.tId;
                    this.cid = api.pageParam.cid;
                    this.summary();
                },
                mounted: function () {
                    // document.getElementById('great').classList.remove('isDisplay');
                    //获得slider插件对象
                    var swiper = new Swiper('.swiper-container', {
                        pagination: {
                            el: '.swiper-pagination',
                        },
                        autoplay: true,
                        observer:true,//修改swiper自己或子元素时，自动初始化swiper
                        observeParents:true,//修改swiper的父元素时，自动初始化swiper
                    });
                    // this.isDisplay = true;
                    var that = this

                    that.active = store.state.obj.magicCom;
                    api.addEventListener({
                        name: 'comCom1',
                    }, function(ret, err) {
                        //console.log("ret",ret);
                        that.active = ret.value.key.magicCom1;
                    });
                    api.addEventListener({
                        name: 'comCom2',
                    }, function(ret, err) {
                        //console.log("ret",ret);
                        that.active = ret.value.key.magicCom2;
                    });
                    api.addEventListener({
                        name: 'jobAll'+that.tId,
                    }, function(ret, err) {
                        //console.log("ret",ret);
                        that.cid = ret.value.key.cid
                        that.summary()

                    });

                    magicBox = document.querySelector(".magicBox")
                    bgBlack = document.querySelector(".bgBlack")

                    magicBtn = document.getElementsByClassName("magicBtn")
                    magicSubBox = document.getElementsByClassName("magicSubBox")
                    iconImg = document.getElementsByClassName("iconImg")
                    magicBox.style.width = bevelLength * 2 + "px"
                    magicBox.style.height = bevelLength + "px"
                    var rightYi = bevelLength
                    magicBox.style.right = '-' + rightYi + "px"
                    bgBlack.style.width =winWidth + "px"
                    bgBlack.style.height =winHeight + "px"

                    magicBGheight = document.querySelector(".magicBGheight")
                    magicBGheight.style.height = m_d + "px"
                    // 里面小盒子宽度
                    for (var i =0;i<magicBtn.length ; i++){
                        magicBtn[i].style.width = m_d + "px"
                        magicBtn[i].style.height = m_d + "px"
                    }
                    // 里面小盒子宽度
                    for (var i =0;i<magicSubBox.length ; i++){
                        magicSubBox[i].style.width = m_d + "px"
                        magicSubBox[i].style.height = m_d + "px"
                    }
                    // 图片宽度
                    for (var i =0;i<iconImg.length ; i++){
                        iconImg[i].style.width = m_d/2 + "px"
                        iconImg[i].style.height = m_d/2 + "px"
                    }

                },
                methods: {
                    // 获取数据
                    summary: function () {
                        var that = this;
                        ajaxGetWithProgress(summaryCommodityProFile, {
                            cid: that.cid,
                            pid: that.person_id
                        }, function (data, err) {
                            //console.log(data,'3100000000000');
                            api.hideProgress();
                            if (data.Commodity) {
                                that.item = data.Commodity;
                                that.imgsBanner = data.intpic;
                                that.cid = data.Commodity.cId;
                                // that.imgurl = that.item.placard.split(',')[0];
                                that.imgs = data.Commodity.intPic.split(',');
                                that.total = data.total;

                                // that.att = data.att;
                                // that.att_id = data.att_id;
                                // that.comName = data.comName;
                                document.getElementById('great').classList.remove('isDisplay');
                            }

                            if (data.commEvaluateAndPic) {
                                var list = data.commEvaluateAndPic;
                                that.list = list;
                                for (var i = 0; i < list.length; i++) {
                                    var num = list[i].grade1 + list[i].grade2 + list[i].grade3;
                                    if (num > 10) {
                                        that.evalist1.push(list[i]);
                                    } else if (num > 5) {
                                        that.evalist2.push(list[i]);
                                    } else if (num < 5) {
                                        that.evalist3.push(list[i]);
                                    }
                                }
                                that.evalist = that.evalist1;
                            }
                        });
                    },
                    // 评论
                    commentsHandle: function (evalist, i) {
                        this.evalist = evalist;
                        this.activeComment = i;
                    },
                    // 显示全部评论
                    totalComment: function () {
                        //console.log(this.list);
                        this.evalist = this.list;
                        this.len = this.list.length;
                    },
                    // 收藏
                    collectionHandle: function () {
                        var uidUser = localStorage.getItem("user")
                        if (!uidUser){
                            openNewWindow("login", "../../../login/login.html");
                            return;
                        }
                        var that = this;
                        ajaxGet(collectComm, {
                            id: that.att_id,
                            ccStatus: 1,
                            pid: that.person_id,
                            commId: that.item.cId
                        }, function(data,err){
                            //console.log(data);
                            if (data.commcollect) {
                                toast("编辑成功")
                                window.location.reload()
                            }
                        });
                        that.att = !that.att;
                    },
                    // 立即购买
                    purchaseHandle: function () {
                        var uidUser = localStorage.getItem("user")
                        if (!uidUser){
                            openNewWindow("login", "../../../login/login.html");
                            return;
                        }
                        var that = this;
                        var obj ={
                            pId: that.person_id,
                            cId: that.cid
                        }
                        //console.log("qie",obj)
                        ajaxGetWithProgress(createOrder, obj, function (data, err) {
                            //console.log("creat",data);
                            if (data) {
                                openNewWindow("confirmOrder", "../confirmOrder.html", {
                                    item: that.item,
                                    isDefult: data.default,
                                    order: data,
                                    url: 'farmProduce',
                                    OrderKey : data.OrderKey
                                });
                            }else {
                                toast("请求失败")
                            }
                        });

                    },
                    commodityList : function (){
                        var that = this
                        //console.log("that.tId",that.tId)
                        ajaxGetWithProgress(commodityList,{tid : that.tId},function (data) {
                            //console.log("commodityList11啊啊啊啊",data)
                            var jobList = data.comList
                            //console.log(jobList)
                            if (data) {
                                if (jobList == null) {
                                    that.listJob = ''
                                } else {
                                    that.listJob = jobList
                                }

                                that.magicComCid1 = data.Typelist[0].tid
                                that.magicCom1Img = data.Typelist[0].pic
                                if (data.Typelist[0].pic == null){
                                    that.magicCom1Img = 'http://duke-app.oss-cn-beijing.aliyuncs.com/trend/yun/5n4ehv1hx5dd1jtu.png'
                                }
                                that.magicCom1Text = data.Typelist[0].cateory

                                that.magicComCid2 = data.Typelist[1].tid


                                if (data.Typelist[1].pic == null){
                                    that.magicCom2Img = 'http://duke-app.oss-cn-beijing.aliyuncs.com/trend/yun/5n4ehv1hx5dd1jtu.png'
                                }
                                that.magicCom2Img = data.Typelist[1].pic
                                that.magicCom2Text = data.Typelist[1].cateory
                            }
                        })
                    },
                    togle: function () {
                        // this.active = true;
                        var isBlck = document.querySelector('.bgBlack')
                        if (isBlck.getAttribute("class") == 'isDisplay') {
                            document.querySelector('.bgBlack').classList.remove('isDisplay');
                            //console.log(document.querySelector('.bgBlack'))
                        } else {
                            var that = this;
                            that.active = 'magicAll';
                            document.querySelector('.bgBlack').classList.remove('isDisplay');
                            // this.MenuListQyMenu();
                        }
                    },
                    hideBg : function () {
                        var that = this
                        document.querySelector('.bgBlack').classList.add('isDisplay');
                        that.active = ''
                    },
                }
            })
        }

    </script>
</body>
</html>
