<!DOCTYPE html>
<html lang="en" class="commonBg">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>欧来欧去</title>
    <link rel="stylesheet" href="../../../../css/api.css" />
    <link rel="stylesheet" href="../../../../css/commonWin.css" />
    <link rel="stylesheet" href="../../../../css/mui.min.css">
    <link rel="stylesheet" href="../../../../css/swiper.min.css">
    <link rel="stylesheet" href="../../../../css/modal.css">
    <link rel="stylesheet" href="../../../../css/greatCommon.css">
    <link rel="stylesheet" href="../../../../css/mofang.css">
    <style>
        .tourism_main{
            background: #fff;
        }
        .tourism_title{
            height: auto !important;
        }
        .imgComDetail{
            display: block;
            width: 7rem;
        }
        .great_Price_List{
            margin: 0.2rem 0;

        }
    </style>
</head>
<body class="commonBg">


    <div class="Box">
        <div id="great" class="isDisplay">
            <div class="bgBlack" @click="hideBg()"></div>
            <img src="../../../../image/duke-2.png" class="person" alt="person" @click="togle()">
            <keep-alive>
                <component :is="active"></component>
            </keep-alive>
            <div class="great_header">

                <div class="great_header_banner swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide" v-for="(imgSrc, index) in imgs" :key="index">
                            <img :src="imgSrc" />
                        </div>
                        <!--<div class="swiper-slide"><img src="../../../../image/bigWeigh/banner@2x.png" /></div>-->
                        <!--<div class="swiper-slide"><img src="../../../../image/circle/circle01.png" /></div>-->
                        <!--<div class="swiper-slide"><img src="../../../../image/circle/circle01.png" /></div>-->
                    </div>
                    <!-- Add Pagination -->
                    <div class="swiper-pagination"></div>
                </div>




                <div class="tourism_title">{{item.comName}}</div>
                <div class="posire">
                    <div class="great_Price_List cssFlex">
                        <span class="great_Price">¥{{item.priceRange}}</span>
                        <span class="great_Stock">商品已售: <span>{{total}}</span>件</span>
                    </div>
                    <div class="ououIndex cssFlex">
                        <div class="chatJuOuou" @click="callHandle()">客服咨询</div>
                        <div class="sellJuOuou" @click="Consultation()"><i class="tripPrice isDisplay">0</i>立即购买</div>
                    </div>
                </div>

                <div class="ouPersonDetail cssFlex" @click="tripDetail()">
                    <div class="ouPersonDetailText">
                        <div class="commonFont ouPersonLeft cssFlex">
                            <i>请选择</i>
                            <span class="tripPerson">出游人群</span>
                            <span class="tripCity">出发城市</span>
                            <span class="tripTime">时间</span>
                            <span class="tripNum">数量</span>
                            <span class="tripNumNum isDisplay">数量</span>
                            <span class="username isDisplay"></span>
                            <span class="userphone isDisplay"></span>
                            <span class="ouIds isDisplay"></span>
                            <span class="tdId isDisplay"></span>
                            <span class="tripPriceDan isDisplay"></span>
                        </div>
                        <div class="commonSub24 ouPerson999">·全年保证出发·纯玩团·每周循环</div>
                    </div>
                    <img src="../../../../icon/right.png" alt="right" class="info-img-right">
                </div>
            </div>



            <div class="tourism_main">
                <div class="tourism_main_header hourse_main cssFlex">
                    <div><span @click="activeHandle('trip')" :class="activeType == 'trip' ? 'active' : ''">图文详情</span></div>
                    <div><span @click="activeHandle('immigrant')" :class="activeType == 'immigrant' ? 'active' : ''">费用说明</span></div>
                    <div><span @click="activeHandle('comNatural')" :class="activeType == 'comNatural' ? 'active' : ''">行程描述</span></div>
                    <div><span @click="activeHandle('uiNatural')" :class="activeType == 'uiNatural' ? 'active' : ''">预订须知</span></div>
                </div>

                <div id="trip" v-if="activeType == 'trip' && item.introduction">
                    <img v-for="(pic, index) in picList" :key="index" :src="pic" class="imgComDetail" alt="">
                </div>
                <div v-if="activeType == 'immigrant'">
                    <img v-for="(pic, index) in picListpic1" :key="index" :src="pic.img" class="imgComDetail" alt="">
                </div>

                <div v-if="activeType == 'comNatural' && item.intPic">
                    <img v-for="(pic, index) in picListpic2" :key="index" :src="pic" class="imgComDetail" alt="">
                </div>
                <div v-if="activeType == 'uiNatural'">
                    <img v-for="(pic, index) in picListpic3" :key="index" :src="pic.img" class="imgComDetail" alt="">
                </div>
            </div>

            <!--<div class="great_immediately">
                <div class="great_immediately_comtent cssFlex">

                    <div class="purchaseLeft cssFlex">
                        <div class=" ousecoll ousecollBor cssFlex" @click="collectionHandleActive()" v-show="att">
                            <img src="../../../../image/great/Collection2x.png" alt="">
                            <span>收藏</span>
                        </div>
                        <div class=" ousecoll ousecollBor cssFlex" @click="collectionHandle()" v-show="!att">
                            <img src="../../../../image/great/Collection22x.png" alt="">
                            <span>收藏</span>
                        </div>
                        <div class=" ousecoll cssFlex" @click="callHandle()">
                            <img src="../../../../image/mine/phone.png" alt="">
                            <span>客服</span>
                        </div>


                    </div>
                    <div class="commodity_purchase cssFlex tourismou" @click="Consultation()">
                        <div>￥<i class="tripPrice">0</i>立即购买</div>
                    </div>
                </div>
            </div>-->

            <!--<img src="../../../../image/bigWeigh/feiyong1.png" alt="">-->
            <!--<component is="magicCube"></component>-->
        </div>
    </div>




    <script type="text/javascript" src="../../../../script/api.js"></script>
    <script type="text/javascript" src="../../../../script/rem.js"></script>
    <script type="text/javascript" src="../../../../script/apiCloud.js"></script>
    <script type="text/javascript" src="../../../../script/public.js"></script>
    <script type="text/javascript" src="../../../../script/jquery-1.8.1.min.js"></script>
    <script type="text/javascript" src="../../../../script/mui.min.js"></script>
    <script src="../../../../script/swiper.min.js"></script>
    <script type="text/javascript" src="../../../../script/data.js"></script>

    <script src="../../../../script/vue.min.js"></script>
    <script src="../../../../script/vuex.min.js"></script>
    <script src="../common/magicAll.js"></script>
    <script src="../common/bus.js"></script>

    <script src="https://cdn.bootcss.com/eruda/1.2.6/eruda.js"></script>
    <script>eruda.init();</script>
    <script>

    </script>

    <script>

        var winWidth,winHeight,url
        apiready = function () {

            var magicAll = magicAllInit(Vue);
            Vue.component('magicAll', magicAll);
            url = api.pageParam.url

            winWidth = api.winWidth;
            winHeight = api.winHeight;
            // a01_w = (winWidth > winHeight / 2) ? winWidth : winHeight / 2;
            // a01_w = (winWidth > winHeight / 2) ? winWidth/2 : winHeight / 2;
            a01_w = winWidth;
            // 斜边长
            bevelLength = Math.sqrt((a01_w * a01_w / 2 )) - 40
            console.log("bevelLength",bevelLength)
            // width_d=(screen_w-20) *2/5 - 5;
            m_d = (a01_w-10)*0.23-25;    // 100

            // getSrceenWH(winWidth,winHeight)
            new Vue({
                el: '#great',
                data: {
                    activeType: 'trip',
                    item: {},
                    list: [],
                    len: 1,
                    total: "0",
                    picList: [],
                    picListpic1: [
                        {
                            img:'../../../../image/bigWeigh/feiyong1.png'
                        },
                        {
                            img:'../../../../image/bigWeigh/feiyong2.png'
                        },
                    ],
                    picListpic2: [],
                    picListpic3: [
                        {
                            img:'../../../../image/bigWeigh/yu1.png'
                        },
                        {
                            img:'../../../../image/bigWeigh/yu2.png'
                        },
                        {
                            img:'../../../../image/bigWeigh/yu3.png'
                        },
                        {
                            img:'../../../../image/bigWeigh/yu4.png'
                        },
                    ],
                    imgs: [],
                    att: false,
                    att_id: '',
                    person_id: '',
                    ouId: '',
                    tId: '',

                    cid: '',
                    data: '',
                    username: '',
                    userphone: '',
                    userwx: '',
                    usermain: '',
                    showModal : false,
                    active:'magicAll',

                },
                created: function () {
                    this.person_id = localStorage.getItem('person_id');
                    this.ouId = api.pageParam.ouId;
                    this.tId = api.pageParam.tId;
                    this.querySummaryByidoloq();
                },
                mounted: function () {
                    var that = this
                    document.getElementById('great').classList.remove('isDisplay');
                    this.isDisplay = true;
                    //获得slider插件对象
                    var swiper = new Swiper('.swiper-container', {
                        pagination: {
                            el: '.swiper-pagination',
                        },
                        autoplay:true,
                    });

                    that.active = store.state.obj.magicCom;
                    api.addEventListener({
                        name: 'comCom1',
                    }, function(ret, err) {
                        console.log("ret",ret);
                        that.active = ret.value.key.magicCom1;

                        /*localStorage.setItem("magic_id",ret.value.key.c_id)
                        localStorage.setItem("magic_img",ret.value.key.logo_icon)
                        localStorage.setItem("magic_name",ret.value.key.c_name)*/
                    });
                    api.addEventListener({
                        name: 'comCom2',
                    }, function(ret, err) {
                        console.log("ret",ret);
                        that.active = ret.value.key.magicCom2;

                        /*localStorage.setItem("magic_id2",ret.value.key.c_id)
                        localStorage.setItem("magic_img2",ret.value.key.logo_icon)
                        localStorage.setItem("magic_name2",ret.value.key.c_name)*/
                    });
                    api.addEventListener({
                        name: 'jobAll'+that.tId,
                    }, function(ret, err) {
                        console.log("ret",ret);
                        that.ouId = ret.value.key.cid
                        that.querySummaryByidoloq()

                    });

                    magicBox = document.querySelector(".magicBox")
                    bgBlack = document.querySelector(".bgBlack")

                    magicBtn = document.getElementsByClassName("magicBtn")
                    magicSubBox = document.getElementsByClassName("magicSubBox")
                    iconImg = document.getElementsByClassName("iconImg")
                    magicBox.style.width = bevelLength * 2 + "px"
                    magicBox.style.height = bevelLength + "px"
                    var rightYi = bevelLength
                    magicBox.style.right = '-' + rightYi + "px"
                    bgBlack.style.width =winWidth + "px"
                    bgBlack.style.height =winHeight + "px"

                    magicBGheight = document.querySelector(".magicBGheight")
                    magicBGheight.style.height = m_d + "px"
                    // 里面小盒子宽度
                    for (var i =0;i<magicBtn.length ; i++){
                        magicBtn[i].style.width = m_d + "px"
                        magicBtn[i].style.height = m_d + "px"
                    }
                    // 里面小盒子宽度
                    for (var i =0;i<magicSubBox.length ; i++){
                        magicSubBox[i].style.width = m_d + "px"
                        magicSubBox[i].style.height = m_d + "px"
                    }
                    // 图片宽度
                    for (var i =0;i<iconImg.length ; i++){
                        iconImg[i].style.width = m_d/2 + "px"
                        iconImg[i].style.height = m_d/2 + "px"
                    }
                },

                methods: {
                    // 获取数据
                    querySummaryByidoloq: function () {

                        var that = this;
                        ajaxGetWithProgress(querySummaryByidoloq, {
                            cid: that.ouId,
                            pid: that.person_id
                        }, function (data, err) {
                            console.log(data);
                            that.item = data.commodity
                            that.total = data.total
                            that.imgs = stringFun(data.commodity.placard)
                            that.picList = stringFun(data.commodity.introduction)
                            // that.picListpic1 = stringFun(data.commodity.intPic)
                            that.picListpic2 = stringFun(data.commodity.intPic)
                            // that.picListpic3 = stringFun(data.commodity.pic3)

                        });
                    },
                    // 切换tab
                    activeHandle: function (activeType) {
                        console.log(activeType)
                        this.activeType = activeType;
                    },
                    // 办理签证
                    // 收藏
                    collectionHandle: function () {
                        var uidUser = localStorage.getItem("user")
                        if (!uidUser){
                            openNewWindow("login", "../../../login/login.html");
                            return;
                        }
                        var that = this;
                        ajaxGet(collectComm, {
                            id: that.att_id,
                            ccStatus: 1,
                            pid: that.person_id,
                            commId: that.item.cId
                        }, function(data,err){
                            console.log(data);
                            if (data.commcollect) {
                                toast("编辑成功")
                                window.location.reload()
                            }
                        });
                        that.att = !that.att;
                    },
                    // 立即购买
                    Consultation: function () {
                        var that = this
                        if (document.querySelector(".tripPerson").innerText == "出游人群"){

                            mui.alert("请先选择出游人群等信息","提示","确定",function (ret) {
                                openNewWindow("tripDate", "./tripDate.html",{
                                    name :'index',
                                    ouId : that.ouId
                                });
                            })
                            return
                        }
                        if (document.querySelector(".tripPrice").innerText == "0"){
                            mui.alert("请先选择出游人群等信息","提示","确定",function (ret) {
                                openNewWindow("tripDate", "./tripDate.html",{
                                    name :'index',
                                    ouId : that.ouId
                                });
                            })
                            return
                        }

                        /*var a = {
                            num: document.querySelector(".tripNumNum").innerText,
                            summary: '',
                            price: document.querySelector(".tripPrice").innerText,
                            username: document.querySelector(".username").innerText,
                            userphone: document.querySelector(".userphone").innerText,
                            cId: that.ouId,
                            tdId: document.querySelector(".tdId").innerText,
                        }
                        console.log("uioiiaaaaaa",a)*/

                        openNewWindow("confirmOrder", "../confirmOrder.html", {
                            url: 'tourismouou',
                            urlIs : 'tourismouou',
                            OrderKey : '',
                            ououPrice: document.querySelector(".tripPrice").innerText,
                            item: that.item,
                            order: {
                                num: document.querySelector(".tripNumNum").innerText,
                                summary: '',
                                price: document.querySelector(".tripPrice").innerText,
                                tripPriceDan: document.querySelector(".tripPriceDan").innerText,
                                username: document.querySelector(".username").innerText,
                                userphone: document.querySelector(".userphone").innerText,
                                cId: that.ouId,
                                tdId: document.querySelector(".tdId").innerText,
                            }
                        })
                    },
                    tripDetail : function () {
                        var that = this
                        openNewWindow("tripDate", "./tripDate.html",{
                            name :'index',
                            ouId : that.ouId
                        });
                    },
                    // 唤起手机拨号功能
                    callHandle: function () {
                        api.call({
                            type: 'tel_prompt',
                            number: '17600016895'
                        });
                    },
                    commodityList : function (){
                        var that = this
                        console.log("that.tId",that.tId)
                        ajaxGetWithProgress(commodityList,{tid : that.tId},function (data) {
                            console.log("commodityList11",data)
                            var jobList = data.comList
                            console.log(jobList)
                            if (data) {
                                if (jobList == null) {
                                    that.listJob = ''
                                } else {
                                    that.listJob = jobList
                                }

                                that.magicComCid1 = data.Typelist[0].tid
                                that.magicCom1Img = data.Typelist[0].pic
                                if (data.Typelist[0].pic == null){
                                    that.magicCom1Img = 'http://duke-app.oss-cn-beijing.aliyuncs.com/trend/yun/5n4ehv1hx5dd1jtu.png'
                                }
                                that.magicCom1Text = data.Typelist[0].cateory

                                that.magicComCid2 = data.Typelist[1].tid


                                if (data.Typelist[1].pic == null){
                                    that.magicCom2Img = 'http://duke-app.oss-cn-beijing.aliyuncs.com/trend/yun/5n4ehv1hx5dd1jtu.png'
                                }
                                that.magicCom2Img = data.Typelist[1].pic
                                that.magicCom2Text = data.Typelist[1].cateory
                            }
                        })
                    },
                    togle: function () {
                        // this.active = true;
                        var isBlck = document.querySelector('.bgBlack')
                        if (isBlck.getAttribute("class") == 'isDisplay') {
                            document.querySelector('.bgBlack').classList.remove('isDisplay');
                            console.log(document.querySelector('.bgBlack'))
                        } else {
                            var that = this;
                            that.active = 'magicAll';
                            document.querySelector('.bgBlack').classList.remove('isDisplay');
                            // this.MenuListQyMenu();
                        }
                    },

                    hideBg : function () {
                        var that = this
                        document.querySelector('.bgBlack').classList.add('isDisplay');
                        that.active = ''
                    },
                }
            })
        }


        function tripValue(tripPerson,tdId,tripCity,dateActive,num,price,priceDan,username) {

            console.log("userphone",localStorage.getItem("tripPhone"))

            // document.querySelector(".ouIds").innerText = oId
            document.querySelector(".tdId").innerText = tdId
            document.querySelector(".tripPerson").innerText = tripPerson
            document.querySelector(".tripCity").innerText = tripCity
            document.querySelector(".tripTime").innerText = dateActive
            document.querySelector(".tripNum").innerText = num +'人'
            document.querySelector(".tripNumNum").innerText = num
            document.querySelector(".tripPrice").innerText = price
            document.querySelector(".tripPriceDan").innerText = priceDan
            document.querySelector(".username").innerText = username
            document.querySelector(".userphone").innerText = localStorage.getItem("tripPhone")


        }


    </script>
<