<!DOCTYPE html>
<html lang="en" class="commonBg">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>欧来欧去</title>
    <link rel="stylesheet" href="../../../../css/api.css" />
    <link rel="stylesheet" href="../../../../css/commonWin.css" />
    <link rel="stylesheet" href="../../../../css/mui.min.css">
    <link rel="stylesheet" href="../../../../css/swiper.min.css">
    <link rel="stylesheet" href="../../../../css/modal.css">
    <link rel="stylesheet" href="../../../../css/greatCommon.css">
    <link rel="stylesheet" href="../../../../css/mofang.css">
    <style>
        .tourism_main{
            background: #fff;
        }
        .tourism_title{
            height: auto !important;
        }
        .imgComDetail{
            display: block;
            width: 7rem;
        }
        .great_Price_List{
            margin: 0.2rem 0;

        }
        .mui-table-view-cell>a:not(.mui-btn){
          color: #333333;
          font-size: 0.28rem;
        }
        /*.mui-input-group .mui-input-row:after{
          left: 0;
        }*/
        .mui-table-view-cell:after{
          left: 0;
        }
        .mui-navigate-right:after, .mui-push-left:after, .mui-push-right:after{
          color: #638BFF;
        }
        .mui-table-view-cell.mui-active{
          background: #fff;
        }
        .mui-table-view-cell.mui-collapse .mui-collapse-content{
          padding:0;
        }
        .mui-table-view-cell.mui-collapse.mui-active{
          margin-top: 0;
        }

        .mui-table-view-cell.mui-collapse > .mui-navigate-right:after, .mui-table-view-cell.mui-collapse > .mui-push-right:after{
          font-size: 20px;
        }
        .mui-table-view-cell.mui-collapse.mui-active > .mui-navigate-right:after, .mui-table-view-cell.mui-collapse.mui-active > .mui-push-right:after{
          font-size: 20px;
        }

        .ououIndex{
          position: fixed;
          bottom: 0px;
          left: 0;
          width: 100%;
          justify-content: space-around;
          height: 60px;
          background: #fff;
          z-index:1;
        }
        .mui-table-view{
          padding-bottom: 60px;
        }
        .posire{
          padding-bottom: 0;
        }

    </style>
</head>
<body class="commonBg">


    <div class="Box">
        <div id="great" class="isDisplay">
            <div class="bgBlack"@touchstart="hideBg()"></div>
            <img src="../../../../image/duke-2.png" class="person" alt="person" @click="togle()">
            <keep-alive>
                <component :is="active"></component>
            </keep-alive>
            <div class="great_header great_headerBottom">
                <div class="great_header_banner swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide" v-for="(imgSrc, index) in imgs" :key="index">
                            <img :src="imgSrc" />
                        </div>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
                <div class="tourism_title">{{item.goodName}}</div>
                <div class="posire">
                    <div class="great_Price_List cssFlex">
                        <span class="great_Price">¥{{item.maxPrice}}</span>
                        <span class="great_Stock">商品已售: <span>{{total}}</span>件</span>
                    </div>
                    <!-- <div class="ououIndex cssFlex">
                        <div class="chatJuOuou" @click="callHandle()">客服咨询</div>
                        <div class="sellJuOuou" @click="Consultation()"><i class="tripPrice isDisplay">0</i>立即购买</div>
                    </div> -->
                </div>
                <!--<div class="ouPersonDetail cssFlex" @click="tripDetail()" v-show="tripStatus">-->
                <div class="ouPersonDetail cssFlex" @click="tripDetail()">
                    <div class="ouPersonDetailText">
                        <div class="commonFont ouPersonLeft cssFlex">
                            <i>请选择</i>
                            <span class="tripPerson">出游人群</span>
                            <span class="tripCity">出发城市</span>
                            <span class="tripTime">时间</span>
                            <span class="tripNum">数量</span>
                            <span class="tripNumNum isDisplay">数量</span>
                            <span class="username isDisplay"></span>
                            <span class="userphone isDisplay"></span>
                            <span class="ouIds isDisplay"></span>
                            <span class="tdId isDisplay"></span>
                            <span class="tripPriceDan isDisplay"></span>
                        </div>
                        <div class="commonSub24 ouPerson999">·全年保证出发·纯玩团·每周循环</div>
                    </div>
                    <img src="../../../../icon/right.png" alt="right" class="info-img-right">
                </div>
            </div>
            <ul class="mui-table-view">
                 <li class="mui-table-view-cell mui-collapse mui-active">
                     <a class="mui-navigate-right" href="#">手绘地图线路</a>
                     <div class="mui-collapse-content">
                         <!-- <p>面板1子内容</p> -->
                         <img style='display:block;width:100%;' :src="item" v-for="(item,index) in picListpic0" :key="picListpic0" alt="">
                     </div>
                 </li>
                 <li class="mui-table-view-cell mui-collapse">
                     <a class="mui-navigate-right" href="#">图文详情</a>
                     <div class="mui-collapse-content">
                        <img style='display:block;width:100%;' :src="item" v-for="(item,index) in picListpic1" :key="picListpic1" alt="">
                     </div>
                 </li>
                 <li class="mui-table-view-cell mui-collapse">
                     <a class="mui-navigate-right" href="#">行程描述</a>
                     <div class="mui-collapse-content">
                        <img style='display:block;width:100%;' :src="item" v-for="(item,index) in picListpic2" :key="picListpic2"alt="">
                     </div>
                 </li>
                 <li class="mui-table-view-cell mui-collapse">
                     <a class="mui-navigate-right" href="#">费用说明</a>
                     <div class="mui-collapse-content">
                        <img style='display:block;width:100%;':src="item" v-for="(item,index) in picListpic3" :key="picListpic3" alt="">
                     </div>
                 </li>
                 <li class="mui-table-view-cell mui-collapse">
                     <a class="mui-navigate-right" href="#">预订须知</a>
                     <div class="mui-collapse-content">
                        <img style='display:block;width:100%;':src="item" v-for="(item,index) in picListpic4" :key="picListpic4" alt="">
                     </div>
                 </li>
             </ul>
             <div class="ououIndex cssFlex">
                 <div class="chatJuOuou" @click="callHandle()">客服咨询</div>
                 <div class="sellJuOuou" @click="Consultation()"><i class="tripPrice isDisplay">0</i>立即购买</div>
             </div>
        </div>
    </div>




    <script type="text/javascript" src="../../../../script/api.js"></script>
    <script type="text/javascript" src="../../../../script/rem.js"></script>

    <script type="text/javascript" src="../../../../script/data.js"></script>
    <script type="text/javascript" src="../../../../script/apiCloud.js"></script>
    <script type="text/javascript" src="../../../../script/jquery-1.8.1.min.js"></script>
    <script type="text/javascript" src="../../../../script/mui.min.js"></script>
    <script src="../../../../script/swiper.min.js"></script>

    <script src="../../../../script/vue.min.js"></script>
    <script src="../../../../script/vuex.min.js"></script>
    <script src="../common/magicAll.js"></script>
    <script src="../common/bus.js"></script>

    <script type="text/javascript" src="../../../../script/public.js"></script>
    <script src="https://cdn.bootcss.com/eruda/1.2.6/eruda.js"></script>
    <script>eruda.init();</script>
    <script>

    </script>

    <script>

        var winWidth,winHeight,url
        apiready = function () {
            // 添加安卓退出按钮事件
            api.addEventListener({
                name: 'keyback'
            }, function (ret, err) {
                closeOnKeyBack();
            });
            var backButtonPress = 0;

            function closeOnKeyBack() {
                backButtonPress++;
                if (backButtonPress > 1) {
                    openNewWindow("index", "../index.html");
                } else {
                  
                }
                setTimeout(function () {
                    backButtonPress = 0;
                }, 1000);
            }

            var magicAll = magicAllInit(Vue);
            Vue.component('magicAll', magicAll);
            url = api.pageParam.url

            winWidth = api.winWidth;
            winHeight = api.winHeight;
            // a01_w = (winWidth > winHeight / 2) ? winWidth : winHeight / 2;
            // a01_w = (winWidth > winHeight / 2) ? winWidth/2 : winHeight / 2;
            a01_w = winWidth;
            // 斜边长
            bevelLength = Math.sqrt((a01_w * a01_w / 2 )) - 40
            ////console.log("bevelLength",bevelLength)
            // width_d=(screen_w-20) *2/5 - 5;
            m_d = (a01_w-10)*0.23-25;    // 100

            // getSrceenWH(winWidth,winHeight)
            new Vue({
                el: '#great',
                data: {
                    activeType: 'trip',
                    item: {},
                    list: [],
                    len: 1,
                    total: "0",
                    picList: [],
                    picListpic0: [],
                    picListpic1: [],
                    picListpic2: [],
                    picListpic3: [],
                    picListpic4: [],
                    imgs: [],
                    att: false,
                    att_id: '',
                    person_id: '',
                    ouId: '',
                    tId: '',
                    tripStatus: '',
                    Spec: '',

                    cid: '',
                    data: '',
                    username: '',
                    userphone: '',
                    userwx: '',
                    usermain: '',
                    showModal : false,
                    active:'magicAll',

                },
                created: function () {
                    this.person_id = localStorage.getItem('person_id');
                    this.ouId = api.pageParam.ouId;
                    this.tId = api.pageParam.tId;
                    this.findSummaryByid();
                },
                mounted: function () {
                    var that = this
                    document.getElementById('great').classList.remove('isDisplay');
                    this.isDisplay = true;
                    //获得slider插件对象
                    var swiper = new Swiper('.swiper-container', {
                        pagination: {
                            el: '.swiper-pagination',
                        },
                        autoplay: true,
                        observer:true,//修改swiper自己或子元素时，自动初始化swiper
                        observeParents:true,//修改swiper的父元素时，自动初始化swiper
                    });

                    that.active = store.state.obj.magicCom;
                    api.addEventListener({
                        name: 'comCom1',
                    }, function(ret, err) {
                        //console.log("ret",ret);
                        that.active = ret.value.key.magicCom1;

                        /*localStorage.setItem("magic_id",ret.value.key.c_id)
                        localStorage.setItem("magic_img",ret.value.key.logo_icon)
                        localStorage.setItem("magic_name",ret.value.key.c_name)*/
                    });
                    api.addEventListener({
                        name: 'comCom2',
                    }, function(ret, err) {
                        //console.log("ret",ret);
                        that.active = ret.value.key.magicCom2;

                        /*localStorage.setItem("magic_id2",ret.value.key.c_id)
                        localStorage.setItem("magic_img2",ret.value.key.logo_icon)
                        localStorage.setItem("magic_name2",ret.value.key.c_name)*/
                    });
                    api.addEventListener({
                        name: 'jobAll'+that.tId,
                    }, function(ret, err) {
                        //console.log("ret",ret);
                        that.ouId = ret.value.key.cid
                        that.findSummaryByid()

                    });

                    magicBox = document.querySelector(".magicBox")
                    bgBlack = document.querySelector(".bgBlack")

                    magicBtn = document.getElementsByClassName("magicBtn")
                    magicSubBox = document.getElementsByClassName("magicSubBox")
                    iconImg = document.getElementsByClassName("iconImg")
                    magicBox.style.width = bevelLength * 2 + "px"
                    magicBox.style.height = bevelLength + "px"
                    var rightYi = bevelLength
                    magicBox.style.right = '-' + rightYi + "px"
                    bgBlack.style.width =winWidth + "px"
                    bgBlack.style.height =winHeight + "px"

                    magicBGheight = document.querySelector(".magicBGheight")
                    magicBGheight.style.height = m_d + "px"
                    // 里面小盒子宽度
                    for (var i =0;i<magicBtn.length ; i++){
                        magicBtn[i].style.width = m_d + "px"
                        magicBtn[i].style.height = m_d + "px"
                    }
                    // 里面小盒子宽度
                    for (var i =0;i<magicSubBox.length ; i++){
                        magicSubBox[i].style.width = m_d + "px"
                        magicSubBox[i].style.height = m_d + "px"
                    }
                    // 图片宽度
                    for (var i =0;i<iconImg.length ; i++){
                        iconImg[i].style.width = m_d/2 + "px"
                        iconImg[i].style.height = m_d/2 + "px"
                    }
                },

                methods: {
                    // 获取数据
                    findSummaryByid: function () {

                        var that = this;
                        ajaxGetWithProgress('http://192.168.1.35:8082/travel/findSummaryByid', {
                            goodId: "284"
                        }, function (data, err) {
                            console.log("findSummaryByid",data);
                            that.item = data.Message;
                            that.total = data.total;
                            that.tripStatus = data.YesOrNo;
                            that.imgs = stringFun(data.Message.picImg);
                            that.Spec = data.Spec;
                            // that.picList = stringFun(data.commodity.introduction);
                            that.picListpic0 = data.image[0].picImg.split(',');
                            that.picListpic1 = data.image[1].picImg.split(',');
                            that.picListpic2 = data.image[2].picImg.split(',');
                            that.picListpic3 = data.image[3].picImg.split(',');
                            that.picListpic4 = data.image[4].picImg.split(',');

                        });
                    },
                    // 切换tab
                    activeHandle: function (activeType) {
                        //console.log(activeType)
                        this.activeType = activeType;
                    },
                    // 办理签证
                    // 收藏
                    collectionHandle: function () {
                        var uidUser = localStorage.getItem("user")
                        if (!uidUser){
                            openNewWindow("login", "../../../login/login.html");
                            return;
                        }
                        var that = this;
                        ajaxGet(collectComm, {
                            id: that.att_id,
                            ccStatus: 1,
                            pid: that.person_id,
                            commId: that.item.cId
                        }, function(data,err){
                            //console.log(data);
                            if (data.commcollect) {
                                toast("编辑成功")
                                window.location.reload()
                            }
                        });
                        that.att = !that.att;
                    },
                    // 立即购买
                    Consultation: function () {
                        var that = this
                        if (document.querySelector(".tripPerson").innerText == "出游人群"){

                            mui.alert("请先选择出游人群等信息","提示","确定",function (ret) {
                                openNewWindow("tripDate", "./tripDate.html",{
                                    name :'index',
                                    ouId : that.ouId
                                });
                            })
                            return
                        }
                        if (document.querySelector(".tripPrice").innerText == "0"){
                            mui.alert("请先选择出游人群等信息","提示","确定",function (ret) {
                                openNewWindow("tripDate", "./tripDate.html",{
                                    name :'index',
                                    ouId : that.ouId
                                });
                            })
                            return
                        }

                        /*var a = {
                            num: document.querySelector(".tripNumNum").innerText,
                            summary: '',
                            price: document.querySelector(".tripPrice").innerText,
                            username: document.querySelector(".username").innerText,
                            userphone: document.querySelector(".userphone").innerText,
                            cId: that.ouId,
                            tdId: document.querySelector(".tdId").innerText,
                        }
                        //console.log("uioiiaaaaaa",a)*/

                        openNewWindow("confirmOrder", "../confirmOrder.html", {
                            url: 'tourismouou',
                            urlIs : 'tourismouou',
                            OrderKey : '',
                            ououPrice: document.querySelector(".tripPrice").innerText,
                            item: that.item,
                            order: {
                                num: document.querySelector(".tripNumNum").innerText,
                                summary: '',
                                price: document.querySelector(".tripPrice").innerText,
                                tripPriceDan: document.querySelector(".tripPriceDan").innerText,
                                username: document.querySelector(".username").innerText,
                                userphone: document.querySelector(".userphone").innerText,
                                cId: that.ouId,
                                tdId: document.querySelector(".tdId").innerText,
                            }
                        })
                    },
                    tripDetail : function () {
                        var that = this
                        openNewWindow("tripDate", "./tripDate.html",{
                            name :'index',
                            ouId : that.ouId,
                            Spec : that.Spec,


                        });
                    },
                    // 唤起手机拨号功能
                    callHandle: function () {
                        api.call({
                            type: 'tel_prompt',
                            number: '17600016895'
                        });
                    },
                    commodityList : function (){
                        var that = this
                        //console.log("that.tId",that.tId)
                        ajaxGetWithProgress(commodityList,{tid : that.tId},function (data) {
                            //console.log("commodityList11",data)
                            var jobList = data.comList
                            //console.log(jobList)
                            if (data) {
                                if (jobList == null) {
                                    that.listJob = ''
                                } else {
                                    that.listJob = jobList
                                }

                                that.magicComCid1 = data.Typelist[0].tid
                                that.magicCom1Img = data.Typelist[0].pic
                                if (data.Typelist[0].pic == null){
                                    that.magicCom1Img = 'http://duke-app.oss-cn-beijing.aliyuncs.com/trend/yun/5n4ehv1hx5dd1jtu.png'
                                }
                                that.magicCom1Text = data.Typelist[0].cateory

                                that.magicComCid2 = data.Typelist[1].tid


                                if (data.Typelist[1].pic == null){
                                    that.magicCom2Img = 'http://duke-app.oss-cn-beijing.aliyuncs.com/trend/yun/5n4ehv1hx5dd1jtu.png'
                                }
                                that.magicCom2Img = data.Typelist[1].pic
                                that.magicCom2Text = data.Typelist[1].cateory
                            }
                        })
                    },
                    togle: function () {
                        // this.active = true;
                        var isBlck = document.querySelector('.bgBlack')
                        if (isBlck.getAttribute("class") == 'isDisplay') {
                            document.querySelector('.bgBlack').classList.remove('isDisplay');
                            //console.log(document.querySelector('.bgBlack'))
                        } else {
                            var that = this;
                            that.active = 'magicAll';
                            document.querySelector('.bgBlack').classList.remove('isDisplay');
                            // this.MenuListQyMenu();
                        }
                    },

                    hideBg : function () {
                        var that = this
                        document.querySelector('.bgBlack').classList.add('isDisplay');
                        that.active = ''
                    },
                }
            })
        }


        function tripValue(tripPerson,tdId,tripCity,dateActive,num,price,priceDan,username) {

            //console.log("userphone",localStorage.getItem("tripPhone"))

            // document.querySelector(".ouIds").innerText = oId
            document.querySelector(".tdId").innerText = tdId
            document.querySelector(".tripPerson").innerText = tripPerson
            document.querySelector(".tripCity").innerText = tripCity
            document.querySelector(".tripTime").innerText = dateActive
            document.querySelector(".tripNum").innerText = num +'人'
            document.querySelector(".tripNumNum").innerText = num
            document.querySelector(".tripPrice").innerText = price
            document.querySelector(".tripPriceDan").innerText = priceDan
            document.querySelector(".username").innerText = username
            document.querySelector(".userphone").innerText = localStorage.getItem("tripPhone")


        }


    </script>
