<!DOCTYPE html>
<html lang="en" class="commonBg">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>商品详情</title>
    <link rel="stylesheet" href="../../../../css/api.css"/>
    <link rel="stylesheet" href="../../../../css/commonWin.css"/>
    <link rel="stylesheet" href="../../../../css/greatCommon.css"/>
    <link rel="stylesheet" href="../../../../css/mui.min.css"/>
    <link rel="stylesheet" href="../../../../css/dataRili.css"/>
    <style>
        input[type=text] {
            border: 0;
            display: inline-block;
            height: 0;
            margin: 0;
        }

        /*.listSpanActive{
          background: #000;
        }*/
    </style>
</head>
<body class="commonBg">


<div class="Box" id="app">


    <!-- selectedArr[item.title.id][+'id2'+] == itemSpec.id ? 'listSpanActive':'' -->
    <div class="boxSub" v-for="(item,index1) in Spec" :key="index1">
        <div class="tr-title">
            {{item.title.specName}}
        </div>
        <div class="tripList cssFlex">
            <span v-for="(itemSpec,index) in item.item" :class="selectedArr[index1] == index ? 'listSpanActive':''"
                  :key="index"
                  @click="tripPersonListClick(item.title.id, item.title.specName, itemSpec.id,itemSpec.specValue, index1,index)">
                {{itemSpec.specValue}}
            </span>
        </div>
    </div>



    <ul id="tabs" class="cssFlex">
        <li class="activeTab">
            <a href="javascript:;" title="tab1">
                <p class="getQueryMonth tr-tab-title">{{getQueryMonth}}月</p>
            </a>
        </li>
        <li class="">
            <a href="javascript:;" title="tab2">
                <p class="getQueryMonth tr-tab-title" @click="showDate2(getQueryMonth1)">{{getQueryMonth1}}月</p>
            </a>
        </li>
        <li class="">
            <a href="javascript:;" title="tab3">
                <p class="getQueryMonth tr-tab-title" @click="showDate3()">{{getQueryMonth2}}月</p>
            </a>
        </li>
    </ul>
    <div id="content">
        <div id="tab1">
            <div class="signincalendar">

            </div>
        </div>
        <div id="tab2">
            <div class="signincalendar2">

            </div>
        </div>
        <div id="tab3">
            <div class="signincalendar3">

            </div>
        </div>
    </div>
    <div class="boxSub">
        <div class="tr-title">
            出行人数
        </div>
        <div class="tr-person cssFlex">
            <span class="tr-person-price">
                成人（￥{{getPriceDefult}}）
            </span>
            <div class="mui-numbox">
                <button class="mui-btn mui-numbox-btn-minus" type="button" @click="numboxlit()">-</button>
                <input class="mui-numbox-input" type="number" v-model="num"/>
                <button class="mui-btn mui-numbox-btn-plus" type="button" @click="numboxAdd()">+</button>
            </div>
        </div>
        <div class="tr-title">
            预定人信息
        </div>
        <div class="perInfoList cssFlex">
            <div class="perInfoListBtn" @click="personAc()" v-for="">郑博文</div>
            <div class="perInfoListBtn" @click="addPer()">选择出行人 ></div>
        </div>
        <!--<div class="ReserveBox">
            <div class="res-box cssFlex">
                <span class="res-boxname"><i>*</i>联系人</span>
                <input type="text" class="res-boxinput" v-model="name" placeholder="请填写联系人姓名">
            </div>
            <div class="res-box cssFlex">
                <span class="res-boxname"><i>*</i>手机号</span>
                <input type="text" class="res-boxinput" v-model="phone" placeholder="请填写手机号">
            </div>
        </div>-->
    </div>
    <div class="res-bottombox cssFlex">
        <div class="res-bom-text res-bom-Pri ">¥<i>{{getPriceDefult * num}}</i></div>
        <div class="res-bom-text res-order-submit" @click="orderSubmit()">立即购买</div>
    </div>
</div>


<script type="text/javascript" src="../../../../script/api.js"></script>
<script type="text/javascript" src="../../../../script/jquery-1.8.1.min.js"></script>
<script type="text/javascript" src="../../../../script/rem.js"></script>
<script type="text/javascript" src="../../../../script/apiCloud.js"></script>
<script type="text/javascript" src="../../../../script/public.js"></script>
<script type="text/javascript" src="../../../../script/data.js"></script>
<script type="text/javascript" src="../../../../script/mui.min.js"></script>
<script src="../../../../script/vue.min.js"></script>

<script src="https://cdn.bootcss.com/eruda/1.2.6/eruda.js"></script>
<script>eruda.init();</script>

<script>
    var name, app;

    function personList(personList) {
        app.personList = JSON.parse(personList);
        console.log(JSON.parse(personList),'145')
    };
    apiready = function () {
        console.log(api.pageParam)
        name = api.pageParam.name;
        var selectObj = {};
        app = new Vue({
            el: '#app',
            data: {


                //leileiStart

                selectedArr:[],
                idStr:'',

                //leileiend
                isDefult: false,
                person_id: "",
                name: "zheng",
                phone: "15901420459",
                wx: "",
                remark: "",
                getPrice: "",
                getPriceDefult: "",

                Spec: '',

                cid: '',
                ouId: '',

                // 日历
                getQueryYear: "",    // 年份
                getQueryMonth: "",      //月份1
                getQueryMonth1: "",     //月份2
                getQueryMonth2: "",     //月份3
                dataDateList: [],

                num: 1,
                dateActive: '',
                data: {},
                comscaleActive: '-1',
                tripPerson: '',   //出游人群   选中的文字
                tripPersonId: '',   //出游人群   选中的
                tripPersonList: [],  //出游人群
                cityActive: '-1',
                tripCity: '',   // 出发城市   选中的文字
                tripCityId: '',   // 出发城市   选中的
                tripCityList: [], //出发城市
                personList: [], //出发城市
                goodId: '', //商品id
                good_spec_price_id: '', //规格id
                day: '',
                month: '',
                oId: '',
                tdId: '',     /// 旅行团id   确认价格


            },
            created: function () {
                var that = this

                this.person_id = localStorage.getItem('user');
                this.ouId = api.pageParam.ouId;
                this.goodId = api.pageParam.goodId;
                this.Spec = api.pageParam.Spec;
                // console.log(api.pageParam.Spec)
                // console.log(this.Spec)
                // 日历
                this.getQueryYear = new Date().getFullYear() * 1;   // 年份
                this.getQueryMonth = (new Date().getMonth() + 1) * 1; //月份
                this.getQueryMonth1 = (new Date().getMonth() + 2) * 1;//月份
                this.getQueryMonth2 = (new Date().getMonth() + 3) * 1;//月份
                this.queryPeopleAndCityoloq();
                this.showDate1(this.getQueryYear, this.getQueryMonth)

            },
            mounted: function () {
                var that = this;
                // document.getElementById('app').classList.remove('isDisplay');
                // JavaScript Document
                // $("#tabs li").click(function () {
                //     $(this).addClass("activeTab").siblings().removeClass("activeTab"); //切换选中的按钮高亮状态
                //     var index = $(this).index(); //获取被按下按钮的索引值，需要注意index是从0开始的
                //     $("#content > div").eq(index).fadeIn().siblings().fadeOut(); //在按钮选中时在下面显示相应的内容，同时隐藏不需要的框架内容
                // });

            },
            methods: {
                // 增加商品
                numboxAdd: function () {
                    this.num++
                    if (this.num > 10) {
                        this.num = 10
                    }
                },
                // 减少商品
                numboxlit: function () {
                    this.num--
                    if (this.num < 1) {
                        this.num = 1
                    }
                },
                personAc: function () {
                    this.num--
                    if (this.num < 1) {
                        this.num = 1
                    }
                },
                addPer: function () {
                    var that = this;
                    openNewWindow("Adress", "../../../address/trip/Adress.html", {
                        url: 'tripDate'
                    });
                },
                queryPeopleAndCityoloq: function () {
                    var that = this
                    var obj = {
                        cid: that.ouId,
                        pid: that.person_id
                    }
                    ////console.log("ouIdouId",obj)
                    ajaxGetWithProgress(queryPeopleAndCityoloq, obj, function (data) {
                        //console.log(data)
                        that.tripPersonList = data.travelPeople;
                        // that.cid = data.travelPeople[0].cid;
                        that.tripCityList = data.clist;
                    })
                },
                // 提交订单
                orderSubmit: function () {
                    var that = this


                    if (that.getPriceDefult == '') {
                        toast("请选择出游日期")
                        return
                    }
                    localStorage.setItem("tripPhone", that.phone)
                    var obj = {

                        goodId : that.goodId,
                        good_spec_price_id : that.good_spec_price_id,
                        amount : that.num,
                        user_id : localStorage.getItem("user"),
                        total_money : that.getPriceDefult * that.num,
                        uidList : "1,2",
                    };
                    console.log(obj)
                    api.ajax({
                        // report : false,
                        url: 'http://192.168.1.35:8083/tour/travel/createOrderMessage',
                        method: 'post',
                        cache: 'false',
                        timeout: 30,
                        dataTpye: 'json',
                        data: {
                            files: {},
                            values: obj
                        }
                    }, function (data, err) {

                        console.log("dataaaa", data);
                        api.hideProgress();
                        if (data.Status) {
                            openNewWindow("confirmOrder", "../confirmOrder.html", {
                                url: 'tourism',
                                urlIs : 'tourismouou',
                                OrderKey : '',
                                ououPrice: '',
                                item: {
                                    num: that.num,
                                    summary:data.Message.goodName,
                                    ououPrice:that.getPriceDefult * that.num,
                                    placard:data.Message.picImg,
                                    cId:that.goodId,
                                    orderNo:data.orderNo,
                                },
                                order: {
                                    // num: document.querySelector(".tripNumNum").innerText,
                                    // summary: '',
                                    // price: document.querySelector(".tripPrice").innerText,
                                    // tripPriceDan: document.querySelector(".tripPriceDan").innerText,
                                    // username: document.querySelector(".username").innerText,
                                    // userphone: document.querySelector(".userphone").innerText,
                                    // cId: that.ouId,
                                    // tdId: document.querySelector(".tdId").innerText,
                                }
                            })
                        }else{
                            toast("请求出错")
                        }
                    });
                },
                // 出游人群

                //leileichange
                tripPersonListClick: function (id1, name1,id2,name2,index1,index) {   //保险
                    console.log(id1,name1,id2,name2);


                    selectObj[id1] = {
                        id1:id1,
                        name1:name1,
                        id2:id2,
                        name2:name2,
                        index:index,
                    }
                    this.selectedArr[index1] = index;
                    //  this.selectedArr[index1] = index;
                    this.selectedArr = JSON.parse(JSON.stringify(this.selectedArr));


                    //  console.log(this.selectedArr,selectObj);

                    // console.log(selectObj);
                    //
                    var idStr = '';
                    for( let key in selectObj){
                        idStr += selectObj[key].id2+',';
                        // this.selectedArr.push(selectObj[key]);
                    }
                    this.selectedArr[index1] = index;
                    //  this.selectedArr[index1] = index;
                    this.selectedArr = JSON.parse(JSON.stringify(this.selectedArr));


                    //  console.log(this.selectedArr,selectObj);

                    // console.log(selectObj);
                    //
                    var idStr = '';
                    for( let key in selectObj){
                      idStr += selectObj[key].id2+',';
                      // this.selectedArr.push(selectObj[key]);
                    }
                    //
                    // s=s.substring(0,s.length-1)
                    var idStrSub = idStr.substring(0,idStr.length-1);
                    // console.log(idStrSub);
                    // console.log(this.selectedArr);

                    // this.selectedArr[]     //存放已经点击选择的内容;


                    // var that = this
                    // that.comscaleActive = index;
                    // that.tripPerson = item.peopleType;
                    // that.tripPersonId = item.ptypeId;
                    this.idStr = idStrSub;
                    this.queryDateAndPriceoloq(idStrSub)
                },
                // 出发城市
                tripCityListClick: function (item, index) {   //保险
                    var that = this
                    if (that.tripPersonId == '') {
                        toast('请先选择出游人群')
                        return
                    }

                    var that = this
                    that.cityActive = index;
                    that.tripCity = item.departureCity;
                    that.tripCityId = item.id;

                    if (that.tripPersonId != '' && that.tripCityId != '') {
                        that.queryDateAndPriceoloq(that.idStr)
                    }

                },

                queryDateAndPriceoloq: function (idstr) {
                    var that = this;

                    var obj = {
                        spec: idstr,
                        startDate: that.getQueryYear+"-"+that.getQueryMonth+"-1",
                        endDate: that.getQueryYear+"-"+that.getQueryMonth+"-"+that.day,
                        day: that.day,
                    };
                    api.ajax({
                        // report : false,
                        url: 'http://192.168.1.35:8083/tour/travel/findPriceItemBySpecId',
                        method: 'get',
                        cache: 'false',
                        timeout: 30,
                        dataTpye: 'json',
                        data: {
                            files: {},
                            values: obj
                        }
                    }, function (data, err) {

                        console.log("dataaaa", data);
                        api.hideProgress();
                        if (data) {
                            that.dataDateList = data.map;
                            that.good_spec_price_id = data.good_spec_price_id;
                            that.showDate1(that.getQueryYear, that.getQueryMonth)
                        }
                    });
                    /*ajaxGetWithProgress(findPriceItemBySpecId, obj, function (data) {
                        console.log(data)
                        /!*that.dataDateList = data.month;
                        that.showDate1(that.getQueryYear,that.getQueryMonth)*!/
                    })*/
                },
                showDate1: function (getQueryYear, getQueryMonth) {
                    var that = this

                    var nstr = new Date(); // 获取当前日期
                    var changedYear = getQueryYear; // 年份
                    var changedMonth = getQueryMonth; // 月份

                    that.month = getQueryMonth
                    var dnow = nstr.getDate(); // 今日日期
                    var n1str = new Date(changedYear, changedMonth, 1); // 当月第一天Date
                    var initfirstday = n1str.getDay(); // 当月第一天星期几

                    // 是否为闰年
                    function is_leap(year) {
                        return (year % 100 == 0 ? res = (year % 400 == 0 ? 1 : 0)
                            : res = (year % 4 == 0 ? 1 : 0));
                    }

                    // 获取当月的天数
                    function getMonthAllDay(month, year) {
                        var m_days = new Array(31, 28 + is_leap(year), 31, 30, 31, 30, 31, 31, 30, 31, 30, 31);
                        //console.log(m_days)
                        that.day = m_days[month]
                        return m_days[month];
                    }

                    // 获得某年某月某日是星期几
                    function getFirstWeekDay(year, month, day) {
                        var date = new Date();
                        date.setFullYear(year);
                        date.setMonth(month);
                        date.setDate(day);
                        return date.getDay();
                    }

                    function daysOfMonth() {
                        var MonthYear = $(".txt_Year").text()
                        //console.log(MonthYear)
                        var MonthMonth = $(".txt_blue").text()
                        // 获取到当前月份的全部日期
                        let daysOfMonth = '';
                        let fullYear = MonthYear;
                        let month = MonthMonth;
                        let lastDayOfMonth = new Date(fullYear, month, 0).getDate();
                        for (var i = 1; i <= lastDayOfMonth; i++) {
                            daysOfMonth += fullYear + '-' + month + '-' + i;
                            daysOfMonth += ',';
                        }
                        ;
                        activeDateStr = daysOfMonth.substring(0, daysOfMonth.lastIndexOf(','));
                        return activeDateStr;
                    }

                    commChanged(that.getQueryYear, that.getQueryMonth)

                    function commChanged(changedYear, changedMonth) {
                        var changedMonth = changedMonth
                        var firstweekday = getFirstWeekDay(changedYear, parseInt(changedMonth) - 1, 1);

                        var allday = getMonthAllDay(parseInt(changedMonth) - 1, changedYear);       //获取当月的天数
                        showCanledar(changedMonth, firstweekday, 1, allday, changedYear);
                    }

                    // 获得表格行数
                    function requiredRows(allday, firstday) {
                        var trstr = Math.ceil((allday + firstday) / 7);
                        // alert("trstr"+trstr);
                        return trstr;
                    }

                    /* 显示日历 */
                    function showCanledar(month, firstday, dnow, allday, changedYear) {
                        var rows = requiredRows(allday, firstday);
                        var tb = "<table data-role='none' cellpadding='0px' cellspacing='3px' id='dates'>";
                        tb += "<tr class='firsttr'><td colspan='7' class='heightTitle'>";
                        tb += "</td></tr>";
                        tb += "</tr>";
                        tb += "<tr class='secondtr'>";
                        tb += "<td>日</td><td>一</td><td>二</td><td>三</td><td>四</td><td>五</td><td>六</td>";
                        tb += "</tr>";
                        //console.log("dataDateList", that.dataDateList.length)
                        //console.log("dataDateList", that.dataDateList)
                        for (var i = 0; i < rows; i++) {
                            tb += "<tr>";
                            for (var k = 0; k < 7; k++) { // 表格每行的单元格
                                var idx = i * 7 + k; // 单元格自然序列号
                                var date_str = idx - firstday + 1; // 计算日期
                                (date_str <= 0 || date_str > allday) ? tb += "<td style='background:#fff'> </td>" : tb += '<td class="tdActive ">\n' +

                                    '<div class=" normal">\n' +
                                    '                       <i class="normalNum">' + date_str + '</i> '
                                if (that.dataDateList == '') {
                                    tb += '                        <p class="price"><i class="priceNum"></i></p>\n'
                                } else if (that.dataDateList[date_str] == '') {
                                    tb += '                        <p class="price"><i class="priceNum">' + that.dataDateList[date_str] + '</i></p>\n'
                                } else if (that.dataDateList[date_str] == undefined) {
                                    tb += '                        <p class="price isDisplay"><i class="priceNum">' + that.dataDateList[date_str] + '</i></p>\n'
                                } else {
                                    tb += '                        <p class="price">¥<i class="priceNum">' + that.dataDateList[date_str] + '</i></p>\n'
                                }
                                // '                        <var class="sheng isDisplay">余 <i class="Surplus">8</i></var>\n' +
                                tb += '\n' +
                                    '                    </div>\n' +
                                    '                </td>';


                            }

                            tb += "</tr>";
                            // 表格的行结束
                        }
                        tb += "</table>"; // 表格结束
                        $(".signincalendar").html(tb);


                        var price = that.getPrice;

                        // var normalIndex = $(".normal").eq((dateShows[2] - 1) * 1)
                        // $(".priceNum").text(price)
                        // normalIndex.addClass("activeTd")
                        // normalIndex.children(".price").removeClass("isDisplay")
                        // normalIndex.children(".sheng").removeClass("isDisplay")
                    }

                    var priceNumList = document.querySelectorAll(".normal")
                    for (var i = 0; i < priceNumList.length; i++) {
                        priceNumList[i].index = i
                        priceNumList[i].addEventListener("click", function (item, index) {
                            var normalIndex = this.index
                            //console.log(normalIndex)
                            that.dateActive = getQueryYear + '-' + getQueryMonth + '-' + normalIndex
                            // $(this).addClass("activeTd").siblings().removeClass("activeTd");
                            var valuePrice = $(".normal").eq(normalIndex).children(".price").children(".priceNum").text()
                            //console.log("valuePrice",valuePrice)
                            that.getPriceDefult = valuePrice
                            if (valuePrice !== '') {
                                $('.tdActive').siblings().children().removeClass("activeTd");
                                $(this).addClass("activeTd");
                            } else {
                                toast('请选择标有价格的正确日期');
                            }
                            $(this).addClass("activeTd").parent(".tdActive").siblings().children(".normal").removeClass("activeTd");

                        })

                    }

                    function getNewYear() {
                        // alert("得到年");
                        return $(".txt_Year").html()
                    }

                    // 获得下拉列表的月
                    function getNewMonth() {
                        // alert("得到月");
                        return $(".txt_blue").html()
                    }
                },
                showDate2: function () {
                    var that = this
                    var nstr = new Date(); // 获取当前日期
                    var changedYear = that.getQueryYear; // 年份
                    var changedMonth = that.getQueryMonth1; // 月份
                    var dnow = nstr.getDate(); // 今日日期
                    var n1str = new Date(changedYear, changedMonth, 1); // 当月第一天Date
                    var initfirstday = n1str.getDay(); // 当月第一天星期几

                    // 是否为闰年
                    function is_leap(year) {
                        return (year % 100 == 0 ? res = (year % 400 == 0 ? 1 : 0)
                            : res = (year % 4 == 0 ? 1 : 0));
                    }

                    // 获取当月的天数
                    function getMonthAllDay(month, year) {
                        var m_days = new Array(31, 28 + is_leap(year), 31, 30, 31, 30, 31, 31, 30, 31, 30, 31);

                        that.day = m_days[month]
                        return m_days[month];
                    }

                    // 获得某年某月某日是星期几
                    function getFirstWeekDay(year, month, day) {
                        var date = new Date();
                        date.setFullYear(year);
                        date.setMonth(month);
                        date.setDate(day);
                        return date.getDay();
                    }

                    function daysOfMonth() {
                        var MonthYear = $(".txt_Year").text()
                        //console.log(MonthYear)
                        var MonthMonth = $(".txt_blue").text()
                        // 获取到当前月份的全部日期
                        let daysOfMonth = '';
                        let fullYear = MonthYear;
                        let month = MonthMonth;
                        let lastDayOfMonth = new Date(fullYear, month, 0).getDate();
                        for (var i = 1; i <= lastDayOfMonth; i++) {
                            daysOfMonth += fullYear + '-' + month + '-' + i;
                            daysOfMonth += ',';
                        }
                        ;
                        activeDateStr = daysOfMonth.substring(0, daysOfMonth.lastIndexOf(','));
                        return activeDateStr;
                    }

                    commChanged(that.getQueryYear, that.getQueryMonth1)

                    function commChanged(changedYear, changedMonth) {
                        var changedMonth = changedMonth
                        var firstweekday = getFirstWeekDay(changedYear, parseInt(changedMonth) - 1, 1);

                        var allday = getMonthAllDay(parseInt(changedMonth) - 1, changedYear);       //获取当月的天数
                        showCanledar(changedMonth, firstweekday, 1, allday, changedYear);
                    }

                    // 获得表格行数
                    function requiredRows(allday, firstday) {
                        var trstr = Math.ceil((allday + firstday) / 7);
                        // alert("trstr"+trstr);
                        return trstr;
                    }

                    /* 显示日历 */
                    function showCanledar(month, firstday, dnow, allday, changedYear) {
                        var rows = requiredRows(allday, firstday);
                        var tb = "<table data-role='none' cellpadding='0px' cellspacing='3px' id='dates'>";
                        tb += "<tr class='firsttr'><td colspan='7' class='heightTitle'>";
                        tb += "</td></tr>";
                        tb += "</tr>";
                        tb += "<tr class='secondtr'>";
                        tb += "<td>日</td><td>一</td><td>二</td><td>三</td><td>四</td><td>五</td><td>六</td>";
                        tb += "</tr>";
                        //console.log("dataDateList", that.dataDateList.length)
                        //console.log("dataDateList", that.dataDateList)
                        for (var i = 0; i < rows; i++) {
                            tb += "<tr>";
                            for (var k = 0; k < 7; k++) { // 表格每行的单元格
                                var idx = i * 7 + k; // 单元格自然序列号
                                var date_str = idx - firstday + 1; // 计算日期
                                (date_str <= 0 || date_str > allday) ? tb += "<td style='background:#fff'> </td>" : tb += '<td class="tdActive ">\n' +

                                    '<div class=" normal">\n' +
                                    '                       <i class="normalNum">' + date_str + '</i> '
                                if (that.dataDateList == '') {
                                    tb += '                        <p class="price"><i class="priceNum"></i></p>\n'
                                } else if (that.dataDateList[date_str] == '') {
                                    tb += '                        <p class="price"><i class="priceNum">' + that.dataDateList[date_str] + '</i></p>\n'
                                } else if (that.dataDateList[date_str] == undefined) {
                                    tb += '                        <p class="price isDisplay"><i class="priceNum">' + that.dataDateList[date_str] + '</i></p>\n'
                                } else {
                                    tb += '                        <p class="price">¥<i class="priceNum">' + that.dataDateList[date_str] + '</i></p>\n'
                                }
                                // '                        <var class="sheng isDisplay">余 <i class="Surplus">8</i></var>\n' +
                                tb += '\n' +
                                    '                    </div>\n' +
                                    '                </td>';


                            }

                            tb += "</tr>";
                            // 表格的行结束
                        }
                        tb += "</table>"; // 表格结束
                        $(".signincalendar2").html(tb);


                        var priceNumList = document.querySelectorAll(".normal")
                        for (var i = 0; i < priceNumList.length; i++) {
                            priceNumList[i].index = i
                            priceNumList[i].addEventListener("click", function (item, index) {
                                var normalIndex = this.index
                                //console.log(normalIndex)
                                var valuePrice = $(".normal").eq(normalIndex).children(".price").children(".priceNum").text()
                                that.dateActive = getQueryYear + '-' + getQueryMonth + '-' + normalIndex
                                that.getPriceDefult = valuePrice
                                $(this).addClass("activeTd").siblings().removeClass("activeTd");

                            })

                        }
                        var price = that.getPrice;

                        // var normalIndex = $(".normal").eq((dateShows[2] - 1) * 1)
                        // $(".priceNum").text(price)
                        // normalIndex.addClass("activeTd")
                        // normalIndex.children(".price").removeClass("isDisplay")
                        // normalIndex.children(".sheng").removeClass("isDisplay")
                    }


                    function getNewYear() {
                        // alert("得到年");
                        return $(".txt_Year").html()
                    }

                    // 获得下拉列表的月
                    function getNewMonth() {
                        // alert("得到月");
                        return $(".txt_blue").html()
                    }
                },
                showDate3: function () {
                    var that = this
                    var nstr = new Date(); // 获取当前日期
                    var changedYear = that.getQueryYear; // 年份
                    var changedMonth = that.getQueryMonth2; // 月份
                    var dnow = nstr.getDate(); // 今日日期
                    var n1str = new Date(changedYear, changedMonth, 1); // 当月第一天Date
                    var initfirstday = n1str.getDay(); // 当月第一天星期几

                    // 是否为闰年
                    function is_leap(year) {
                        return (year % 100 == 0 ? res = (year % 400 == 0 ? 1 : 0)
                            : res = (year % 4 == 0 ? 1 : 0));
                    }

                    // 获取当月的天数
                    function getMonthAllDay(month, year) {
                        var m_days = new Array(31, 28 + is_leap(year), 31, 30, 31, 30, 31, 31, 30, 31, 30, 31);
                        that.day = m_days[month]
                        return m_days[month];
                    }

                    // 获得某年某月某日是星期几
                    function getFirstWeekDay(year, month, day) {
                        var date = new Date();
                        date.setFullYear(year);
                        date.setMonth(month);
                        date.setDate(day);
                        return date.getDay();
                    }

                    function daysOfMonth() {
                        var MonthYear = $(".txt_Year").text()
                        //console.log(MonthYear)
                        var MonthMonth = $(".txt_blue").text()
                        // 获取到当前月份的全部日期
                        let daysOfMonth = '';
                        let fullYear = MonthYear;
                        let month = MonthMonth;
                        let lastDayOfMonth = new Date(fullYear, month, 0).getDate();
                        for (var i = 1; i <= lastDayOfMonth; i++) {
                            daysOfMonth += fullYear + '-' + month + '-' + i;
                            daysOfMonth += ',';
                        }
                        ;
                        activeDateStr = daysOfMonth.substring(0, daysOfMonth.lastIndexOf(','));
                        return activeDateStr;
                    }

                    commChanged(that.getQueryYear, that.getQueryMonth2)

                    function commChanged(changedYear, changedMonth) {
                        var changedMonth = changedMonth
                        var firstweekday = getFirstWeekDay(changedYear, parseInt(changedMonth) - 1, 1);

                        var allday = getMonthAllDay(parseInt(changedMonth) - 1, changedYear);       //获取当月的天数
                        showCanledar(changedMonth, firstweekday, 1, allday, changedYear);
                    }

                    // 获得表格行数
                    function requiredRows(allday, firstday) {
                        var trstr = Math.ceil((allday + firstday) / 7);
                        // alert("trstr"+trstr);
                        return trstr;
                    }

                    /* 显示日历 */
                    function showCanledar(month, firstday, dnow, allday, changedYear) {
                        var rows = requiredRows(allday, firstday);
                        var tb1 = "<table data-role='none' cellpadding='0px' cellspacing='3px' id='dates'>";
                        tb1 += "<tr class='firsttr'><td colspan='7' class='heightTitle'>";
                        tb1 += "</td></tr>";
                        tb1 += "</tr>";
                        tb1 += "<tr class='secondtr'>";
                        tb1 += "<td>日</td><td>一</td><td>二</td><td>三</td><td>四</td><td>五</td><td>六</td>";
                        tb1 += "</tr>";
                        //console.log("dataDateList", that.dataDateList.length)
                        //console.log("dataDateList", that.dataDateList)
                        for (var i = 0; i < rows; i++) {
                            tb1 += "<tr>";
                            for (var k = 0; k < 7; k++) { // 表格每行的单元格
                                var idx = i * 7 + k; // 单元格自然序列号
                                var date_str = idx - firstday + 1; // 计算日期
                                (date_str <= 0 || date_str > allday) ? tb1 += "<td style='background:#fff'> </td>" : tb1 += '<td class="tdActive ">\n' +

                                    '<div class=" normal">\n' +
                                    '                       <i class="normalNum">' + date_str + '</i> '
                                if (that.dataDateList == '') {
                                    tb1 += '                        <p class="price"><i class="priceNum"></i></p>\n'
                                } else if (that.dataDateList[date_str] == '') {
                                    tb1 += '                        <p class="price"><i class="priceNum">' + that.dataDateList[date_str] + '</i></p>\n'
                                } else if (that.dataDateList[date_str] == undefined) {
                                    tb1 += '                        <p class="price isDisplay"><i class="priceNum">' + that.dataDateList[date_str] + '</i></p>\n'
                                } else {
                                    tb1 += '                        <p class="price">¥<i class="priceNum">' + that.dataDateList[date_str] + '</i></p>\n'
                                }
                                // '                        <var class="sheng isDisplay">余 <i class="Surplus">8</i></var>\n' +
                                tb1 += '\n' +
                                    '                    </div>\n' +
                                    '                </td>';


                            }

                            tb1 += "</tr>";
                            // 表格的行结束
                        }
                        tb1 += "</table>"; // 表格结束
                        $(".signincalendar3").html(tb1);


                        var priceNumList = document.querySelectorAll(".normal")
                        for (var i = 0; i < priceNumList.length; i++) {
                            priceNumList[i].index = i
                            priceNumList[i].addEventListener("click", function (item, index) {
                                var normalIndex = this.index
                                //console.log(normalIndex)
                                var valuePrice = $(".normal").eq(normalIndex).children(".price").children(".priceNum").text()
                                that.dateActive = getQueryYear + '-' + getQueryMonth + '-' + normalIndex
                                that.getPriceDefult = valuePrice
                                $(this).addClass("activeTd").parent(".tdActive").siblings().children(".normal").removeClass("activeTd");

                            })

                        }
                        // var price = that.getPrice;

                        // var normalIndex = $(".normal").eq((dateShows[2] - 1) * 1)
                        // $(".priceNum").text(price)
                        // normalIndex.addClass("activeTd")
                        // normalIndex.children(".price").removeClass("isDisplay")
                        // normalIndex.children(".sheng").removeClass("isDisplay")
                    }


                    function getNewYear() {
                        // alert("得到年");
                        return $(".txt_Year").html()
                    }

                    // 获得下拉列表的月
                    function getNewMonth() {
                        // alert("得到月");
                        return $(".txt_blue").html()
                    }


                },


            }
        });

    }

</script>
</body>
</html>
