<!DOCTYPE html>
<html lang="en" class="commonBg">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>编辑个人信息</title>
    <link rel="stylesheet" href="../../../css/api.css"/>
    <link rel="stylesheet" href="../../../css/commonWin.css"/>
    <link rel="stylesheet" href="../../../css/comMine.css"/>
    <link rel="stylesheet" href="../../../css/mui.min.css">
    <link rel="stylesheet" href="../../../css/mui.picker.all.css">
    <link rel="stylesheet" href="../../../css/mui.dtpicker.css">
    <style>
        .info-choose{
            height: 1.1rem;
        }

    </style>
</head>
<body class="commonBg">

<div class="Box" id="app1">
    <div class="boxSub isDisplay">
        
        <div class="info-choose cssFlex" @click="whriteComInfo(1)" v-if="comInfomation == false">
            <span class="info-choose-name">公司基本信息</span>
            <div class="info-choose-main cssFlex">
                <span class="info-choose-main-name birth_option">未完善</span>
                <img src="../../../icon/right.png" alt="right" class="info-img-right">
            </div>
        </div>
        <div class="info-choose cssFlex" @click="whriteComInfo(2)" v-if="comInfomation == true">
            <span class="info-choose-name">公司基本信息</span>
            <div class="info-choose-main cssFlex">
                <span class="info-choose-main-name birth_option">已完善</span>
                <img src="../../../icon/right.png" alt="right" class="info-img-right">
            </div>
        </div>

        <div class="info-choose cssFlex" @click="whriteComPro(1)" v-if="comProduct == false">
            <span class="info-choose-name">公司介绍</span>
            <div class="info-choose-main cssFlex">
                <span class="info-choose-main-name birth_option">未完善</span>
                <img src="../../../icon/right.png" alt="right" class="info-img-right">
            </div>
        </div>

        <div class="info-choose cssFlex" @click="whriteComPro(2)" v-if="comProduct == true">
            <span class="info-choose-name">公司介绍</span>
            <div class="info-choose-main cssFlex">
                <span class="info-choose-main-name birth_option">已完善</span>
                <img src="../../../icon/right.png" alt="right" class="info-img-right">
            </div>
        </div>

        <div class="info-choose cssFlex" @click="whriteComWelfare(1)" v-if="comWelfare == false">
            <span class="info-choose-name">公司福利</span>
            <div class="info-choose-main cssFlex">
                <span class="info-choose-main-name birth_option">未完善</span>
                <img src="../../../icon/right.png" alt="right" class="info-img-right">
            </div>
        </div>
        <div class="info-choose cssFlex" @click="whriteComWelfare(2)"v-if="comWelfare == true">
            <span class="info-choose-name">公司福利</span>
            <div class="info-choose-main cssFlex">
                <span class="info-choose-main-name birth_option" >已完善</span>
                <img src="../../../icon/right.png" alt="right" class="info-img-right">
            </div>
        </div>



        <div class="info-choose cssFlex" @click="whriteComImg(1)" v-if="comPicture == false">
            <span class="info-choose-name">公司相册</span>
            <div class="info-choose-main cssFlex">
                <span class="info-choose-main-name birth_option">未完善</span>
                <img src="../../../icon/right.png" alt="right" class="info-img-right">
            </div>
        </div>
        <div class="info-choose cssFlex" @click="whriteComImg(2)" v-if="comPicture == true">
            <span class="info-choose-name">公司相册</span>
            <div class="info-choose-main cssFlex">
                <span class="info-choose-main-name birth_option">已完善</span>
                <img src="../../../icon/right.png" alt="right" class="info-img-right">
            </div>
        </div>

        <div class="info-choose cssFlex" @click="whriteComSuggest(1)" v-if="comSummary == false">
            <span class="info-choose-name">产品介绍</span>
            <div class="info-choose-main cssFlex">
                <span class="info-choose-main-name birth_option">未完善</span>
                <img src="../../../icon/right.png" alt="right" class="info-img-right">
            </div>
        </div>
        <div class="info-choose cssFlex" @click="whriteComSuggest(2)"v-if="comSummary == true">
            <span class="info-choose-name">产品介绍</span>
            <div class="info-choose-main cssFlex">
                <span class="info-choose-main-name birth_option" >已完善</span>
                <img src="../../../icon/right.png" alt="right" class="info-img-right">
            </div>
        </div>
        <div class="info-choose cssFlex" @click="whriteComMange(1)"v-if="comSentior == false">
            <span class="info-choose-name">高管介绍</span>
            <div class="info-choose-main cssFlex">
                <span class="info-choose-main-name birth_option" >未完善</span>
                <img src="../../../icon/right.png" alt="right" class="info-img-right">
            </div>
        </div>

        <div class="info-choose cssFlex" @click="whriteComMange(2)"v-if="comSentior == true">
            <span class="info-choose-name">高管介绍</span>
            <div class="info-choose-main cssFlex">
                <span class="info-choose-main-name birth_option" >已完善</span>
                <img src="../../../icon/right.png" alt="right" class="info-img-right">
            </div>
        </div>
    </div>

</div>

<!--<script src="https://cdn.bootcss.com/eruda/1.2.6/eruda.js"></script>
    <script>eruda.init();</script>-->

<script type="text/javascript" src="../../../script/api.js"></script>
<script type="text/javascript" src="../../../script/rem.js"></script>
<script type="text/javascript" src="../../../script/apiCloud.js"></script>

<script type="text/javascript" src="../../../script/data.js"></script>
<script type="text/javascript" src="../../../script/public.js"></script>
<script type="text/javascript" src="../../../script/mui.min.js"></script>
<script type="text/javascript" src="../../../script/mui.picker.all.js"></script>
<script type="text/javascript" src="../../../script/mui.dtpicker.js"></script>
<script src="../../../script/vue.min.js"></script>

<script>

    function loadCom (){
        window.location.reload()
    }


    apiready = function () {


        new Vue({
            el: '#app1',
            data: {
                list: [],
                list1: [],
                isHide: true,
                active: false,
                index1: -1,
                index2: -1,
                comInfomation: false,
                comProduct: '',
                comWelfare: '',
                comPicture: '',
                comSummary: '',
                comSentior: '',
            },
            created: function () {
                this.CompanySummaryIsPerfect()
            },
            methods: {

                CompanySummaryIsPerfect : function () {

                    var that = this
                    var uid = localStorage.getItem("person_id")
                    var obj = {
                        uid:uid
                    }
                    ajaxGetWithProgress(CompanySummaryIsPerfect,obj,function (data,ret) {
                        console.log("finshCom",data)
                        if (data) {
                            if (data.InformationPerfect){
                                that.comInfomation = true
                            }else{
                                that.comInfomation = false
                            }
                            if (data.ProductPerfect){
                                that.comProduct = true
                            }else{
                                that.comProduct = false
                            }
                            if (data.SeniorPerfect){
                                that.comSentior = true
                            }else{
                                that.comSentior = false
                            }
                            if (data.SummaryPerfect){
                                that.comSummary = true
                            }else{
                                that.comSummary = false
                            }
                            if (data.PicturePerfect){
                                that.comPicture = true
                            }else{
                                that.comPicture = false
                            }
                            if (data.WelfarePerfect){
                                that.comWelfare = true
                            }else{
                                that.comWelfare = false
                            }
                            document.querySelector(".boxSub").classList.remove("isDisplay")
                        } else {
                            toast("请求出错！")
                        }
                    })
                },

                whriteComInfo : function (index) {
                    openNewWindow("whriteComInfo", "./whriteComInfo.html", {
                        url: 'companyInfoFinsh',
                        index:index
                    })
                },
                whriteComPro : function (index) {
                    openNewWindow("whriteComPro", "./whriteComPro.html", {
                        url: 'companyInfoFinsh',
                        index:index
                    })
                },
                whriteComWelfare : function (index) {
                    openNewWindow("whriteComWelfare", "./whriteComWelfare.html", {
                        url: 'companyInfoFinsh',
                        index:index
                    })
                },
                whriteComImg : function (index) {
                    openNewWindow("whriteComImg", "./whriteComImg.html", {
                        url: 'companyInfoFinsh',
                        index:index
                    })
                },
                whriteComSuggest : function (index) {
                    openNewWindow("whriteComSuggest", "./whriteComSuggest.html", {
                        url: 'companyInfoFinsh',
                        index:index
                    })
                },
                whriteComMange : function (index) {
                    openNewWindow("whriteComMange", "./whriteComMange.html", {
                        url: 'companyInfoFinsh',
                        index:index
                    })
                },
            }
        })
    };



</script>
</body>
</html>
