<!DOCTYPE html>
<html lang="en" class="commonBg">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>职位管理</title>
    <link rel="stylesheet" href="../../../css/api.css"/>
    <link rel="stylesheet" href="../../../css/commonWin.css"/>
    <link rel="stylesheet" href="../../../css/boMineCommon.css">
    <style>

    </style>

</head>
<body class="commonBg">
<div class="Box" id="add_activities">
    <div class="boxSub isDisplay">
        <div class="mp-title commonTitle">{{posiName}}</div>
        <div class="mp-subInfo commonSub24 cssFlex">
            <div class="mp-subinfo-year cssFlex">
                <img src="../../../image/company/jobtime.png" alt="jobtime" class="mp-jobTimeImg">
                {{posiYear}}
            </div>
            <div class="mp-subinfo-edu cssFlex">
                <img src="../../../image/company/Education2x.png" alt="jobtime" class="mp-eduImg">
                {{posiEdu}}
            </div>
            <div class="mp-subinfo-type">{{posiType}}</div>
        </div>
        <div class="mp-posiPrice commonTitle">{{posiPrice}}</div>
    </div>
    <div class="line1"></div>
    <div class="boxSub">
        <div class="mpAdrBox">
            <div class="mp-address commonSub24 cssFlex">
                <img src="../../../image/mine/adress.png" alt="add" class="mp-addressImg">
                {{posiAddress}}
            </div>
            <div class="mp-detaAddr commonSub24">{{posiDeAddress}}</div>
        </div>


    </div>
    <div class="line20"></div>
    <div class="boxSub">
        <div class="mp-maintitle commonFont">技能要求</div>
        <div class="mp-mainWelf cssFlex">
            <span class="listSpan commonFont" v-for="(item,index) in waeltList" :key="index">{{item}}</span>
        </div>
        <div class="mp-derection nsubtitle ">职位描述：</div>
        <div class="mp-mai  commonFont">岗位职责：</div>
        <div v-html = 'posiMain' class="mp-mainTet">
            {{posiMain}}
        </div>
    </div>
    <div class="mp-posiBommom cssFlex" v-if="statusDetail == 2">
        <div class="mp-posiOff commonTitle" @click="ICjobsJobProfile(2)">下线</div>
        <div class="mp-posiEdit commonTitle" @click="pushPosition()">编辑</div>
    </div>
    <div class="mp-posiBommom" v-if="statusDetail == 1">
        <div class="mp-posiPushAgain commonTitle" @click="AgjobsJobProfile(1)">再次发布</div>
    </div>
</div>


<script type="text/javascript" src="../../../script/api.js"></script>
<script type="text/javascript" src="../../../script/util.js"></script>
<script type="text/javascript" src="../../../script/apiCloud.js"></script>
<script type="text/javascript" src="../../../script/public.js"></script>
<script type="text/javascript" src="../../../script/rem.js"></script>
<script type="text/javascript" src="../../../script/mui.min.js"></script>
<script type="text/javascript" src="../../../script/data.js"></script>


<script src="../../../script/vue.min.js"></script>
<script src="../../../script/vuex.min.js"></script>


<!--<script src="https://cdn.bootcss.com/eruda/1.2.6/eruda.js"></script>
<script>eruda.init();</script>-->
<script>

    var job_id, url, statusD;
    apiready = function () {

      
        url = api.pageParam.url;
        job_id = api.pageParam.job_id;
        statusD = api.pageParam.status;
        console.log(api.pageParam);
        new Vue({
            el: '#add_activities',

            data: {
                person_id: '',
                posiName: '',
                posiYear: '',
                posiEdu: '',
                posiType: '',
                posiPrice: '',
                posiAddress: '',
                posiDeAddress: '',
                waeltList: [],
                posiMain: '',
                statusDetail: statusD,
            },
            created: function () {
                this.queryJobSummaryJobProfile()
            },
            methods: {
                queryJobSummaryJobProfile: function () {
                    var that = this
                    var obj = {
                        job_id: job_id
                    }
                    console.log(obj)
                    ajaxGetWithProgress(queryJobSummaryJobProfile, obj, function (data, ret) {
                        console.log(data,'17777777');
                        if (data) {
                           var addressTemp = '';
                           if(data.province){
                             addressTemp += data.province
                           }
                           if(data.city){
                             addressTemp+= '-' + data.city;
                           }
                           if(data.street){
                             addressTemp+= '-' + data.street;
                           }
                            that.posiName = data.job_name || ""
                            that.posiYear = data.work_ex
                            that.posiEdu = data.edu_ex
                            that.posiType = data.nature
                            that.posiPrice = data.ratio
                            that.posiAddress = addressTemp
                            that.posiDeAddress = data.shortname
                            if (data.skills){
                                that.waeltList = data.skills.split(',');
                            } else{
                                that.waeltList = []
                            }

                            that.posiMain = data.description
                        } else {
                            toast("请求失败")
                        }
                        document.querySelector(".boxSub").classList.remove("isDisplay")
                    })
                },
                ICjobsJobProfile: function (status) {
                    var that = this
                    var obj = {
                        job_id: job_id,
                        status: status
                    }
                    ajaxGetWithProgress(ICjobsJobProfile, obj, function (data, ret) {
                        //console.log(data)
                        if (data.return.status) {
                            var frameName = url + "_body";
                            api.execScript({
                                name: url,
                                // frameName:url +"_body",
                                frameName: frameName,
                                script: 'loadCom()'
                            })
                            closeWin();
                        }
                    })
                },

                AgjobsJobProfile: function (status) {
                    var that = this
                    var obj = {
                        job_id: job_id,
                        status: status
                    }
                    ajaxGetWithProgress(ICjobsJobProfile, obj, function (data, ret) {
                        //console.log(data)
                        if (data.return.status) {
                            var frameName = url + "_body";
                            api.execScript({
                                name: url,
                                // frameName:url +"_body",
                                frameName: frameName,
                                script: 'loadCom()'
                            })
                            closeWin();
                        }
                    })
                },
                pushPosition: function () {
                    openNewWindow("postsPublish", "../home/postsPublish.html", {
                        url: 'mangePositionDetail',
                        job_id: job_id,
                        status: 2
                    })
                }

            }
        })
    }

      function loadCom(){
          window.location.reload();
      }
</script>
</body>
</html>
