<!DOCTYPE html>
<html lang="en" class="commonBg">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>设置密码</title>
    <link rel="stylesheet" href="../../../css/api.css"/>
    <link rel="stylesheet" href="../../../css/commonWin.css"/>
    <link rel="stylesheet" href="../../../css/boMineCommon.css"/>
    <link rel="stylesheet" href="../../../css/mui.min.css">
    <link rel="stylesheet" href="../../../css/mui.picker.all.css">
    <link rel="stylesheet" href="../../../css/mui.dtpicker.css">
    <style>

        .Box{
            margin: 0.1rem 0.24rem 0.28rem 0.24rem !important;
        }
        .boxSub {
            padding: 0.3rem 0.34rem 0 !important;
        }

    </style>
</head>
<body class="commonBg">

<div class="Box" id="app1">
    <div class="boxSub">
        <input type="text" class="inputboxSet" v-model="PassInput" placeholder="请输入原密码">
        <input type="text" class="inputboxSet" v-model="setPassInput" placeholder="请使用">
        <input type="text" class="inputboxSet" v-model="setPassInputAgain" placeholder="确认密码">

        <div class="postSubBtn" onclick="nextPass()">确认修改</div>

    </div>

</div>




<script src="https://cdn.bootcss.com/eruda/1.2.6/eruda.js"></script>
    <script>eruda.init();</script>
<script src="../../../script/jquery-1.8.1.min.js"></script>
<script type="text/javascript" src="../../../script/api.js"></script>
<script type="text/javascript" src="../../../script/rem.js"></script>
<script type="text/javascript" src="../../../script/apiCloud.js"></script>
<script type="text/javascript" src="../../../script/public.js"></script>
<script type="text/javascript" src="../../../script/data.js"></script>
<script type="text/javascript" src="../../../script/mui.min.js"></script>
<script type="text/javascript" src="../../../script/mui.picker.all.js"></script>
<script type="text/javascript" src="../../../script/mui.dtpicker.js"></script>
<script src="../../../script/vue.min.js"></script>

<script>

    var cid,uid,url,index;
    apiready = function () {
        cid = api.pageParam.cid;
        url = api.pageParam.url;
        index = api.pageParam.index;
        uid = localStorage.getItem("person_id");
        new Vue({
            el: '#app1',
            data: {
                PassInput:'',
                setPassInput:'',
                setPassInputAgain:'',
            },
            created: function () {
                // this.orgnizationPICBbycidlist()
            },
            mounted : function (){

            },
            methods: {
                /*orgnizationPICBbycidlist : function (){
                    if (index == 2){
                        var uid = localStorage.getItem("user").user_id
                        var obj = {
                            uid: uid
                        }
                        ajaxGetWithProgress(orgnizationPICBbycidlist,obj,function (data,ret) {
                            console.log(data)
                        })
                    }

                },*/

            }
        })
    };

</script>
</body>
</html>
