<!DOCTYPE html>
<html lang="en" class="commonBg">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>产品介绍</title>
    <link rel="stylesheet" href="../../../css/api.css"/>
    <link rel="stylesheet" href="../../../css/commonWin.css"/>
    <link rel="stylesheet" href="../../../css/boMineCommon.css"/>
    <style>

        .Box{
            margin: 0.1rem 0.24rem 0.28rem 0.24rem !important;
        }
        .w-comurl-input{
            padding: 0.12rem 0 !important;
            margin-bottom: 0.64rem;
            height: 0.4rem;
            width: 6.3rem;
        }
        .subggestTitle{
            margin-bottom: 0.1rem;
        }
        .addComProImg{
            display: block;
            width: 2.2rem;
            height: 2.2rem;
            margin: 0.3rem 0 2.3rem;
        }
    </style>
</head>
<body class="commonBg">

<div class="Box" id="app1">
    <div class="boxSub">
        <div class="w-title commonTitle">产品介绍</div>
        <div class="w-sub-title commonFont">
            产品指的公司研发的网站、手机应用。
        </div>

        <div class="niceBox">

            <input type="text" v-model="productName" class="w-comurl-input commonFont" placeholder="产品标题">
            <div class="subggestTitle commonFont">产品介绍</div>
            <textarea cols="30" rows="10" class="textAreaCom" v-model="productMain" placeholder="公司的产品名称或者提供的服务名称"></textarea>
            <img :src="productIcon" alt="pro" class="addComProImg"  @click="wuploadimg()">
        </div>

<!--


        <div class="" v-if="indexNum == 2">

            <input type="text" class="w-comurl-input commonFont" placeholder="产品标题"  :value="item.productname">
            <div class="subggestTitle commonFont">产品介绍</div>
            <textarea cols="30" rows="10" class="textAreaCom" :value="item.prod_tags" placeholder="公司的产品名称或者提供的服务名称"></textarea>
            <img :src="item.prod_icon.split(',')[0]" alt="pro" class="addComProImg addComProImgFor" @click="wuploadimg+index()">
        </div>
-->


        <div class="postSubBtn" @click="preservation()">保存</div>

    </div>

</div>




<script src="https://cdn.bootcss.com/eruda/1.2.6/eruda.js"></script>
<script>eruda.init();</script>
<script src="../../../script/jquery-1.8.1.min.js"></script>
<script type="text/javascript" src="../../../script/api.js"></script>
<script type="text/javascript" src="../../../script/rem.js"></script>
<script type="text/javascript" src="../../../script/apiCloud.js"></script>
<script type="text/javascript" src="../../../script/public.js"></script>
<script type="text/javascript" src="../../../script/data.js"></script>
<script src="../../../script/vue.min.js"></script>

<script>

    var cid,uid,url,index;
    apiready = function () {
        cid = api.pageParam.cid;
        url = api.pageParam.url;
        index = api.pageParam.index;
        uid = localStorage.getItem("person_id");
        new Vue({
            el: '#app1',
            data: {
                productName:'',
                productMain:'',
                productIcon:'../../../image/company/comproImg.png',
                pid:'',
                comProArr:[],
                indexNum:1,
            },
            created: function () {
                this.pid = api.pageParam.cid
                this.queryProductSummary()
            },
            mounted : function (){

            },
            methods: {
                queryProductSummary : function (){
                    var that = this
                    document.querySelector(".boxSub").classList.remove("isDisplay")
                    if (index == 2){
                        var obj = {
                            pid: cid,
                        }
                        ajaxGetWithProgress(queryOneProductSummary,obj,function (data,ret) {
                            //console.log("queryOneProductSummary",data)

                            if (data){
                                document.querySelector(".niceBox").classList.remove("isDisplay")
                                that.productName= data.productname;
                                that.productMain= data.prod_tags;
                                that.productIcon= imgSrcFun(data.prod_icon);

                            }
                            api.hideProgress();
                        })

                    }else if (index == 1){
                        document.querySelector(".niceBox").classList.remove("isDisplay")
                    }


                },
                wuploadimg : function () {
                    var that = this
                    api.getPicture({
                        sourceType: 'library',
                        encodingType: 'jpg',
                        mediaValue: 'pic',
                        destinationType: 'url',
                        allowEdit: true,
                        quality: 50,
                        targetWidth: 100,
                        targetHeight: 100,
                        saveToPhotoAlbum: false
                    }, function(ret, err) {
                        // console.log(ret,9999);
                        if (ret) {
                            var obj = {
                                uid : localStorage.getItem("person_id")
                            }
                            //console.log(JSON.stringify(ret));
                            //上传剪辑后的图像到服务器
                            api.ajax({
                                // report : false,

                                // url: 'http://192.168.1.12:8000/upload/UploadFlie',
                                url: 'http://192.168.1.12:8088/upload/UploadFlie',

                                //这里是我们约定好的后台上传图片的位置 ，你可以根据你的需求来改
                                method: 'post',
                                cache: 'false',
                                timeout: 30,
                                dataTpye: 'json',
                                data: {
                                    files: {
                                        file: ret.data
                                    },
                                    values:obj
                                }
                            }, function (ret, err) {
                                console.log(ret,err,787878);
                                if(ret){
                                  var pathImgImg = ret.imgUrl
                                  if (pathImgImg == ''){
                                      that.productIcon = '../../../image/company/comproImg.png'
                                  }else{
                                      var pathImgData = pathImgImg.split(",")
                                      that.productIcon = pathImgData[0]
                                  }
                                  api.hideProgress();
                                }
                            });
                        } else {
                            //console.log(JSON.stringify(err));
                        }

                    });
                },

                preservation: function () {
                    var that = this
                    var c_id = localStorage.getItem("com_id")

                    if (that.productName == ''){
                        toast("请填写产品名字")
                        return
                    }
                    if (that.productMain == ''){
                        toast("请填写产品详情")
                        return
                    }
                    var obj

                    if (index == 1){
                        obj = {
                            c_id : c_id,
                            productname: that.productName,
                            prod_tags: that.productMain,
                            prod_icon: that.productIcon,
                        }

                        ajaxGetWithProgress(addCompanyProduct,obj,function (data,ret) {
                            api.hideProgress();
                            if (data.return_info.status) {
                                var frameName = url + "_body";
                                api.execScript({
                                    name:url,
                                    frameName: frameName,
                                    script: 'loadCom()'
                                })
                                closeWin();
                            }
                        })
                    }else if (index == 2){
                        obj = {
                            pid : that.pid,
                            productname: that.productName,
                            prod_tags: that.productMain,
                            prod_icon: that.productIcon,
                        }
                        //console.log(obj)
                        ajaxGetWithProgress(updateCompanyProduct,obj,function (data,ret) {
                            console.log(data,'dierci')
                            if (data.return_info.status) {
                                var frameName = url + "_body";
                                api.execScript({
                                    name:url,
                                    frameName: frameName,
                                    script: 'loadCom()'
                                })
                                closeWin();
                            }
                        })
                    }


                },
            }
        })
    };

</script>
</body>
</html>
