<!DOCTYPE html>
<html lang="en" class="commonBg">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>公司福利</title>
    <link rel="stylesheet" href="../../../css/api.css"/>
    <link rel="stylesheet" href="../../../css/commonWin.css"/>
    <link rel="stylesheet" href="../../../css/boMineCommon.css"/>
    <style>

        .Box{
            margin: 0.1rem 0.24rem 0.28rem 0.24rem !important;
        }
        .w-jobtime{
            color: #666666 !important;
            margin-bottom: 0.2rem;
        }
    </style>
</head>
<body class="commonBg">

<div class="Box" id="app1">
    <div class="boxSub">
        <div class="w-title commonTitle">编辑公司福利</div>
        <div class="w-jobtime commonSub24">保险</div>
        <div class="comscale cssFlex">
            <span class="listSpan commonFont"
                  :class="{listSpanActive:comscaleText.indexOf( item.name )!=-1}"
                  v-for="(item,index) in comscale" :key="index"
                  @click="comscaleList(item.name,index)">
                {{item.name}}
            </span>
        </div>


        <div class="w-jobtime commonSub24">薪资期权</div>
        <div class="restList cssFlex">
            <span class="listSpan commonFont"
                  :class="{listSpanActive:restText.indexOf( item.name )!=-1}"
                  v-for="(item,index) in rest" :key="index"
                  @click="restList(item.name,index)">
                    {{item.name}}
            </span>

        </div>
        <div class="comOptional commonSub24">度假休假</div>
        <div class="overtimeList cssFlex">
            <span class="listSpan commonFont"
                  :class="{listSpanActive:overtimeText.indexOf( item.name )!=-1}"
                  v-for="(item,index) in overtime" :key="index"
                  @click="overtimeList(item.name,index)">
            {{item.name}}
            </span>
        </div>
        <div class="comOptional commonSub24">生活补贴</div>
        <div class="overtimeList cssFlex">
            <span class="listSpan commonFont"
                  :class="{listSpanActive:lifeText.indexOf( item.name )!=-1}"
                  v-for="(item,index) in lifeHelp" :key="index"
                  @click="lifeList(item.name,index)">
            {{item.name}}
            </span>
        </div>

        <div class="postSubBtn" @click="preservation()">保存</div>

    </div>

</div>



<!--<script src="https://cdn.bootcss.com/eruda/1.2.6/eruda.js"></script>
<script>eruda.init();</script>-->

<script type="text/javascript" src="../../../script/api.js"></script>
<script type="text/javascript" src="../../../script/rem.js"></script>
<script type="text/javascript" src="../../../script/apiCloud.js"></script>
<script type="text/javascript" src="../../../script/public.js"></script>
<script type="text/javascript" src="../../../script/data.js"></script>
<script src="../../../script/vue.min.js"></script>

<script>



    var cid,uid,url,index;
    apiready = function () {
        cid = api.pageParam.cid;
        url = api.pageParam.url;
        index = api.pageParam.index;
        uid = localStorage.getItem("person_id");
        new Vue({
            el: '#app1',
            data: {


                comscaleText :[],//保险 选中的
                comscale: [
                    {
                        name:"五险一金"
                    },{
                        name:"补充医疗保险"
                    },{
                        name:"定期体检"
                    }
                ], //保险

                restText :[],//薪资期权 选中的
                rest: [
                    {
                        name:"加班补助"
                    },{
                        name:"全勤奖"
                    },{
                        name:"年终奖"
                    },{
                        name:"股票期权"
                    }
                ], //薪资期权
                overtimeText :[],//度假休假 选中的文字
                overtime: [
                    {
                        name:"带薪年假"
                    },{
                        name:"员工旅游"
                    }
                ], //度假休假
                lifeText :[],//生活补贴 选中的文字
                lifeHelp: [
                    {
                        name:"免费班车"
                    },{
                        name:"餐补"
                    },{
                        name:"通讯补贴"
                    },{
                        name:"交通补贴"
                    },{
                        name:"包吃"
                    },{
                        name:"节日福利"
                    },{
                        name:"住房补贴"
                    },{
                        name:"零食下午茶"
                    }
                ], //生活补贴
            },
            created: function () {
                this.queryOrgnizationWelfare()
            },
            mounted : function (){

            },
            methods: {
                queryOrgnizationWelfare : function (){
                    if (index == 2){
                        var uid = localStorage.getItem("person_id")
                        var obj = {
                            uid: uid
                        }
                        ajaxGetWithProgress(queryOrgnizationWelfare,obj,function (data,ret) {
                            //console.log(data)
                        })
                    }

                },
                comscaleList : function (value,index){   //保险
                    if(this.comscaleText.indexOf( value )!=-1){
                        this.comscaleText.splice( this.comscaleText.indexOf( value ), 1 )
                    }else{
                        this.comscaleText.push(value)
                    }
                    //console.log(this.comscaleText)
                },
                restList : function (value,index){   //薪资期权
                    if(this.restText.indexOf( value )!=-1){
                        this.restText.splice( this.restText.indexOf( value ), 1 )
                    }else{
                        this.restText.push(value)
                    }
                },
                overtimeList : function (value,index){   //度假休假
                    if(this.overtimeText.indexOf( value )!=-1){
                        this.overtimeText.splice( this.overtimeText.indexOf( value ), 1 )
                    }else{
                        this.overtimeText.push(value)
                    }
                },
                lifeList : function (value,index){   //生活补贴
                    if(this.lifeText.indexOf( value )!=-1){
                        this.lifeText.splice( this.lifeText.indexOf( value ), 1 )
                    }else{
                        this.lifeText.push(value)
                    }
                },

                preservation: function () {
                    var that = this
                    var c_id = localStorage.getItem("com_id");
                    var welfareArr = [];
                    welfareArr = welfareArr.concat(that.comscaleText).concat(that.restText).concat(that.overtimeText).concat(that.lifeText)
                    //console.log(welfareArr)
                    var obj = {
                        c_id : c_id,
                        welfare : welfareArr.join(','), //

                    }
                    //console.log(obj)
                    ajaxGetWithProgress(createCompanyWelfare,obj,function (data,ret) {
                        //console.log(data)
                        if (data.return.status) {
                            var frameName = url + "_body";
                            api.execScript({
                                name:url,
                                frameName: frameName,
                                script: 'loadCom()'
                            })
                            closeWin();
                        }
                    })
                },
            }
        })
    };

</script>
</body>
</html>
