<!DOCTYPE html>
<html lang="en" class="commonBg">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>产品介绍</title>
    <link rel="stylesheet" href="../../../css/api.css"/>
    <link rel="stylesheet" href="../../../css/commonWin.css"/>
    <link rel="stylesheet" href="../../../css/boMineCommon.css"/>
    <style>

        .Box{
            margin: 0.1rem 0.24rem 0.28rem 0.24rem !important;
        }
        .w-comurl-input{
            padding: 0.12rem 0 !important;
            margin-bottom: 0.64rem;
            height: 0.4rem;
            width: 6.3rem;
        }
        .subggestTitle{
            margin-bottom: 0.1rem;
        }
    </style>
</head>
<body class="commonBg">

<div class="Box" id="app1">
    <div class="boxSub">
        <div class="w-title commonTitle">产品介绍</div>
        <div class="w-sub-title commonFont">
            产品指的公司研发的网站、手机应用。
        </div>

        <input type="text" class="w-comurl-input commonFont" placeholder="产品标题" v-model="suggestTitle">
        <div class="subggestTitle commonFont">产品介绍</div>
        <textarea cols="30" rows="10" v-model="suggestText" class="textAreaCom" placeholder="公司的产品名称或者提供的服务名称"></textarea>


        <div class="postSubBtn" @click="preservation()">保存</div>

    </div>

</div>




<script src="https://cdn.bootcss.com/eruda/1.2.6/eruda.js"></script>
<script>eruda.init();</script>
<script src="../../../script/jquery-1.8.1.min.js"></script>
<script type="text/javascript" src="../../../script/api.js"></script>
<script type="text/javascript" src="../../../script/rem.js"></script>
<script type="text/javascript" src="../../../script/apiCloud.js"></script>
<script type="text/javascript" src="../../../script/public.js"></script>
<script type="text/javascript" src="../../../script/data.js"></script>
<script src="../../../script/vue.min.js"></script>

<script>

    var cid,uid,url;
    apiready = function () {
        cid = api.pageParam.cid;
        url = api.pageParam.url;
        uid = JSON.parse(localStorage.getItem('user')).user_uid;
        new Vue({
            el: '#app1',
            data: {
                suggestTitle:'',
                suggestText:'',
                prod_icon:'',
            },
            created: function () {

            },
            mounted : function (){

            },
            methods: {


                preservation: function () {
                    var that = this
                    var c_id = localStorage.getItem("com_id")
                    if (that.productname == ''){
                        toast("请填写产品名字")
                        return
                    }
                    if (that.suggestText == ''){
                        toast("请填写产品详情")
                        return
                    }
                    var obj = {
                        c_id : c_id,
                        productname: that.suggestTitle,
                        prod_tags: that.suggestText,
                        prod_icon: that.prod_icon,
                    }
                    console.log(obj)
                    ajaxGetWithProgress(addCompanyProduct,obj,function (data,ret) {
                        console.log(data)
                        if (data.return.status) {
                            var frameName = url + "_body";
                            api.execScript({
                                name:url,
                                frameName: frameName,
                                script: apiready()
                            })
                            closeWin();
                        }
                    })
                },
            }
        })
    };

</script>
</body>
</html>
