<!DOCTYPE html>
<html lang="en" class="commonBg">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>公司相册</title>
    <link rel="stylesheet" href="../../../css/api.css"/>
    <link rel="stylesheet" href="../../../css/commonWin.css"/>
    <link rel="stylesheet" href="../../../css/boMineCommon.css"/>
    <link rel="stylesheet" href="../../../css/mui.min.css">
    <link rel="stylesheet" href="../../../css/mui.picker.all.css">
    <link rel="stylesheet" href="../../../css/mui.dtpicker.css">
    <style>

        .Box{
            margin: 0.1rem 0.24rem 0.28rem 0.24rem !important;
        }
        .upload_img{
            width: 90px;
            height: 90px;
        }
        #upload>ol{

        }
        #upload>ol>li{
            display: inline-block;
            width: 90px;
            height: 90px;
        }

    </style>
</head>
<body class="commonBg">

<div class="Box" id="app1">
    <div class="boxSub">
        <div class="w-title commonTitle">公司相册</div>
        <div class="w-sub-title commonFont">
            公司照片建议选择近景台前台或者其他办公环境，远景
            门口或者大楼。
        </div>
        <div id="upload">
            <ol>
                <li v-for="(i,j) in company_img_list" :key="j"><img :src="i" alt="公司背景图片" class="upload_img"></li>
                <li v-if="company_img_list.length < 2"><img src="../../../image/company/uploadIn.png" alt="action" class="upload_img" @click="uploadFileByImg"></li>
            </ol>
        </div>

        <div class="postSubBtn" @click="preservation()">保存</div>

    </div>

</div>




<script src="https://cdn.bootcss.com/eruda/1.2.6/eruda.js"></script>
    <script>eruda.init();</script>
<script src="../../../script/jquery-1.8.1.min.js"></script>
<script type="text/javascript" src="../../../script/api.js"></script>
<script type="text/javascript" src="../../../script/rem.js"></script>
<script type="text/javascript" src="../../../script/apiCloud.js"></script>
<script type="text/javascript" src="../../../script/public.js"></script>
<script type="text/javascript" src="../../../script/data.js"></script>
<script type="text/javascript" src="../../../script/mui.min.js"></script>
<script type="text/javascript" src="../../../script/mui.picker.all.js"></script>
<script type="text/javascript" src="../../../script/mui.dtpicker.js"></script>
<script src="../../../script/vue.min.js"></script>

<script>

    var cid,uid,url,index;
    apiready = function () {
        cid = api.pageParam.cid;
        url = api.pageParam.url;
        index = api.pageParam.index;
        uid = localStorage.getItem("person_id");
        new Vue({
            el: '#app1',
            data: {
                company_img_list: []
            },
            created: function () {
                this.orgnizationPICBbycidlist()
            },
            mounted : function (){

            },
            methods: {
                uploadFileByImg: function() {
                    var vm = this;
                    var UIAlbumBrowser = api.require('UIAlbumBrowser');
                    UIAlbumBrowser.open({
                        max: 3,
                        styles: {
                            bg: '#fff',
                            mark: {
                                icon: '',
                                position: 'bottom_left',
                                size: 30
                            },
                            nav: {
                                bg: 'rgba(0,0,0,0.6)',
                                titleColor: '#fff',
                                titleSize: 18,
                                cancelColor: '#fff',
                                cancelSize: 16,
                                finishColor: '#fff',
                                finishSize: 16
                            }
                        },
                        rotation: true
                    }, function(ret) {
                        if (ret) {
                            var imgListArr = {};
                            var imgList = ret.list;
                            for (var i=0;i<imgList.length;i++){
                                imgListArr["file"+(i+1)] = imgList[i].thumbPath
                            }
                            api.ajax({
                                // report : false,
                                url:'http://112.126.98.172:8088/upload/UploadFlie',
                                //这里是我们约定好的后台上传图片的位置 ，你可以根据你的需求来改
                                method: 'post',
                                cache: 'false',
                                timeout: 30,
                                dataTpye: 'json',
                                data: {

                                    files: imgListArr,
                                    // values: ret.list

                                }
                            }, function (data, err) {
                                // >>>>>>
                                var imgUrls = data.imgUrl.split(',') || [];
                                console.log('图片列表:' + JSON.stringify(imgUrls));
                                vm.company_img_list = imgUrls;
                            });
                        }
                    });

                },
                orgnizationPICBbycidlist : function (){
                    if (index == 2){
                        var uid = localStorage.getItem("person_id")
                        var obj = {
                            uid: uid
                        }
                        ajaxGetWithProgress(orgnizationPICBbycidlist,obj,function (data,ret) {
                            console.log(data)
                        })
                    }

                },
                preservation: function () {
                    var that = this
                    var c_id = localStorage.getItem("com_id")


                    var obj = {
                        c_id : c_id,

                    }
                    console.log(obj)
                    ajaxGetWithProgress(createOrgnization,obj,function (data,ret) {
                        console.log(data)
                        if (data.return.status) {
                            var frameName = url + "_body";
                            api.execScript({
                                name:url,
                                frameName: frameName,
                                script: 'loadCom()'
                            })
                            closeWin();
                        }
                    })
                },
            }
        })
    };

</script>
</body>
</html>
