<!DOCTYPE html>
<html lang="en" class="commonBg">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>产品介绍</title>
    <link rel="stylesheet" href="../../../css/api.css"/>
    <link rel="stylesheet" href="../../../css/commonWin.css"/>
    <link rel="stylesheet" href="../../../css/boMineCommon.css"/>
    <style>

        .Box{
            margin: 0.1rem 0.24rem 0.28rem 0.24rem !important;
        }
        .w-comurl-input{
            padding: 0.12rem 0 !important;
            margin-bottom: 0.64rem;
            height: 0.4rem;
            width: 6.3rem;
        }
        .subggestTitle{
            margin-bottom: 0.1rem;
        }
        .addComProImg{
            display: block;
            width: 2.2rem;
            height: 2.2rem;
            margin: 0.3rem 0 2.3rem;
        }
    </style>
</head>
<body class="commonBg">

<div class="Box" id="app1">
    <div class="boxSub isDisplay">
        <div class="w-title commonTitle">产品介绍</div>
        <div class="w-sub-title commonFont">
            产品指的公司研发的网站、手机应用。
        </div>

        <div class="niceBox isDisplay"  v-if="indexNum == 1">

            <input type="text" class="w-comurl-input commonFont" placeholder="产品标题">
            <div class="subggestTitle commonFont">产品介绍</div>
            <textarea cols="30" rows="10" class="textAreaCom" placeholder="公司的产品名称或者提供的服务名称"></textarea>
            <img src="../../../image/company/comproImg.png" alt="pro" class="addComProImg"  @click="wuploadimg()">
        </div>


        <div class="" v-for="(item,index) in comProArr" :key="index" v-if="indexNum == 2">

            <input type="text" class="w-comurl-input commonFont" placeholder="产品标题"  :value="item.productname">
            <div class="subggestTitle commonFont">产品介绍</div>
            <textarea cols="30" rows="10" class="textAreaCom" :value="item.prod_tags" placeholder="公司的产品名称或者提供的服务名称"></textarea>
            <img :src="item.prod_icon.split(',')[0]" alt="pro" class="addComProImg addComProImgFor">
        </div>


        <div class="postSubBtn" @click="preservation()">保存</div>

    </div>

</div>




<script src="https://cdn.bootcss.com/eruda/1.2.6/eruda.js"></script>
    <script>eruda.init();</script>
<script src="../../../script/jquery-1.8.1.min.js"></script>
<script type="text/javascript" src="../../../script/api.js"></script>
<script type="text/javascript" src="../../../script/rem.js"></script>
<script type="text/javascript" src="../../../script/apiCloud.js"></script>
<script type="text/javascript" src="../../../script/public.js"></script>
<script type="text/javascript" src="../../../script/data.js"></script>
<script src="../../../script/vue.min.js"></script>

<script>

    var cid,uid,url,index;
    apiready = function () {
        cid = api.pageParam.cid;
        url = api.pageParam.url;
        index = api.pageParam.index;
        uid = localStorage.getItem("person_id");
        new Vue({
            el: '#app1',
            data: {

                comProArr:[],
                indexNum:1,
            },
            created: function () {

                this.queryProductSummary()
            },
            mounted : function (){

            },
            methods: {
                queryProductSummary : function (){
                    var that = this
                    document.querySelector(".boxSub").classList.remove("isDisplay")
                    if (index == 2){
                        that.indexNum = 2
                        var uid = localStorage.getItem("person_id")
                        var c_id = localStorage.getItem("com_id")
                        var obj = {
                            uid: uid,
                            cid: c_id,
                        }
                        ajaxGetWithProgress(queryProductSummary,obj,function (data,ret) {
                            console.log(data)
                            if (data){
                                that.comProArr= data.product_his

                            }
                            api.hideProgress();
                        })

                    }else if (index == 1){
                        that.indexNum = 1

                        document.querySelector(".niceBox").classList.remove("isDisplay")
                    }


                },
                wuploadimg : function () {
                    var that = this
                    api.getPicture({
                        sourceType: 'library',
                        encodingType: 'jpg',
                        mediaValue: 'pic',
                        destinationType: 'url',
                        allowEdit: true,
                        quality: 50,
                        targetWidth: 100,
                        targetHeight: 100,
                        saveToPhotoAlbum: false
                    }, function(ret, err) {

                        if (ret) {
                            var obj = {
                                uid : localStorage.getItem("person_id")
                            }
                            console.log(JSON.stringify(ret));
                            //上传剪辑后的图像到服务器
                            api.ajax({
                                // report : false,
                                // url: 'http://192.168.1.7:8088/upload/UploadFlie',
                                url: 'http://192.168.1.7:8088/upload/UploadFlie',
                                //这里是我们约定好的后台上传图片的位置 ，你可以根据你的需求来改
                                method: 'post',
                                cache: 'false',
                                timeout: 30,
                                dataTpye: 'json',
                                data: {
                                    files: {
                                        file: ret.data
                                    },
                                    values:obj
                                }
                            }, function (ret, err) {
                                console.log(ret);
                                prod_icon = document.querySelector(".addComProImg").src
                                var pathImgImg = ret.imgUrl
                                if (pathImgImg == ''){
                                    prod_icon = '../../../image/company/comproImg.png'
                                }else{
                                    var pathImgData = pathImgImg.split(",")
                                    console.log(pathImgData)
                                    prod_icon = pathImgData[0]
                                }

                                api.hideProgress();

                            });
                        } else {
                            console.log(JSON.stringify(err));
                        }

                    });
                },

                preservation: function () {
                    var that = this
                    var c_id = localStorage.getItem("com_id")

                    var suggestTitle = document.querySelector(".w-comurl-input").value
                    var suggestText = document.querySelector(".textAreaCom").value
                    var prod_icon = document.querySelector(".addComProImg").src

                    if (suggestTitle == ''){
                        toast("请填写产品名字")
                        return
                    }
                    if (suggestText == ''){
                        toast("请填写产品详情")
                        return
                    }
                    var obj = {
                        c_id : c_id,
                        productname: suggestTitle,
                        prod_tags: suggestText,
                        prod_icon: prod_icon,
                    }
                    console.log(obj)
                    ajaxGetWithProgress(addCompanyProduct,obj,function (data,ret) {
                        console.log(data)
                        if (data.return.status) {
                            var frameName = url + "_body";
                            api.execScript({
                                name:url,
                                frameName: frameName,
                                script: 'loadCom()'
                            })
                            closeWin();
                        }
                    })
                },
            }
        })
    };

</script>
</body>
</html>
