<div class="signBox">
    <div class="signBoxInfo" v-for="(item, index) in list" :key="index">
        <div class="sign-list cssFlex">
            <div class="sign-list-person cssFlex">
                <img src="../../../image/hr.png" alt="per" class="sign-per-img">
                <span class="sign-per-name">{{item.u_name}}</span>
            </div>
            <div class="sign-status cssFlex">

                <span :class="item.active ? 'active' : ''" @click="showCont(index)"></span>
                <!--<img src="../../../icon/time.png" alt="jian" class="person-infoup" @click="showCont()">-->
            </div>
        </div>
        <div class="sign-per-coontact cssFlex" v-if="item.active">
            <div class="sign-phone">
                手机号：<i>{{item.phone}}</i>
            </div>
            <div class="sign-per-edit cssFlex">
                <div class="sign-note" @click="smsHandle(item.phone)">发短信</div>
                <div class="sign-call" @click="callHandle(item.phone)">打电话</div>
            </div>
        </div>
    </div>
    <div class="info-edit-btn cssFlex">
        <div class="group-note" @click="groupSMS()">群发短信</div>
        <div class="group-email" @click="groupEmail()">群发名单至邮箱</div>
    </div>
</div>


<script>

</script>

